[2018-03-05 01:03] randomgambit opened #1 "great idea!"
please make sure to make it compatible with Pandas dataframes...
thanks!

[2018-03-05 02:42] ericmjl commented on #1
Oh my! I had only just started :smile:.

[2018-03-05 02:46] randomgambit commented on #1
its important to go in the right direction from day one :D

[2018-03-05 03:50] ericmjl commented on #1
Try it out, @randomgambit! I've pushed up `clean_names()`.

[2018-03-05 18:20] randomgambit commented on #1
I am away at the moment but I will try ASAP
I think you should leverage the `.value_counts(sort = TRUE)` method in Pandas, as well as `pd.crosstab()` You could build on them to have a more efficient, and prettier display of tabulations

Thanks!

[2018-03-06 06:03] ericmjl commented on #1
As things get ported over, I'll definitely need some help. Would love to see PRs from you, @randomgambit!

[2018-03-11 01:30] ericmjl opened #2 "Examples needed"
As per title! Having more than one example can be helpful for getting other users to use the package.

[2018-03-11 01:32] ericmjl opened #3 "Criteria for release to PyPI"
I'll commit to a 1.0 release to PyPI when:

- [ ] We have 80% of R-janitor's functionality implemented.
- [ ] Test coverage is acceptable.
- [ ] We have more than one example available on the Docs.

[2018-03-11 01:34] ericmjl commented on #1
@randomgambit I'm going to close this issue! There's a bunch of new functionality implemented, please check it out!

[2018-03-11 01:34] #1 closed

[2018-03-11 14:30] ericmjl opened #4 "[DOC] Add "missing data" viz to example notebooks"
This is quite important. I'd like to wrap other packages rather than invent the wheel. One possible package is to wrap [missingno](https://github.com/ResidentMario/missingno) with a user-friendly API.

[2018-03-11 14:33] ericmjl opened #5 "Cleaning key-value stores?"
A thought came to my mind: how do we clean key-value stores? Do we have to implicitly assume that there are regularly repeating key-value pairs? Or do we define data types and provide easy commands to clean them?

One low-hanging fruit is possibly changing all key names to lowercase + underscore-separated.

[2018-03-11 14:44] ericmjl opened #6 "Administrative todos"
1. [x] Setup Travis CI for continuous integration.
1. [x] Setup pyup.io for dependency management/pinning.

[2018-03-11 18:04] #6 closed

[2018-03-14 12:36] ericmjl opened #8 "Index munging methods"
As per Twitter chat with @twiecki, I think a feature that might come in handy is method chaining for index methods.

Reference: https://twitter.com/twiecki/status/973892601018572800

For example, instead of:

[code]

We would have

[code]

[2018-03-14 13:26] twiecki commented on #8
I started a bit but for some reason `DataFrame` does not seem to allow me to overwrite `__getattribute__` (and I'm sure the code is not functional in other ways):
[code]

[2018-03-16 11:43] mamonu commented on #2
will give it a try this weekend :)

[2018-03-16 14:34] ericmjl commented on #2
Thank you, @mamonu!

[2018-03-21 12:44] JoshuaC3 opened #10 "clean_names breaks for MultiIndex Columns"
MultiIndex columns returns `expected str not tuple` type error.

If you instead used,
`df.rename(columns=lambda x: x.lower().replace('_', ''))`
this would work for standard and MultiIndex DataFrames.

Can do PR if required.

[2018-03-21 12:58] ericmjl commented on #10
@JoshuaC3 definitely would be a welcome addition! Would you be kind enough to put in a PR for this, including an example and test as well?

[2018-03-22 09:56] JoshuaC3 commented on #10
@ericmjl All done. Added MultiIndex tests and everything passes. Will do PR now.

FYI, I don't have the most experience with writing tests and using GitHub for PRs so please feel free to comment on anything you think I could improve on or should change.

Also, I didn't add any examples as anything using `clean_names` that works for the single Index DataFrame should also work for the MultiIndex.

[2018-03-22 10:46] ericmjl commented on #10
Thanks @JoshuaC3! Looking forward to the PR :smile:

[2018-03-22 12:52] #10 closed

[2018-03-23 17:23] JoshuaC3 opened #12 "Remove Trailing (and Leading) underscores from clean_names"
Pandas handles this relatively well but would be a good as a kwarg for `jn.clean_names()`.

The default `False` or `None` could leave leading, `True` or `'both'` to remove all and trailing and then pass `'leading'` and `'trailing`' or similar to remove each.

[2018-03-23 18:34] ericmjl commented on #12
@JoshuaC3 thanks for raising the issue! So just so I understand correctly, `column_name_` and `_column_name` would become `column_name`, is that right? If so, please send in a PR!

[2018-03-23 19:31] JoshuaC3 commented on #12
Yes. Exactly. And `_column_name_` would be `column_name`. Will do PR.

Two quick questions on this;

For removing a single underscore would you rather:
1) `'leading'` and `'trailing,
2) `'lead'` and `'trail'`,
3) `'left'` and `'right'`,
4) `'start'` and `'end'`, *
5) other of your choice?

For removing both:
1) `True`, *
2) `'both'` or
3) other of your choice?

* my preferences, but please advise

[2018-03-23 19:52] ericmjl commented on #12
I'd suggest using a single keyword argument `remove_trailing_underscores`, which accepts either one of: `['start', 'end', 'both']`. By not having mixed `bool` and `str` arguments, it makes for an easier learning pattern for end-users.

Other than that, looking forward to the PR!

[2018-03-24 09:13] twiecki commented on #8
Yup, thanks @ericmjl!

[2018-03-29 00:14] #12 closed

[2018-03-29 15:36] twiecki opened #14 "Formatting of the readme is messed up"
![image](https://user-images.githubusercontent.com/674200/38098228-c1bdad0c-3377-11e8-911f-5d1a553f358a.png)

[2018-03-29 15:49] ericmjl commented on #14
Fixed. Thanks for the heads-up, @twiecki!

[2018-03-29 15:49] #14 closed

[2018-03-29 19:46] souravsingh commented on #4
I am willing to work on this.

[2018-03-30 00:59] ericmjl commented on #4
Thanks @souravsingh! Looking forward to the PR.

[2018-04-17 13:42] shantanuo opened #15 "limit column characters"
Is there any way to limit the length of column name? for e.g. this_is_very_long_column_needs_truncated should be truncated to left 10 or 20 characters. This may lead to duplicate column names - those should be appended by numbers like this_is_very_long_1 and this_is_very_long_2

[2018-04-17 13:48] ericmjl commented on #15
@shantanuo this functionality doesn't exist at the moment. I'm also not fully understanding your use case. Could you help me answer the following questions? Your answers will hopefully guide this discussion.

1. Is truncation desirable?
1. If truncation is desirable, then duplicate column names is a problem. Would suffixing `['_1', '_2', ...]` then be desirable?
1. If truncation is not desirable,

[2018-04-17 14:06] shantanuo commented on #15
I would just incorporate the function "df_column_uniquify" from ...

https://stackoverflow.com/questions/24685012/pandas-dataframe-renaming-multiple-identically-named-columns

Limiting characters in column is important because when I use to_sql method to export pandas data to MySQL, I often get an error if the column names are too long :)

I do always use...
df.columns = [list of corrected column

[2018-04-17 14:30] ericmjl commented on #15
@shantanuo I'm happy to accept a contribution from you for this functionality. (I'm available to respond to the issue tracker, but in the short term I have deadlines at work, which means I don't have the bandwidth at the moment to implement new features.)

[2018-05-15 13:36] shantanuo commented on #15
http://pandas.pydata.org/pandas-docs/version/0.19.2/whatsnew.html#read-csv-has-improved-support-for-duplicate-column-names

Assuming that the duplicate column names problem has been solved, I will suggest to make these changes...
1) Remove special characters like #$%
2) Remove one or more spaces by single dash
3) Use lowercase
4) Allow max of 35 characters

I use this regular expression:

df.colum

[2018-05-24 11:41] JoshuaC3 opened #17 "Case Sensitive True/False kwarg on clean_names"
Using pyjanitor again today I realised I didn't want to change capitals to lowercase. I think a case sensitive kwarg (default on) would be good.

Happy to do PR for this if you think it is a good idea. One Q on this, what would should the kwarg be called?

Some ideas:
`lower`, `remove_upper`, `drop_case`, `case_sensitive`,...

[2018-05-24 11:48] JoshuaC3 commented on #4
I assume there has been no PR for this? If so, I am happy to pick this up.

My only question is, how would this differ from just using missingno itself? What added functionality would we like to see? Thanks :)

[2018-05-24 11:58] ericmjl commented on #17
Hi @JoshuaC3! Yes, would love a PR on this one. How about `preserve_case` as the kwarg? Would that be a clear enough argument name?

Don't forget docstrings + tests!

[2018-05-24 12:21] JoshuaC3 commented on #17
Yes, sounds clearer than my suggestions. I will do `preserve_case=False` as default `True` to preserve.

Will do!

[2018-05-24 12:40] JoshuaC3 commented on #4
IMO, I prefer using the `.pipe` method on janitor function, as opposed to the `jn.DataFrame` with methods so this doesn't seem 100% natural to me. That said, I use the df.plot functionality a lot.

Also, missingno is already very easy to use,

[code]

This can be piped as well,

[code]

I will have a think about how we could extend the missing data visualisation in janitor and post back.

[2018-05-27 01:38] ericmjl commented on #4
Oooh cool stuff! I didn't realize that, actually. Thanks for sharing this!

[2018-05-27 12:40] JoshuaC3 opened #18 "Pandas 23.0.0 Release"
I noticed the pyjanitor-dev conda environment is running on Pandas 22.X.X. Pandas has just done a [new release](https://pandas.pydata.org/pandas-docs/stable/whatsnew.html) to 23.0.0. I have no idea if this is significant, or if you have plans to keep up to date with the most recent Pandas, but I thought it worth mentioning :)

[2018-05-27 13:00] ericmjl commented on #18
Not to worry - I have pyup.io automatically updating pyjanitor every weekend. Thanks for the ping though!

[2018-05-27 13:00] #18 closed

[2018-05-27 13:01] #17 closed

[2018-07-30 23:36] mattharrison opened #24 "Install fails with Python 3.7"
Due to pinning of sklearn version, it fails on 3.7. Need to change the dep for sklearn from ``==`` in ``requirements.txt`` to ``=>``

[2018-07-30 23:45] ericmjl commented on #24
@mattharrison got it!

[2018-07-30 23:51] ericmjl commented on #24
I've just pushed a new release; I hope this is working!

[2018-07-30 23:56] mattharrison commented on #24
Successfully installed pyjanitor-0.3.2

[2018-07-30 23:56] #24 closed

[2018-07-30 23:58] ericmjl commented on #15
@shantanuo I definitely have to get to writing documentation on how to make a contribution. In the meantime, if you'd like to contribute something, the best thing to do is to contribute a function to the `janitor.functions` module via a Pull Request.

Most of pyjanitor is just functions to make data cleaning easier by providing single function names that generally do one thing well, and generally

[2018-07-30 23:59] ericmjl commented on #5
This is out of scope of pyjanitor at the moment.

[2018-07-30 23:59] #5 closed

[2018-09-25 17:37] eskemojoe007 opened #30 "Warning about deprication when not using those methods"
With `python 3.6.6` and `pyjanitor 0.5.0` installed using `pipenv` with Windows 10, I get the following `UserWarning`:

[code]

This is when using `pyjanitor` in the recommended way.  Shouldn't the warning only be there on import of the the depricated `DataFrame` functions?  I even get the warning when only getting `clean_names`:

[code]

[2018-09-25 20:03] ericmjl commented on #30
@eskemojoe007 thanks for pinging in. I put that there as a general warning that is shown to everybody, with the intent of "scaring" off users from the subclassed dataframe pre-emptively. I think I will remove the dataframe functions next release (still 0.x). Is it becoming annoying for you? If need be, I can just move it into the dataframe class first and cut a patch release instead.

[2018-09-25 23:56] eskemojoe007 commented on #30
Yeah...it can make my `pytest` show warnings which I try to avoid.

[2018-09-26 14:54] ericmjl commented on #30
Alrighty, I just went ahead and removed the custom JanitorDF.

Let me know if you find other bugs!

[2018-09-26 14:54] #30 closed

[2018-10-26 02:32] ericmjl commented on #15
@shantanuo thanks to @szuckerman, limit column characters is released in version 0.7.0. Please give it a shot!

[2018-10-26 02:32] #15 closed

[2018-10-29 04:38] yozlet opened #34 "Take ideas/code from Agate?"
Speaking as a newcomer to Pandas who finds its syntax confusing, pyjanitor is a breath of fresh air. There's a similar, older project which may provide extra inspiration, maybe even code: [agate](https://agate.readthedocs.io/en/1.6.1/api.html) by @onyxfish (who also created the fantastic [Quartz guide to bad data](https://github.com/Quartz/bad-data-guide)). However, he now seems to have moved on t

[2018-10-29 12:21] ericmjl commented on #34
Thanks for pinging in, @yozlet! I've added the reference tag to this thread so that myself and others can come back to it later.

You mentioned that agate has a few features not implemented by pyjanitor. I'd love to see them implemented, if they fit the criteria for a method-chain-able API. Would you be open to listing them specifically below, so that we have an openly-available checklist? It woul

[2018-11-02 15:43] zbarry opened #35 "Welcome page documentation code example problem - remove_column() doesn't exist"
In:

[code]

`remove_column()` is not [any longer?] a function. I guess this should be `remove_columns()`, instead. Note that the latter only takes list arguments apparently, instead of just a string in the case where you only want to remove one column. Might be useful to support both types of inputs.

[2018-11-02 15:46] zbarry commented on #35
Just found this old reference to the non-plural spelling as well in the `api.html` page -

`df = pd.DataFrame(...).remove_column(cols=['col1', ['col2']])`

(Just actually starting to look into how to use your package, haha).

[2018-11-02 15:49] zbarry opened #36 "Question about chaining"
Are the successive chaining operations happening in place, or is the entire dataframe copied every time?

[2018-11-02 16:10] ericmjl commented on #36
@zbarry the chaining operations return a modified original. Hope this helps!

[2018-11-02 17:12] #36 closed

[2018-11-02 18:47] zbarry opened #37 "Feature enhancement thought: reorder_columns()"
Example usage:

[code]

Columns not specified retain their order and follow after specified columns

[2018-11-02 18:52] zbarry commented on #37
Internally, something like:

column_order = ['col3']

`df = df.reindex(columns=(column_order + [col for col in df.columns if col not in column_order]), copy=False)`

?

[2018-11-03 19:58] zbarry opened #39 "example.py broken"
[code]

[code]

`DataFrame` is not in the `janitor` namespace. Also, df is already a `DataFrame`, so not sure what the intent would be of doing this, anyway.

Note that if I replace `jn.DataFrame(df)` with simply `df`, I get:

[code]

[2018-11-03 21:43] ericmjl commented on #39
@zbarry the following line is a vestige of the old API:

[code]

Originally, that subclassed DataFrame was the only way I knew of to get methods attached to the DataFrame.

Once I started using @zsailer's `pandas-flavor`, monkeypatching happens dynamically.

Thanks for the catch, btw!

As for the KeyError, that is a column name missing from the DataFrame. Not sure what's happening there, though. N

[2018-11-04 14:57] ericmjl commented on #39
Fixed by #41.

[2018-11-04 14:57] #39 closed

[2018-11-04 16:51] #35 closed

[2018-11-04 17:15] zbarry commented on #3
What are the lowest-hanging, high-priority fruit? (knowing nothing about R-janitor)

[2018-11-04 18:17] #37 closed

[2018-11-04 20:06] ericmjl commented on #3
Things users (i.e. you and I and the others who are using pyjanitor) want from R janitor, basically!

[2018-11-04 20:06] ericmjl commented on #3
I have linked R-janitor in my first post.

[2018-11-08 16:18] szuckerman commented on #2
@ericmjl, based on how the documentation is on readthedocs (specifically the [API section](https://pyjanitor.readthedocs.io/api.html)), it appears that some of the documentation I've been writing would be more suitable there.

Would it make sense to place these in the example input/output in the docstrings so they render in the [API section](https://pyjanitor.readthedocs.io/api.html)?

Seems to ma

[2018-11-08 18:41] ericmjl commented on #2
@szuckerman yes, that's exactly what I was thinking of when I wrote that option in the PR. Would you be open to kickstarting it? I'd suggest one PR per example, done off a fork off your master branch, so that you master branch mirrors my master branch.

[2018-11-12 12:46] shantanuo commented on #15
This has addressed the 4th point. The first 3 are still not implemented.

Remove special characters like #$% using str.replace("[^\w\s]+","")
replace one or more spaces by single dash using .str.replace("\s+","_")
lowercase using .str.lower()

We can add more parameters to the function like...
df.limit_column_characters(column_length=7, col_separator='.', case='lower', space='_', special_char=Fals

[2018-11-12 13:01] shantanuo commented on #15
Thanks to method chaining, I can do this..
df.clean_names().limit_column_characters(7)

replace space and lowercase are included in clean_names method.
There is no way to remove special characters. MySQL does not allow #$% in column names.

[2018-11-12 20:10] ericmjl commented on #15
@shantanuo, thanks for the feedback :smile:.

As usual, I'm always open to pull requests from users of `pyjanitor`. A number of first-timers at open-source contributions have made their first PRs into `pyjanitor`, and I'd be happy to work with you to get your implementations of what is useful into the `pyjanitor` library.

[2018-11-13 16:51] zbarry opened #48 "Feature thought - chainable, in place reset_index"
As far as I'm aware, an `inplace=True` `reset_index()` does not return a `DataFrame`.

[2018-11-13 18:56] ericmjl commented on #48
@zbarry hmm... gotta think about this. I think `reset_index()` without `inplace=True` is meant to be part of a method chain, as `reset_index()` returns a DataFrame.

[2018-11-13 19:19] zbarry commented on #48
I believe `reset_index()` copies the data:

[code]

`df2` is modified, but `df` is not.

[2018-11-13 21:26] zbarry opened #49 "Reminder of add_columns implementation"
For myself, mostly:

Chaining implementation:

[code]
Example usage for copying repeating rows from a `DataFrame` into another:

`df1.columns` is of `{'var1', 'var2', 'var3'}`

[code]

[2018-11-13 21:40] ericmjl commented on #49
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.assign.html

It appears add_columns can simply function as a syntactic sugar wrapper for assign. Fulfills the goal of a cleaner or more explicit API.

[2018-11-13 21:41] zbarry commented on #49
We should confirm `assign` doesn't copy the underlying data.

[2018-11-17 15:59] zbarry commented on #49
`assign` indeed copies the underlying data:

![image](https://user-images.githubusercontent.com/4762711/48662979-bab0bf80-ea57-11e8-95ae-6ae108cd15e0.png)

*shrug*.

I'll move forward with the implementation we came up with.

[2018-11-20 20:12] zbarry commented on #49
🥇

[2018-11-20 20:12] #49 closed

[2018-11-21 16:21] zbarry commented on #48
Thinking just a little bit about this, I feel like if such a feature were to be implemented, it would have to be named something completely different instead of changing the fundamental behavior of `reset_index()`. I don't have enough experience with pandas, though, to know what an intuitive name would even be.

[2018-11-22 09:06] shantanuo opened #54 "Preserve original names"
While renaming the dataframe, I need to preserve the original names. For e.g.

[code]
The ndf dataframe object has a property original_names that works correctly. But when I use clean_names function, I do not get this functionality.

[code]

[2018-11-22 15:11] ericmjl commented on #54
@shantanuo. Sounds like a good idea. Happy to have a PR from you! (This time, it can be your contribution :smile:.)

I'd suggest the API be as such:

`df.clean_names(preserve_original=True)`. Inside the function, add a conditional, something like:

[code]

As for why I sugest `original_column_names` rather than `original_names`, it's only because in the Zen of Python, explicit is better than impli

[2018-11-22 15:13] ericmjl commented on #54
Oh well, looks like I was late to this - I saw your PR #55!

[2018-11-24 03:14] #54 closed

[2018-11-27 15:20] szuckerman opened #59 "[ENH] Naming conventions"
I wanted to discuss naming conventions for the various functions and arguments for consistency. `expand_column` has a parameter `column` whereas `add_column` had `col_name`.

Also, is `_column` necessary in each function? Would it be ok to just have an `add()` or `transform()` method? In general I'm more on the side of more verbose function names, but just wanted to throw the idea out there.

Simi

[2018-11-27 15:25] szuckerman opened #60 "Additional Namespaces"
From a previous pull-request the issue of namespaces arose.  I wanted to open this issue to discuss various new namespaces possible for the module.

It appears that the [R version also is having this issue as well](https://github.com/sfirke/janitor/issues/240).

There was discussion of a `finance` submodule, which sounds good, but I don't work in finance and would be unfamiliar with many necessary

[2018-11-27 15:59] ericmjl commented on #59
Thanks for raising this issue, @szuckerman! I’m also in favor of consistent naming schemes.

Breaking this down a bit:

### Columns

I vote in favor of “col_name”. It is more explicit than “column”.

### Verbose vs Concise Functions

Zen of Python states that explicit is better than implicit, with no qualifiers afterwards. For that reason, I vote in favor of verbose names.

[2018-11-27 16:00] ericmjl commented on #60
Specifically for the “finance” sub module, I’m comfortable building it up slowly, one function at a time. That’s how good software gets built, after all :smile:.

[2018-11-27 16:03] ericmjl commented on #60
As for the summary sub module, let’s consider first whether it’s better to just wrap pandas_summary (https://github.com/mouradmourafiq/pandas-summary/blob/master/README.md).

On the other hand, summarizing a dataframe doesn’t return a modified version of the original, but a new dataframe that describes the original. Pyjanitor so far hasn’t done much with creating new DataFrames, with the exception

[2018-11-27 16:35] szuckerman commented on #60
`pandas_summary` looks interesting, but I think that module looks more like it's looking at data integrity (i.e. null-values, uniques, min, max, etc).

Along those lines, I think that integrating [PandasSchema](https://github.com/TMiguelT/PandasSchema), or something like it, would be really helpful.

[2018-11-27 20:26] zbarry opened #61 "Feature enhancement: collapsing MultiIndex columns"
For example, after aggregation with multiple functions.

For `df` with columns `['group', 'category', 'value']`:

[code]

produces `stats_df` with a `MultiIndex` `.columns` attribute where `{'mean', 'median'}` are second level column names under `value`. It would be nice if `.columns` was just an `Index` instead, for some applications.

Now, to flatten the `MultiIndex` out into an `Index` by conca

[2018-11-27 20:41] ericmjl commented on #61
@zbarry thanks for putting this in! I'm sure it'll be a valuable addition.

I did a second thought on the name of the function, and it may or may not be the most inclusive/accessible one for non-native English speakers. At first glance, I can't think of a better name, but if I can see one, I'll ping back on the PR to suggest it. Otherwise, please feel free to run with `collapse_levels()`.

[2018-11-27 20:56] zbarry commented on #61
Sounds good. I was basing the name on [droplevel](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.MultiIndex.droplevel.html). Maybe a different word than collapse, then?

[2018-11-27 21:36] ericmjl commented on #61
Maybe so. For now, `collapse_levels` should be fine, if paired with a good docstring. But don't sweat it for now. :smile:

[2018-11-27 22:03] zbarry commented on #48
Proposal to just name it `inplace_reset_index()` and clearly explain the logic of why this exists in the docstring.

[2018-11-28 15:43] ericmjl opened #62 "software paper"
@zbarry @szuckerman, I would like to invite you to participate in the pyjanitor software manuscript that I am writing.

I am writing it in a branch off master: https://github.com/ericmjl/pyjanitor/blob/whitepaper/paper/manuscript.md

At the moment, I am seeking out input on:

1. Current known limitations of pyjanitor.
2. Possible extensions.
3. Readability.

If you would like to participate, pleas

[2018-11-28 15:48] zbarry commented on #62
Thanks Eric, this is quite the honor.

[2018-11-28 16:43] zbarry opened #63 "add_column sanity checking broken for strings"
There's a sanity check I put in there where if the supplied value is a sequence, it makes sure that the length is the same as the number of rows in the `DataFrame` as long as `fill_remaining` is false. This is done by checking for the existence of `__len__`. I need to add logic to exclude this checking for `str` objects. Fixing now.

[2018-11-28 17:07] szuckerman commented on #62
Great! I'd be glad to take a look.

[2018-11-28 18:17] zbarry commented on #62
Tidy data manuscript citation to possibly use: https://www.jstatsoft.org/article/view/v059i10

[2018-11-28 18:18] #63 closed

[2018-11-28 18:42] zbarry commented on #62
I'm just stream-of-consciousness'ing things here that I might add in myself later.

Cite the SO study

[2018-11-28 18:46] zbarry commented on #62
I think the wishlist section code example you've given argues very clearly why `pyjanitor` is so game-changing.

[2018-11-28 19:03] zbarry commented on #62
The connotation here is probably not what is intended.

[2018-11-28 19:04] zbarry commented on #62
Diagrams showing how a `DataFrame` is progressively mutated over a chain of methods might be interesting.

[2018-11-28 19:06] zbarry commented on #62
Is there interest / is it even possible to implement the nice parts of those `ply` Python tools in `pyjanitor`?

[2018-11-28 19:09] zbarry commented on #62
Provide note in architecture section that the chaining is not copying data on each call unless that would be the point of the method. That's an important point for people concerned about performance.

[2018-11-28 20:01] ericmjl commented on #62
Already done.

[2018-11-28 20:01] ericmjl commented on #62
Wait what? Not sure what you mean by that.

[2018-11-28 20:02] ericmjl commented on #62
I think that belongs in the docs, which could be much better improved. There is already one example available, copied directly from the janitor repository.

[2018-11-29 09:52] shantanuo opened #67 "Rename dataframe inplace"
Is this possible with janitor?
df.clean_names(inplace=True)

[2018-11-29 14:07] shantanuo commented on #67
"inplace" parameter is not really needed. But I suggested it because a lot of pandas methods use it and clean_function will look like a native pandas method with this.
Which one of these 2 statements look more pythonic?
df=df.clean_names()
df.clean_names(inplace=True)
I guess the user should have both the options available.

[2018-11-29 14:54] zbarry commented on #62
I was thinking in more of an overview figure sense so people can get a clear visual indication of how you can easily track the chain and its effects on the `DataFrame`, though it's not super important. It's more for improving visual appeal of the paper than anything else.

Wasn't very clear what I meant, haha. Idk, when I was reading this in a meeting, I kind of snickered because for whatever reas

[2018-11-29 15:53] ericmjl commented on #67
@shantanuo the expected use case of `.clean_names()` is usually after the data frame is constructed. Hence the examples:

[code]

[2018-11-29 15:55] ericmjl commented on #62
Got it. Yes, could use rephrasing. Feel free to PR a change.

[2018-11-29 18:59] ericmjl opened #68 "Warning shows up with adding new attributes"
@shantanuo this appears to be related to your earlier PR. When I run tests, this shows up consistently.

[code]

From your reading, do you know of an appropriate way to attach a new dataframe attribute without invoking this warning?

[2018-11-29 19:51] zbarry commented on #68
The @ didn't go through

[2018-11-29 22:54] shantanuo commented on #67
I have never used this style, nor have I seen others chaining immediately after read_*
I am not an expert, I will like to know what does the community think about it.

[2018-11-29 23:44] ericmjl commented on #67
No worries, good to know. Btw, if you're interested in reading more of why I decided to put `pyjanitor` together, and develop it with the rest of the community, here's a document I'm working on: https://github.com/ericmjl/pyjanitor/blob/whitepaper/paper/manuscript.md

[2018-11-29 23:48] ericmjl commented on #68
Resolved, thanks @shantanuo!

[2018-11-29 23:48] #68 closed

[2018-11-30 10:53] shantanuo opened #70 "Fix default pandas methods"
Is it possible to "fix" pandas methods using pyjanitor? For e.g. I will like to validate the parameters for read_excel or read_csv. I have raised an issue but there is no progress.

https://github.com/pandas-dev/pandas/issues/22189

If janitor accept the PR to override the default behavior of read methods, then it will be great.

[2018-11-30 13:47] ericmjl commented on #70
@shantanuo I'd be inclined to disagree with doing that. The purpose behind pyjanitor is to provide the convenience APIs that pandas did not provide. If there's a bug that's inside pandas, then that should be raised with the pandas devs, as you did already.

[2018-12-01 07:07] Zsailer commented on #70
I agree with @ericmjl here.

pyjanitor aims to be a general purpose library that extends the Pandas API. Users should be able to add pyjanitor to their current workflow without breaking their existing code.

If pyjanitor starts patching pandas functions/methods, it could quickly cause trouble for users and prevent them from using pyjanitor.

Also, I don't think you need a sophisticated tool like p

[2018-12-01 20:59] zbarry opened #73 "Jupyter notebook example of pyjanitor usage"
I kind of want to put something together to show usage, talk about philosophy of pyjanitor, etc.

[2018-12-01 22:19] zbarry opened #74 "transform_column proposed improvement"
`transform_column(df, col_name: str, function)` could be augmented to include a destination column. Example use case is when you want to perform a `log10` transformation, as in the docs example, yet you also want to preserve the non-transformed data for some other purpose.

[2018-12-02 13:02] szuckerman opened #76 "Returning functions in place"
After seeing issue #67, was curious as to what people think as to adding this capability to all functions?

Some of them, like `df.limit_column_characters()`, already return in place. I don't think it will be hard to extend to others.

[2018-12-02 13:10] ericmjl commented on #76
:thinking: :thinking: :thinking:

This one is a tough one for me to respond to.

On one hand, I can see why that might be desirable by some users who are used to the `inplace=True` kwarg.

On the other hand, I think adding it in as an option means an additional thing to check for when any new function is submitted in. Conceptually, it's "just one less thing" to maintain if we just leave that argum

[2018-12-02 15:40] szuckerman commented on #76
I’m actually more inclined have the default be to return functions in place this is for a few reasons:

1. It doesn’t change the method chaning syntax
2. If people want to apply separate functions outside of the initial janitor section it’s merely ‘df.add_column()’ rather than ‘df=df.add_column’. I think the former is cleaner.
3. Since Pandas is used for a variety of reasons, with EDA being a big

[2018-12-02 19:07] #74 closed

[2018-12-02 19:10] #61 closed

[2018-12-02 19:19] ericmjl commented on #76
@szuckerman, let me see if I can clarify my understanding of the definition of in-place vs. method chaining.

Taking the example from the README, regular `pandas` syntax looks as follows:

[code]

First off, with in-place modifications at each line, we do:

[code]

[2018-12-02 21:21] ericmjl commented on #76
@szuckerman yes, that's a valid concern, especially for consistency purposes.

I think the hack that we've implicitly used, but not explicitly stated, is to piggy back off pandas operations. If modification takes place in-place anyways (to prevent memory copying), then it happens in-place; if not, then we don't really care. For a pareto-distributed set of users, 80% will have datasets that fit in-

[2018-12-04 01:30] jcvall opened #77 "Select_Columns Function Added Suggestion..."
I see there is remove columns function.  I think a select_columns function would work nice.  It would be cleaner and easier to understand then df[['col1',col2','col3']].

[2018-12-04 01:49] ericmjl commented on #77
@jcvall if you were to design the API for this function, what would it be? What would be the relevant arguments, and what would it return? What corner cases might need to be taken care of?

I'm asking because I'd like to solicit API designs that will eventually get used, rather than design what I think is useful only to find it doesn't get used. This is your opportunity to shape how the API looks

[2018-12-04 01:51] ericmjl commented on #59
Labelling this a "good first issue" for newcomers, as it basically involves a find-and-replace.

[2018-12-05 04:56] szuckerman commented on #76
@zbarry makes a good point that "since you can't get the intermediate dataframes out for each step anyway" returning in place is more performant.

However, after doing some research [it doesn't look like returning objects in place makes too much of a difference](https://stackoverflow.com/questions/45570984/pandas-is-inplace-true-considered-harmful-or-not). I think the method-chaining syntax saves

[2018-12-05 15:31] zbarry commented on #76
Yeah, usability is probably core to the idea of pyjanitor even. That being said, I think having a (short) paragraph in the readme + in the notebook example I will (eventually) create as well as having a clear boilerplate message in all the function docs would convey this pretty well. If you make it such that all functions that are relevant w.r.t. this discussion operate on the same principle of in

[2018-12-05 15:44] zbarry commented on #76
Slowdown multiplier when adding to a `DataFrame` that has multiple columns already is pretty horrible:

![image](https://user-images.githubusercontent.com/4762711/49524922-a9025100-f87a-11e8-8641-be38112774ac.png)

[2018-12-05 16:07] ericmjl commented on #76
@zbarry those are great tests. Yes, I think it's worth adding to the docstrings (but without user warnings popping up - those are too easily abused) that for the relevant functions, underneath the hood, we do change the original dataframe in place for performance reasons.

[2018-12-05 16:10] zbarry commented on #76
Hmm... I was thinking of adding a pyqt5 dependency & popping up a message box warning you upon pyjanitor import of the mutation operations. Shame.

[2018-12-05 16:10] ericmjl commented on #77
At first glance, now that I have had some time to think about it, an API that might be useful would look like this:

[code]

One could have an optional `invert=True`, such that we select the complement of the passed-in column names:

[code]

@jcvall any thoughts? The only thing I would think needs a second-pass look would be whether `invert` is the best kwarg name or not.

[2018-12-06 02:06] jcvall commented on #77
I have been coding for a few years in python and r, but I apologize because I am new to this (Github).
 This exactly what I had in mind!!!!  I think it will be well used.  One of the first things I do is select my columns when I start a line of code.  I use df[['col1','col2',..]] in python and %>% select() in r all the time.  This would probably be used in conjunction with most functions in this p

[2018-12-06 02:17] ericmjl commented on #77
@jcvall, if you're willing to do so, I'd like to invite you to paste your implementation here, where I can guide you through the programming model needed to make `select_columns` a thing.

I can see how the code should work, but I'm happy to give the opportunity to newcomers. Everybody had a start somewhere, including myself, and in my case, it was with the matplotlib devs, doing some very simple

[2018-12-06 02:36] jcvall commented on #77
I’m in.  I will give it a go.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-06 15:14] zbarry opened #78 "All the code blocks in the docs are borked."
Title.

[2018-12-06 15:16] ericmjl commented on #78
Let me try examining the readthedocs logs.

[2018-12-06 15:21] zbarry opened #79 "reorder_columns does not mutate the original dataframe"
I'm thinking about modding it to do so to be consistent with everything else I implemented.

[2018-12-06 15:46] ericmjl commented on #78
Easy peasy.

[2018-12-06 15:58] #78 closed

[2018-12-08 20:05] zbarry commented on #76
Random idea: what about having colorful badges in the docs that you can see at a glance whether there is mutation / something else critical to know that a function does to your dataframe?

Like:
![image](https://user-images.githubusercontent.com/4762711/49690188-97c77780-fafa-11e8-94b1-3027863f2463.png)
kind of stuff but with appropriate labels.

[2018-12-09 02:00] #48 closed

[2018-12-09 16:13] zbarry commented on #62
Just curious - what would be the eventual format the paper would be written in? E.g., Word, LaTeX, etc.? If it's the latter, there are good templates out there for structuring manuscripts, of course. Happy to do the typesetting if we go for it.

[2018-12-09 16:17] zbarry commented on #3
Would you want to make this a "project" under the projects tab? No idea if that makes sense.

[2018-12-09 17:59] ericmjl commented on #62
@zbarry that'll depend, but for an arXiv deposition, I'd probably use some tooling I already have to convert the markdown text into latex, which involves [Pandoc](https://pandoc.org) in the loop. It's something I did for my thesis, where a PDF of the paper can go into continuous integration build step as well. It'll be like how readthedocs builds docs, except for papers!

I think you're more well-

[2018-12-09 18:00] zbarry commented on #62
Whoa, that's cool lol. Sounds good.

[2018-12-09 19:51] zbarry commented on #79
@ericmjl @szuckerman - I updated this post and would like your thoughts.

[2018-12-09 20:03] jcvall commented on #77
Here we go....a little trial and error and this is what I have so far.

def select_columns(df,col, invert = False ):

    if invert == False:
        df = df[col]
        return df

    elif invert == True:
        df.drop(columns=col)
        return df

[2018-12-09 20:27] zbarry opened #84 "transform_column, using .apply(), operates elementwise in a column individually"
![image](https://user-images.githubusercontent.com/4762711/49702510-d6c2ff00-fbc6-11e8-9840-d964b000cb39.png)

This precludes doing something nice like normalizing a column into probabilities as in:

`df['col'] = df['col'] / df['col'].sum()`

[2018-12-09 21:31] ericmjl commented on #79
@zbarry I'm glad you brought this up, this has also been on my mind for a while.

I'm in favour of standardizing, but like the `inplace=True/False` issue, it means we may end up having to place a burden on new contributions to ensure that the functions conform to what we decide now. Both standardizing on mutating the original and not mutating the original will result in technical debt. We just hav

[2018-12-09 21:33] zbarry commented on #79
Happy to pick up the slack re: technical debt ;)

[2018-12-09 21:33] ericmjl commented on #77
@jcvall looks great! I'd do a few modifications, with explanations below:

[code]

Note 0: Used the keyword argument `columns`, to preserve consistency with the rest of the API. Currently `coalesce`, `concatenate_columns`, `encode_categorical`, `fill_empty`, `get_dupes` and `label_encode` all use the `columns` kwarg. Consistency and repetition helps with learning the API better.

Note 1: I added a

[2018-12-09 21:36] ericmjl commented on #84
I might be sounding crazy here, but what about a `janitor.statistics` submodule? 👀

[2018-12-09 21:38] zbarry commented on #77
🤔

[2018-12-10 02:35] zbarry commented on #73
👍

[2018-12-10 02:35] #73 closed

[2018-12-10 13:06] jcvall commented on #77
Wow.  Awesome.  I don’t know git that well.  Would be honored to have you walk me through it.  A google chat is cool with me.  My schedule is crazy with the kids, but might have a window on the weekends.  If that doesn’t work you can guide me here. Again thanks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-10 13:51] ericmjl commented on #77
@jcvall totally happy to do so here. That way we can avoid trying to coordinate times. Asynchronous work is always good, even better when there's no pressures involved.

Pardon me if the instructions below cover what you already know, I'm working off the assumption that your git level is at a software carpentry student's level. (i.e. "may have typed some git commands, but don't really have the men

[2018-12-10 14:09] zbarry commented on #79
@ericmjl @szuckerman

Alright, I had some inspiration last night and think I might have come up with a user-friendly, explicit approach to operating in place when working with pyjanitor functions.

## To somewhat sum up the previous discussion:

- It's really confusing that some janitor functions mutate the original dataframe, and others do not
- For contributors, low barrier-to-entry to implement

[2018-12-12 19:23] ericmjl opened #86 "filtering with nice strings in between"
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.query.html

The `.query()` method opens up a ton of possibilities for us! We can make a series of specific filtering functions, I believe.

[2018-12-12 21:51] szuckerman commented on #86
Nice! How will this add to the API than merely doing `df[df.a < df.b]` though?

What I find nice about the above syntax is that since the above is a list of [True, True, False, False, etc] you can do the logic outside of the brackets and add it later, like this: `my_logic = df.a < df.b` `df[my_logic]`.

I feel that when working with strings, it's harder to work out more complex logic than just sim

[2018-12-12 22:10] szuckerman commented on #79
There's a ton of good ideas here, and I really like the `.operate_inplace()` solution.

Just my own 2 cents:

I think that everything should mutate inplace by default, but also return the DataFrame.

This way, the following code snippets are similar:
[code]
[code]

I personally find the latter more readable, but understand how most code is written in the former way.

If people do not want to mutat

[2018-12-12 22:18] szuckerman commented on #77
@jcvall, this is an awesome suggestion! I was an R coder for many years and used `dplyr::select` often.

What's great about the R version of `select` is that it has other ways of selecting columns, such as `starts_with` or `ends_with` which is really useful when trying to slice down a `data.frame`.

And you can join those as well. For example, you can pass `['col1', ends_with('name')]` to match `c

[2018-12-13 00:41] ericmjl commented on #86
I think the API can be helpful for R users who are new to the pandas-land.

Riffing off your example, originally, we would write this kind of pandas code:

[code]

Our current implementation of `filter_on` doesn't do any kind of symbolic evaluation, which means there is a block of discontinuity in the method chaining.

[code]

By wrapping the `.query()` API, we now get:

[code]

The query API also

[2018-12-13 02:09] ericmjl commented on #86
Re-opening, so it shows up in the issues tracker. We can continue the discussion regardless!

[2018-12-13 20:21] szuckerman opened #89 "Remaining functions from R version"
The following is a list of functions missing from the PyJanitor library that are implemented in the R version. I think the aggregation and adornment can be put in their own submodules later.

# To be implemented

## Main Functions
- [ ] [convert_to_NA.R](https://github.com/sfirke/janitor/blob/master/R/convert_to_NA.R)
- [X] clean_names.R
- [X] excel_dates.R
- [X] get_dupes.R
- [X] remove_empties.R

[2018-12-13 20:48] jcvall commented on #77
Sure.   I like to learn how to do this so I am ok with you using what Eric did above and just adding to it. Can you copy the code here, then I will give it my best shot to upload it to github.  Very excited!  I have some other possible ideas and would like jump in to help when I can. Like Eric said, you got to start somewhere.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-13 22:58] ericmjl commented on #77
@jcvall thanks for the enthusiasm! However, let's go slowly with this. It's okay to have a feature-limited first pass on the PR, and I'd actually prefer it, because it makes reviewing the code much easier. :smile:

[2018-12-14 13:11] ericmjl commented on #77
Ok! Now, what you'll want to do is to "push" those changes to your fork of `pyjanitor` that resides on GitHub. To do so:

1. In the GitHub desktop interface, publish your branch. (There should be a button at the top.)
<img width="523" alt="screen shot 2018-12-14 at 7 59 32 am" src="https://user-images.githubusercontent.com/2631566/50005024-e059b780-ff76-11e8-8e64-ae055f626cc0.png">

2. GH desktop

[2018-12-14 16:58] louis-red opened #91 "why the scipy dependency ?"
It does not seem to be needed anywhere in the source code

[2018-12-14 19:07] ericmjl commented on #91
Very good point - I think it's a legacy requirement. Thanks for the catch!

[2018-12-14 19:31] #91 closed

[2018-12-14 22:35] ericmjl opened #93 "new function proposal: find and replace"
Colleague proposed this function: within a column that houses strings, within each cell, provide a `find_replace()` function that finds a substring in the cell, and replaces it with another substring.

Note to self:

- Figure out if this is already possible with pandas.
- Decide if implementing this provides a more fluent function API.

[2018-12-15 23:20] ericmjl opened #97 "proposal: import errors raised for submodules"
In order to keep pyjanitor lightweight, I would like to propose that the submodule dependencies not be installed with the main module.

In order for this to work out in a user-friendly fashion, I think we will need to provide some try/except imports. For example, in the biology submodule:

[code]

[2018-12-16 00:34] #97 closed

[2018-12-16 16:38] zbarry commented on #93
Should it support regular expressions?
🤔

[2018-12-16 17:39] szuckerman commented on #93
Regex is ok.... but globbing is nicer:

https://docs.python.org/3.6/library/fnmatch.html

[2018-12-16 18:42] szuckerman commented on #93
The above looks good, except “exact” is unnecessary.  Regex or glob without wildcards will be equivalent.

[2018-12-16 20:37] ericmjl commented on #89
Thanks for taking the effort to document this, @szuckerman!

One little question: I had a bit of trouble with the "adorn" semantics (implementation is fine with me) - is there a more accessible English verb for non-AABCs (Americans/Aussies/Brits/Canadians)? Even as a Canadian whose first language is English, I didn't think the "adorn" verb was that informative. Thinking from an ESL perspective, th

[2018-12-16 20:41] szuckerman commented on #93
So they’re kind-of different things. I think this answer can give a better description of the differences than I could write here:

https://askubuntu.com/questions/714503/regular-expressions-vs-filename-globbing

In general, when searching for things I find globbing more useful (cause you just need an asterisk) but for validation regex is better because one can be more precise with what is expecte

[2018-12-16 22:49] szuckerman commented on #89
Perhaps “stylize” or “add_style”?

[2018-12-17 14:51] zbarry commented on #93
Yeah 90% of the time I just use globbing. I only use regex when I absolutely have to. No idea how often you would need them in pandas-style applications.

[2018-12-17 15:02] zbarry commented on #89
To that, in general, I'd personally say "meh". I think we have a good thing going with carefully choosing names for functions, and I'm not sure the relative weight of keeping people migrating from R to Python comfortable vs. sticking to the vision of the project leans towards the former.

That being said, in this particular case, since there is a whole family of `adorn_` functions instead of just

[2018-12-17 15:23] zbarry commented on #79
Sorry for delay; on vacation.

Definitely agree that `df.func()` is a lot cleaner than `df = df.func()`. Something I'm not sure about, though, is whether it is even possible with pandas to make sure all the functions we (will) provide in pyjanitor mutate the original dataframe. In the case where a function cannot mutate the df, you now have an exception to the "`df.func()` instead of `df=df.func()

[2018-12-17 16:00] ericmjl commented on #93
Ok! Synthesizing the discussion thus far:

[code]

Comments?

[2018-12-17 16:10] ericmjl commented on #89
Yes, yes! Docs. I really need to improve the docs, big thanks to both of you for helping so much with the documentation!

[2018-12-17 16:14] zbarry commented on #93
Needs a `column_name` / `col_name` (?), right?

[2018-12-17 16:17] ericmjl commented on #93
Thank you. Updating...

[2018-12-17 16:19] ericmjl commented on #79
@szuckerman This has been my pattern of usage as well. I load in data, do some preprocessing, and then use the data in some other downstream modelling. The biggest win for me has been in interactively shaping the data until I get it right. Later on, when making presentations on how the data were preprocessed, I'm able to read off the data preprocessing steps pretty easily so I don't miss any key s

[2018-12-17 16:21] zbarry commented on #93
Also think that maybe `col_name` should come before `find` and `replace` in the args list... From the at-a-glance understanding perspective, maybe `df.do_this(to_this, with_this_particularly)` is more in line with what we have done with other functions.

[2018-12-24 20:44] PaddyAlton opened #101 "documentation clarification (registering new methods)"
Hi! Decided to have a bit of fun with `pandas-flavor` which I came across via pyjanitor`*`. I noticed that the docs here for contributors refer to `register_dataframe_function`, but it looks like the correct name is `register_dataframe_method`.

Not exactly earth-shattering stuff, but it didn't seem like it had been mentioned in another issue so thought I'd just flag it!

`*` -- just for a little

[2018-12-24 22:06] ericmjl commented on #101
`*` @PaddyAlton likewise to you, Merry Christmas and Happy New Year!

Thanks for the catch in the documentation. I'll definitely be PR-ing in a fix for that.

I hope you're having a ton of fun with `pandas-flavor`, btw, always thankful that @Zsailer decided to build it!

[2018-12-28 21:20] jcmkk3 commented on #62
Not sure how comprehensive that you're trying to be with the "Comparison to other tools" section, but another couple of tidyverse influenced libraries for python are plydata (https://github.com/has2k1/plydata) and kadro (https://github.com/koaning/kadro). I think that both are some of the most interesting previous art in the python space.

[2019-01-05 00:22] jcvall opened #104 "[ENH] Add read_folderfiles() function"
I find myself loading a lot of files from a folder.  I would use glob library for this but it is a lot to write out. For example I will write:

path ="C:/Finance/Month End/2018/CSV Imports YTD"
files_xls = glob.glob(path + "/*.csv")
df = pd.DataFrame()

for f in files_xls:
    data1 = pd.read_csv(f,skiprows=0,low_memory=False,encoding="cp1252")
    data1['File_Name'] = (f)
    #data2['File_Name']

[2019-01-05 05:51] ericmjl commented on #104
@jcvall this sounds like a great idea! Before you go too deep into this, do have you seen any nice implementation of the functionality? For example, from a cursory search, I saw [this implementation](https://medium.com/@kadek/elegantly-reading-multiple-csvs-into-pandas-e1a76843b688) which looks nice!

As for the function signature, what do you think about the following design?

[code]

I chose `re

[2019-01-05 14:12] jcvall commented on #104
Thanks, Sounds great. Just going to add, the idea generally came to me, when I use R I find myself using the readbulk library.  And yes,  I do like your idea for read_csvs, maybe later work on read_xlsxs.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 18:11] ericmjl commented on #104
Ok! Looking forward to your contribution. :smile: Thanks for being active with the project!

[2019-01-10 01:36] szuckerman opened #105 "Add filter_date function"
This issue is to track creating a `filter_date` function, or whatever else you might want to call it.

The main idea is that even though there are already `filter` functions, date filtering is a bit more complex. For example, when filtering strings you can just write a string, but for dates it usually needs to be a `date` or `datetime` object, and not all of them play together nicely.

More import

[2019-01-10 12:34] ericmjl commented on #105
@szuckerman yes, I think this would be a great contribution! Looking forward to seeing it!

[2019-01-12 18:53] ericmjl commented on #62
@jcmkk3 thanks for the feedback! Yes, I will have to update the "comparison to other tools" as well.

[2019-01-22 17:02] eli-s-goldberg opened #106 "Feature though: Add generic imputation"
Hi Eric,

Just a thought -- I find myself doing a lot of hand imputation. It would be nice if you could add imputation as a chain able function.

I'm under the gun and can't submit a PR, but I think this would be a great feature.

[2019-01-22 18:10] ericmjl commented on #106
Aloha @eli-s-goldberg! 😸

Thanks for pinging in with the feature request. Love it - it means we've got users who are engaged!

Before I go on and try an implementation, I have a few questions. "Imputation" can be a bit nebulous - would you be open to providing some details?

One question I have is - how does this differ from `df.fillna()`?

Also, would you be able to describe a bit more about a de

[2019-01-23 12:54] ericmjl commented on #106
I gave it some thought, and here's my ideas on a generic imputation function:

[code]

How does that look to you?

[2019-01-24 01:48] ericmjl opened #107 "Switching tests to Hypothesis"
With [hypothesis](https://hypothesis.readthedocs.io/) providing a [pandas dataframe generator](https://hypothesis.readthedocs.io/en/latest/numpy.html#pandas), I'm wondering if we could generate more better battle-tested code by using hypothesis for property-based testing, instead of using our current hacky way of generating tests based on simple dataframes.

One of Hypothesis' best traits is the a

[2019-01-24 01:56] ericmjl commented on #62
Inviting @eli-s-goldberg and @zsailer onto the thread.

@eli-s-goldberg I have finally gotten to reviewing your proposed changes, and I definitely like and value the feedback. I am making changes on the basis of this. I'd also like to invite you to contribute an end-user testimony of some kind to the paper - if you're inclined! Totally understand if you'd like to decline, given your load at the mo

[2019-01-24 04:07] eli-s-goldberg commented on #106
@ericmjl - Thanks for keying me in and I like what's written. That said, I actually need to check this out quickly and use it, which is something that I'm unable to do until tomorrow afternoon.

A more complex imputation task that I find myself doing is fillna with age, gender, and disease mean imputation. Here's a description of the hack as my code is a bit too specific at this point to share/be

[2019-01-24 11:48] ericmjl commented on #106
@eli-s-goldberg once you had described this, I think the grammar and ontology looks something like this:

Potential function signature (ontology):

[code]

Another potential function signature, if we wanted to sound more academic, is:

[code]

The grammar can actually be quite generic.

1. Groupby on the `columns` keyword.
2. If a mapping (i.e. dictionary) is provided, use the mapping. Mapping sho

[2019-01-28 17:27] ericmjl opened #111 "Documenting how tests are organized"
Heads-up, @zbarry and @szuckerman.

I have refactored the test suite a little bit (actually, quite a lot). The changes hopefully make the test suite easier to develop against and enable newer contributions. I will be writing a section on how to write tests (as part of the CONTRIBUTING.rst) file

The key changes here are:

- Each function gets tested in a `test_<function_name>.py` file. This struct

[2019-01-29 15:16] szuckerman commented on #111
I really like the refactoring of the test suite (especially using the Hypothesis module; it looks awesome).

However, to run the tests it just took me about 30 seconds while, in the past, I remember it being around 7 seconds or so.

I think all the `import`s at the top might be unnecessarily slowing it down. There's over 30 files, which means `hypothesis` and `pandas` could be loaded that many tim

[2019-01-29 15:38] szuckerman commented on #111
@zbarry yes, but I think it depends how the files are run. I pass the `tests/` folder to `pytest` which moves through each file. If `pytest` is running each file separately then the imports may be an issue.

[2019-01-29 15:39] ericmjl commented on #111
@szuckerman the slowdown in testing is a natural consequence of using Hypothesis. Previously, we were using only one example. Hypothesis is dynamically generating up to (I think) 50-200 examples, looking for a way to falsify each test.

I was able to find some functions for which hypothesis helped discover an example that I wasn't originally thinking of, but could break the function and needed to

[2019-01-29 15:41] zbarry commented on #111
Gotcha. Is there a slick way to be able to get Hypothesis to only operate on a subset of tests when developing to get a fast iteration time, and at the end, we run the whole suite before pushing?

[2019-01-29 15:42] ericmjl commented on #111
I'd be judicious with the use of hypothesis, btw. For example, I don't know how to generate examples well for the biology functions.

Going forth, it's fine to use an example-based test (our original paradigm) rather than a property-based test (using Hypothesis).

To selectively run a test, use pytest.mark to label the test. You'll see a few examples in the test suite:

[code]

Then, at the termin

[2019-01-29 19:21] Zsailer commented on #62
After thinking about it for a bit, I don't think you need to add anything more about pandas-flavor 👍
The current level of detail is appropriate for your readers. Anything more gets into the "weeds" of Pandas.

That said, I've add a [TL;DR](https://github.com/Zsailer/pandas_flavor#tldr) section to the pandas-flavor README that you could always reference if you'd like (no pressure from me 😃). It pro

[2019-01-30 01:08] ericmjl commented on #62
@Zsailer thanks for the feedback! I'm more than happy to include you on the paper regardless, because pandas-flavor was very enabling for pyjanitor to become a reality. Would you still like to be included? Please let me know!

[2019-01-30 03:50] Zsailer commented on #62
I'd be honored! 😃

[2019-01-30 04:23] szuckerman opened #115 "Skip tests for optional dependencies if they are not installed"
I just tried to run the test suite and had some failures because I don't have some of the Chemistry packages installed. I realized that those packages are only available through conda.

I don't use conda and am finding out that it's not so easy to just "install" conda packages into a previously created virtual environment (I mean, I'll figure it out eventually, but this is just at first glance).

[2019-01-30 12:44] ericmjl commented on #115
@szuckerman that's a really great catch!

In general, I have been dependent on conda since grad school - only because conda helps with packaging of non-Python dependencies of Python and other language data science packages. Admittedly, `venv` has been a second-class citizen in my mind - but only out of convenience, really.

I think what I'll do is go in and mark the tests with their appropriate su

[2019-01-30 16:57] szuckerman opened #118 "Release cycles"
Even though Issue #3 discusses the 1.0 release to PyPI, I'm wondering about how you would want to organize occasional releases.

(Assuming the X.Y.Z numbering syntax)

I'm not sure if we should be bumping up the "Y" number when adding a new function.

I'm thinking something like the following:
- When there's refactoring or a new function added, update the Z number
- If a new submodule is added, up

[2019-01-30 19:51] ericmjl commented on #118
@szuckerman for versioning, this is a great idea! I have been extremely sloppy in this regard.

I think the proposal that you have for versioning is reasonable, so let's go with that. Any further debate on this one would be an exercise in minutiae, I think.

Your other PR will be the first time I bump up the Z number instead of the Y number.

Tagging is a very good idea as well - IIRC, every time

[2019-01-30 20:03] #105 closed

[2019-01-31 15:13] ericmjl opened #119 "Add function: filter_column_isin"
Some notes for myself:

[code]

[2019-02-01 20:44] #119 closed

[2019-02-04 19:20] szuckerman opened #122 "annotation_validation package"
I was always bothered by the fact that even though we add type hints to the function arguments, we still need to use that `check` function to validate the data.

I created a new package called [`annotation_validation`](https://github.com/szuckerman/annotation_validation) that automatically validates input and output data based on the type hints.

Best of all, it's just a decorator that gets added

[2019-02-05 04:19] eli-s-goldberg commented on #106
A bit of an update. This doesn't handle variable statistics, or textual data, but it's getting there. I've been using it generically for the past weekend, or so. It's not the quickest thing (millions of rows with multiple columns takes 20 minutes or so).
[code]

[2019-02-05 14:44] ericmjl commented on #122
Nice stuff, @szuckerman! That'd be great. Do you have a timeline for release and re-integration into pyjanitor?

[2019-02-05 15:05] szuckerman commented on #122
I was running some benchmarks after I posted this yesterday, and there appears to be a bit too much overhead with how I'm comparing arguments and their types. I have some ideas for caching that will reduce the load.

In any event, I would like to try to integrate this in the next few weeks.

[2019-02-05 23:25] Zsailer opened #123 "rename_column throw warning when column not found"
I (finally) had an opportunity to use pyjanitor today! 😃 I ran into the unexpected behavior...

I used `rename_column` but had a typo in my first argument (the original column name). Instead of throwing a warning or error when the column wasn't found, pyjanitor continued the cleaning chain and returned a "partially-cleaned" DataFrame. It wasn't until later in my analysis that I realized the new co

[2019-02-06 00:52] ericmjl commented on #123
@Zsailer I think you caught a bug! Great catch! Let me see what I can do here. I'll loop back soon!

[2019-02-06 01:40] Zsailer commented on #123
👍

I'm happy to make a PR too, if you've got a lot on your plate.

[2019-02-06 02:23] #123 closed, assigned to nobody

[2019-02-06 19:05] szuckerman commented on #111
So, just a thought on the refactoring:

I just found out that you can [group tests in classes using pytest](https://docs.pytest.org/en/latest/getting-started.html#group-multiple-tests-in-a-class).

I kind of liked the idea of all the tests being in one file (since that's easier to copy and search for other tests) and having a group of tests in a class will logically keep tests together for certain

[2019-02-06 19:56] eyadsibai opened #125 "Support for dask dataframes"
Hi!

I was wondering if possible to support dask dataframe with this awesome package.

[2019-02-06 19:57] ericmjl commented on #125
@eyadsibai, it entirely depends on Dask's ability to register functions! I would suggest posting upstream on the Dask project GitHub, to see if the pandas extension API is supported.

[2019-02-06 19:58] zbarry commented on #111
Generally not a super big fan of giant, monolithic source files, but don't really have much of an opinion w.r.t. unit testing sources.

[2019-02-06 21:19] ericmjl commented on #111
@szuckerman thanks for the link to there! I learned something new today :smile:.

I guess for me, this is a big massive ongoing experiment in seeing how much of a hassle it is to maintain a test suite for a growing library of functions. Current hypothesis is a few-fold:

- Hypothesis 1: it will be easier to maintain.
- Hypothesis 2: it will be easier to onboard newcomers.

Are you ok with continui

[2019-02-10 18:10] zbarry opened #126 "Modify Python ver in environment-dev.yml?"
from `python=3.6` to `python>=3.6` ?

@ericmjl @szuckerman

[2019-02-10 18:26] ericmjl commented on #126
Solved.

[2019-02-10 18:26] #126 closed

[2019-02-11 18:29] zbarry commented on #111
Re: #128 , curious - does this speed things up for you when testing everything at once?

[2019-02-11 18:36] zbarry commented on #118
Do you think it would be a big issue? I would guess you'd just put in your `CONTRIBUTING.md` that you should branch from `dev` instead of `master` when you begin to make your changes. Don't know if that's too much more additional mental load / barrier to entry.

[2019-02-11 18:52] szuckerman commented on #111
@zbarry, I don't think by much. It still takes about 30 seconds to run everything.

What usually can lead to improvements is making the fixtures have a session scope versus function scope (i.e. just change the decorator to `@pytest.fixture(scope='session')`).

When they have a function scope the fixture gets calculated again for each test function. If it's a session scope, it runs once and the obj

[2019-02-11 18:56] zbarry commented on #111
What about a `@copyinputs` decorator which the `@fixture` decorator would itself wrap which copies the fixture data that pytest provides so you don't have to worry about mutation of the original dataframe? :thinking: :thinking:

[2019-02-11 19:52] szuckerman commented on #111
That might work, but it appears the real bottleneck is all the different Hypothesis strategies. If there was a way to copy/cache those results I think you would have a speedup, but I'm not sure how easy that is to do.

[2019-02-11 19:53] zbarry commented on #111
With basically no knowledge of what you're talking about, would this help? https://docs.python.org/3/library/functools.html#functools.lru_cache

[2019-02-11 20:03] szuckerman commented on #111
Probably not. They way `lru_cache` works is it makes a dictionary out of the function arguments and the result. (As a basic understanding).

For example, if you had:

[code]

And I ran `hi('sam')`, `lru_cache` would make something like a dictionary of {'sam': 'hi sam'} to know what to look up when 'sam' is given as an argument. Every new argument adds another key to the dictionary, until you hit 1

[2019-02-12 03:01] zbarry commented on #125
@eyadsibai - in some cases, maybe this would work:

http://docs.dask.org/en/latest/dataframe-api.html#dask.dataframe.DataFrame.map_partitions

With this, I guess Dask spits out actual Pandas dataframes to your supplied function... as long as what you're trying to do with pyjanitor can work independently on separate partitions of the Dask dataframe, you should be good(?) Another option might be: ht

[2019-02-12 15:12] zbarry commented on #118
yah

[2019-02-12 18:36] zbarry commented on #122
This is fantastic. I love type hinting & in some cases, I'm definitely interested in guaranteeing adherence to them in my other projects, as well!

[2019-02-12 21:11] szuckerman opened #130 ""then" function"
I had an idea for a function that allows for users to run any arbitrary function in the method chain.

For example, I think it's annoying if someone has their own logic and needs to do this:

[code]

Instead, people should be able to do the following:

[code]

[2019-02-12 21:21] ericmjl commented on #130
That's neat, I think I would use it! Being able to use `.then(func)` is more lightweight than adding the pandas-flavor decorator, because I would have one less line of code for the import of pandas-flavor, an X lines less of code for X custom functions!

[2019-02-12 21:24] zbarry commented on #130
Can also slap a lambda in there which would be really cool

[2019-02-12 21:57] #130 closed

[2019-02-14 15:07] zbarry commented on #118
https://github.com/ericmjl/pyjanitor/tree/dev

Also realized that given this new branch protocol, tagging each significant merge into `master` with the new PyPI version might be in order.

[2019-02-14 15:15] ericmjl commented on #118
Let me go in and protect the master branch.

[2019-02-14 15:20] ericmjl commented on #118
Guys, done. New default branch for new PRs is dev. Also protected `master` such that it requires an explicit PR.

@szuckerman and @zbarry thanks for taking the initiative on this. In retrospect, I think this is better; perhaps my old way of thinking was too simplistic :smile:.

[2019-02-14 15:25] zbarry commented on #118
Yeah I'm not married to either way... seen people treat `master` as unstable and others use `dev` for that. I don't know if it's situationally-dependent or there truly is a best practice. Should keep evaluating for this particular project as we go along with future PRs and not be overly committed to any one way, possibly (e.g., go back to old way if deemed necessary). There is most definitely prec

[2019-02-15 01:21] jcvall commented on #104
Sorry I have been away for a while.  I am happy to say I have been hired as a data analyst just last week and will be coding in python and r full time.  I am catching up on the conversations and want to let you know I will go with what you think is best for releases.  I been working on the read_csvs() function and will submit it soon.  Should I do anything special for the branch when I do?

<sub>S

[2019-02-15 03:15] ericmjl commented on #104
Congratulations! This is a wonderful opportunity to continue in the data world :smile:.

Yes, be sure to update your fork!

There's a few ways to do this - the easiest is to delete your fork (on GitHub and locally) and then fork from my master again.

We recently made a few changes, I hope you've been keeping up with them. @zbarry updated the [contribution guide](https://github.com/ericmjl/pyjanit

[2019-02-19 13:24] ericmjl opened #132 "What's the best name for a "keep null rows" function?"
I have this function implemented in a notebook.

[code]

From searching SO and the interwebs, there doesn't seem to be an analogous function like this. Is `keep_null` a good name, or is there a better name for this function?

cc: @szuckerman @zbarry @eli-s-goldberg

[2019-02-19 13:52] zbarry commented on #132
Something along the lines of gather_incomplete_rows?

[2019-02-19 14:31] ericmjl commented on #132
Do we have a two-word name for it?

[2019-02-19 15:11] zbarry commented on #132
`gather_incompleterows` or `gatherincomplete_rows` ? :thinking:

[2019-02-19 16:35] szuckerman commented on #132
`gather_recordswithnulls`?

On Tue, Feb 19, 2019 at 10:13 AM Zachary Barry <notifications@github.com>
wrote:

[2019-02-19 16:36] zbarry commented on #132
`gather_only_recordswithnullsinthecolumnyouhavespecified`

[2019-02-19 16:39] ericmjl commented on #132
You guys... XD

[2019-02-19 16:40] ericmjl commented on #132
Maybe there's a better grammar that we can define.

[2019-02-20 14:38] zbarry commented on #132
Just a thought... we should be careful to be consistent with making functions that either take one column name or an arbitrary number of column names across relevant functions. I'd lean towards the latter so there isn't as much `.operate_on_column('col1').operate_on_column('col2').operate_on_column('col3').operate_on_column('col4').operate_on_column('col5').operate_on_column('col6').operate_on_col

[2019-02-20 15:01] CWen001 commented on #77
Although this issue was closed, may I add some thoughts here about Select_Columns function, please.
Is it possible to enhance it or add some select helpers that make the selecting more flexible?

Let's take the example from this question in [StackOverflow](https://stackoverflow.com/questions/27275236/pandas-best-way-to-select-all-columns-whose-names-start-with-x) .

`df = pd.DataFrame({'foo.aa': [

[2019-02-20 15:03] zbarry commented on #77
Wonder if a glob `foo*`, `*foo*` `*foo` like we were talking about for something else (or this) would be best? Or glob + regex depending on how much fun we want to have with it

[2019-02-20 15:59] ericmjl commented on #132
Agreed! I think one example we already have is the `*_column()` paired with `*_columns()` as a companion function. What do you all think about that?

[2019-02-20 16:00] zbarry commented on #132
I don't really mind that as long as we consider the energy to maintain both variants of *_ not a problem

[2019-02-20 16:09] ericmjl commented on #77
@CWen001 that'd be a great feature to add! And I think @zbarry's globbing idea might be the best implementation start, for the following reasons:

- We can limit the amount of kwargs in the function, and hence limit the amount of control flow implemented inside. My nxviz library is a bit hard to maintain because of the amount of control flow inside.
- The interface remains nicely declarative, whic

[2019-02-20 20:43] CWen001 commented on #77
Thank you very much for the quick replys and suggestions. I'm still a python newbie with limited experience but am willing to learn by doing. I tried my best to finish this first draft after following your instructions above. Please have a look and feel free to correct and guide.

Four function parameters with default value None are added, and these included `starts_with`, `ends_with`, `contains`,

[2019-02-20 21:36] ericmjl commented on #77
@CWen001 that's a great starter implementation! I modified it a little bit. Yes, it looks like control flow is unavoidable here; that said, I think we can shorten the number of kwargs in the function signature, which makes it much more flexible for necessary expansion in the future.

What do you think about my modification of your code? If you like it, please go ahead and PR it in - I'd love for t

[2019-02-20 22:35] zbarry commented on #77
I found out you might be able to get fancy and use: https://docs.python.org/3/library/fnmatch.html#fnmatch.translate

You can then translate an arbitrary `*`-containing expression to your regex and avoid all those if/elif statements for before, after, exact and replace them with `method` in `{None, 'glob', 'regex'}`

See what you think about this:

[code]

Completely untested, so no waranty...

[2019-02-20 22:52] ericmjl commented on #77
WHOOOOOOO! Look who's getting fancy here, @zbarry!

@CWen001, feel free to take either of our modified implementations (both will probably work, though I think Zach's is more elegant!), add examples and tests, and submit a PR! I'd love to see your contribution merged on :smile:.

[2019-02-20 23:09] zbarry commented on #77
Can you tell how bored I am? This allows `method` to be your own custom function.

[code]

[2019-02-21 09:16] CWen001 commented on #77
Thanks for the feedback! Both versions of modification look much more efficient. I immediately learned that it is a good idea to put the `if invert` at last just once : )

The latter version from @zbarry is so powerful that it should be the case. May I ask if I could further process the PR at this weekend. I don't mean to claim the credit, and just be grateful to take the chance to learn git, glob

[2019-02-21 12:03] szuckerman commented on #132
What about dropping the word `column` completely? We could then pass either a `list` or `str` of the columns.

There are many examples of this; one that comes to mind is `groupby` in pandas. You just do `df.groupby(['col1', 'col2'])` or `df.groupby('col1')`. It's a common pattern that I think many people are used to.

This way we don't need to maintain `*_column` and `*_columns` variants.

[2019-02-21 12:28] szuckerman commented on #77
I think the above looks great!

A few thoughts to trim it down though:

1. Maybe calling it just `select` instead of `select_columns` to maintain more parity with SQL?

1. I see what's trying to be done with `method`, but I don't think it's really necessary. If we use @zbarry's suggestion of [fnmatch](https://docs.python.org/3/library/fnmatch.html#fnmatch.translate) then `str`s will match exactly

[2019-02-21 12:47] szuckerman commented on #104
Something to think about.... is the end goal for this method to read all the csvs into one `DataFrame `or make separate `DataFrame`s from all the csvs?

I thought it was the former, but I've noticed that I perform the latter constantly and it might be useful. For example, a directory with [`customers.csv`, `sales.csv`] would be useful to just turn into
`customers_df` and `sales_df` automatically (

[2019-02-21 12:52] szuckerman commented on #86
I know this is implemented already, but to add to my SQL campaign, I would vote to change the name to `where`.

I think

[code]

reads a bit easier.

And I think all you need to do is add `where = filter_on` in the `functions.py` file to add the alternate name without breaking legacy code. (Just need to check if the `pandas_flavor` changes that at all, but I don't think so.)

[2019-02-21 13:02] szuckerman commented on #84
I think this is an interesting concept, but I'm struggling to think of practical examples to be able to think about implementing this.

R's `dplyr` package has a [`rowwise` function](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8/topics/rowwise) that basically does what you're discussing (even though I don't think the 'Details' section of that link makes any sense).

[2019-02-21 14:21] ericmjl commented on #86
I vote in favour of the alias! Particularly because that just happens to be how I'm thinking about it as well. I'm in the midst of some heavy work this morning; would you be open to putting in the PR, @szuckerman?

[2019-02-21 14:23] ericmjl commented on #104
Yes, that's definitely true, @szuckerman.

@jcvall, I'd probably add a new `io.py` (`I/O = input/output`), and then add the `read_csvs` function there. That way, one can do what Sam's 2nd example is like, and cleanly return a pandas DataFrame.

[2019-02-21 14:26] ericmjl commented on #77
@CWen001 totally, no problem! Looking forward to seeing what you have. Also, don't forget to consider @szuckerman's suggestion as well. :smile:

[2019-02-21 14:28] ericmjl commented on #132
On the *_column(s) thing, that sounds like a good idea. Might be a good change for 0.17. (I now realize I bumped minor version too aggressively early on!)

On the keep null rows function name, I just remembered: this is a bit like the opposite of `dropna`, so a helpful name would be `keepna`! What do you all think?

[2019-02-21 14:33] szuckerman commented on #132
I think `keepna` is a bit ambiguous since it doesn't imply that the non-na are getting dropped.

I would think `dropnotna` is a bit better for getting the point across that it's the opposite of `dropna`. Also since the `notna` paradigm [already exists in pandas](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.notna.html).

[2019-02-21 15:24] zbarry commented on #84
[code]

R is such a beautiful language.

I had a practical example months ago that spawned this idea from what I was directly working on, though that's well phased out of my brain at this point......

[2019-02-21 15:41] zbarry commented on #77
It's your show. Learning by doing is the only way I learn, myself :)

[2019-02-22 06:50] jcvall commented on #104
Sounds good.  Hope to get you something this weekend to look over.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-22 21:11] #132 closed

[2019-02-23 05:15] jcmkk3 commented on #86
It looks like “where” is already a method in Pandas. It creates a mask instead of filtering, however.

http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#the-where-method-and-masking

[2019-02-23 09:05] jcvall commented on #104
Wanted your thoughts. Certainly not finished but just wants some feedback..

need ->
import pandas as pd
import glob
import os

def read_csvs(df: pd.DataFrame, directory: Union[str, Path], pattern: str = pattern, sep:str = sep,
                  skiprows: int = skiprows, compression: str = compression,  encoding: str = encoding,  low_memory: bool = low_memory,
                  seperate_df: bool =

[2019-02-23 13:54] jcvall commented on #104
One of the thoughts I have on the pattern feature is it will usually take on "*.csv",  but it may have to change if the file is compressed.  In that case the user would use "*.gz" for example.  I wanted to keep some of the features of the original pd.read_csv as I often come into errors with encoding, skiprows or low_memory that need to be addressed.  I am still new to this but will be learning in

[2019-02-23 16:31] ericmjl commented on #86
Good catch, @jcmkk3!

[2019-02-23 16:31] ericmjl commented on #104
Nice work, @jcvall! Looking carefully at the code you wrote, I think there's some places that can be shortened.

First thing I noticed was that you had kwargs specified in there. I think that's a great start! We could condense the `read_csvs` kwargs into there, and simply just let them pass through to the `read_csv` call.

Second thing I did was remove the printing (I'm guessing you may have been

[2019-02-23 20:45] CWen001 commented on #77
Hello. I'm still fascinated by the idea of `["col_name", "col_*"]`, because in many cases we want to manually select one or two columns plus a pattern. For instance, `select_columns(["Name", "Position", "Defense_*"])` for the following.

[code]

I tried to understand @szuckerman 's code. If I interpret it right, that means the root for searching all three methods ('exact', 'glob', 're') is the sam

[2019-02-23 20:54] ericmjl commented on #77
@CWen001 thanks for working on this!

I think we can support just exact and globs for now. I think regex seems to be a use case that most data analyst types won't be concerned with. @zbarry and @szuckerman are pretty advanced Pythonistas :smile:; with pyjanitor, though, I think both the interface and the source code should be kept beginner friendly as much as possible.

[2019-02-23 22:48] jcvall commented on #84
I like to add a normalize and standardize function to pyjanitor.  I guess we can do this with transform, but I like the readability of the code over a lambda function to make it work.  Like normalize_columns() or standardize_columns(), since we already have expand_columns() (aka. dummy codes) and max_min_scale().  This will put preprocessing into the hands of a more beginners, even though I have n

[2019-02-23 23:40] jcvall opened #135 "[DOC] Produce notebook showing how to normalize and standardize columns using pyjanitor"
I like to add a normalize and standardize function to pyjanitor. I guess we can do this with transform function, but I like the readability of the code over a lambda function to make it work. Like normalize_columns() or standardize_columns(), since we already have expand_columns() (aka. dummy codes) and max_min_scale(). This will put preprocessing into the hands of more beginners, even though I ha

[2019-02-24 01:44] ericmjl commented on #135
@jcvall I debated a bit with myself when thinking about whether to put min_max_scale and expand_columns inside. I think it's cool to put in `normalize`/`standardize`, but I think that it (and now that I'm thinking about it, `min_max_scale` as well) should come with a warning in the docs, that state that any transformations that involve a summary statistic of a dataset (e.g. mean, median, max, min,

[2019-02-24 02:13] jcvall commented on #135
I actually didn't think about leakage in machine learning.  I guess what you are saying is that when you perform the preprocessing  you can split your data; however, the deviations from the mean for normalized data will be in both the training and test set.  So the mean is inferred in both data sets.  If I am thinking correctly, then that is a problem...Let me know if I am off base here.  I guess

[2019-02-24 02:36] ericmjl commented on #135
Yep, you're on the right track there!

[2019-02-24 02:45] jcvall commented on #135
Sorry, you don't have to answer this right away, but would the sklearn-pandas package be helpful here?

Example from GitHub page:
`Outputting a dataframe

By default the output of the dataframe mapper is a numpy array. This is so because most sklearn estimators expect a numpy array as input. If however we want the output of the mapper to be a dataframe, we can do so using the parameter df_out when

[2019-02-24 15:31] ericmjl commented on #135
I gave it some thought last night and this morning.

It could be good! We already use scikit-learn underneath the hood, I think.

One thing I did was to profile how fast using sklearn was compared to a custom implementation of one-hot encoding, and I found my custom implementation was faster. That said, for convenience, I ended up just using the get_dummies function provided by pandas. Maybe measu

[2019-02-24 19:35] jcvall commented on #135
I am sort of now leaning toward doing the documentation of both methods.  On with the normalize_columns and standardize_columns with Bayesian or classical statistics.  And maybe one with sklean using a pipe function (I have actually not done this in practice, I will try it).  That way users can have options that when they read the documentation.

<sub>Sent with <a href="http://githawk.com">GitHawk

[2019-03-15 17:56] szuckerman commented on #89
`convert_to_NA.R` has been deprecated in favor of `dplyr::na_if()` and `use_first_valid_of.R` has been deprecated in favor of `dplyr::coalesce()`.

We already have a `coalesce` method, but do we have something that is similar to the `dplyr::na_if()` function? `fill_empty`?

[2019-03-15 19:22] ericmjl commented on #89
`fill_empty`, I think, does something different from the `na_if()`?

[2019-03-17 13:18] ericmjl commented on #89
I finally got some time to look at it: `na_if()` puts a `null` value in a column if a cell value is equal to some number.

[2019-03-18 10:45] ericmjl opened #141 "Currency API calls in tests fail sporadically."
Showed up in #140. Probably needs a resolution akin to [this SO question](https://stackoverflow.com/questions/23651947/python-requests-requests-exceptions-toomanyredirects-exceeded-30-redirects).

[2019-03-19 11:43] ericmjl commented on #141
Closing, since we've decided 'wontfix'.

[2019-03-19 11:43] #141 closed

[2019-04-06 17:59] #93 closed

[2019-04-06 18:24] ericmjl opened #144 "SciPy 2019 Talk/Proceedings/Sprint"
@szuckerman, @zbarry, and @Zsailer, just wanted to let you both know, I submitted a talk about pyjanitor, and it was accepted at SciPy 2019. I would like to acknowledge your contributions to the library, with a slide that has your photos and preferred names. Would that be alright for you? If so, would you be kind enough to email me your preferred names and a high resolution head-shot, which I coul

[2019-04-07 06:35] #77 closed

[2019-04-07 06:39] ericmjl commented on #2
I am going to add this to the [SciPy sprints projects kanban board](https://github.com/ericmjl/pyjanitor/projects/2?fullscreen=true).

I am also considering making this a pre-requisite before new functions can be added, i.e. improve the documentation behind one of the functions, before being allowed to contribute a new one. An evil plan to get others involved in the project.

[2019-04-08 19:10] Zsailer commented on #144
That's wonderful news. I'm happy to hear that you successfully landed a talk. Congrats!

Right now, I'm planning to be at SciPy, but still working out my travel calender. I'd be representing the Jupyter Team this year, so I'll have responsibilities there. But, I'd love to connect at some point and discuss the project.

I'll send you an email with headshot, etc. soon. Cheers!

[2019-04-09 17:53] szuckerman opened #145 "[ENH] Should clean_names return a copy of the dataframe?"
Just stumbled upon this stackoverflow question:

https://stackoverflow.com/questions/53427376/preserve-original-column-names

It appears the issue is that the `clean_names` function returns a copy of a dataframe and doesn't preserve other attributes.

Might be something to look into for this and other functions as well?

[2019-04-09 19:51] ericmjl commented on #145
Thanks for bringing this up, @szuckerman!

There's definitely inconsistent behaviour w.r.t. copying a dataframe or not inside each function. This is something I think should be fixed at the SciPy sprints this year. I probably will also lead one at PyCon.

This issue basically boils down to a decision: copy by default, or not? We talked a bit about int #79, but with new information that in-place mu

[2019-04-14 14:06] zbarry opened #147 "Finance unit testing failing in Travis build"
https://github.com/ericmjl/pyjanitor/pull/146#issuecomment-482982960

Test log:

[code]
https://travis-ci.org/ericmjl/pyjanitor/jobs/519783548

[2019-04-15 15:10] #147 closed

[2019-04-15 15:16] szuckerman opened #149 "Run notebook example in Binder"
There's a new tool, [Binder](https://mybinder.org/), that lets you interactively run a notebook that's hosted in a Github repo in a browser.

Might be a good idea to integrate this with the [notebook example](https://github.com/ericmjl/pyjanitor/blob/dev/examples/pyjanitor_demo.ipynb) and possibly make more intricate examples as well that users can follow interactively.

(See issue #73)

[2019-04-15 15:16] ericmjl commented on #149
OOOH!!!!

I love this idea! :smile: I think I will put this up on the Projects board as well.

[2019-04-15 18:08] bhallaY opened #150 "Formatting for chemistry tests inconsistent with other tests"
Hi,

I was adding some additional functionality to the chemistry submodule and when I was writing tests I noticed the structure of existing chemistry tests were inconsistent with the tests for the other submodules. The other submodules all get their own testing folder and have one function tested per file. The current test_chemistry.py file has tests for two functions and there is no testing folde

[2019-04-16 19:25] #150 closed

[2019-04-17 02:57] szuckerman opened #152 "Validation method"
I'm working on a `.validate()` method that would validate a DataFrame for certain characteristics.

Most of the examples are taken from [this stackoverflow answer](https://stackoverflow.com/a/53294065/3699823), but there are a few others that I think are important to add (such as regex matching and uniqueness over multiple columns).

We could just include [PandasSchema](https://github.com/TMiguelT

[2019-04-22 11:09] ericmjl commented on #89
And to add to this thread: https://sfirke.github.io/janitor/news/index.html

Janitor 1.2.0 was released recently! :tada: That means more functionality that we can try targeting to port over.

[2019-04-23 12:14] jcvall commented on #135
I like to close this one as I have really learn to use your transform_columns function for this.  I also love to use the transform_column to edit text stings with a lambda s: s.str.replace().  It works great.  What are your thoughts? Maybe we show examples of this in the documentation?  I can maybe help provide you a couple examples if you don’t have some ready?

<sub>Sent with <a href="http://git

[2019-04-23 13:21] ericmjl commented on #135
@jcvall examples are amazing! I would love to have them added to pyjanitor's documentation. One of the "curses" of being a package developer is that we get too familiar with the package to write good examples. Would you like to get a few started?

[2019-04-23 16:03] jcvall-olympus commented on #135
Yes!

[2019-04-23 16:18] HectorM14 commented on #59
I'd be interested in taking on this issue if no one has done so yet. Would this need some support to warn users that names have changed, and that previous names will no longer work in a future version?

[2019-04-23 16:33] jcvall opened #153 "update_where() function"
During my data cleaning..I find myself wanting to correct a row of data based on other column conditions.  For example, I wanted to update column 'C' based on column 'A' and column 'B'.  Where column 'A' has United States for example, column 'B' has 'Pennsylvania' and column C might be NaN but I want it to be the average salary where column A and B are present in the row.  And.....I dont want to o

[2019-04-23 18:54] ericmjl commented on #153
@jcvall I think this would be a great thing to add! Starting with `case_when` could be a good starting point; in which R package does this function exist? It can even be a port of the R functionality, I'd say.

[2019-04-23 18:54] ericmjl commented on #153
Or we can start small and build it up from what your use case is, and slowly generalize it over time.

[2019-04-23 19:00] ericmjl commented on #59
@HectorM14 yes, that would be great! Please do go ahead.

Yes agreed. Since we're at version 0.16.x right now, the responsible way to evolve the API is to keep it through the next two minor versions, and the deprecate it at the next major or 3rd minor version. Perhaps raising a warning if and only if certain functions are called/keyword arguments are used.

Personally, I would prefer one function

[2019-04-23 21:11] jcvall commented on #153
In R...this function allows you to have multiple if and else if statements which are vectorize. It is equivalent to SQL CASE WHEN statement. The case_when function is found in the dplyr package.  So my use doesn't follow perfectly here.

Here is an idea I can get started with:

def case_when(df, condition1 , target1, condition2, target2 ):
    x = condition1.update(target1)
    y = x.update(target

[2019-04-23 21:19] ericmjl commented on #153
@jcvall yes, I'd love to see a PR for this! Please go ahead, I'll be more than happy to review!

[2019-04-24 05:54] HectorM14 commented on #59
Great, I'll use my best judgement for PR scope. Is there a standard way to deprecate/discourage old argument names? I was thinking of using decorators to keep the method APIs clear about their usage going forward.

[2019-04-24 14:54] ericmjl commented on #59
Thanks @HectorM14!

To the best of my knowledge, the standard way to do this should be to insert a conditional checking to see if that old argument name was called or not, and then inside the conditional:

1. Raise a warning.
2. Assign the value of the old argument to a new variable that has the same name as the new argument.

For example:

[code]

That might actually be better than what I had up

[2019-04-24 15:08] szuckerman commented on #59
[Relevant PyCon talk on refactoring and adding `warnings` for legacy code](https://youtu.be/D_6ybDcU5gc?t=787). The actual code for warnings comes in around 17:00.

[2019-04-24 15:19] ericmjl commented on #59
Oh cool, thanks for sharing that, @szuckerman!

[2019-04-24 16:42] szuckerman commented on #153
I really like this addition, however, one question I have is how one would deal with `OR` conditions.

For example, with `CASE WHEN` in SQL, one can do this (I used 'UK' since 'PA' is a subset of 'US'):

[code]

the above example forces the logical operator to be `AND`:

[code]

I don't know what the answer is, or even if R's `case_when` function takes care of this situation, too. Is there a way t

[2019-04-24 16:58] jcvall commented on #153
Sorry. My code above was a scribble of an idea at the time.  I actually changed the code when I was working on it last night because it had some issues, to your point I didn't the limitations of not having the and, or = , > < != operators .  My new proposed code is even simpler and probably only slightly better -
`
def case_when(df,conditions , target_col , target_value ):
    df.loc[conditions,ta

[2019-04-25 02:44] jcvall commented on #153
This is odd...I am having permission errors.

Authentication failed.  You may not have permissions to access the repository when I try to publish the branch.  Thoughts?

[2019-04-25 11:00] ericmjl commented on #153
Might it be that you cloned ericmjl/pyjanitor without forking first?

I have an idea: could you paste the output of:

[code]

here?

[2019-04-25 12:05] jcvall commented on #153
That was the issue.  I gave it another try this morning before I ran off to work. Thanks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-25 15:03] szuckerman commented on #144
Just found out about [RISE](https://github.com/damianavila/RISE), a Jupyter extension that will convert your notebook to a presentation. Might be useful for your talk!

[2019-04-26 01:26] jcvall commented on #153
Thinking about changing this from case_when to update_where which is a more popular sql command that basically does the same thing.  Thoughts?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-26 14:17] jcvall commented on #153
I have this function locally on my computer and it is working great. (Though I did change target_col: None and target_val: None).  I can fix that.

Here are a few things to keep in mind:

1. each conditions must be inside ( ) and you need the df with the column...for example  (df.state == "PA"); (df.state == "PA) | (df.state == "NJ")
2. The target_col is a string name of column...for example 'avg_

[2019-04-28 15:24] jcvall opened #157 "Tidy statsmodel with R broom functions"
Started to create R broom like functions to statmodels for a few model types.  Is this something we can extend to pyjanitor?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-28 15:31] zbarry commented on #157
Don't really have any experience with R. What would be the gist of what you're interested in adding?

[2019-04-28 18:29] szuckerman commented on #157
I like the idea of adding stuff like this, but the issue is that it doesn’t make sense to return a DataFrame.

For example, I could imagine someone would want to get some statistical information from a DataFrame (ex: p-values for certain columns) but it doesn’t make sense to store that in the main DataFrame object that’s being manipulated.

I would propose the following:

Have a janitor.utils modu

[2019-04-28 18:48] jcvall commented on #157
My thoughts on this:

1. This would work like the R Broom package.  This package take an output of the statistical model and puts it into a data frame format.  I have some examples here.

Blog on R Broom package -
http://varianceexplained.org/r/broom-intro/

Word Doc of example thus far..
[Statsmodel – broom examples.docx](https://github.com/ericmjl/pyjanitor/files/3125358/Statsmodel.broom.example

[2019-04-28 22:22] zbarry commented on #153
Resolved via #156 it looks like.

[2019-04-28 22:22] #153 closed

[2019-04-28 22:30] #70 closed

[2019-04-28 22:34] zbarry commented on #125
Think this can be considered addressed for now.

[2019-04-28 22:34] #125 closed

[2019-04-29 01:28] szuckerman commented on #125
I’ve been looking into Dask recently and it seems like this isn’t possible for Dask DataFrames, but there may be a workaround.

Dask dataframes use Pandas but don’t copy all methods since some methods don’t work well with distributed systems (median, for example). I also don’t think that pandas_flavor works for Dask, even though they use pandas under the hood (due to the fact of the first issue of

[2019-04-30 00:59] jcvall commented on #157
I might have been overly excited about this, and want to take a step back.  And for good reason.  Broom ( the R package) is very simple but useful package and I think would be a great addition
to pyjanitor.

It really is one of the most popular data science packages out there (I am not kidding).  I don't think I am doing it fair justice in my pitch, and this is total my fault.  I accept failure he

[2019-04-30 03:11] szuckerman commented on #157
This looks super awesome. Since there’s so much functionality do you think it might be better to develop it as its own package that will integrate with pyjanitor?

[2019-04-30 03:25] jcvall commented on #157
I have given that a thought.  And since I am writing the scripts anyway I wouldn't mind making its own package. I will close this for now.  If there is any interest in the future let me know.

[2019-04-30 03:26] #157 closed

[2019-04-30 04:17] jcvall commented on #135
[pyjanitor_normalize.pdf](https://github.com/ericmjl/pyjanitor/files/3129933/pyjanitor_normalize.pdf)

not sure what form to send it in.  Here is pdf....

[2019-04-30 10:18] ericmjl commented on #135
@jcvall I like what you did! I think you can do the following to make it a contribution to pyjanitor's documentation:

1. Perhaps annotate which functions you used are `pyjanitor` functions?
2. Add some prose that puts in plain English what you're trying to do?
3. Submit a PR with the notebook! (The best place for this is probably under `docs/` for now.) Once it's PR-d in, I'll find a way to inclu

[2019-05-04 19:27] jcvall opened #158 "bin_numeric function"
I cam across this in my data cleaning routine, where I wanted to bin my numeric variables into a categorial column.  Would this be of interest to you to add to pyjanitor?  I don't know if there is already a function for this, I looked but didn't see it.  Let me know if there is something like this already or if you think it is worth adding. Thanks.

![image](https://user-images.githubusercontent.c

[2019-05-04 23:21] ericmjl commented on #158
@jcvall to the best of my knowledge, this definitely does not exist! I would love to see it in pyjanitor :smile:. Don't forget to pull in the latest changes into your fork of pyjanitor!

[2019-05-04 23:25] ericmjl opened #160 "Moving to Azure pipelines"
Call me a Microsoft fanboy now, but I think Azure pipelines are pretty rad.

The free tier lets us build on all 3 operating systems, with longer timeouts of 6 hours. By contrast, Travis CI only provides Linux testing, and 1 hour before timeouts occur. Being able to test on all 3 operating systems is the biggest draw here.

Moreover, Microsoft devs were on hand here at PyCon to help with the setup

[2019-05-04 23:27] zbarry commented on #160
Cool!

[2019-05-05 05:03] jcvall opened #162 "data_dictionary() function"
I wanted an easy way to create a data dictionary.....I came up with this...

![image](https://user-images.githubusercontent.com/20308031/57188711-757f2d80-6ed1-11e9-94dc-2e3dc93c1340.png)

![image](https://user-images.githubusercontent.com/20308031/57188717-82038600-6ed1-11e9-9a35-8e209a9651da.png)

[2019-05-05 12:18] ericmjl commented on #162
I think this could be cool! It wouldn't be a data cleaning function, but could be one of the "utilities". I like where this function is going, and it looks like it could be expandable as well.

[2019-05-05 14:23] jcvall commented on #162
If anyone at sprints wants to take this one on, I have no objections!  If they don't
 no worries.  I will put a PR in next week.  I know they will love pyjanitor as much as I do.

[2019-05-05 20:49] HectorM14 commented on #59
Following advice in that talk, we could update `expand_column()` as follows:

[code]
One notable consequence of this, is having to set column_name as None, which requires us to move its position in the list of arguments (during the deprecation period).

The way it's written also assumes that additional arguments received would only relate to deprecated usage, and include `column`.

Another issue i

[2019-05-05 21:19] ericmjl commented on #59
@HectorM14 those are great points you've raised :smile:.

I am guilty of being inconsistent here, as I sometimes use `col` and sometimes use `column` and sometimes use `colname`. Yes, being consistent is a great thing. I would personally vote for `column_name`, in adherence to "explicit is better than implicit", but if there are better reasons (brevity, perhaps?) for other conventions, not a probl

[2019-05-05 22:56] HectorM14 commented on #59
I like column_name too. I can aim for being explicit with these names unless they become too unwieldy. I'll start making individual PRs for each updated function. Updating variables relating columns is easy, but if anyone finds other variables that should be updated, they can list them here.

[2019-05-06 00:49] ericmjl opened #165 "Create examples using tidytuesday's datasets!"
Heard this from @chendaniely.

https://github.com/rfordatascience/tidytuesday

There are a ton of great datasets inside there that could be used as data cleaning examples using `pyjanitor`, which would be awesome to feature in an "examples gallery" of notebooks! I would love to see this come to fruition.

[2019-05-06 00:56] ericmjl opened #166 "Modify our docs build system to showcase notebooks on readthedocs"
For the project, I would like to build an examples gallery of Jupyter notebooks on a variety of datasets. This would be best showcased by having individual contributors work on cleaning a single dataset in a Jupyter notebook. We would then need a build system to handle the documentation build, such that those notebooks could be featured as part of readthedocs.

This issue would clearly need experi

[2019-05-06 13:14] kurtispinkney commented on #162
Good morning All,
I'm currently at PyCon and am sticking around for a couple of days for the sprints. I've never participated in an open source project before, but when reviewing the different projects available to work on I settled on this one as figured this might be a good issue to work on. If it's cool with all of you I would like to go ahead and attempt to tackle this issue.

[2019-05-06 13:50] jekwatt opened #169 "Improve the docs by adding brief summary"
Why Janitor? explains what what the pyjanitor is about in details, but it would be nice to have a brief summary above the content in pyjanitor docs.

[2019-05-06 13:53] kurtispinkney opened #170 "Update contributing docs to explain how to use pyjanitor env in PyCharm"
When getting ready for the PyCon 2019 sprint I ran into the issue of attempting to setup the conda environment for use within PyCharm. From the Googling I did last night it seems the only way to make use of the provided .yml file is to go through the setup as prescribed in the contributing section and then point the PyCharm interpreter to the environment that gets set up. @kurtispinkney

[2019-05-06 13:57] ericmjl commented on #169
@jekwatt is handling this one.

[2019-05-06 13:58] ericmjl commented on #170
@kurtispinkney is working on this one.

[2019-05-06 14:31] mdini opened #171 "change_type, converting exception"
add an argument ignore_exception if one value of  a column can not be converted.
ignore_exception can be equal to :

- False  (default)  to return exception

- Fill_NaN to replace non convertible values with NaN

- Keep_value to keep the same value when the conversion is not possible

@mdini

[2019-05-06 14:40] SorenFrohlich opened #172 "Document expected behavior of tests locally"
Some of the tests (especially Chemistry test) are expected to fail locally. We should document this, such that new contributors, who runs the test locally, do not worry about failing test that are suppose to fail.

[2019-05-06 14:41] ericmjl commented on #171
@mdini will take care of this. It's a great idea!

[2019-05-06 14:43] ericmjl commented on #172
Thanks for raising the issue, @SorenFrohlich! Please go ahead and tackle it! :smile:

[2019-05-06 14:52] ericmjl opened #175 "Propose rearrangement of functions.py"
`functions.py` is quite long! It could use some refactoring.

@jk3587 is currently working on a proposed refactoring, and will loop back on this issue.

[2019-05-06 15:05] szuckerman opened #176 "Great work!"
@ericmjl @zbarry @jcvall @SorenFrohlich @mdini @kurtispinkney @jekwatt

I want to go through every new issue right now and give a written acknowledgement in addition to a :thumbsup: for each, but there are a lot of them and I don't want to clutter all the issues right now.

Just wanted to give a general "Thanks!" for all the work people are putting in!

[2019-05-06 15:06] jonnybazookatone commented on #172
Maybe as a second step, it might be worth adding logic to skip these tests programmatically in the context you don't expect them to be working.

[2019-05-06 15:11] jQwotos opened #177 "Add links to example.rst to readthedocs"
- Add hyperlinks to readthedocs documentation on text that recommend using specific methods

_Example_
Change
[code]

to
[code]

[2019-05-06 15:14] kimt33 opened #178 "Add tidytuesday example: 2019-04-30"
Hello! I'm letting you all know that I am working on the dataset from 2019-04-30:
https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-04-30

Related Issue: #165

It seems that tinytuesday people already use `janitor` to handle data cleanup, so it's not that bad to translate the code from R.

[2019-05-06 15:29] szuckerman commented on #162
Great idea!

Just some initial thoughts:

1. If you create a new `description` object for each column and you overload `__doc__` within said object, then you can run `help(df.column.description)` to get the column description. I'm not sure exactly how it would be implemented, but that's the general idea. The following works, but seems unstable if you want to use the same `class` over and over agai

[2019-05-06 15:45] dsouzadaniel opened #179 "Improve the example on READMe.rst"
I'd like to propose a change to the README.rst example which shows the difference between using regular Pandas and PyJanitor to achieve different operations.

The 1st line itself is something like :
df = pd.DataFrame(...)  # create a pandas DataFrame somehow.

For a newbie, who basically copy pastes this example, it'll just fail.

I'd like to propose adding a better example with "before" and "afte

[2019-05-06 15:49] ericmjl commented on #178
OK! That's a great contribution, @kimt33 :)

I will mark this as taken by you.

[2019-05-06 15:54] jekwatt commented on #149
I know about the Binder and I can tackle this one if not taken.

Also, I just learned about Google Colab, which seems to be similar to Binder. You may want to check it out.

https://colab.research.google.com/notebooks/welcome.ipynb

[2019-05-06 15:54] Eidhagen opened #180 "Remove obsolete text in the Example usage."
The two last sentences in the paragraph below are obsolete and can be removed.

[2019-05-06 15:55] ericmjl commented on #177
Ok! Thanks for raising this issue, @jQwotos :) I will mark this as taken by you.

[2019-05-06 15:55] jQwotos commented on #177
Taking a look more into sphinx and seeing if this can be done in a better way

[2019-05-06 16:01] dave-frazzetto commented on #179
I agree. Also, the same applies to the docs in functions.py. Some docs have associated runnable examples, others don't. Going through each with runnable examples would make sure that they are correct.

[2019-05-06 16:01] jk3587 opened #182 "Change janitor.functions.check to a private function"
`janitor.functions.check` might be an internal function that could be changed to a private function.

[2019-05-06 16:03] szuckerman commented on #182
See issue #122. I'm looking at removing `check` altogether 😄.

[2019-05-06 16:04] chrisfs opened #183 "The term DAG may be unfamiliar to non programmers. Use more familiar terms"
In the beginning of the docs, Data proprocessing is described as " a directed acyclic graph (DAG) of actions taken on data.". I think this term is going to be unfamiliar to people who are not programmers (or not familiar with graph theory). There will be a good deal of confusion since informally graphs are associated with charts .
Either the term should be removed, or it should be formally defined

[2019-05-06 16:05] ricky-lim opened #184 "Add tuesday notebook example (2019-05-07)"
I'm working on this dataset

[2019-05-06 16:06] dsouzadaniel commented on #179
Feel free to raise other documentation issues ( so others can also work on them! ) 😄

[2019-05-06 16:13] chrisfs opened #186 "Contributing.rst Getting Started workflow missing Conda Activate step; Mispelling in step 5"
In Step 3 of Getting Started :
$ cd pyjanitor/
$ conda env create -f environment-dev.yml
$ python setup.py develop

There is a command missing,  Between "conda env create..." and "python setup.py ..." you need the command
$ conda activate pyjanitor-dev

In Step 5 "flake8 and pytest are instaled when you create the development environment."
should be "flake8 and pytest are installed when you create

[2019-05-06 16:15] dave-frazzetto opened #187 "Improve the examples in janitor.functions.py"
Some docs in the functions in the janitor.functions.py file present runnable code examples, others don't. It could be made consistent through all functions (unless trivial)

[2019-05-06 16:21] jonnybazookatone opened #188 "Add the `pd.to_datetime` method so that it is chainable"
It would be nice to have this function being chainable.

[2019-05-06 16:22] lphk92 commented on #166
I'd like to take a crack at this issue!

[2019-05-06 16:24] jk3587 opened #189 "[ENH] Change implementation to functions.remove_columns"
Currently `functions.remove_columns` uses `del df['col']`. Instead, this function can be an alias to [pandas.DataFrame.drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) with a built-in `axis=1` and `inplace=True`.

[code]

Could be something like:
[code]

[2019-05-06 17:06] ericmjl opened #193 "tests should be skipped if optional dependencies are not installed"
Some developers will not want to install the optional deps (e.g. biopython, rdkit). We should mark them as `skipif` those packages cannot be imported.

We may be able to leverage the example here: https://stackoverflow.com/a/35037157/1274908

[2019-05-06 17:20] ericmjl commented on #187
Indeed! I'd be happy to accept individual PRs per example, with new issues are raised per example to keep track of progress.

[2019-05-06 17:30] #170 closed

[2019-05-06 17:48] #188 closed

[2019-05-06 17:54] Rajat-181 opened #195 "Same as Issue 179. Adding examples in Readme.rst"
Hi, I will like to add a continuation of issue 179 to improve the examples in the API section of readme.rst

[2019-05-06 17:59] kurtispinkney commented on #158
@ericmjl If nobody else is currently working on this, I could give it a go.

[2019-05-06 18:00] ericmjl commented on #180
Please go ahead and work on this one!

[2019-05-06 18:00] ericmjl commented on #182
Oh, that's right! That point slipped from my mind. Thanks for the reminder, @szuckerman!

[2019-05-06 18:07] szuckerman opened #197 "Make functions idempotent"
I've noticed with a few functions (such as `currency_column_to_numeric`) that if I run the same function again, I get an error. The reason is that `currency_column_to_numeric` assumes the column is a `str` and once it's not a `str` anymore, it throws an error.

For example, I see the following error:

[code]

Anyway, the idea being something being idempotent is that `func(func(x)) == func(x)`, i.e

[2019-05-06 18:09] szuckerman opened #198 "[ENH] Add truncate_date function"
I truncate dates all the time and it's really annoying. I want to add a `date_trunc` method.

[2019-05-06 18:15] #193 closed

[2019-05-06 18:17] #186 closed

[2019-05-06 18:30] SorenFrohlich commented on #187
I have started changing the doc-strings of some of the more advanced functions in functions.py

[2019-05-06 18:32] dave-frazzetto commented on #189
I agree on the task, I will take the issue

[2019-05-06 18:36] jk3587 commented on #189
I totally forgot as of version 0.21.0 you can do:
[code]

instead of doing `axis=1`.

[2019-05-06 18:53] dsouzadaniel commented on #183
Is someone working on this ? Particularly @chrisfs  😄

[2019-05-06 18:57] chrisfs commented on #183
I am not working on this right now and was hoping someone more familiar with the term could add a simple definition.

[2019-05-06 19:12] jekwatt opened #203 "[ENH] clean_names() in functions is too verbose"
* Improvement can be made by using re
* remove `_`if column_name begins with `_`
* change`%`to `_pct_` or other suggested value

[2019-05-06 19:13] jonnybazookatone opened #204 "GroupBy, aggregate, but keep within the original DataFrame"
I often want aggregates over different values in a dataframe, but still want to see those values alongside non-aggregate values, which can require multiple non-chainable steps of code.

Wonder if anyone has an example of this, or has an opinion?

[2019-05-06 19:17] dsouzadaniel commented on #183
I've worked a little with Airflow. This doc change is inspired from their docs( which are fantastic! )

I propose changing from
 **this** :
"Data preprocessing is best expressed as a directed acyclic graph (DAG) of actions taken on data"

**to this** :
"Data Preprocessing usually consists of a series of steps that involve transforming raw data into an understandable/usable format. These series of

[2019-05-06 19:21] jcvall commented on #158
Sure...no objections. Have at it.

[2019-05-06 19:23] szuckerman commented on #204
Looks good! This is a common practice in SQL using [window functions](https://docs.aws.amazon.com/redshift/latest/dg/r_Examples_of_sum_WF.html).

I think what you've done in the PR mimics most of the functionality, but if you're looking for inspiration, there's [a ton of documentation](https://docs.aws.amazon.com/redshift/latest/dg/c_Window_functions.html) to give you more ideas.

[2019-05-06 19:32] #166 closed

[2019-05-06 19:33] Eidhagen opened #208 "Update one of the "outputs" in examples/notebooks/dirty_data.ipynb"
In the example where a empty row is removed (cell 5), change the print statement so the rows that surround the removed row is shown instead of just the five rows in the top of the dataframe. By doing this it will be clearer to the reader what actually happened.

[2019-05-06 19:37] jekwatt commented on #203
non-alphanumeric characters includes punctuations and symbols

punctuations includes : ! @ # & ( ) – [ { } ] : ; ', ? / *

symbols includes: ` ~ $ ^ + = < > “

By using re, non-alphanumeric characters `\W` can be easily replaced to `_`.

[2019-05-06 19:57] jonnybazookatone commented on #204
Yes, equally as hairy in SQL...

[2019-05-06 20:02] dsouzadaniel opened #209 "[ENH] Add a "remove_dupes()" to help chaining?"
My proposal is to add a remove_dupes() function to the library in addition to the get_dupes() function for the following reasons:

1. Makes way more sense to have a remove_dupes() when chaining.
2. Combines it with the reset_index() which also helps in maintaining a valid index during chaining.
3. Expose the powerful 'keep' argument which is very useful in time-based data for keeping the 'first' o

[2019-05-06 20:04] #171 closed

[2019-05-06 20:11] #195 closed

[2019-05-06 20:24] jk3587 commented on #175
@ericmjl
First pass of looking at the various functions, I have organized the functions by functionality:
* **Modify Columns**
  * expand_column
  * concatenate_columns
  * deconcatenate_column
  * remove_columns
  * add_column (perhaps combine the add_columns and add_columns to one function that accepts a list of columns)
  * add_columns
  * transform_column (perhaps combine the transform_column

[2019-05-06 20:25] mdini opened #211 "[ENH] make collapse_levels applicable to multilevel index"
collapse levels of dataframes with multilevel index

[2019-05-06 20:27] ricky-lim opened #212 "Azure Pipeline for notebook"
Make an automated process to run the notebooks (examples/notebooks)

[2019-05-06 20:29] dsouzadaniel opened #213 "Resetting the index in remove_empty()"
In the remove_empty() function, I'm proposing changing this:

`df.drop(index=nanrows, inplace=True)`

to :

`df = df.drop(index=nanrows).reset_index(drop=True)`

This helps reset the index which prevent bad things from happening further down the data pipeline! 😄

Let me know if I can begin working on this! 🔥 🚀

[2019-05-06 20:52] chrisfs commented on #183
That seems considerably better. I would add some examples.
"Data Preprocessing usually consists of a series of steps that involve transforming raw data into an understandable/usable format, such as adding/deleting columns, or dropping null values. "

[2019-05-06 20:55] ericmjl commented on #175
Thanks @jk3587! This is a great base on which to do a refactoring of the library. I am going to record my current thoughts here.

Instead of `functions.py`, we should have a few submodules. New structure:

[code]

[2019-05-06 20:55] Rajat-181 opened #214 "[BUG] Add_column should not add the column in place"
As suggested by Eric, Add-column should no longer change the data frame in-place. I would like to work on that.

[2019-05-06 20:56] ricky-lim opened #215 "New Function Proposal: drop_duplicated_column"
Function to drop duplicated columns and retain a column based on its order.

Example:

[code]

[2019-05-06 20:57] lphk92 commented on #198
To be consistent with the other functions in this library, maybe it should be called `truncate_date`?

[2019-05-06 21:01] #184 closed

[2019-05-06 21:02] #204 closed

[2019-05-06 21:04] dsouzadaniel opened #218 "Replace all occurences of "inplace""
A proposal suggested by @ericmjl  to replace all occurrences of "inplace" appropriately!

This is done in-line with the future of pandas having no "inplace" functionality.

waiting on #214 by @Rajat-181  to begin work on this issue! 🔥 🚀

[2019-05-07 00:08] #178 closed

[2019-05-07 00:18] ericmjl commented on #183
@dsouzadaniel, I will assign this one to you! :smile:

[2019-05-07 00:22] ericmjl opened #220 "readthedocs fails because nbsphinx missing from requirements"
As per title.

[2019-05-07 00:25] ericmjl opened #222 "[DOC] readthedocs config"
It'd be awesome to have a readthedocs configuration file present!

https://docs.readthedocs.io/en/stable/config-file/v2.html

[2019-05-07 00:27] ericmjl commented on #203
@jekwatt I would like to assign you to this PR please!

[2019-05-07 00:28] ericmjl commented on #176
Thanks @szuckerman! Btw, if (and only if) you both have some spare cycles, would you and @zbarry be willing to help me triage issues and tag them with the right labels? Don't worry about getting the labels 100% correct, even I will be making judgment errors in the thick of the sprints.

[2019-05-07 00:31] ericmjl commented on #208
@Eidhagen thanks for raising this! I think this will not be necessary any more, because we've moved the example into a notebook that is being built on readthedocs. I'm figuring out how to build `dev` on readthedocs right now!

[2019-05-07 00:31] ericmjl opened #223 "Build readthedocs such that dev and master both available"
As per title. Right now, I think only `latest` is built, but `latest` targets master, and not `dev`.

[2019-05-07 00:34] ericmjl commented on #198
@szuckerman, do you have a simple example that illustrates what you mean by truncating a date?

[2019-05-07 00:40] #220 closed

[2019-05-07 00:43] ericmjl commented on #209
I'd be happy to accept this PR if you explain your reasoning for this PR in the docstring. If you'd like, feel free to update your outline with a more fleshed out example, including the docstrings, so that we can critique it before you do the extra work with a PR!

[2019-05-07 00:46] ericmjl commented on #211
@mdini would you like to tackle this one? Let me know, and I'll tag it as unavailable for hacking!

[2019-05-07 00:47] ericmjl commented on #214
@Rajat-181 please go ahead and work on the PR!

[2019-05-07 00:48] ericmjl commented on #215
@ricky-lim if you'd like to go ahead and work on this, please do so!

[2019-05-07 00:54] ericmjl commented on #172
Closed by #193.

[2019-05-07 00:54] #172 closed

[2019-05-07 01:15] ericmjl commented on #162
@szuckerman this is a super creative idea! I especially like the idea of overwriting the `__doc__` attribute for a new dataframe.

Perhaps one appropriate way of using this `data_dictionary` function would be instead to load a YAML file that is the data dictionary? Desired API/example below:

[code]

Underneath the hood, what `describe_data` could do is to register a custom accessor, called `data_

[2019-05-07 01:19] ericmjl opened #225 "[INF] Need infrastructure to auto-build changelog."
This would require us to squash commits upon merge, changing the way that merges are currently done.

The advantage here would be an auto-tracking of changelog! Much better than what we currently have, which is no changelog at all :smile:.

[2019-05-07 01:22] dendrondal opened #226 "[ENH] Modifying and Documenting Coalesce"
Coalesce currently has new_column_name as a default parameter, which is not currently in the code example. This behavior can be changed by making new_column_name default to None, and have the coalesced column inherit the name of columns[0].

The actual behavior of this function will be clarified, along with type hinting to be consistent with the most of the rest of "functions.py".

[2019-05-07 01:28] mdini commented on #211
@ericmjl yes please, I would like to.

[2019-05-07 01:32] ericmjl opened #227 "Move example notebooks into examples/notebooks"
As per title.

[2019-05-07 01:36] ericmjl commented on #223
This has been handled by making master and dev show up only, rather than latest.

[2019-05-07 01:36] #223 closed

[2019-05-07 01:39] ericmjl opened #229 "Add code style check to pipelines build"
As per title. Should add at least pycodestyle, and check with black.

[2019-05-07 01:43] ericmjl commented on #158
@jcvall I'd love to invite you to review @kurtispinkney's PR when it comes up! @kurtispinkney, don't forget to reference this issue in your branch name - apparently there's GitHub superpowers associated with putting issue numbers in your branch (i.e. `feature-branch-#291`).

[2019-05-07 01:44] #227 closed

[2019-05-07 01:59] #229 closed

[2019-05-07 02:01] ericmjl commented on #177
@jQwotos just wanted to let you know, a number of RST files have been converted to ipynbs, and now they render on the docs page!

[2019-05-07 03:01] #212 closed

[2019-05-07 03:44] dendrondal opened #234 "Linting issue in Makefile"
When trying to run Make Check with my most recent PR, two errors were found. The first is a relatively easy fix due to a deprecated term in isort, the second isn't one I really know how to google the solution for. After the pycodestyle . is run, the following stacktrace is dumped:

[code]
The "checks complete" doesn't actually echo. I assume the E501, E722, 262, etc. are what is causing this vague

[2019-05-07 04:15] ericmjl commented on #234
My current guess is that black isn't formatting the docstrings, which, if I remember correctly, is an intentional design choice by the black devs.

Only E722 is one that we may want to look at.

As for the others, modifying the docstrings might be the most productive thing to do here. I will file an issue related to this one.

[2019-05-07 04:17] jQwotos commented on #177
Awesome! Shall I continue to look into this or shall we mark it is closed then

[2019-05-07 04:31] ericmjl opened #235 "test_convert_excel_date fails"
This is because of a recent PR in which the example data was moved.

[2019-05-07 10:55] #235 closed

[2019-05-07 11:03] ericmjl opened #237 "Improve the prose in notebooks"
`board_games.ipynb` is a great minimal example of how a good notebook can be written prose-wise. There's sufficient detail that a newcomer reader can know:

- why the notebook exists
- why each chunk of code in the notebook exists

I would like to see `tidytuesday_2019-05-07.ipynb` and `tidytuesday_20190430.ipynb` brought up to the same minimal level of detail.

Will create two separate issues for

[2019-05-07 11:03] ericmjl opened #238 "Improve prose in tidytuesday_2019-05-07.ipynb"
As per title.

Please see #237 for more details.

[2019-05-07 11:04] ericmjl opened #239 "[DOC] Improve prose in tidytuesday_20190430.ipynb"
As per title.

Please see #237 for more details.

For context:

- [Notebook](https://github.com/ericmjl/pyjanitor/blob/dev/examples/notebooks/tidytuesday_20190430.ipynb)

[2019-05-07 11:05] #234 closed

[2019-05-07 11:11] ericmjl commented on #177
Let's mark this one as closed. However, because I've seen your effort in making this happen, let's consider your docs contribution done :smile:. Do feel free to tackle a code contribution at this point!

[2019-05-07 11:11] #177 closed

[2019-05-07 11:51] #149 closed

[2019-05-07 11:57] ericmjl commented on #197
I think this is great. Having given it a night to simmer, I like where this issue is headed. We should add a generic idempotence test for all functions, following the pattern you've outlined (`func(func(x)) == func(x)`), and then begin applying them function by function in the test suite, exactly as you've suggested.

The task list here, then, would be as follows:

- [ ] Create a generic idempoten

[2019-05-07 12:02] #169 closed

[2019-05-07 12:13] ricky-lim commented on #215
yes, I'd like to work on this for today's sprint

[2019-05-07 12:28] ericmjl opened #242 "Idempotence test needed"
Referencing #197, there's value in ensuring that every function is idempotent. This means ensuring that `func(func(x)) == func(x)`, as described in the original issue.

The steps suggested for this PR would be as follows:

1. Create a generic testing utility function, that _might_ look like:

[code]

Clearly, a few tests would be required for the `idempotence_test` function, to ensure that it work

[2019-05-07 12:34] ericmjl commented on #208
I went back in this morning and looked at the notebooks. The issue is still relevant, but now applies to the notebooks instead of `example.rst`. I will mark this as available to hack on, and edit the issue appropriately.

Because you've already done a contrib yesterday to the docs, I'm happy for others to tackle this one!

[2019-05-07 12:38] ricky-lim opened #243 "[DOC] Images on the readme for pycharm users's instructions are not being rendered"

[2019-05-07 12:39] ericmjl commented on #243
Hmm, that's weird, it looks fine on my side:

![image](https://user-images.githubusercontent.com/2631566/57299835-939c8780-70a3-11e9-9db0-d3b702a85384.png)

Which URL are you using, @ricky-lim?

[2019-05-07 12:42] ericmjl commented on #160
This is addressed by a multitude of issues! #167, #212, #159, #231.

[2019-05-07 12:42] #160 closed

[2019-05-07 13:55] dsouzadaniel opened #244 "[DOC] Fix Doc string for "encode_categorical" method"
The doc string for "encode_categorical" needs a fix.
**from this:**
[code]

**to I believe this?:**

[code]

This is a rough idea of what it should be. Please verify that it works!

Feel free to pick this up! 😄 🔥 🚀

[2019-05-07 14:08] SorenFrohlich commented on #242
I would like to work on this.

[2019-05-07 14:15] ericmjl opened #245 "[DOC] Create index page for API docs"
`pandas` API docs have an index of functions: https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html

We probably should have something like this.

[2019-05-07 14:15] szuckerman commented on #209
Isn't `drop_duplicates` already a built-in `pandas` `DataFrame` method?

[2019-05-07 14:20] szuckerman commented on #158
For inspiration: `R` has a built-in method called `cut` which does this: https://www.dummies.com/programming/r/how-to-create-subgroups-of-data-in-r/

I like that yours has a `labels` arg since that's probably the most important aspect of such a function.

[2019-05-07 14:23] dsouzadaniel commented on #209
It is, but as mentioned above :

This is syntatic sugar to replace the "subset" with "columns" + adds the reset_index(drop=True) method by default ( which is usually appended to drop_duplicates ). This is meant to be a single method to do exactly that.

[2019-05-07 14:26] szuckerman commented on #198
First, the reason I wrote `date_trunc` before, rather than `truncate_date` is because of [the common SQL function by the same name](http://www.postgresqltutorial.com/postgresql-date_trunc/).

I like the new suggestion, but maybe include `date_trunc` as an alias as well?

An example why this is useful:

Say I have weblogs that have `user_id` and `view_date` as values. `view_date` may have precision

[2019-05-07 14:28] ericmjl opened #248 "isort command needs to change"
https://github.com/ericmjl/pyjanitor/blob/dev/Makefile#L25

Correct version:

[code]

[2019-05-07 14:31] jack-kessler-88 commented on #248
I will add it

[2019-05-07 14:33] NapsterInBlue opened #249 "`make docs` command doesn't work correctly from root"
Running gives the following

[code]

Whereas manually `cd`ing and running `make html` will yield

[code]

Already have a fix. Just wanted to open an issue first 🙃

[2019-05-07 14:36] dave-frazzetto commented on #104
I would like to work on this task!

[2019-05-07 14:37] lphk92 commented on #198
So to make sure I'm understanding, an example implementation of what you're talking about would be something like

[code]

[2019-05-07 14:38] jk3587 opened #251 "[DOC] Add Example Notebook TidyTuesday 2019-04-23"
I will be working on an example notebook for [TidyTuesday 2019-04-23](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-04-23)

[2019-05-07 14:40] lphk92 commented on #189
You don't want to use `inplace=True` though. In general it tends to be much less performant, and I think they might be dropping support for it sometime in the future.

[2019-05-07 14:43] dave-frazzetto commented on #189
The implementation was changed.
````inplace = True```` was not used, as not needed for this function.

I would consider to add a new issue if we want to allow the user to be able to do advanced removal of columns in a multiindex table. E.g.
[code]
the user could explicitly request to delete all the columns called "one" from the inner level.

[2019-05-07 14:45] Rajat-181 opened #253 "[DOC] Remove example.py in examples directory"
The code in the example.py file currently reads some data frame from a file called 'dirty_data.xls'.
We can change this to include a concrete example.

[2019-05-07 14:45] catherinedevlin opened #254 "[DOC] clarify docstring for encode_categorical"
For those not familiar with Pandas' `category` dtype, the docstring for `encode_categorical` isn't very clear as it stands.

[2019-05-07 14:54] mdini opened #255 "[ENH] find_replace on multiple columns"
modify find_replace to be applicable to a list of columns

[2019-05-07 14:57] lphk92 commented on #162
I will take a crack at this ticket

[2019-05-07 14:58] NapsterInBlue opened #256 "[TST] test_convert_unix_date should be skipped on Windows"
Running `python -m pytest` on a Windows computer yields the following

[code]

the test should be skipped when running from one of our normie computers ¯\\_(ツ)_/¯

[2019-05-07 15:02] catherinedevlin opened #257 "[INF] requirements-dev.txt needed"
`make check` requires `black` and `isort`, which aren't included in requirements.txt.  We should make a requirements-dev.txt containing them.

Should the requirements for building docs go in there, too?  Otherwise people installing pyjanitor will get Sphinx, etc. whether they ever want to build the documentation or not.

[2019-05-07 15:07] #213 closed

[2019-05-07 15:11] ericmjl opened #259 "[TST] Tests do not cause Azure to return an error if it fails"
Most recent set of PRs do not fail even when code issues are present. I am not quite sure why. We need to make sure that if tests fail, that Pipelines throws an error. My current hypothesis is that bunching multiple different tests into one command, Pipelines will only return exit code of the last one, and not the intermediates.

[2019-05-07 15:13] Juanlu001 commented on #257
`requirements.txt` are [for applications](https://caremad.io/posts/2013/07/setup-vs-requirement/), what about using `extras_require` in `setup.py`, or even [`setup.cfg`](https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files)?

[2019-05-07 15:14] jcvall commented on #104
Sure!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-07 15:16] NapsterInBlue commented on #257
Great idea. In turn, we should be sure to update the "Contributing" part of the docs!

[2019-05-07 15:26] dsouzadaniel opened #262 "[ENH] Deprecate "reset_index_inplace""
In an effort to move away from all "inplace" optimizations to futureproof pyjanitor, I propose deprecating the reset_index_inplace.

@zbarry  Thoughts? 😄 : 👴-> 💀

[2019-05-07 15:27] zbarry commented on #262
Kill it ded 👍

[2019-05-07 15:28] NapsterInBlue opened #264 "Utilize autosummary Sphinx directive in API Reference"
## Proposal

A consolidated list of functionality would go a long way in [our API Reference](https://pyjanitor.readthedocs.io/api.html) section.

Other libraries have leveraged the [autosummary](http://www.sphinx-doc.org/en/master/usage/extensions/autosummary.html#directive-autosummary) Sphinx directive to achieve this to great effect. For instance:

* Pandas: [Docs](https://pandas.pydata.org/pand

[2019-05-07 15:30] #208 closed

[2019-05-07 15:39] #249 closed

[2019-05-07 16:06] #259 closed

[2019-05-07 16:08] HectorM14 commented on #59
Updating names is becoming a bit more complicated. For example we currently have:
[code]
Following the current style we've been using, we would update this to:
[code]
But quick, intuitive usage of this function from `example.py` is:
[code]
With the proposed changes, this would become (due to rearranging of argument order):
[code]
Which is excessively more complicated. So our fix will have to be mo

[2019-05-07 16:14] dave-frazzetto commented on #104
I like where the proposed implementations are going, however I would like to point out what mentioned by @szuckerman  again. Although janitor favors functions concatenation, it does not seem to me intuitive that the function is implemented as a df.read_csvs().
In the current implementation the df argument is not used and overwritten on return.
I propose to move (as suggested) the function to a ```

[2019-05-07 16:31] szuckerman commented on #104
For inspiration: dask already has this functionality, [in that you can use wildcards to read all the files with similar filenames](http://docs.dask.org/en/latest/dataframe.html).

The difference with dask, though is that since it processes on a distributed system, all the files "live separately" when running a function on the dask dataframe. In our case they would need to be combined into one `Dat

[2019-05-07 16:35] ericmjl commented on #257
Thanks @catherinedevlin, @Juanlu001 and @NapsterInBlue! Let me finalize the checklist here:

- [ ] Create a `requirements-dev.txt` with `black`, `isort`, `sphinx`, `nbsphinx`, and others.
- [ ] Update the `CONTRIBUTING.rst` file.
- [ ] (optional) Update Azure pipelines with a venv-based setup on macOS, Linux and Windows.

[2019-05-07 16:35] szuckerman commented on #198
Here's some example code for truncating by month. You'd obviously need to change it to match the `pyjanitor` methods:

[code]

[2019-05-07 16:42] jcvall opened #273 "[ENH] regex_edit() function"
This is something I do often to clean up some data.  I use the replace function inside of the pyjanitor transform_column or transform_columns function.  I wonder if it would be better to create a single function called regex_edit() or to leave it like how I do it and document it for others. Thoughts?

![image](https://user-images.githubusercontent.com/20308031/57317087-4af5c600-70c5-11e9-89ee-fc3c

[2019-05-07 16:52] lphk92 commented on #198
I think in general we should avoid using `.apply()` where at all possible, since it is typically the slowest method for doing any transformation on a DataFrame. Do you think it's worth having separate functions for year, month, and day truncation?

[2019-05-07 17:05] lphk92 opened #274 "[ENH] Remove uses of `.apply()` in favor of pandas functions"
There are several places in the code where `.apply()` is being used, but there are pandas optimized functions that could be used instead for better performance.

It would be good to go through all of the uses of `apply()` in the code to see what can be replaced with more performant functions.

[2019-05-07 17:10] szuckerman commented on #198
I think it should mimic the `SQL` `date_trunc` I [referenced previously](http://www.postgresqltutorial.com/postgresql-date_trunc/). There are 13 truncations there, but I would guess that the most important are year, month, day, hour (and maybe quarter), and have those options be a parameter.

[2019-05-07 17:13] szuckerman commented on #198
On second thought, maybe this function should be changed to something like `floor_date`. That way you can also have parameters for things like `first_day_of_week` in addition to `year`, `month`, etc.

The [date_util](https://dateutil.readthedocs.io/en/stable/) package might help with some of the work.
Similarly, here's [a stackoverflow question](https://stackoverflow.com/questions/42285130/how-flo

[2019-05-07 17:19] #248 closed

[2019-05-07 17:38] #215 closed

[2019-05-07 17:40] #183 closed

[2019-05-07 17:43] #243 closed

[2019-05-07 17:45] ericmjl commented on #253
`example.py` should be deleted. I will be changing the title of this issue.

[2019-05-07 17:49] ericmjl commented on #254
Yes, thank you for the catch, @catherinedevlin!

Would you be kind enough to elaborate on where the lack of clarity currently is? In particular, what might a newcomer expect that is different from the behaviour of `encode_categorical`?

[2019-05-07 17:52] #165 closed

[2019-05-07 18:12] kurtispinkney opened #280 "Update contribution (section 5) to remove flake8 statements"
Going to edit documentation to say make lint and make format should be run instead of flake8 to clean code before a PR.

[2019-05-07 18:17] #218 closed

[2019-05-07 18:22] jk3587 commented on #273
While typing up an example usage notebook, I also ran into this convenience issue. I used an implementation of the other example notebooks that did something like this:

[code]

Wondering if all the pandas string methods can be turned into pyjanitor functions?

[2019-05-07 18:50] mdini opened #284 "transform_column: transform multiple columns"

[2019-05-07 18:51] dsouzadaniel opened #285 "[ENH] Reset index after row/s delete in row_to_names() ?"
I see a possible operation that may cause the index to go out of whack in the row_to_names() function:
[code]

In both these cases, when rows are deleted post a column name change operation, there is a good chance of having a bad index.

Sometimes it's exactly what you need, but most of the time it's probably bad news. 🐈

Need input on whether to make reset_index(drop=True) default? or make the re

[2019-05-07 18:53] NapsterInBlue opened #286 "groupby_agg doesn't support multi-index groupby objects"
Elaborating a bit on the [existing unit test](https://github.com/ericmjl/pyjanitor/blob/17f8a4b30fe8eb610a9955af43057e635f56e04c/tests/functions/test_groupby_agg.py#L6) for this function, I want to add a simple column and group on both

[code]

Running yields

[code]

I think we just want to change [this section](https://github.com/ericmjl/pyjanitor/blob/17f8a4b30fe8eb610a9955af43057e635f56e04c/ja

[2019-05-07 18:54] #162 closed

[2019-05-07 18:58] NapsterInBlue commented on #256
Gonna take a crack at this!

[2019-05-07 19:00] ricky-lim commented on #245
I'm working on this ...

[2019-05-07 19:03] dsouzadaniel commented on #244
beginning work on this!

[2019-05-07 19:09] StephenSchroeder opened #287 "Inconsistent docstrings on functions returning Pandas Dataframes"
Many return docstrings on functions returning Pandas Dataframes in functions.py are inconsistent.

ex:
[code]

[2019-05-07 19:19] #158 closed

[2019-05-07 19:19] #280 closed

[2019-05-07 19:20] NapsterInBlue commented on #245
Ah, whoops. My issue was a duplicate of this.

Body of the issue might be useful, though!

#264

[2019-05-07 19:25] ericmjl commented on #264
I have copy/pasted your post onto #245. Closing this.

[2019-05-07 19:25] #264 closed

[2019-05-07 19:40] NapsterInBlue commented on #255
I don't know a lot about decorators, but it seems like we've got a similar pattern at multiple points in the codebase:

- [1](https://github.com/ericmjl/pyjanitor/blob/ceca343d4dad07aa7602ff7f6742af96c560e872/janitor/functions.py#L249)
- [2](https://github.com/ericmjl/pyjanitor/blob/ceca343d4dad07aa7602ff7f6742af96c560e872/janitor/functions.py#L302)
- [3](https://github.com/ericmjl/pyjanitor/blob/

[2019-05-07 20:01] catherinedevlin commented on #257
OK, I'll work this one myself if that's good with everybody!

[2019-05-07 20:13] #256 closed

[2019-05-07 20:13] dave-frazzetto commented on #104
This is my current implementation proposal:
[code]
It takes a single argument for the file path, that accepts regular expressions (via the glob package).
It is not a pandas Dataframe function, so it cannot be concatenated (it would not make sense logically)
By default it concatenates the csf files in a single dataframe.

[2019-05-07 20:21] Eidhagen opened #292 "Some updates to the documentation"
1. In the documentation table of contents rename Example notebooks to Examples.
2. Remove the contributing info from the notebook pyjanitor_intro.ipynb.
3. Remove the bold from pyjanitor in the top level title. Doing this to avoid bold in the documentation table of contents.
4. Change so it is just one "top-level" title in the notebooks pyjanitor_intro and tidytuesday_20190423.ipynb.
5. Change the

[2019-05-07 20:58] #262 closed

[2019-05-07 20:59] #292 closed

[2019-05-07 21:03] szuckerman commented on #104
Looks good!

A few comments:

### 1

[code]

I'm not sure we need to append "csv" to every file. There are many instances where multiple files may not have a csv filename, but will be comma delimited. It's more common for tab-separated files, though. In that case, I would propose adding a `sep` argument, similar to how you can do `pd.read_csv('file', sep="\t")` to read a tab-delimited file.

### 2

[2019-05-07 21:08] ricky-lim opened #299 "[INF] Make requirements.txt smaller"
Follow-up from #257

The idea is to have feature-specific requirements.txt. Such as for biology, specifically requires biopython.

so we can install the package per feature as needed, such as with extra biology. It goes `pip install "pyjanitor[biology]"`

The example of such implementations in `setup.py` is available at this link: https://setuptools.readthedocs.io/en/latest/setuptools.html#declari

[2019-05-07 21:13] catherinedevlin commented on #254
The old docstring doesn't make clear that it's talking specifically about a Pandas `category` dtype, which many users may not know about.  Without knowing better, I expected `encode_categorical` to do something visible to the data, not just change its dtype - maybe replace the string values with an integer, as if for a foreign key.

[2019-05-07 21:14] catherinedevlin commented on #254
Closed by https://github.com/ericmjl/pyjanitor/pull/266

[2019-05-07 21:14] #254 closed

[2019-05-07 21:17] #287 closed

[2019-05-07 21:18] #244 closed

[2019-05-07 21:31] ericmjl commented on #255
Perhaps so! I have always been a bit lazy and just provided `X_column(s)` as corresponding pairs as the need arose. I'd like to see a bit more standardization of my laziness into something more formal here. @NapsterInBlue, do you have any ideas to propose? If you do, please post them here, so we can flesh out the implementation in the open first.

[2019-05-07 21:43] #286 closed

[2019-05-07 21:49] jack-kessler-88 commented on #245
I made a branch that experiments with changing the doc structure so we have and index page that gives summaries of chemistry, finance, functions etc submodules with links to a page per submodule. It should be pretty simple to modify it to fit any future changes in how we want to document the functions

[2019-05-07 22:00] #251 closed

[2019-05-07 22:01] NapsterInBlue opened #302 "groupby_agg() axis argument too restrictive?"
## The Issue
Having some trouble with this line in [the current implementation of groupby_agg](https://github.com/ericmjl/pyjanitor/blob/0e2dca51e5e6f9c43cedfbfddf7748b07453f6a6/janitor/functions.py#L2788)

[In our test suite for this function](https://github.com/ericmjl/pyjanitor/blob/27d182858ada4153634f3bb71609d3247471c1dd/tests/functions/test_groupby_agg.py#L56), we had to get the "count of re

[2019-05-07 22:08] catherinedevlin commented on #135
I think I can produce this as requested from @jcvall 's PDF if needed!

[2019-05-07 22:09] #257 closed

[2019-05-07 22:22] #245 closed

[2019-05-08 00:57] ericmjl opened #303 "bin_numeric is missing from the docs "General Functions" page"
As per title.

[2019-05-08 00:58] ericmjl opened #304 "[DOC] General Functions page should allow for clicking to access the actual function docstring"
Right now, it's just a table. However, we need to be able to link each function to their actual docstring, so that one can figure out how to use the function.

[2019-05-08 01:19] ericmjl commented on #274
Indeed! I have labelled this one as a "good intermediate issue".

The workflow probably would look like this:

- comb through the codebase and find the ones where `.apply()` is used
- identify whether an analogous pandas-optimized function exists
- replace the function and test

@lphk92, do you happen to have an example function that you could document here? That can be taken up by another newcome

[2019-05-08 02:33] ericmjl commented on #135
Thank you, @catherinedevlin, this would be a welcome contribution!

[2019-05-08 02:35] ericmjl commented on #284
@mdini if you'd like to take on this issue, please let us know here!

[2019-05-08 03:00] ericmjl commented on #59
@HectorM14 I wouldn't worry too much about the kwargs. In Python, explicit is better than implicit, generally speaking. I find myself writing out kwarg names even though it is sometimes easier to not do so, because I recognize that it makes the code more readable, actually. I would encourage you to keep going with the PRs :smile:.

[2019-05-08 03:21] HectorM14 commented on #59
Thanks @ericmjl , explicit is good!
I actually came across this example on [SO](https://stackoverflow.com/questions/49802412/how-to-implement-deprecation-in-python-with-argument-alias):

[code]
using this as a decorator we would be able to do:
[code]
With this method, updating the argument names would be much faster, and when the deprecation period has expired, we only need to delete one/two lines

[2019-05-08 03:28] ericmjl commented on #59
This is a really great find! I'm all for reducing the maintenance burden :smile:. Does this mean you'd redo the name changes already PR'd? I don't want to put too much pressure on you, but if so, that'd be superb!

[2019-05-08 03:39] HectorM14 commented on #59
Cool! `utils.py` sounds like a good place.

I'll link to the SO post in the `_deprecated_alias` docstring.
I'll start with a PR that includes these new functions, and include some tests to make sure it works/fails/warns as expected. After that, I'm fine updating the previously changed functions and moving forward. I actually was considering revisiting those functions anyway after learning that the

[2019-05-08 10:18] ericmjl commented on #187
Thanks @SorenFrohlich! Looking forward to your PRs :smile:.

[2019-05-08 10:22] ericmjl opened #306 "[TST] Tests should have docstrings that reveal their intent"
The test docstring should reveal what they are intending to test, in plain English. Even if the name is already very informative, having the plain English comment right next to it and in context would very much help with maintenance.

[2019-05-08 12:11] ericmjl opened #307 "[DOC] Feedback on the PyCon 2019 pyjanitor sprint"
cc: @jekwatt @kurtispinkney @lphk92 @jonnybazookatone @SorenFrohlich @dave-frazzetto @dsouzadaniel @Eidhagen @mdini @kimt33 @jack-kessler-88 @NapsterInBlue @jk3587 @ricky-lim @catherinedevlin @StephenSchroed

Thank you all for coming to the pyjanitor sprints! I had a ton of fun sprinting with you all, and I am so humbled that you all came on board and quickly made so many improvements to the code,

[2019-05-08 14:26] szuckerman commented on #198
I think this is still useful, but I forgot about the [`pd.Grouper`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html) function that accomplishes this as well for a `DataFrame`. It accepts various frequencies for which to group by; anything mentioned on [this page](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html).

One thing to think about, thoug

[2019-05-08 14:28] jekwatt commented on #203
I've created a branch `issue-203` and set upstream of this (I don't see it now and I may have to do it again).  When ready to open a PR, I will reference this issue.

[2019-05-08 14:50] jk3587 commented on #284
Hi @mdini Does this have a different functionality than `transform_columns` ?

[2019-05-08 15:11] mdini commented on #284
@jk3587 Sorry i didn't see there is a function transform_columns. But why do we have transform_column then?  In my opinion transform_columns is enough and the user can call transform_columns with a list of one element.

[2019-05-08 15:13] ericmjl commented on #198
This is interesting!

I wanted to leave this thought here, even though I am currently lacking the words for the context surrounding the thought: it'd possibly go well with `groupby_agg`, which was contributed at the sprints.

[2019-05-08 15:23] szuckerman commented on #242
A few initial ideas come to mind:

- With `add_column` I wouldn't want to add the same column multiple times (however, I believe the current implementation will throw an error if the column already exists).

- filtering functions probably won't be affected (since the data is already filtered for a given range)

- `convert_*_date` functions might be problematic since it might assume that the input

[2019-05-08 15:27] ericmjl commented on #284
@mdinin this was a design choice I made early on, which in retrospect may not have been the best. I had created the singular and plural versions of a function where relevant. Maybe it's better to _only_ provide the plural version? @jk3587 what are your thoughts here?

I know that @zbarry and @szuckerman raised the same questions and didn't mind it at first, but looking at the API and how much it m

[2019-05-08 15:35] ericmjl commented on #104
@dave-frazzetto, would you be kind enough to help me regain context here: has a PR been made, and if not, would you like to put one in for this issue?

[2019-05-08 15:52] SorenFrohlich commented on #242
the function ´´´convert_unix_date(df, column)´´´ does not have the idempotence property. It is converting the values into int which throws an error when the value is datetime formart.

I believe many of the convert_"some date format" functions does not have the property.

[2019-05-08 16:06] HectorM14 commented on #59
I have been merging from `upstream` before committing, should I be rebasing instead?

[2019-05-08 16:34] jk3587 commented on #284
While working on a TidyTuesday notebook example, I came across R's `mutate` function which seems to be essentially the `transform_columns` that is currently implemented but being allowed to transform multiple columns with different functions.
[code]

The pandas documentation has a page comparing R vs pandas functions and it shows `mutate` is most similar to `df.assign` [link](https://pandas.pydata

[2019-05-08 16:48] szuckerman commented on #284
I like the idea of only having the plural version of the function. To still give it the same functionality of a "singular" function, there's a few options:

1. Allow `column` and `columns` arguments; `column` would take a string instead of a list and would work like `transform_column`.
2. Only allow a `columns` argument, but if a user inputs a string instead of a list you check it with something l

[2019-05-08 17:00] ericmjl commented on #59
Rebasing works as well! It's a suggestion from @zbarry, which, frankly speaking, I rarely do, because it's just easier to remember `git fetch upstream; git merge upstream/dev`. :smile:

[2019-05-08 17:04] chendaniely opened #317 "Consider moving project to pyopensci"
With the launch of pyopensci, this may be a great place for the package to get more exposure.

[2019-05-08 19:23] zbarry commented on #317
This seems like an interesting idea. Looking at their [meeting notes](https://github.com/pyOpenSci/governance/tree/master/meeting-notes), it seems that their org & its structure is very much a work in progress. Probably good to evaluate later on down the road once the project begins to mature.

[2019-05-08 21:03] ericmjl commented on #2
Closing this issue, as I think we have a suite of starter examples inside the docs page!

[2019-05-08 21:03] #2 closed

[2019-05-08 21:06] ericmjl commented on #4
@JoshuaC3 I think this should be shown inside an example Jupyter notebook! What do you think? We have a bunch of notebooks already present, and can show how we go from data that is dirty (and has nullity) to data that is clean and densely populated!

[2019-05-08 21:07] ericmjl commented on #176
@zbarry just trolled us, @szuckerman 😄

[2019-05-08 21:07] #176 closed

[2019-05-08 21:10] ericmjl commented on #152
@szuckerman I just realized I let this ball drop.

We now have a data dictionary thingy, and I think you could add another custom accessor that allows for validation of a dataframe. Or it could just be a function, just as you provided. What do you think?

Btw, I'm so happy you brought up PandasSchema; the code shown on their examples are really awesome!

[2019-05-08 21:12] ericmjl commented on #175
@jk3587, just want to state again that you did a great job with function organization! I'm so glad that you and @ricky-lim could work together to get this onto the docs. I am going to close this issue, as I think it's considered settled! Going forth, we will have to make sure that the docs are kept up-to-date.

[2019-05-08 21:12] #175 closed

[2019-05-08 21:13] ericmjl commented on #182
Since @szuckerman is looking at removing `check` altogether, and since we have #122 ongoing, I'm going to close this issue.

[2019-05-08 21:13] #182 closed

[2019-05-08 21:15] szuckerman commented on #175
I think that the organization above is great for the functions, but I think that `get_features_targets` should be removed from `functions.py`. It doesn't return the same `DataFrame` and cannot be used as an interim cleaning step.

There are a few other functions I've thought of adding that do something similar (for example, to add  a `to_prophet` method to output the data to [Facebook's Prophet](h

[2019-05-08 21:17] mdini commented on #284
And thank you for the great sprint and this great package :-)

[2019-05-08 21:21] ericmjl commented on #175
Great that you pointed this out! I am going to raise a separate issue for this one. Perhaps you could raise single issues for a `to_prophet` kind of function as well? I'm not sure what this module would be called... `janitor.ml`? Naming things in programming is hard :).

[2019-05-08 21:24] ericmjl opened #318 "[ENH] get_features_targets should be moved out of functions.py"
# Brief Description of Fix

Currently, the docs show that `get_features_targets` is in `functions.py`. @szuckerman suggests that it should be moved out of `functions.py`, because it doesn't return the same DataFrame and cannot be used as an interim cleaning step.

I would like to propose a change, such that we create a new submodule called `ml.py`. There, we can house the functions that return an

[2019-05-08 21:26] szuckerman commented on #175
Maybe just toss it in the io module? It could be the “o” part.

[2019-05-08 21:26] ericmjl commented on #111
@szuckerman @zbarry I think this issue is irrelevant at this point. Going to close it.

[2019-05-08 21:26] #111 closed

[2019-05-08 21:27] #67 closed

[2019-05-08 21:27] #34 closed

[2019-05-08 21:27] ericmjl commented on #34
@yozlet closing this issue for now. Please feel free to reopen.

[2019-05-08 21:30] ericmjl commented on #175
Definitely an idea. The "o" part usually refers to on-disk, though, I thought?

[2019-05-08 21:49] yozlet commented on #34
Thanks @ericmjl, and sorry for not replying earlier - I've been swamped. If I see particular methods I want from Agate, I'll file individual issues.

[2019-05-09 10:57] #59 closed

[2019-05-11 14:40] zbarry commented on #59
@HectorM14 - that decorator is a great find. Thanks for adding it!

[2019-05-11 14:57] zbarry opened #325 "[DOC] Sphinx code block width needs to be wider"
Firefox & Chrome on macOS

<img width="705" alt="image" src="https://user-images.githubusercontent.com/4762711/57571327-91effe00-73da-11e9-8b42-034ac4770008.png">

[2019-05-11 15:09] ericmjl commented on #325
Is it scrollable, @zbarry?

[2019-05-11 15:09] zbarry commented on #325
Mhm

[2019-05-11 15:17] zbarry opened #326 "[DOC] Remove reference to `reset_index_inplace` in example notebook"
#262

https://github.com/ericmjl/pyjanitor/blob/dev/examples/notebooks/pyjanitor_intro.ipynb

[2019-05-11 15:19] zbarry commented on #325
@ericmjl - you can see throughout the inline docs notebooks (really cool, by the way) that stuff gets cut off. I think we can afford to increase that column's width a little bit... right now, it's pretty skinny.

[2019-05-11 15:27] ericmjl commented on #325
:thumbsup:

Let me rename this issue.

[2019-05-11 15:29] zbarry opened #327 "[DOC] TidyTuesday examples need to be cleaned up"
https://pyjanitor.readthedocs.io/notebooks/tidytuesday_20190423.html

* Title should be changed
* Needs a pyjanitor intro rather than someone else's text copy-pasted (though maybe this could be included as a quote block to make it explicit that this is not janitor content)
* Python warnings in output blocks need to be removed
* Resulting dataframes from each step should be previewed in cell output

[2019-05-11 15:30] ericmjl commented on #327
Great catches, @zbarry! Thanks for doing these checks :smile: :tada:

[2019-05-11 15:31] zbarry opened #328 "[DOC] Add syntax highlighting to inline example notebooks"
There's no Python code highlighting, currently (text is just black in the code cells).

[2019-05-11 15:35] zbarry commented on #304
Hmm, this seems to be somewhat high priority, because people can no longer read the API docs to figure out how to use most pyjanitor functions...

[2019-05-11 15:45] ericmjl opened #329 "[DOC] In-line examples in functions.py docstrings should be made into notebooks"
# Brief Description of Fix

Currently, the docs, there are in-line examples that make the docstrings quite long. These are nice, but make `functions.py` difficult to navigate, in my opinion (lots of scrolling).

I would like to propose moving those in-line examples into notebooks that go in the `examples/notebooks` directory.

A thing that _could_ be done, but might be overkill, is to make one not

[2019-05-11 15:49] zbarry opened #330 "[TST] add skipif decorator for biology module test"
https://github.com/ericmjl/pyjanitor/blob/dev/tests/biology/test_join_fasta.py

[2019-05-11 15:53] zbarry commented on #329
Could write a script that fills in a skeleton notebook with the docstring from each function. We'd then go in and convert them into actually-working code. It might make doing this not overkill at all.

[2019-05-11 17:53] HectorM14 commented on #59
Yes! It's a very clean method that I would have been happy to find in the Python standard library. I assume most projects go through name changes and deprecation at some point. 🤷‍♂️

[2019-05-11 18:44] zbarry opened #332 "[TST] Add a type-checking linter to the CI build?"
Like mypy?

@ericmjl, @szuckerman

[2019-05-11 18:57] HectorM14 opened #333 "[TST] Test coverage of functions (and lines) needs to improve"
While updating function argument names, I came across a function without a test, and was curious what other functions didn't have tests. I ran the `pytest coverage` plugin and got the following results.

[code]

This tells us which lines are not covered, but more importantly I wanted to know which functions have no coverage at all. Does anyone know how to get that answer? For the most part, the la

[2019-05-11 20:20] #135 closed

[2019-05-11 20:31] #222 closed

[2019-05-11 20:51] ericmjl opened #336 "[DOC] Normalization notebook figures are missing"
# Brief Description of Issue

Currently, the Normalization and Standardization notebooks are not showing figures properly.

This is a known issue that @catherinedevlin raised while putting in PR #320. I merged this PR regardless, just so that the notebook could get in first.

# Relevant Context

- [Normalization docs page](https://pyjanitor.readthedocs.io/notebooks/normalize.html)
- [Notebook](htt

[2019-05-11 22:19] #253 closed

[2019-05-11 22:36] ericmjl commented on #332
Looking into it on a branch. Starting with a mypy configuration file.

[2019-05-11 22:39] ericmjl commented on #333
This is a very useful issue that you've raised, @HectorM14!

I'm looking into how to get codecov working properly here, so that we can ensure that there's high test coverage in the codebase.

[2019-05-11 22:52] #330 closed

[2019-05-11 22:53] zbarry commented on #332
I think the important bit is that no errors from mypy appear when:

1) a function calls another function with arguments of the wrong type when types are specified
2) a function returns objects that don't match its return type specification

I don't know how crazy you can get with mypy config, but I think the more strict you get with it, the greater chance it'll get hung up on non-important edge ca

[2019-05-11 23:13] zbarry commented on #332
Case in point:

[code]

`column_names` don't *really* have to be iterables of strings, though they most often are. In cases like this, I often annotate like: `Union[Type1, Type2, Any]`, which is therefore useful in a documentation sense, but not a type checker one.

[2019-05-12 00:02] zbarry opened #339 "[BUG] filter_date unnecessarily enforces column name to be a string"
@ericmjl if you could confirm this is truly not necessary, I'll remove the `check` line in my typing/code refactoring PR I'm working on

[2019-05-12 00:10] ericmjl commented on #339
It could be unnecessary, for sure.

Canonically, we usually use a string column name, but I guess that doesn't _exactly_ have to be necessary.

[2019-05-12 00:30] ericmjl opened #342 "[TST] Add codecov for automatic checking of code coverage"
As per title.

[2019-05-12 01:10] #342 closed

[2019-05-12 01:11] zbarry commented on #339
Yeah, my thought on it is that 99% of the time, it's going to be a string, but if there's no obvious benefit from restricting users from doing something (like passing something that's not a string), we might want to lean towards the side of giving them as much freedom we can to use the package how they want.

[2019-05-12 01:19] zbarry commented on #304
Did you change anything? Turns out they are links:

https://pyjanitor.readthedocs.io/reference/general_functions.html

[2019-05-12 01:19] ericmjl commented on #339
Agreed here.

Beyond this, I wonder where having opinionated choices (i.e. the way `black` does it) might be a good idea in `pyjanitor`?

[2019-05-12 01:20] ericmjl commented on #342
@zbarry @szuckerman gents, just a heads-up, we have `codecov` reports automatically being pulled in with every PR!

[2019-05-12 01:21] zbarry commented on #342
👍

[2019-05-12 01:21] ericmjl commented on #333
@HectorM14 just wanted to let you know, I just enabled codecov for this repo!

[2019-05-12 01:34] HectorM14 commented on #333
Cool, what are the practicalities @ericmjl? It generates a report on increase/decrease of coverage, and a maintainer decides, or will it fail the build if there's a decrease in coverage?

[2019-05-12 01:35] ericmjl commented on #304
Yes, I think fixed this in one of those mega-PRs - #331 was the one.

[2019-05-12 01:35] #304 closed

[2019-05-12 01:36] ericmjl commented on #333
It's definitely "maintainer decides". Lowered test coverage is a good flag that something was not caught, if a new feature was added.

[2019-05-12 01:38] HectorM14 commented on #333
Got it, it was a quick addition!

[2019-05-12 01:39] ericmjl commented on #333
Yeah! As it turns out, the first time I set it up and failed, I just... didn't read the docs properly :smile:.

[2019-05-12 01:41] ericmjl commented on #242
@SorenFrohlich @szuckerman I'll leave this in both your hands, and trust your judgment here.

I've set up more checks on the CI system, so it's harder to break - feel free to go crazy!

[2019-05-12 01:43] zbarry opened #344 "[ENH] Move `_` private functions in functions.py to utils.py"
File is so long right now...

[2019-05-12 01:59] zbarry opened #345 "[ENH] Add __repr__ to `DataDescription` class"
which is probably preferable to `display()`

[2019-05-12 02:02] ericmjl commented on #104
Ah, I just realized, the `io` module is available! Closing!

[2019-05-12 02:02] #104 closed

[2019-05-12 02:02] ericmjl commented on #214
Closing, since we've got the PR merged!

[2019-05-12 02:02] #214 closed

[2019-05-12 02:05] HectorM14 opened #346 "[DOC] Update Azure build status"
# Brief Description of Fix

I noticed we still have the Travis CI build status badge, which is failed because we switched to Azure Pipelines. I collected the links that we would apparently use:

[code]

These links can be generated from a menu on the build's page. However, these are for the `dev` branch, and I'm not sure if it should be for `dev` or `master` moving forward.

# Relevant Context

-

[2019-05-12 02:11] zbarry opened #347 "[DOC] making docs requires pyjanitor-dev kernelspec"
in `nbconvert_config.py`. Is there a way to automagically set this up for people (like me 🤔 )?

[2019-05-12 02:16] zbarry opened #348 "[DOC] Change ordering of makefile commands in CONTRIBUTING"
[code]

`format` should come before `lint` because the former fixes problems that the latter raises errors on.

[2019-05-12 02:25] ericmjl commented on #347
A makefile command, perhaps?

[2019-05-12 02:26] ericmjl commented on #346
@HectorM14 please feel free to PR in! Everything goes onto the `dev` branch. Once we have one or two more PRs in, I will cut a 0.17 release.

[2019-05-12 02:33] zbarry commented on #347
Sure. Could get fancy and make the existence of the kernelspec a target of the `notebooks` target so it is set up the first time you run it.

[2019-05-12 02:34] HectorM14 commented on #346
Done! Exciting!

[2019-05-12 03:11] #346 closed

[2019-05-12 12:52] #339 closed

[2019-05-12 16:25] zbarry opened #354 "[ENH/BUG] Assertions used in place of raising errors in various functions"
* `concatenate_columns`
* `deconcatenate_column`
* `DataDescription`
* `clean_names`
* `encode_categorical`
* `label_encode`
* `fill_empty`

[2019-05-12 16:27] zbarry opened #355 "[BUG] Type annotations for `column_names` in some functions actually shouldn't accept non-lists"
Like:

* `deconcatenate_columns`
* `concatenate_columns`

[2019-05-12 21:37] jk3587 commented on #327
@zbarry I'll fix up https://pyjanitor.readthedocs.io/notebooks/tidytuesday_20190423.html

[2019-05-12 22:54] #344 closed

[2019-05-12 22:54] #345 closed

[2019-05-12 22:55] #348 closed

[2019-05-13 01:55] ericmjl opened #357 "[DOC] Update CONTRIBUTING.rst with skeleton function and tests"
# Brief Description of Fix

Currently, [`CONTRIBUTING.rst`](https://github.com/ericmjl/pyjanitor/blob/dev/CONTRIBUTING.rst) gives minimal instructions on how to contribute a new functions.

@zbarry had a great suggestion in #351 to provide a [skeleton function and tests](https://github.com/ericmjl/pyjanitor/pull/351#issuecomment-491640560) that newcomers can copy/paste. This would be a great and w

[2019-05-13 04:48] ricky-lim commented on #307
Hi Eric,

A subgroup of sprinters, at least 4 people (@dsouzadaniel, @NapsterInBlue, @jk3587 + me) , analyzed with [azure](https://azure.microsoft.com/en-us/try/cognitive-services/my-apis/?apiSlug=face-api), seem to be happy and one (the lady in between) is being missed annotated (perhaps someone should do PR on this)

![pyjanitor_annotated](https://user-images.githubusercontent.com/10878392/57596

[2019-05-13 14:08] szuckerman commented on #339
I see this is closed, but what's the rationale for having the column name not necessarily be a string?

What else is someone going to put in there? The only thing I could think of would be a `list` (if they want to filter multiple columns at once, but would make more sense to chain multiple `filter_date`s together) or an integer for a column index. And it's bad practice to use numerical indices un

[2019-05-13 14:40] ericmjl commented on #339
Yeah, it got closed as part of the PR.

@szuckerman great point, your thought is related to what I was thinking about when I raised the question above re: having opinionated choices. Perhaps we should be opinionated here, and guide users to best practices?

[2019-05-14 13:40] zbarry commented on #327
Think this only resolves for one of the notebooks.

[2019-05-14 21:03] ericmjl opened #360 "[ENH] Wrap pandas string methods"
# Brief Description

One thing that might be nice is to wrap all of the string methods such that they are now method-chainable.

If this could be done programmatically, that would be awesome. Otherwise, manually wrapping ones of interest, and building up a submodule of string method operations, would be a superb alternative.

# Example API

The example API can be found in [this notebook](https://g

[2019-05-15 01:20] ericmjl opened #361 "[INF] Moving to an automatic release per PR?"
@zbarry and @szuckerman I'm super tempted to move pyjanitor to continuous releases. What do you all say? @HectorM14 I'd also appreciate your input on this, given your numerous doc and code contributions thus far.

This is inspired by Hypothesis. Every PR that gets merged has to indicate whether this is one of a major, minor or patch release. (The wave of doc PRs we've got would constitute patch re

[2019-05-15 06:03] HectorM14 commented on #361
Interesting proposal @ericmjl. I think the Testing/CI is sufficiently robust at the moment.

How do you envision the future of `pyjanitor` development? I suppose that a lot of the obvious functions have been implemented, and there will be various bug fixes/improvements/new functions in the future (especially the field-specific ones). But there will always be a list of user and contributor document

[2019-05-15 06:08] HectorM14 commented on #59
I didn't think of this previously, but should I add some tag comment to the decorators to indicate under which release the names were deprecated? After the decided major/minor release, it'll be easy to search for `#0.16x` etc and remove those lines. In a similar vein, in the unlikely event a function has multiple rounds of deprecation at different releases, a second decorator could be added for th

[2019-05-15 14:43] szuckerman commented on #361
My initial reaction is to say "go for it!", but I think that @HectorM14 has a good point regarding documentation and figuring out the overall future impact as well.

However, I think the points you make with the changelog and release types might be good to start sooner rather than later. And that doesn't mean we can't update documentation in the meantime :smile:.

[2019-05-15 14:50] szuckerman commented on #360
What about this?

Instead of:

[code]

Make the function generic:

[code]

I've been looking for a way to make the function name generic, too, (i.e. so we could use `df.str_join`
and in pyjanitor the function name would be something like `df.str_` + `method_name`) but that looks like you have to use `setattr` within a `class` and might not work with `@pf.register_dataframe_method`.

[2019-05-17 22:52] chrisfs opened #366 "[ENH] Convert stock symbol to company name"
# Brief Description

I was thinking of a function that would either convert stock symbols to company names or create a new column of company names based on stock symbols from a different column, The only issue would be to find a stable site or api that would provide the company names in return for stock symbols and handling errors when you weren't connected to the internet.

# Example API

[code]

[2019-05-17 23:19] ericmjl commented on #366
There's definitely a bunch of APIs!

I've got very little domain knowledge on finance to know which one [of these](https://www.programmableweb.com/news/96-stocks-apis-bloomberg-nasdaq-and-etrade/2013/05/22) would be most reputable. Do you have an opinion?

[2019-05-17 23:20] ericmjl commented on #307
Awww, you all were so fun to sprint with!!

[2019-05-17 23:53] chrisfs commented on #366
I don't have much on the ground experience.  If I had to make a decision right now, I would choose Bloomberg because the company is big and been around for a while. I don;t know anything about the API though.
I sent you an email through shortwhale about a related issue.

[2019-05-19 01:10] mattharrison opened #368 "expand_columns should support drop_first"
# Brief Description

In general, when you create dummy variables it is a good idea to drop one of the resultant columns as it is a linear combination of the other columns.
See https://datascience.stackexchange.com/questions/27957/why-do-we-need-to-discard-one-dummy-variable

Pandas has the `drop_first` option in `get_dummies`

I would like to propose that `drop_first` be added as a parameter to `e

[2019-05-19 04:23] #226 closed

[2019-05-19 04:41] ericmjl commented on #368
Is this **the** @mattharrison from Twitter and PyCon? :smile:

Thank you for the proposed API! I like the idea there. In line with good statistical practice, I think it should be enabled by default, would that be correct?

I'm working on getting #361 up and running, which will hopefully make me no longer a blocker to incoming PRs being released ASAP. Apologies if I can't get to it asap, but I will

[2019-05-19 13:00] #203 closed

[2019-05-19 15:54] mattharrison commented on #368
Hi Eric. Sorry we didn't get to catch up at PyCon. :(

Since you already have released your api, I would think carefully about changing the default behavior (even if it is desired).

I'm not in any particular rush. I'm going to include a reference to this feature in pyjanitor in my upcoming book. I also reference the `pandas.get_dummies` functionality and dropping of a column in the same section a

[2019-05-19 17:22] dendrondal commented on #333
I looked into the chemistry tests, and it appears that the issue is the "skipif" decorator that runs the rdkit tests only during CI. I commented these out, and the coverage jumped up to 85%. The only coverage that is missing is now several Raise statements and verifying the tqdm progress bar on  smiles2mol. The tests only took 0.68 seconds with rdkit operations run on test data, so it may be worth

[2019-05-19 22:51] ericmjl commented on #333
Thanks for the input, @dendrondal! Here are my responses inline.

Perhaps a bit of background may help explain why the `skipif` decorator exists. It was added because some sprinters didn't want to install a full cheminformatics + bioinformatics suite of tools just to hack on the core of pyjanitor. As such, we added the `skipif` decorator to let the tests pass there. I think the more relevant thing

[2019-05-20 18:38] #327 closed

[2019-05-21 23:06] dendrondal commented on #333
That makes a lot of sense, actually, since a pretty small subset of users will need to use RDKit. It sounds like so long as RDKit is used as part of the CI pipeline, it won't affect your coverage.

I'm currently working on coverage improvement for chemistry, finance, and functions. I've been able to get finance's coverage up to 89% and chemistry to 86%, and everything missed appears to be either i

[2019-05-22 00:23] ericmjl commented on #333
Cool stuff. Thanks, @dendrondal! Looking forward to seeing the PR.

[2019-05-22 20:11] jk3587 commented on #368
@mattharrison
Would this be like what you're suggesting?

With `drop_first` trigger, modifies `expanded_df` to `expanded_df.iloc[:, 1:]`
[code]

[2019-05-22 21:35] ericmjl commented on #144
@Zsailer @szuckerman @zbarry the paper has been submitted! I took what was in the `whitepaper` branch and submitted that.

@szuckerman I'm missing your email address. Also, would you prefer to include your affiliation at Audible, or would you prefer to remain independent for this paper?

As for headshots, I think I will simply link to your GitHub profile pics - so no problems there!

[2019-05-23 14:02] szuckerman opened #370 "Adding Gerrit Code Review to Repo"
# Brief Description

I just found out about Gerrit Code Review and it looks pretty nice. It integrates well with github too: http://gerrithub.io/

Here's a link to describe the features better: https://www.gerritcodereview.com/

Thoughts?

[2019-05-23 19:40] ericmjl commented on #370
Intriguing! Could you describe how Gerrit code review does things better than GitHub's code review?

[2019-05-23 19:49] ericmjl opened #371 "[ENH] Shuffle"
Dataframe shuffling of rows is done by an unintuitive syntax:

[code]

I propose adding a `shuffle` method:

[code]

This should just wrap `df.sample(frac=1)`, and would be considered super-sugary syntax for the dataframe operation. I also think `shuffle` is a more intuitive name than `sample(frac=1)`. Thoughts here?

[2019-05-23 19:51] ericmjl opened #372 "[ENH] apply_join"
An `apply_join` or `join_apply` (cannot find a better name) would be nice.

It would wrap the following `pandas` code, which I already implemented, but just haven't had the time to put into the library:

[code]

Thoughts on:

- a better name?
- usefulness?

[2019-05-23 20:16] szuckerman commented on #372
If you apply a function to all the rows, are they "reduced" somehow? Is this like adding another column? Or could there be multiple columns?

[2019-05-23 20:18] szuckerman commented on #370
Not yet 🤷‍♂

I'm going to look into it at some point, but the initial findings looked good and wanted to put this on the radar.

[2019-05-23 20:21] szuckerman commented on #371
I think that's a good idea, but I think that we should be including all the arguments from the aliased function if people want to override defaults.

For example, I can imagine people would want to be able to set `random_state` when running `df.shuffle()`.

[2019-05-23 21:54] ericmjl commented on #372
The use case here is that I want to take information from two or more columns to create a new column.

In this case, I would want to join back the result, i.e. the new `pd.Series` that results from the `apply` line.

[2019-05-24 03:00] #371 closed

[2019-05-24 18:15] szuckerman commented on #122
So, I was doing some work to fix up my package (issues with Python 3.7) and found that someone already made this package anyway 🤷‍♂

https://github.com/agronholm/typeguard

[2019-05-24 18:22] ericmjl commented on #122
Haha, my dad once told me, if we have a good idea, someone else probably has already implemented it.

The comfort I took from that statement is that "it's a good idea!" :smile:

I guess I can change this issue title to, "incorporate typeguard to perform type checking"? It's worth a test - the typechecking we have here provides informative error messages. I wonder if we can provide those error mess

[2019-05-24 18:40] szuckerman commented on #122
The error messages from typeguard are such:

For a function that has an argument `first` that should be a `list`, but instead used a `tuple`:
`TypeError: type of argument "first" must be list; got tuple instead`

For return values:
`TypeError: type of the return value must be int; got str instead` (won't matter much since everything's returning a `DataFrame`)

[2019-05-25 17:32] HectorM14 commented on #361
Glad to see the new release and that it is being implemented. Are there closed PRs that show this in action yet?

[2019-05-25 21:29] ericmjl commented on #361
No, none yet, but I'm working on the tooling steps. I'm still a bit confused as to how things have to happen though. Hypothesis' style is intricate! Maybe if we went to calendar-versioning, things would be easier haha...

[2019-05-26 00:10] HectorM14 commented on #361
If calendar versioning is easier, maybe that's a good starting point. And if that ended up being too slow a release cycle, maybe switch to Hypothesis style. So in the meantime, PRs proceed as they have been until now?

[2019-05-26 00:13] HectorM14 commented on #366
Would it be possible to find a solution that generally didn't require an internet connection? Since it's not pulling stock quotes, and the dictionary of stock symbols is mostly stable, it'd be nice not to send a request each time.

[2019-05-26 00:26] ericmjl commented on #366
In this case, I think caching the dictionary locally would be ideal. Doesn't have to be complicated: JSON/YAML or a sqlite database. (Actually, sqlite would be overkill, IMO!)

[2019-05-26 01:52] ericmjl commented on #361
Yeah, let's keep PRs coming. One of the nice things about git workflow ("gitflow") is that we can always rebase our branches on dev.

It's dawning upon me that automatic changelogs and automatic releases are kind of difficult - mostly because they involve commit history. I'm not quite sure how to deal with this in a way that is reasonable.

One way I've been thinking of is this:

1. The usual Azur

[2019-05-26 02:21] szuckerman commented on #366
After a brief Google search it looks like there’s only about 4000 publicly traded companies on the NYSE/Nasdaq.

Wouldn’t it make sense to just store this in a Pandas DataFrame instead of json or YAML? Especially cause YAML has security vulnerabilities: https://tools.cisco.com/security/center/viewAlert.x?alertId=58783

[2019-05-26 02:51] ericmjl commented on #366
That could work too! So we'd cache the pandas DataFrame, then? I think using the feather format for caching would be awesome here, especially since it's a binary format.

[2019-05-26 03:16] HectorM14 commented on #366
Are you proposing to build this and distribute with pyjanitor, or it's
built on the user's end, with the ability to rebuild at will?

On Sat, May 25, 2019, 7:51 PM Eric Ma <notifications@github.com> wrote:

[2019-05-26 03:17] HectorM14 commented on #366
Are you proposing to build this and distribute with pyjanitor, or it's
built on the user's end, with the ability to rebuild at will?

[2019-05-26 03:52] ericmjl commented on #366
I think the latter is the better way to approach this.

[2019-05-26 11:07] szuckerman commented on #366
Just a thought on how to extend this:

Coming from an R background, R has a number of included datasets that are readable as a data.frame.

Similarly, scikit-learn has a number of included datasets, but those are included as arrays but not Pandas DataFrames.

Maybe for the submodules there could be added “informational” DataFrames? Obviously the stock names for finance, but maybe a periodic table

[2019-05-26 12:00] ericmjl commented on #366
Ahhh, I see! Yes, we could also definitely make this part of the build pipeline, i.e. including scripts to build those dataframes as part of the CI or deployment story.

Gives me more impetus to do the auto-deployment thing right!

[2019-05-26 23:34] HectorM14 commented on #361
I have no prior knowledge in this area. Is this self-directed, or are you following a guide or Hypothesis's setup?

[2019-05-26 23:37] HectorM14 commented on #366
I like that idea @szuckerman ! What would be some other general purpose DataFrames?

[2019-05-27 01:18] szuckerman commented on #366
So, besides the periodic table for chemistry (which may or may not be useful for chemists - I have no idea, it’s not my field) I’m not sure what would be general purpose for biology and other sciences.

However, what I’ve used frequently recently are ones like “country abbreviations” I.e Ireland being IE, Mexico MX, etc. Similarly, for US cities having a zip code, city, state table is sometimes us

[2019-05-27 02:06] ericmjl commented on #361
I'm self-directed right now! Still learning, trying mostly to follow Hypothesis' setup right now, but the thing I've done on that private repo is starting to look like a mess XD.

I think the easiest thing to do currently is to ask for changelog updates on each PR, and have the CI system do an unconditional upload (ignoring existing versions) each time. Whenever a version change happens (manually)

[2019-05-27 02:15] ericmjl commented on #366
For chemistry & biology, which are the two domains I am in right now, the periodic table mappings to atomic weights and proton numbers are definitely useful. RDKit provides the ability to compute more complicated properties on the fly. My intern @bhallaY has PR'd them into pyjanitor.

For biologists, DNA mapping to their molecular weights is generally helpful, as is the amino acid mappings to mole

[2019-05-27 03:45] #361 closed

[2019-05-27 20:23] zbarry commented on #372
Man I've been wanting this for the longest time.

[2019-05-27 20:23] #372 closed

[2019-05-28 15:19] zbarry opened #381 "[BUG] janitor.functions text on API docs is not a clickable link"
https://pyjanitor.readthedocs.io/reference/index.html

`janitor.[biology,chemistry,finance]` are.

[2019-05-28 15:22] zbarry opened #382 "[ENH] Sort by explicitly-specified column value order"
For plotting, it's oftentimes desired to plot your conditions in a certain order, for example. Doing this in Pandas is kind of annoying:

[code]

Implementation would include checking that the values to replace exist in the column.

[2019-05-28 15:30] zbarry commented on #255
Could this also support destination column(s) so as to not replace the values in the original column(s)? Also, some sort of `check_exists` (default could be `False`) mode or whatever which ensures that the keys in your dict are present could be handy when people want such a sanity check.

[2019-05-28 16:23] ericmjl commented on #255
`find_replace`, semantically, I think means replacing the existing values. We can debate this though.

In terms of creating a new column, I think `join_apply` would be the right way to do this.

[2019-05-28 16:31] zbarry commented on #255
`transform_column` would then follow the same logic, no?

[2019-05-28 18:13] ericmjl commented on #255
That's true too. We need a vote.

[2019-05-28 18:27] zbarry commented on #255
The way to then do this would then be:

`df.join_apply(lambda df: df.copy().[function]('column_name', ...)['column_name'], 'new_column_name')`

where `[function]` is a function that operates in place on a column, right? (or something like that). In place functions also conflict with the mission to make pyjanitor functions not modify the original dataframe, as well, as far as I can see.

[2019-05-28 19:00] ericmjl commented on #255
Cognitive load wins the argument for me. I'm out right now, do you have time to do the PR?

[2019-05-28 19:05] zbarry commented on #255
Not at the moment; I'm on a deadline to get some data to a collaborator

[2019-05-28 19:20] ericmjl commented on #255
Btw:

There's a difference between in-place in memory and in-place assigned to the original. IIRC, `find_replace` should be the latter, i.e. the original dataframe is copied (I think).

[2019-05-28 19:23] zbarry commented on #255
~~hence the strikethrough :thinking:~~

[2019-05-29 03:28] HectorM14 commented on #366
These seem like good places to start. I guess the biggest contribution will getting the packaging/distribution down, and having that in place to add more in the future as needed. How big do you imagine these files would be (in relation to pyjanitor)?

[2019-05-29 03:44] hectormz opened #384 "[ENH] Inflation Adjustment"
# Brief Description

Adding inflation adjustment would be a nice addition to the `finance` tools in `pyjanitor`. The package already has an external API it uses for currency conversion, so adding another external API wouldn't be totally unreasonable.

[StatBureau](https://www.statbureau.org/en/inflation-api) provides an Inflation API, but it requires non-commercial use. There is probably something

[2019-05-29 13:44] #333 closed

[2019-05-29 14:47] zbarry opened #386 "[BUG] .drop_duplicate_columns() does not appear to drop multiple column matches"
Not fully explored to confirm, but I just had to call the method twice on a DataFrame.

[2019-05-29 18:06] szuckerman commented on #366
@ericmjl I think there's a few ways to serve optional data files, but the easiest would most likely be to have another package, something like `pyjanitor_datasets`. That way it gets hosted on PyPI and people can just download the package.

Another way to do it would be to host the files in a CDN (or even github) and then add a `load_data()` method to pull each file when the user wants.

[2019-06-03 17:31] ericmjl opened #387 "[ENH] Send row or column to an arbitrary position in the sequence of rows/columns"
# Brief Description

I would like to propose a new function that moves a row (or column) that a user picks to a new position in the sequence of rows/columns.

cc: @bhallaY: Can you fill out an example API?

[2019-06-19 21:26] zbarry opened #388 "[ENH] Find contiguous blocks of a value in a dataframe"
https://stackoverflow.com/questions/30568701/distinct-contiguous-blocks-in-pandas-dataframe

Example use case is where you apply a mask / threshold to a column, and you would like to pick out continuous chunks of time series that are above that threshold.

[2019-06-28 15:10] zbarry opened #389 "[ENH] Add variant for multiple column renaming"
Same thing as we've done before - `<func>_column` to `<func>_columns` list iteration.

[2019-06-28 15:30] zbarry opened #390 "[ENH] Better ways of dealing with multi-level column names"
When you have for example a dataframe of classes of object on the topmost level, and on the second level, (x,y) coordinates of that object. It's helpful to keep this layout, but operations like renaming those columns is pretty laborious.

[2019-06-30 23:18] ericmjl commented on #144
@Zsailer @szuckerman @zbarry, just wanted to let you all know, our paper has been accepted.

https://github.com/scipy-conference/scipy_proceedings/pull/475

Thanks for your major contributions in getting the project up and running. I couldn't have done it alone!

[2019-07-02 00:56] zbarry commented on #144
@ericmjl - good to hear!

[2019-07-11 18:52] zbarry commented on #387
This could probably be extended to multiple rows trivially, I'm thinking.

[2019-07-11 18:58] zbarry opened #391 "[ENH] Multi-dataframe simultaneous merging"
See: https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns

Most of the methods proposed are something like a `.merge().merge().merge` chaining. This seems like a pretty computationally suboptimal way of doing things (as far as I can tell). If you scroll down to the "This is an ideal situation for the join method" solution, that seems like a much bett

[2019-07-12 04:05] #307 closed

[2019-07-12 14:20] ericmjl opened #393 "Communication Channel during SciPy 2019 Sprints"
@HectorM14 and @szuckerman, for SciPy 2019, if either of you have time to join in (9a-6p, CDT) at any point (doesn't have to be for the full time), please do so! (But no pressure!)

The primary communication channel will be by our GitHub issue tracker.

If you do choose to join in, please feel free to make yourselves available through the way you feel most comfortable (text-based only, video/audio

[2019-07-12 14:34] szuckerman commented on #393
@ericmjl Great! I'd love to help. I should have some time to pop in and would like the idea of a video call. How would that be best accomplished?

[2019-07-12 14:39] ericmjl commented on #393
Thanks @szuckerman! We can take either my iPad or laptop (maybe iPad, then), and keep it on Hangouts with me, I guess.

[2019-07-12 14:49] HectorM14 commented on #393
I'm looking forward to what comes out of the sprints! I likely won't be able to do any video, but should be able to pop in via Issues or email throughout the day!

[2019-07-12 19:48] zbarry opened #394 "[ENH] Extending pyjanitor to support other data-handling frameworks"
Potential candidates include (but would be in no way limited to):

* xarray
* vaex
* Dask

The idea here is that data cleaning and higher-level functions to manipulate data structures are pretty universal endeavors in any kind of analysis. A clean API could be very beneficial for many packages.

XArray has a pandas-flavor-like accessor interface already (and is used by packages such as hvPlot):

h

[2019-07-12 20:44] szuckerman commented on #394
This is definitely a great idea, but we'd really have to see if all the functions would be applicable to parallel computing situations. That's the reason not every Pandas function is implemented in Dask dataframes. For example, median is difficult to compute when split across machines.

Nothing immediately comes to mind as being problematic in pyjanitor, but the functions still should be considere

[2019-07-12 22:35] zbarry commented on #394
Very much agreed for the parallel stuff.

[2019-07-13 15:15] rahosbach opened #395 "Fix typos and add hyperlinks to CONTRIBUTING.rst"
# Brief Description of Fix

Currently, CONTRIBUTING.rst has a number of typographic and grammar errors. Additionally, there are hyperlinks that could be added to make navigation easier.

I would like to propose a change, such that now this documentation has less typographic and grammar errors.  The fixes are:

- "You can contribute in many ways" >> "The following sections detail a variety of ways

[2019-07-13 15:16] rahosbach commented on #395
I would like to work on this issue.

[2019-07-13 15:37] keoghdata commented on #239
i would like to work on this

[2019-07-13 15:41] loganthomas opened #396 "[DOC] Notebook cell number rendering on docs don't enumerate correctly"
# Brief Description of Fix

In some of the notebook examples, the cells that indicate the order in which cells are run are off by a few steps. In the below screenshot, the first cell has `[1]` (as expected). The next cells have `[64]` and `[65]`. This may be confusing to new users that don't typically work in notebooks.
<img width="696" alt="Screen Shot 2019-07-13 at 10 29 41" src="https://user-im

[2019-07-13 15:42] TomMonks commented on #381
I will take a look at this.

[2019-07-13 15:43] RebeccaWPerry opened #397 "[DOC] bad_values nb seems to magically know which columns contain -9999"
# Show how to find columns with bad values
Currently, the docs have a good example about replacing -9999.0 values with np.Null in certain columns. It does the operation on 8 columns.

I would like to propose a change, such that now the notebook in the docs determines which columns have the -9999.0 values in them and checks for -9999.0 values after the find_replace cleaning. I also want to check fo

[2019-07-13 15:44] RebeccaWPerry commented on #397
I am working on this

[2019-07-13 15:44] asearfos opened #398 "[DOC] update contributors page making links consistent"
# Brief Description of Fix
Currently, on the contributors page, the links to authors are not consistent; some go to the contributions to the repos, others go to the contributor's profile.

I propose to make all current links go to the contributor's profile and to add additional links to each author's contributions to pyjanitor.

# Relevant Context

- [Link to documentation page](https://pyjanitor.

[2019-07-13 15:47] benjaminjack opened #400 "[DOC] Improve TidyTuesday 2019-04-23 example"
# Brief Description of Fix

Currently, the docs for "Example from TidyTuesday 2019-04-23" mostly make use of pandas_flavor, and pyjanitor functions only appear at the end of the example. It is confusing to a new user to figure out what is part of pandas_flavor and what is part of pyjanitor in this example. The opening paragraph should explain that the example demonstrates using both tools.

I woul