[2020-07-06 00:45] hectormz commented on #695
In this issue, I was just focusing essentially on what the first line of the docstrings should be like (and that there be an empty line after). I've also been kicking some thoughts about our docs in general, so once I start that issue, there may be relevant points to be discussed there

[2020-07-06 01:46] ericmjl commented on #695
Great discussion, sirs!

I'd like to advocate for atomic/simple changes. Even systematic ones, like those that @hectormz has done before, were done in batches (PR-by-PR). I have prior experience with that, when I helped redo about 70% of the pylab examples in matplotlib, so I don't think there's an issue with doing it this way. (Clean commit histories are generally quite nice, but I won't bend ove

[2020-07-06 08:18] VPerrollaz commented on #695
- Ok I thought @hectormz was starting a general docstring convention, sorry.
- One of the reasons I mentioned it was that I say a few other issues related to examples, notebook and so on I will try to have a look and see if there is some underlying central issue in those cases.

[2020-07-06 17:48] anzelpwj opened #696 "ConfigParser import error"
# Brief Description

@preetida found that she tried to import PyJanitor for the Bayesian tutorial, the code would not load and it noted an import error for ConfigParser. This is unusual, as CP is part of the standard library, but something to look in to.

<img width="562" alt="Screen Shot 2020-07-06 at 1 17 01 PM" src="https://user-images.githubusercontent.com/4054130/86623265-e400c500-bf86-11ea-8

[2020-07-06 17:52] anzelpwj commented on #696
My understanding is this was an error with a pip intall, but the error did not present itself with a conda install.

[2020-07-08 23:20] hectormz commented on #696
Hi @anzelpwj, I think that the user was accidentally `pip` installing `janitor` instead of `pyjanitor`, which looks like it was built for Python 2 (where `ConfigParser` exists instead of `configparser` now in Python 3). That seems to be confirmed with the mention of `Flask` etc

[2020-07-08 23:34] ericmjl opened #697 "Diffing two dataframes"
# Brief Description

From a chat in the SciPy 2020 virtual slack, I would like to propose adding a `df1.diff_against(df2)` function.

Diffing stuff can get pretty complex, so I'd advocate to start simple and not rush to an implementation. In particular, defining the key categories of diffing, and how they would work, is probably the important piece here.

In diffing two dataframes, the function sh

[2020-07-09 00:33] ericmjl commented on #696
It is indeed confusing - the package name is pyjanitor, but the import name is janitor. My bad, everybody, I should have just stuck with conventions and picked pyjanitor as the import name.

[2020-07-09 04:09] milicag commented on #697
Thanks @ericmjl for putting this together! Also average absolute and relative errors per some given slice defined using say groupby, as well as min and max absolute and relative error (in each grouping if desired). The stuff that https://pandera.readthedocs.io/en/latest/index.html does is also useful.

[2020-07-10 23:47] VPerrollaz commented on #697
I wonder if having some real world scenarios wouldn't help to define the API and the result.

[2020-07-11 02:09] ericmjl commented on #697
@VPerrollaz yes, it would. Haha, I also realized why I usually have to do a double-take when reading your replies, it's because of the writing style!

But in any case, because the topic came out of SciPy 2020, and in the chat someone also found the tool [daff], I'm going to close this issue. It was a nice intellectual activity though.

[daff]: https://github.com/paulfitz/daff

[2020-07-11 02:09] #697 closed

[2020-07-11 12:23] VPerrollaz commented on #697
Since english is not my mother tongue don't hesitate to point out if I say something weird.
Daff seems indeed pretty powerful and in particular does patches which seemed hard to implement.

[2020-07-11 14:57] ericmjl commented on #697
Your English is actually impeccable! I guess I read a direct style more easily. For example, the sentence

I might have written it as:

The implied message is the same, which is an irony of the English language -- go make some examples! (haha!)

I'd say your use of the former form tells me your mastery over English is pretty awesome :). (In some corners of the English-speaking world, it'd be calle

[2020-07-12 14:54] VPerrollaz commented on #697
Thank you, I'm never completely sure of how clear I am in english. To be honest I think even in french I tend to use way too many indirection.

[2020-07-13 16:05] #360 closed

[2020-07-13 20:11] #115 closed

[2020-07-13 21:21] samukweku commented on #273
#360 covers this; I suggest closing it?

[2020-07-13 21:33] ericmjl commented on #273
Do the honors, @samukweku :smile:

[2020-07-13 21:34] samukweku commented on #273
Haha! honored!

[2020-07-13 21:34] #273 closed

[2020-07-13 21:44] ericmjl commented on #360
:tada:

[2020-07-15 11:54] ericmjl opened #699 "pandera"
pandera gives us data validation in the lightweight API!

The developer, Neils Bantilan, used pyjanitor in there.

Congratulations to everyone who's made contributions :smile:

https://www.youtube.com/watch?v=PxTLD-ueNd4&feature=youtu.be

I will close this issue in a few days. Just wanted to let you all know.

[2020-07-16 20:45] hectormz commented on #696
@ericmjl is there anything we should do with this issue, or close it?

[2020-07-16 23:43] ericmjl commented on #696
Closing it out, thanks for the reminder, @hectormz!

[2020-07-16 23:43] #696 closed

[2020-07-17 04:53] hectormz commented on #695
I'll continue with this

[2020-07-17 05:05] hectormz commented on #695
I believe https://github.com/ericmjl/pyjanitor/blob/dev/janitor/spark/backend.py is using `Numpy` style docstrings. Should I convert them to `reStructuredText` style in the process?

[2020-07-18 04:07] #699 closed

[2020-07-18 08:00] samukweku opened #700 "Forward/Backward Fill"
# Brief Description

I would like to propose a forward/backward fill method, similar to ``fill`` in tidyr. In Pandas, forward/backward fill can be achieved, but you cannot select directions for different columns within a dataframe.

# Example API
    @pf.register_dataframe_method
    def fill(df, columns = ..., directions = sequence of directions(up, down, updown, downup):
        """
        Forw

[2020-07-18 22:55] samukweku opened #701 "Complete function for missing combinations of data"
# Brief Description

I would like to propose the ``complete`` function, similar to tidyr's ``complete`` function, to get missing combinations of data.

# Example API

[code]

[2020-07-19 00:57] ericmjl commented on #700
@samukweku I like the idea! I’ve had to use filling before, and the lack of a dataframe-attached API made things just a _tad_ more complicated.

[2020-07-19 00:59] samukweku commented on #700
Glad to know it could be useful to others as well. I would love to work on it, but still need opinions from others as well, especially with the name. Maybe someone has something better?

[2020-07-19 02:00] ericmjl commented on #700
To me, the function name `fill` sounds about right. The argument options could possibly use additional eyes.

I can see where the "up" and "down" comes from - it is natural to look at a table and say "fill upwards" vs. "fill downwards".

At the same time, pandas has the "forward fill" and "backward fill", which I think come from time series analysis. There, forward corresponds to "fill downwards",

[2020-07-21 23:37] UGuntupalli opened #703 "Add ability to generate boolean flags about data quality"
I just came across ```pyjanitor``` as I was trying to do some research around publicly available data-cleaning libraries in Python. First of all, thanks a lot for all the effort that has been made in developing this package and the continued effort that goes into maintaining it.

I would like to propose the addition of a new segment of methods or functions- let us call it ```time_series_data_clean

[2020-07-22 13:00] ericmjl commented on #703
Hi @UGuntupalli!

Thanks for chiming in. I'm super glad you like the package :smile:.

For data checks, I only _recently_ found the package `pandera`, for which I think is the better place for data _checking_ over data _cleaning_. Though the distinction may feel a bit arbitrary, please hear me out, the distinction makes sense only after thinking through the acts of checking vs. cleaning.

In "chec

[2020-07-22 14:21] UGuntupalli commented on #703
@ericmjl,
         Thank you for your detailed response. I completely agree with the distinction that you have made between _data_cleaning_ (an action) vs _data_checking_ (a question/ logical test / inspection). I did take a brief look at ```pandera``` and it does look like a good home for the functionality I have suggested.
         As for the ideas that you have, could you clarify if you expect

[2020-07-22 22:57] UGuntupalli commented on #703
@ericmjl :
         Here is an example for ```.sort_monotonically()```

[code]

[2020-07-24 13:35] ericmjl commented on #703
Nice, @UGuntupalli! Thanks for pasting in the "strawman" pieces.

Sorry for the delay in getting back, I suddenly found myself with 5 talks in 8 days, with no idea how I got into that situation ^_^", but my OSS Fridays are back in order, so let me try to address your questions.

Now that I've seen `pandera`, I see it in the following context of "good workflow practices". Here's an example. In "log

[2020-07-25 22:38] UGuntupalli commented on #703
@ericmjl & @cosmicBboy:
             So, I have given this thought and based on both of your comments, I wanted to propose a collaborative workflow and see what your thoughts/ suggestions were. For the proposed workflow, I draw inspiration from pecos pacakge (https://pecos.readthedocs.io/en/latest/installation.html) which is where I started my journey for this problem.

<img width="227" alt="chrom

[2020-07-26 02:24] ericmjl commented on #703
Hi @UGuntupalli!

For the workflow, I read through it, and I found steps 3 and 4 to be unclear. In particular, "capture" is used in an imprecise fashion, and I'm unsure what action gets taken after "capturing". Additionally, what "ability to apply and populate the filtered data frame in pyjanitor" means is also unclear, as `pyjanitor` simply provides the API to actively modify a dataframe to make

[2020-07-26 02:57] cosmicBboy commented on #703
Hey @UGuntupalli and @ericmjl thanks for developing this idea further! I do think the strength of `pandera` is its flexibility with how one expresses checks, and since the `pandas` API already has a lot of boolean flagging functionality, most checks can be expressed really concisely with lambda functions. The main reason to add built-in `Check` methods is to support schema inference and yaml/pytho

[2020-07-26 04:38] UGuntupalli commented on #703
Let us see if I can take one last stab at understanding everyone's recommendations, so I don't open multiple PR's in the wrong places.

First to clarify @ericmjl concerns around clarity, let me try and offer a better explanation around steps 3 and 4, even though we many not really use it anymore:
- The meaning of "capture" that I was intended to convey in step 3 is three-fold.

1.  Loading/Assigni

[2020-07-26 14:54] ericmjl commented on #703
Wonderful discussion, everybody :smile:. This is why I like dabbling in the OSS world!

Yes, the private functions are idiomatic! There are some that are floating around in the library. I believe our contributors have placed them in the logical places, such as right below the method-chained function, so they should be discoverable easily. There may be others that could logically be factored out, a

[2020-07-26 15:12] cosmicBboy commented on #703
Cool! I'll hold off on deciding whether to add `pyjanitor` or not to `pandera` deps, depending on how things play out with the current plan. If anything, a user who has both `pyjanitor` and `pandera` in their env can create `Check`s using those private functions anyway.

@UGuntupalli sounds good.

One last thing I'd like to add to this discussion, after thinking about it a little more, is that I m

[2020-07-27 04:09] UGuntupalli opened #705 "Add the ability to flag and fill if timestamps are missing in a pandas data frame"
# Brief Description

Following up on https://github.com/ericmjl/pyjanitor/issues/703, this issue seeks to introduce the ability to flag if timestamps are missing in a given data frame, provided the frequency of the time series data in the data frame

I would like to propose...

# Example API
[code]

[2020-07-27 04:14] UGuntupalli commented on #703
@cosmicBboy,
         I am going to start with some PR's to implement the basic functionality. You and @ericmjl are welcome to guide me to adopt either the pandera Parser structure you are proposing or stick with the PR's after they pass the code review in pyjanitor. I don't have any suggestions on this. If either of you don't as well, I will close the issue.

[2020-07-27 04:24] UGuntupalli commented on #705
@ericmjl,
        A question - do you propose I add a new module called "timeseries.py" or did you want the functions to be housed somewhere else? Until I hear back I will just start off with "timeseries.py" and refactor based on your guidance

[2020-07-27 20:12] ericmjl commented on #705
@UGuntupalli what you've got is great, thanks for kickstarting this! :smile:

[2020-07-28 17:24] #703 closed

[2020-07-29 04:10] UGuntupalli opened #707 "Add the ability to test and sort timestamps to be monotonic in a pandas data frame"
# Brief Description

Following up on #703, this issue seeks to introduce the ability to sort the timestamps in a pandas data frame monotonically

I would like to propose...

# Example API
[code]

[2020-07-29 04:35] UGuntupalli opened #708 "Add the ability to test whether data is in range in a pandas data frame"
# Brief Description

Following up on #703, this issue seeks to introduce the ability to test whether each column in a data frame is within a user-defined range of values.

I would like to propose..

# Example API

[code]

[2020-07-29 20:40] UGuntupalli commented on #708
Based on my test, approach -1 seems to be more efficient, welcome any other feedback from the package leads:

[code]

[2020-08-02 04:32] UGuntupalli commented on #707
[code]

[2020-08-02 04:34] UGuntupalli commented on #708
[code]

[2020-08-03 13:43] ericmjl opened #710 "[ENH]: Groupby Top K"
# Brief Description

I would like to propose a function that allows users to take in a dataframe and return another dataframe that has the top "k" values after grouping by another column.

This has come up multiple times at work, when I have to pick out "top protein mutants in each cluster".

Posting this here in case anybody wants to take a formal stab at it, otherwise I'll get to it later.

# Ex

[2020-08-03 13:44] ericmjl commented on #708
Thanks @UGuntupalli! Very comprehensive sketch. I'll give the issue a deeper look after work today!

[2020-08-03 21:39] mphirke commented on #710
Hi, the example API you mentioned would return grouped output, but it will only reveal so for the class that is on the top after sort_values.

The output is like this if groupby column is species and sort column is petal length.

sepal_length | sepal_width | petal_length | petal_width | species
-- | -- | -- | -- | --
4.6 | 3.6 | 1.0 | 0.2 | setosa
4.3 | 3.0 | 1.1 | 0.1 | setosa
5.8 | 4.0 | 1.2 | 0

[2020-08-03 23:50] UGuntupalli opened #711 "Add the ability to test whether data is changing/jumping beyond a tolerance"
# Brief Description

Following up on #703, this issue seeks to introduce the ability to test whether in each column in a data frame the change between every two rows is within a user-defined range of values.

I would like to propose..
# Example API
[code]

[2020-08-03 23:55] UGuntupalli opened #712 "Add the ability to test whether data is changing/jumping beyond a tolerance"
# Brief Description
Following up on #703, this issue seeks to introduce the ability to test whether data is stuck over variable number of consecutive values for different groups in the data frame.

I would like to propose...

# Example API
[code]

I need help on figuring out how to efficiently apply variable consecutive value check to different groups

[2020-08-04 05:56] mphirke commented on #710
Sorry, notebook link I shared earlier was not correct.

Here is the correct link: https://colab.research.google.com/drive/1o9_MMXM6JEhfZI4a2c_ZSRyBvMyA_3Qn?usp=sharing

[2020-08-05 02:17] #700 closed

[2020-08-05 05:17] robertmitchellv commented on #89
I don't know if the `adorn_` family naming has been settled or not, but I had some ideas depending on what you all think:

* `top_with_*` In the sense of garnishing (this word seemed to connected to _adorn_) a dish or drink with final touches (which may be too long, `final_touch_*`
* `coat_with_*` in the sense of polishing a floor
* `tweak_*` since these are usually little, but important, changes

[2020-08-05 22:11] UGuntupalli commented on #712
My attempt, but still need a lot of help to clean this up and make it a generally usable solution.

[code]

[2020-08-06 13:38] ericmjl commented on #710
@mphirke that’s a great catch! In my original post, I actually put the `.head(k)` piece in the wrong place. I’ve edited the code block so it reflects the correct thing.

[2020-08-06 14:02] ericmjl commented on #89
Those are great ideas, @robertmitchellv! Given enough time away from the issue, and the recent improvements to the docs, I think I have less issue with the name `adorn_`.Back when the issue was started, we didn’t have a taxonomy/ontology for the functions on the docs page, and so I was worried about the adorn functions’ purpose being unclear. But now that it was contributed (I think at PyCon), and

[2020-08-06 14:17] mphirke commented on #710
I have not contributed to this repo before, but yes, I would like to work on it.

[2020-08-06 14:50] ericmjl commented on #710
Awesomeness! We have docs on how to get started contributing. Definitely head over to the [contributing page](https://pyjanitor.readthedocs.io/contributing.html) to see how to get setup and started. If you’re familiar with the `git` way of working (i.e. GitFlow), then you’ll definitely feel at home here!

[2020-08-06 17:50] UGuntupalli commented on #705
I made a commit to close this.

Please confirm everything went through smoothly and I will close this manually if need be

[2020-08-06 21:08] robertmitchellv commented on #89
Yeah, I think I can try!

I've been reviewing the source code a lot to get more familiar with how things are done in `pyjanitor` and wrote my first copy of `dplyr::count()` so hopefully I can figure out the best way to make one of the simpler `adorn_*` functions happen--I'm hoping for a good amount of back and forth the get it to the place where it's polished. Coming back to Python after maybe 5 y

[2020-08-06 22:52] ericmjl commented on #89
Welcome back!

To get started, [the docs](https://pyjanitor.readthedocs.io/contributing.html) are the best place to go. They're intended to be quite beginner-friendly, so if you run into issues getting set up, don't hesitate to sneak in a few modifications to the docs too 😄! And feel free to ping around on the issue tracker if there's any issues you run into!

[2020-08-07 15:21] ericmjl commented on #705
@UGuntupalli no need to worry about closing this one manually -- GitHub will take care of it! In particular, if we have the the phrase "Resolves #<number>" or "Closes #<number>" in there, the PR and issues are linked, and once the PR is merged, the issue will be closed!

[2020-08-10 02:49] #623 closed

[2020-08-11 01:26] ericmjl opened #715 "Change `check` function to raise KeyError"
`check` (in `janitor.utils`) raises a ValueError if a column name is not present in the dataframe passed in.

To make things consistent with pandas, it should raise a KeyError instead, which is what pandas does (I think).

Original comment: https://github.com/ericmjl/pyjanitor/pull/714/#discussion_r468273396

[2020-08-11 01:30] ericmjl opened #716 "Enable auto-styling checks in Azure pipeline"
I've replaced the single quotes by double quotes. It seems the auto styling does not run over the scripts so I missed it.

_Originally posted by @mphirke in https://github.com/ericmjl/pyjanitor/pull/714_

Looks like we need to double-check that `black` formats the `scripts/` directory.

[2020-08-12 13:18] #710 closed

[2020-08-12 20:10] johnsantamariajr opened #717 "Explode method drops columns named "id""
# Brief Description

The explode method will silently drop a column if it is named "id"

# System Information

- OS: Linux CentOS7
- Python version: 3.6.10
-PyJanitor version: 0.20.4

# Minimally Reproducible Code
[code]

[2020-08-12 23:18] ericmjl commented on #717
Thanks @johnsantamariajr! Following up from our earlier conversation, I'll know how to follow-up on this one.

[2020-08-12 23:36] ericmjl commented on #717
@johnsantamariajr it looks like this is a dataframe method that we can deprecate from the examples, as on further digging through the pandas codebase,  I realized it's available there!

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.explode.html

[2020-08-13 01:32] ericmjl commented on #672
Team, I'm realizing async chat on GitHub issues isn't a good way to communicate.

I set up a Discord server for us to chat. I don't appear to have everyone's email. Please ping me at http://www.shortwhale.com/ericmjl if you don't get an email from me!

(Btw, even if you didn't volunteer to be a core dev, but I did tag you in the first issue, please ping me about access anyways! Hanging out is alwa

[2020-08-13 10:52] #705 closed

[2020-08-13 20:41] samukweku commented on #715
@ericmjl if Pandas already does this check, is it not better to delegate the task to pandas?

[2020-08-13 21:51] UGuntupalli commented on #707
@ericmjl ,
       I am ready to do a pull request to address this, however, when I try it is pulling in changes from the previous issue as well. I made sure to do a ``` git pull ``` before working on the issue. So, not sure what I am doing wrong. Any advice ?

[2020-08-15 12:00] samukweku commented on #686
I believe we can deprecate `transform_column` and `transform_columns` functions, as the `transform` function within pandas covers most use cases. Not seen any use cases that requires us to keep it. The `transform` function in Pandas is method chainable as well.

[2020-08-16 19:32] ericmjl commented on #707
Hey @UGuntupalli! I'm sorry for getting back late here. (Had a bit of a rough end to the week, took some time to rest.)

Have you tried deleting your fork and re-forking, then re-opening up the repo in a dev container? That will clear out any state and give you a clean slate to start from.

[2020-08-16 21:53] UGuntupalli commented on #707
Thanks @ericmjl . Hope it is nothing serious.

Your suggestion was helpful. I think the commit looks successful, unless you or Samuel have any suggestions, I will focus on the next issue.

[2020-08-18 12:09] samukweku commented on #284
Bringing this up here as well. I think Pandas' `transform` function is sufficient and does pretty much all that transform column(s) does. I suggest we slate the function for deprecation - unless someone has some use cases that Pandas transform cannot pull off.

[2020-08-18 16:45] ericmjl commented on #284
If I am reading the pandas docs correctly, I think transform only operates on the entire dataframe. Does it allow selective column transformations?

[2020-08-18 21:17] samukweku commented on #284
Yes, it does allow selective column transformations, although playing more with it, I see that you have to reassign the values to the dataframe :

    df = pd.DataFrame(
    [
        ["Juan", 0, 0, 400, 450, 500],
        ["Luis", 100, 100, 100, 100, 100],
        ["Maria", 0, 20, 50, 300, 500],
        ["Laura", 0, 0, 0, 100, 900],
        ["Lina", 0, 0, 0, 0, 10],
    ],
    columns=["Name", "D

[2020-08-19 16:31] ericmjl commented on #284
Cool stuff! Thanks @samukweku for figuring this out 😄 🎉!

With `transform_column`, looks like we're covering the case where we want to selectively transform a bunch of columns _while retaining anything that isn't explicitly passed in_. This is a value-add on top of what `df.transform` does. We are also able to transform the column into a new column this way too. The semantics of `transform` are su

[2020-08-20 00:01] samukweku commented on #284
@ericmjl do you mind sharing an example, so I can understand better your proposition? Confused about `identity` and the function mapping

[2020-08-20 00:51] ericmjl commented on #284
Yep, definitely @samukweku!

I posted something [here](https://gist.github.com/ericmjl/1798670fc227bcea1714ad3c2e657824). Please let me know what you think of it!

cc: @sallyhong

[2020-08-20 01:08] sallyhong commented on #284
Thanks for sharing the example! Helps a lot!
(Quick note: Cell6, the column rename didn't work. I think you have to put 'date4'--no caps)

Just wanted to confirm, for the second method style, how would you "transform" multiple columns when you want to rename some columns but not the other?  (That's the main reason I like the first method style.)

I also want think we should make sure that we prese

[2020-08-20 07:41] samukweku commented on #284
As a side note, what if we used a new name `mutate`/`transmute` (nothing original in those names), that way we avoid the single/plural verb names, while still using a synonym that captures what we mean?

[2020-08-20 23:58] #717 closed, assigned to nobody

[2020-08-21 00:23] ericmjl commented on #284
@sallyhong I tried an alternative implementation, leveraging another function we have in the library. Check it out [on this gist](https://gist.github.com/ericmjl/1798670fc227bcea1714ad3c2e657824).

@samukweku that's a cool idea. I think we might be hitting on the semantics of R's `mutate`.

What do both of you think about the 2nd implementation (`transform_column_v3`) in the gist? @sallyhong, woul

[2020-08-21 01:50] sallyhong commented on #284
Hi, just assigned this to myself.
I'll take a shot at this, this weekend!
I want to study the R equivalent too to glean any other ideas.

Thanks!

[2020-08-21 15:00] szuckerman commented on #707
Quick question: what’s the difference between what this method does and df.sort_values(“colname”)?

[2020-08-21 15:04] UGuntupalli commented on #707
@szuckerman : Thanks to @ericmjl  foresight on this, we added the ability to weed out duplicates as well. Technically while the core functionality is the same, the ```strict``` parameter allows the user  to delete duplicates before sorting by index

[2020-08-21 15:07] szuckerman commented on #707
Why would I want to remove duplicates?

And even if I did, I could just do df.drop_duplicates().sort_values(column)

And when I mean "duplicates" I mean duplicate timestamps. If I have two customers purchasing items on the same date, I don't want to arbitrarily remove one of them.

[2020-08-21 15:14] UGuntupalli commented on #707
@szuckerman :
        Why would I want to remove duplicates ?
 - Well it depends on what you are trying to do. Typically, when you have time-series data which is what I mostly work with, it doesn't make sense to retain duplicates in the index. You want to retain one source of truth for each unique timestamp and hence I know that there is application for this functionality. I do understand you mean

[2020-08-22 12:35] ericmjl opened #721 "Flaky notebook checks with medium_franchise.ipynb"
`medium_franchise.ipynb` has been flaky, and I think it's because the wikipedia page it scrapes keeps changing.

Perhaps we might need to cache the table it scrapes as a CSV file and check it into the repository.

cc: @jk3587 (I think?)

[2020-08-24 04:41] jk3587 commented on #721
Is there a separate static folder or should the csv be contained within the examples folder? I would put the csv in the same folder as the examples.

Also, is nbstripout a standard requirement now for example notebooks? Seems like the only way to pass the pre-commit hooks is to run nbstripout on the notebook.

![image](https://user-images.githubusercontent.com/37330255/91008240-87dc1980-e5a3-11ea-

[2020-08-25 01:08] ericmjl commented on #721
Hey @jk3587! Thanks for helping out here!

On where to put the CSV file, I have a thought that should probably be taken as a starting point - what about `examples/data/`?

On nbstripout - I'm planning to add it in as a check when we rebuild the docs using mkdocs-material, but for now, perhaps sneaking in a commit that takes out `nbstripout` from the `pre-commit-config.yaml` file might be the easie

[2020-08-25 17:36] canute24 opened #724 "pyjanitor as a part of Consortium for Python Data API Standards"
Hi,

With the announcement for Consortium for Python Data API Standards, I feel that pyjanitor is a step in the right direction and you guys are doing a great job and should be a part of the consortium because of what pyjanitor is aiming to achieve, to some extent overlaps with the objective of the consortium. I think even a tiny bit of nudge you guys can provide to the API Standards would be in t

[2020-08-27 21:31] #721 closed, assigned to nobody

[2020-08-28 22:17] UGuntupalli commented on #712
@ericmjl ,
          Do you know if anybody else would be willing to offer some help on this ? I have played with a couple of thoughts on this but nothing is sticking efficiently. Anybody willing to tag team on this ?

[2020-08-29 19:07] #707 closed

[2020-08-29 19:17] ericmjl commented on #712
@UGuntupalli I was just looking through the example code, and I _think_ I have a feel for what you're trying to accomplish here.

I'm not sure if this helps, but in the `pandas` world, the `groupby-apply` pattern is something that can be taken advantage of here. In the "base" case, one would `count_consecutive_values` without doing a groupby:

[code]

On the other hand, if you want to get the cons

[2020-08-29 19:27] ericmjl commented on #724
Hey @canute24! Thanks for pinging in :smile:. I heard about the consortium a little while ago too! I'm not sure I have the bandwidth to represent the team on the consortium, but if there's a willing person on the dev team, I'll be there to support them from behind :).

At the same time, I'm kind of aware that `pyjanitor` has been doing sort of "higher order" convenience functions that build on top

[2020-08-31 10:10] tr31zh opened #729 "groupby_agg mutates dataframe"
# Brief Description

When using groupby_agg the source dataframe is changed
Issue may be related to https://github.com/ericmjl/pyjanitor/issues/645

# System Information

- Operating system: Windows
- OS details (optional):  Windows Pro 19041.450
- Python version (required): 3.7
- Using pyjanitor 0.20.9 on a clean environment

# Minimally Reproducible Code

[code]

# Error Messages

The second pri

[2020-08-31 10:11] tr31zh commented on #729
This issue could be related to https://github.com/ericmjl/pyjanitor/issues/645

[2020-08-31 14:08] tr31zh commented on #729
It seems that there's a dataframe copy instruction missing before creating the new column

[2020-08-31 20:43] samukweku commented on #729
@tr31zh Thanks for the feedback. You are right; the original dataframe should not be modified. I'll have a look into this.

[2020-09-02 11:01] samukweku commented on #729
The error is mine. Will push updates to fix this. A copy() method will be included. Thanks @tr31zh

[2020-09-03 20:27] sauln opened #731 "Add an `also` method akin to Kotlins `also`"
# Brief Description
I would like to propose a new function `also` that takes a function with a single dataframe for input, runs the function on the chained dataframe, and returns the input dataframe.

I would love to take a whack at implementing this if you're interested incorporating it into the library.

As I've been trying to adopt chaining as much as possible, I've routinely bumped into scenar

[2020-09-03 20:36] szuckerman commented on #731
Couldn't those lambda functions also be placed in the "then" methods?

[2020-09-03 20:55] sauln commented on #731
The `then` method returns the output of the lambdas and none of these lambdas have any output.

[2020-09-04 23:06] szuckerman opened #732 "Feature Proposal: Auto Agg method"
# Brief Description

An `auto_agg` method where you just put the columns you want and it automatically aggregates the dataframe.

For example, I could do something like:

[code]
On a dataframe that has a `state` and `age` column and it will automatically get the average age by state.

# Example API

Here's some basic code:

[code]

There's a problem when column names are subsets of eachother, whic

[2020-09-05 09:28] samukweku commented on #732
@szuckerman Do you mind adding the expected output?

[2020-09-05 09:30] samukweku commented on #731
@sauln Hi. Just to make your feature proposal clearer, could you share some concrete examples, with an input dataframes as expected outputs

[2020-09-05 13:15] ericmjl commented on #731
@sauln I think I get your drift! :smile:

Let me see, the implementation of `.also()` probably looks like this:

[code]

Is that correct? The key distinction here is as you mentioned - that no modifications to the state of the dataframe is intended to be made, and the dataframe is passed through in the form that it was passed into `also()`, is that right? (Unless, of course, the user modifies the

[2020-09-06 00:54] loganthomas opened #734 "[DOC/ENH] Hacktoberfest Issue Label"
# Brief Description

I would like to propose the dev team creates a new "Hacktoberfest 2020" label for outstanding issues for pyjanitor that they may want people to work on during Hacktoberfest this year. As October quickly approaches, this would be a great way to invite new contributors to the project as well as submit some issues that seasoned contributors may be able to help the dev team with d

[2020-09-06 01:57] szuckerman commented on #732
[code]

would result in:

[code]

I.e. `auto_agg` is a short form to writing this long groupby:

[code]

[2020-09-06 17:29] bdice commented on #731
@sauln Nice idea! What happens if the `also` function mutates the data, like performing an “inplace” operation? Does the next function in the chain receive the mutated data or the original un-mutated data (which would require an explicit copy, I believe)?

Edit: @lmcinnes was thinking the same thing at the same time. 🤣

[2020-09-06 17:29] lmcinnes commented on #731
In an ideal world I would think that ``also`` would run ``func`` on a copy of the dataframe (yes, this duplicates the dataframe in memory, but it is probably short lived). This saves the "all bets are off" problem of the ``func`` modifying the dataframe. I could easily imagine a user having a function that does some computations and logs results without thinking that those computations occur in-pl

[2020-09-06 19:41] ericmjl commented on #731
Good point, gents! I have updated the example to explicitly just copy the DataFrame.

[2020-09-06 20:00] samukweku commented on #732
@szuckerman cool. would it be easier to test if `state_count` already exists and raise an error? Also specify, or restrict the new column name to have a fixed separator `_` ?

[2020-09-06 20:14] szuckerman commented on #732
The issue isn't whether state_count already exists, it's whether the grouping column name is a subset of another name.

For example, the way I'm parsing the columns, if someone wants state_abbr_count since there's a "state" column it will look for a function called "abbr_count" which doesn't exist.

If state_count is already in the dataframe then that column will be "grouped by" anyway.

But I thi

[2020-09-06 20:40] ericmjl commented on #732
@szuckerman I love it! This actually helps simplify the code that would otherwise get written by a **ton**!

Would you like to submit a PR for this?

[2020-09-06 21:00] ericmjl commented on #734
@loganthomas!!!!! It's been a while! Thanks for pinging in!!!! It's great to see you again, even if just virtually 😄.

I love this idea. Given what I remembered, at SciPy 2019, you helped a ton with the sprint. I love the enthusiasm for this, and I'm going to invite you onto the dev team! We've got a discord (for just the devs at the moment) as well - it could be useful for coordinating during Hac

[2020-09-06 21:10] szuckerman commented on #732
So I think there's still quite a bit to add, namely:

- Ability to change delimiter between column name and aggregation metric
- Ability to have aggregation metric first (people might like count_state instead of state_count)
- raise an error when it can't be determined what column people want to use as the grouping column (usually is the case when there's a column name which is a subset of another

[2020-09-06 22:08] sauln commented on #731
Very good points.  I could imagine a user would like it both ways though.  Could there be operations that can only happen in place? Originally, I imagined the only contract `also` would abide by is `id(df_in) == id(df_out)`.  The unintended side effect you point out @lmcinnes definitely has me spooked though.  Maybe there should be flag like `safe=True` or `inplace=False` that determines if a copy

[2020-09-06 22:40] ericmjl commented on #732
@szuckerman I think those are great ideas! Though I'd also be in favour of getting something in first, getting it out into the wild, and then letting the feedback come back on what feature might be desired the most. (And then guiding the feature requester to submitting a PR too!) Gradual generalization is better; it's how I've approached most of the functions I've submitted. Your call, though! 😄

[2020-09-06 22:42] ericmjl commented on #732
Btw, one of the things I like about the way you have the function setup is that I get a bit of "delightful magic" by specifying `auto_agg(["state_count", "state_mean", "state_var"])`. For some reason, that feels delightful and magical simultaneously :).

[2020-09-06 22:42] lmcinnes commented on #731
I feel like making a copy is the right thing to do -- it avoids any problems about in place operations, and there won't be any surprises except in complicated cases where a deepcopy would be required. I suspect that may be rare enough to not worry about.

[2020-09-07 11:42] samukweku opened #736 "Case_when function"
# Brief Description

I would like to propose a `case_when` function, similar to the same function in SQL and R, for conditions. It will be a wrapper around `np.select`.

# Example API
[code]

[code]

[2020-09-07 12:23] ericmjl commented on #736
Nice proposal, @samukweku! Can I check, how would this be different from the use of `transform_column`? Example below:

[code]

I _think_ this will give the same result. I can see, however, how the `case_when` syntax can be friendlier to a beginner user. Because `conditions` is passed in as a dictionary, though, I think the `dict.get(x, default)` pattern might be easier for maintenance. What are y

[2020-09-07 12:29] samukweku commented on #736
@ericmjl , case_when has a friendlier syntax. my actual goal with it is for multiple conditions, similar to `if-elif-else`. I am not sure if  `transform_column` can handle multiple `if-elif-else` scenarios, which `numpy select` adequately covers.

[2020-09-07 12:35] jcvall commented on #736
I think this is the same as update_where?  We were going to call it case_when but I was thinking to use the SQL name instead.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-09-07 12:35] samukweku opened #737 "Conditional join"
# Brief Description

I would like to propose conditional join, also known as non-equi joins, which is obtainable in SQL and R's datatable.

# Example API

[code]

Please modify the example API below to illustrate your proposed API, and then delete this sentence.

[code]

[2020-09-07 12:39] samukweku commented on #736
Let's say we have some arbitrary dataframe, and our conditions fit into this :

[code]
Is this replicable with ``update_where``? The above is hard to maintain and understand, whereas `numpy select` can help:

[code]
Any thoughts on this?

[2020-09-07 13:08] samukweku commented on #736
This is another example to highlight what `numpy select` can cover, which is similar to the `case when` function in sql :

[code]

I do not think `update_where` can pull this off, as it will replace already existing values in the `value` column, whereas `numpy select` fulfils the conditions in a hierarchical form. Your thoughts on this  @ericmjl @jcvall ?

[2020-09-07 13:28] ericmjl commented on #736
I see. `transform_column` definitely can handle the `if-elif-else` scenarios by way of a `dict.get(x, default_value)` mapping. However, `dict.get(x, default_value)` will fail when we want to do the operation column-wise. And `dict.get(x, default_value)` doesn't _fully_ replicate what `np.select` does, I think.

Is it correct to say that the `case_when` semantics are as follows?

- It always create

[2020-09-07 13:34] ericmjl commented on #737
@samukweku, in your example, do you instead mean this?

[code]

I'm wondering, how is this different from an outer join? Maybe I'm missing a clarifying example that distinguishes outer joins from conditional joins. Could you help me understand the difference?

[2020-09-07 13:45] samukweku commented on #737
An outer join checks for equality, if `` df1.col_a == df2.col_a``.
[code]

The conditional join/non-equi join looks at each value and compares to see which is greater. For this case, we have ``1 > 0, 2 > 0, 3 > 0 and 3 > 2`` for ``df.col_a > df1.col_a``

[2020-09-07 13:51] jcvall commented on #736
In the first example you would break it up into two chained statements:

(df.add_column('consumption_energy_usage', 'medium').
      .update_where(df.consumption_energy > 400 , 'consumption_energy_usage' , 'high')
     .update_where(df.consumption_energy < 200, 'consumption_energy_usage', 'low'))

You can create a copy of column a and do the same thing in your second example.

![image](https://use

[2020-09-07 13:51] samukweku commented on #736
@ericmjl `case when` can mutate an existing column, or create a new column, just like `update_where`.
Yes, it operates on entire dataframe columns.
The other semantics are true. One thing to note about `numpy select` or sql's `case when` is that if a value exists for a condition, a new condition cannot override that. In the example I shared,` b>0 `cannot replace value gotten for `a > 0`; well, sho

[2020-09-07 13:52] jcvall commented on #736
You can update an existing column, yes.

[2020-09-07 13:52] samukweku commented on #736
@jcvall notice how the second example in your code is not covered by `update_where`, instead returning nulls.

[2020-09-07 13:54] jcvall commented on #736
That was a third example where if you want to return nulls.  You can do the same thing in my first example that you did in the second.

[2020-09-07 13:56] jcvall commented on #736
I would play around with update_where and see what can't be done.

[2020-09-07 13:58] samukweku commented on #736
@jcvall, let me know where I botched this :

[code]
the output is different from the expected result.

[2020-09-07 14:26] jcvall commented on #736
I think the order you put it in.  Try this:

(df.add_column('value', df.c)
 .update_where(df.b > 0, 'value', df.b)
 .update_where(df.a > 0, 'value', df.a))

[2020-09-07 21:55] samukweku commented on #736
Apologies, I couldnt fight off sleep. @jcvall , this works fine. I think `update_where` covers this, along with `add_column`. The order made the difference. I will wait a while and close this.

[2020-09-07 22:17] ericmjl commented on #736
@samukweku but you _should_ sleep! :smile_cat: 😉.

Jokes aside, it looks like some routine chains probably could be made into "higher order" functions that call on the primitives, maybe? I do have this pattern in place in my private codebases at work, where functions that perform the same operation on dataframes that share the same schema (but do not necessarily have the same underlying data). The

[2020-09-07 23:16] samukweku commented on #736
@jcvall, @ericmjl , bear with me if I am flogging this issue too hard, just need to check as many scenarios as possible. This example here is from stack overflow : https://stackoverflow.com/questions/48569166/multiple-if-else-conditions-in-pandas-dataframe-and-derive-multiple-columns/48569899
[code]

`update_where` does not cover this, or I may be using some wrong ordering/approach. Would love you

[2020-09-08 00:23] samukweku commented on #736
@jcvall `update_where` covers this pretty well; I just had to make some changes to my initial code, so a few more hours and I will close this issue. Thanks everyone.

[2020-09-08 01:02] ericmjl commented on #736
@samukweku I love the initiative here and the exploration! Will you write a blog post about this? I think it's totally worth a blog post. 😄If you write one, tweet it out, and I'll be sure to share it!

[2020-09-08 12:19] samukweku commented on #736
hehehe. good idea @ericmjl . I'll work on that.

[2020-09-08 17:17] tr31zh commented on #729
Thanks

[2020-09-08 21:59] samukweku commented on #734
So, how does Hacktoberfest work?

[2020-09-08 22:00] samukweku commented on #716
@ericmjl How can I help with this?

[2020-09-08 22:02] samukweku commented on #693
@hectormz @VPerrollaz Any updates on this?

[2020-09-08 22:16] #729 closed, assigned to nobody

[2020-09-09 00:38] loganthomas commented on #734
[Hacktoberfest](https://hacktoberfest.digitalocean.com/) is a month-long celebration of open source software run by [DigitalOcean](https://www.digitalocean.com/):
- It's open to everyone in the GitHub global community!
- If you submit 4 *quality* pull requests to public GitHub repositories, you complete the challenge and earn a limited-edition T-shirt.
  - The T-shirt is given to the first `X` num

[2020-09-09 01:08] loganthomas commented on #711
I'd like to claim this issue. Planning my Hacktoberfest early 🎃

[2020-09-09 01:18] ericmjl commented on #711
Assigned!

[2020-09-09 12:08] ericmjl opened #739 "Add the Welcome Bot to the project"
This one! https://github.com/apps/the-welcome-bot

[2020-09-10 01:22] loganthomas commented on #711
@ericmjl

I've mulled this over in my head today and have a few open-ended points to bring up as well as a few clarifying questions

## Open-Ended Points (need some guidance here)

1. I originally thought that using "percent change" rather than "difference" for thresholding would be a better implementation.
    - Using a percent change paradigm for flagging allows users to define a universal unit

[2020-09-10 01:48] samukweku commented on #434
@ericmjl , If this is still available, kindly assign to me.

[2020-09-10 01:51] samukweku commented on #391
I think for multi merge it is easier if all frames have a common column or columns

[2020-09-10 01:53] samukweku commented on #391
Looking through existing issues to see if I can knock them off. This looks appealing and a little mind bending. So, joining multiple dataframes on possibly different column names? I could push a PR on this and see what the team thinks?

[2020-09-10 01:55] samukweku commented on #390
@zbarry Do you mind sharing a concrete example of this, so I can understand better? Thanks

[2020-09-10 11:50] ericmjl commented on #711
Hey @loganthomas! Thanks for all the thought you've put in to thinking about this issue. Having read through it, I find it very well-considered.

Let me first summarize what I think the main issues are:

1. What categories of criteria should there be in the function?
2. Is this a columnar or dataframe-wide operation?
3. What's the output for this function?

And then from that, the API design comes

[2020-09-10 14:24] loganthomas commented on #711
@ericmjl
Awesome! Makes sense... I'll start coding this up as my time allows. Appreciate the guidance!

[2020-09-10 23:47] ericmjl commented on #716
@samukweku I think this one can be solved by modifying the `pyproject.toml` configuration file.

`black`’s docs have instructions here: https://black.readthedocs.io/en/stable/pyproject_toml.html.

Would you like to take this one on?

[2020-09-10 23:50] ericmjl commented on #434
@samukweku assigning! If possible, please use as much as you can salvage from @benjaminjack’s PR, and include him in the changelog entry! Sharing the work/credit keeps things encouraging for everyone involved.

[2020-09-10 23:51] #731 closed, assigned to nobody

[2020-09-11 01:53] samukweku commented on #716
@ericmjl Yep yep. Kindly assign to me

[2020-09-11 08:19] samukweku commented on #434
@ericmjl , how do I access @benjaminjack PR?

[2020-09-12 04:27] loganthomas opened #742 "[DOC] Update docs to have timeseries section"
# Brief Description of Fix

Currently, the docs do not have a section for the timeseries module.

I would like to propose a change, such that now the docs will have details on the timerseries functions.

# Relevant Context

- [Link to documentation page](https://ericmjl.github.io/pyjanitor/reference/index.html)
- [Link to exact file to be edited](https://github.com/ericmjl/pyjanitor/blob/dev/docs/

[2020-09-12 04:27] loganthomas commented on #742
I can take this if you'd like 😄

[2020-09-12 04:44] loganthomas opened #743 "[ENH/TST] Raise Consistent Error Types"
# Brief Description

I would like to propose a consistent framework for raising errors within pyjanitor.
  - There is a `JanitorError` class that is being used by some modules to raise errors
  - There are also other places in the codebase that uses `ValueError`, `TypeError`, `KeyError`, etc.
  - Should we be consistent with raising errors across the board, or are the `ValueError`, `TypeError`, `K

[2020-09-12 07:38] samukweku commented on #737
@szuckerman @hectormz I would also love your thoughts on this as well.

[2020-09-12 11:02] ericmjl commented on #742
Thanks @loganthomas! Assigning!

[2020-09-12 23:06] samukweku commented on #391
Unassigned myself, so I can get feedback from others, on what the API should look like. Decided not to assume, as the original creators of this issue might have some ideas that I am not privy to.

[2020-09-13 00:26] ericmjl commented on #391
Going to nerd snipe @zbarry on this one. I think I'd like to hear what the scope of the function could look like.

[2020-09-13 00:27] ericmjl commented on #434
@samukweku I realized I didn't explicitly link what @benjaminjack's PR was. Here it is: https://github.com/benjaminjack/pyjanitor/commit/e3df817903c20dd21634461c8a92aec137963ed0

[2020-09-13 01:21] loganthomas opened #744 "[DOC] Types of Contributions broken link"
# Brief Description of Fix

Currently, the docs have a link within `CONTRIBUTING.rst` the links **types of Contributions** to https://github.com/ericmjl/pyjanitor/blob/dev/CONTRIBUTION_TYPES.html

I would like to propose a change, such that now the docs links the above to the docs website (https://ericmjl.github.io/pyjanitor/CONTRIBUTION_TYPES.html)

# Relevant Context

- [Link to documentation pa

[2020-09-13 01:23] loganthomas commented on #744
@ericmjl
Suggested labels:
- `docfix`
- `good first issue`
- `hacktoberfest-2020`

If you agree, I can label for you 😄

[2020-09-13 01:28] ericmjl commented on #744
@loganthomas you've got admin rights, and I trust your judgment here. Please go ahead! :smile:

[2020-09-13 01:34] loganthomas opened #745 "[DOC] Check that all functions have a `return` and `raises` section within docstrings"
# Brief Description of Fix

Currently, the docstrings for some functions are lacking a `return` description and (where applicable) a `raises` description.

I would like to propose a change, such that now the docstrings for all functions within pyjanitor have a valid `return` and (where applicable) valid `raises` statements.

**Requires a look at all functions** (not just the provided examples belo

[2020-09-13 02:58] samukweku commented on #736
@ericmjl @jcvall I had to reopen this issue. You'll have to blame @ericmjl who suggested I write a blog post... led me down the rabbit hole of performance.
[code]

There is a significant speed difference. I havent done a line profile, however, I suspect calling the functions multiple times as well as the built in copy associated with each method are the reasons for the speed difference.

[2020-09-13 03:03] samukweku commented on #745
@loganthomas any ideas on how this could possibly be automated? @ericmjl I wonder if we could borrow some ideas from the `autodoc`` code.

[2020-09-13 03:05] samukweku commented on #743
I have been thinking about this, and I may have a look at some of my previous contributions and see if I can just replace them with JanitorError and other functions from the `utils` section. It certainly would be consistent, not so sure about debugging though.

[2020-09-13 03:21] loganthomas commented on #745
@samukweku i love the idea of automation! Nice idea. Not sure how we could implement it off the top of my head, but open to exploring.

👇 👀 💯
- [darglint](https://pypi.org/project/darglint/)

[2020-09-13 04:46] jcvall commented on #736
Hi samukweku,

Thanks for the example.  I would ask that this get tested in all different scenarios.  I would think that your solution is faster but does it work the same in all scenarios that update_where does now?  I would just have to say lets be very cautious here as I do rely on this function for many of my current reports at work.

For example:  I am uncertain how your way deals with complex

[2020-09-13 05:59] samukweku commented on #736
@jcvall, i am merely exploring the performance part of it. I'll give your example a go. do you mind sharing the example source data?

[2020-09-13 06:02] samukweku commented on #745
@loganthomas have you played with `darglint`? easy to use? i am not familiar with it

[2020-09-13 08:17] samukweku commented on #736
I had a go at it, and tweaked the conditions :
[code]

I feel update_where excels at a single condition, whereas the `case_when` would cover multiple conditions. Alternatively, if we made `update_where` deal with multiple conditions, then the current mode should not be changed, at least to ensure backward compatibility.

[2020-09-13 14:45] jcvall commented on #736
samukweku...thanks for this.

 Maybe my choice of not naming what is update_where() to case_when() was just meant to be.

High level, the update_where acts like a chained line of code in the tidyverse that has %>% operator between  each step.  Your case_when acts a lot like the case_when function inside of the mutate function.  So, your example is very close to the true case_when in R.

I think th

[2020-09-13 22:31] #742 closed, assigned to loganthomas

[2020-09-13 22:49] ericmjl commented on #743
@samukweku and @loganthomas I think we've used each kind of error in an intentional fashion.

A good reference for which one we use in which case is [the official docs](https://docs.python.org/3/library/exceptions.html).

[2020-09-13 22:50] ericmjl commented on #745
`darglint` looks like it's worth testing!

[2020-09-14 00:51] sallyhong commented on #284
Hi!

I attempted a v4.

[Link to Gist](https://gist.github.com/sallyhong/c21236aa6ca791a0804e48ab2b456c0e)

I put some scenarios at the bottom. Please take a look and I'd love to hear feedback from anyone (about anything!)
Thanks :)

[2020-09-14 11:30] samukweku commented on #284
@sallyhong I like the ideas. Just thinking about the `append_new` argument; it makes the `transform_columns` function more like an `assign` function. My thought is that  the `transform` function should just transform(mutate) the columns, and not create new columns. It also seems like a good option. Just my opinion, others might have a different opinion.

[2020-09-14 13:25] sallyhong commented on #284
Very good point @samukweku . I was wrestling with this as R has two functions (`mutate` vs `mutate_at`) depending on whether or not you want to create a new column or overwrite the old column.

I decided that I didn't like the idea of changing a column contents without knowing that I did (e.g. providing a `transform_dict` with `append_new=False`, and wanted it as a default to clearly indicate whic

[2020-09-15 00:00] loganthomas commented on #745
From the `darglint` docs, it looks like we have a few options:

1. We could use a `pre-commit hook`:
<img width="832" alt="Screen Shot 2020-09-14 at 18 51 18" src="https://user-images.githubusercontent.com/24984410/93149165-4844b100-f6bb-11ea-848a-21788cef0ef3.png">

2. We could run a command via CLI:
<img width="828" alt="Screen Shot 2020-09-14 at 18 51 49" src="https://user-images.githubusercont

[2020-09-15 00:37] samukweku commented on #736
@jcvall thanks for the feedback. I agree that `update_where` should not be changed. I'll just leave this open for a while and if it does not gain traction, I'll close it. Thanks everyone for your feedback.

[2020-09-15 01:26] loganthomas commented on #745
Ok... I've played around with this a bit and I am already sold haha

# CLI Output:
- I configured a `.darglint` file with the below configs:
  - The `ignore_regex` line ignores any test functions and private methods (that start with `_`)
[code]
- I ran `darglint .` from the `janitor` dir and found a ton of useful information.

## A Few Good Examples
### 1.
[code]
- This tells us that `functions.un

[2020-09-15 02:10] samukweku commented on #737
Since there is no interest in this, it is safe to close this issue.

[2020-09-18 00:52] loganthomas opened #750 "[DOC] Update Pull Request Template with `netlify` option"
# Brief Description of Fix

Currently, the recommended approach for reviewing documentation updates is to build the docs locally. This may still be the recommended approach, but a note should be included that lets developers know that they can preview the docs from the PR checks as well (with the new `netlify` inclusion).

I would like to propose a change, such that now the docs have examples on h

[2020-09-18 01:12] loganthomas opened #751 "[TST] Investigate Windows Build"
# Brief Description
The Windows build never fails when it should. #738 comments out the windows build in `.azure-pipelines/pipeline-master.yml` so that it doesn't run until properly debugged.

# Notes
- This issue is a placeholder for reminding the dev team to debug the windows build.

[2020-09-18 14:09] shantanuo opened #752 "Cleaning non-standard unicode characters"
There is a space between "in %" and it does not change to underscore like "in_%" because this is a non-breaking Latin1 (ISO 8859-1) space (xa0).

[code]

We need to add normalize class to correct this and similar issues faced by the data coming from non-standard data sources.

[code]

Reference:
https://unicode.org/reports/tr15/#Norm_Forms

[2020-09-18 20:58] ericmjl commented on #752
Hi @shantanuo! Welcome back, it's great to hear from you again :smile:.

I'm going to triage this issue as being ready for hacking!

[2020-09-18 20:59] ericmjl commented on #734
@loganthomas I'm going to reopen and pin this issue at the top of the issue tracker, it's good for visibility :smile:

[2020-09-18 21:00] ericmjl commented on #745
WOWWW! Superb find, @loganthomas! Let's add that in. No pressure though, only if you have time!

[2020-09-18 22:53] #739 closed, assigned to samukweku

[2020-09-18 23:04] ericmjl commented on #284
@sallyhong I like what you've done there! I am also wondering, what if the default suffix was not a fixed label, but instead the `__name__` attribute of the function passed in? This would be magical :tada: for users. For functions that are anonymous (they don't have a `__name__` attribute), such as `lambda`s, the `_new` can be the baseline default.

[2020-09-18 23:06] ericmjl commented on #737
@samukweku I think this one is worth leaving open. Let me tag them accordingly.

[2020-09-19 04:14] loganthomas commented on #745
I’d be happy to take this one!

[2020-09-19 04:42] loganthomas commented on #512
Related to #745

[2020-09-19 20:27] sallyhong commented on #284
Thanks @ericmjl. I never knew of the `__name__` attribute.  Let me do some research and learn about this!

[2020-09-20 01:39] firasm opened #753 "Truncate long column names ?"
# Brief Description

Often when exporting CSVs from questionnaires, the column names are paragraphs, or really long strings.

I would like to propose that we add an option to `clean_names` that truncates long sentence column names to something shorter. This would be useful not just in looking at the df in a notebook, but also when renaming it. Currently my workaround is to print the column names,

[2020-09-20 16:23] ericmjl commented on #753
@firasm thank you for chiming in! Yes, this sounds like a neat thing to add in.

Would you like to take a stab at a contribution? We’d love to expand the contributor community, and have you join in too. If not, no worries, we’ll see who in the dev team might take interest here :smile:.

[2020-09-20 17:48] firasm commented on #753
Thanks @ericmjl - unfortunately I don't have time to start looking at the source code (full teaching load this term!), but I can paste in my solution in the hopes that it gives someone a head start?

It's basically just a one-liner `.rename_columns({item: str(item)[0:8] for item in df.clean_names().columns})` where 8 is the number of chars that should be kept in each column name.

[code]
<img widt

[2020-09-20 23:39] ericmjl commented on #753
No worries, @firasm, totally understand! Thanks for chiming back with your implementation. We'll make sure to credit you with the implementation 😄!

By the way, I have a feeling we've overlapped at UBC before, is this correct? I was originally an MBIM student, but eventually finished in ISCI.

[2020-09-22 13:07] loganthomas opened #754 "[DOC] Quick Fix to Time Series Docs"
# Brief Description of Fix
- Quick update to the `Time Series` section of the docs
- #746 (my PR) incorrectly left out a `timeseries.rst` file within `docs/reference`

I would like to propose a change, such that now the docs correctly represent the `Time Series` section. This will including adding a `timeseries.rst` file within `docs/reference`

[2020-09-22 23:01] ericmjl commented on #754
I vote that we sneak this one into one of your PRs :).

[2020-09-23 01:05] loganthomas commented on #754
I realized that I actually created a `timeseries.rst` file when working on #746
- Within `.gitignore` there is a `docs/*` line that caused git to leave this out of the PR.
- Updated to force commit `timeseries.rst` in #741

[2020-09-27 12:34] samukweku commented on #737
just some examples on Stack Overflow, and on pandas github issues page, regarding conditional joins:

Stack Overflow

- https://stackoverflow.com/questions/44204726/preserving-left-right-join-logic-in-pandas-conditional-join
- https://stackoverflow.com/questions/61948103/conditional-merge-join-of-two-large-pandas-dataframes-with-duplicated-keys-bas
- https://stackoverflow.com/questions/23508351/ho

[2020-09-27 15:09] loganthomas commented on #396
@ericmjl
I’d like to revisit this issue. I’m thinking I can take the code @hectormz provided and add a few things that I had in mind.

Just wondering, will this be like `scripts/check-autodoc.py`? Essentially, we’ll call it during test pipeline? Wondering if there was a way to get it into a pre-commit hook so the error is thrown prior to a pipeline build. Curios to hear what you think here.

I’m h

[2020-09-27 15:11] hectormz commented on #396
I forgot about this! @loganthomas let me know if you have any questions about what I offered up, and I can jog my memory too.

Haven't thought about it in awhile, do not sure where it should live etc...

[2020-09-27 15:33] #434 closed

[2020-09-29 09:11] Fu-Jie opened #756 "concatenate_columns adds the function of ignoring empty values"
# Problem description

When I use the function of concatenating multiple columns, I find that it does not handle null values as expected.

## This is the current output

[code]

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>cat_1</th>      <th>cat_2</th>      <th>cat_3</th>      <th>cat</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</

[2020-09-29 12:18] ericmjl commented on #756
Hi @Fu-Jie, thanks for pinging in! Looks like something that could be a good enhancement!

Have you made an attempt at modifying the source code to make this happen? If so, we'd love to see your contribution in; after all it's an open source project where are all welcome to contribute! If not, no worries, I'll tag this as open for hacking.

[2020-09-30 02:53] Fu-Jie commented on #756
Thanks  for your reply!
The following is my modified solution on the basis of the source code.
Sorry, my code may be poor, but it should solve the problem.

**The problem is that I will modify the columns of the source data to fill in NA  to `""`**

[code]

[2020-09-30 12:00] ericmjl commented on #756
@Fu-Jie having read the code, it's not a hack at all :). If I may provide some feedback, it's possible that the code duplication can be minimized, I think, by moving the `if ignore_empty: remove_empty_string` piece right to the bottom.

If you'd be open to it, I think we'd love to officially review a PR from you that houses this addition to `concatenate_columns`! `pyjanitor` is also intended to be

[2020-09-30 14:47] Fu-Jie commented on #756
@ericmjl  Is it changed to something like this?
[code]

[2020-09-30 15:00] Fu-Jie commented on #756
I am happy to accept that I am a frequent user of pyjanitor. I hope it will become more powerful and easy to use.

[2020-09-30 15:14] ericmjl commented on #756
@Fu-Jie yep, that's what I was thinking of!

Looking forward to seeing your PR :).

[2020-10-01 02:53] sallyhong commented on #284
@ericmjl , great idea! I tried it out with a test function too (named "add_two")

https://gist.github.com/sallyhong/627db0810ee917df0f978b8557245a61

[2020-10-02 02:27] Bhavna777 commented on #744
I want to work on it.

[2020-10-02 20:44] firasm commented on #753
Yes we must have! Your name/picture sounded familiar but I couldn't figure out exactly where I'd seen you. small world - very nice.

[2020-10-03 07:02] eyaltrabelsi commented on #677
@ericmjl another small point is that the sort is only needed if the ordered is passed

[2020-10-03 13:15] #745 closed, assigned to loganthomas

[2020-10-03 21:58] ocefpaf opened #760 "Latest requirements.txt seems to be over-specifying dependencies"
This is the latest version requirements.txt file:

[code]

Those are inject in the setup.py as mandatory dependencies but a lot in there looks like docs, dev, or optional. Is pyjanitor really require all that at run time?

[2020-10-03 22:44] ericmjl commented on #760
@ocefpaf thanks for chiming in! Yes, I needed them in `requirements.txt` to ensure that Netlify deploy docs could work properly.

It seems like this breaks the conda-forge builds, is that right? Do you have ideas on how we might be able to get around this conflict?

[2020-10-04 00:53] ocefpaf commented on #760
Doesn't really break b/c we can add them there too but it is odd to ship all that to use pyjanitor.

One solution would be stop using the requirements.txt file and specify the deps in the pyproject.toml, going full pep517/518. (I can send a PR if you want to go that route.)

PS: I don't know how netfly works but the current setup defeats the purpose of the optional deps in setup.py and the requeri

[2020-10-04 01:06] ericmjl commented on #760
Totally agree. Netlify is a bit too opinionated, but the ability to preview docs changes was too alluring for me.

Looks like `pyproject.toml` is the right way to go here! I would love to get your help setting this up, as I've not tried this before, so seeing the pattern at work IRL will be super educational for me.

[2020-10-04 04:37] minchinweb commented on #760
I can also suggestion using [pip-tools](https://github.com/jazzband/pip-tools). With this set up, you would have a `requirements.in` file that specified you "base" requirements, which then is used to generate a `requirements.txt` file that you can use for CI or Netlify. It's not as flashy as pyproject.toml / poetry, but it's worked well for me for several years now.

Recent versions of pip-tools w

[2020-10-04 04:41] minchinweb commented on #734
Thanks for participating this year!

[2020-10-04 04:43] minchinweb commented on #750
Who has access to the Netlify preview docs? It seems like it might be a pretty short list...

[2020-10-04 12:00] ericmjl commented on #734
Our pleasure!

[2020-10-04 12:01] ericmjl commented on #750
@MinchinWeb I think I’m out of build minutes 😂, anyone usually can see the build with no problem.

[2020-10-04 12:22] ocefpaf commented on #760
I don't think that pyproject.toml is flashy, in fact I'm not really a fan, but it is the community standard.

I hear great things about pip-tools but I never used it. I don't see how that setup can solve the problem here though. Setup.py would still be 'bloated'' with all the dev and docs specifications to create the requirements.txt for netfly, no? Unless we add them all in separate categories an

[2020-10-05 01:44] minchinweb commented on #760
This was perhaps unfortunate wording on my part. What I meant to say was that pyproject.toml (or poetry? they're fairly connected in my mind) first showed up promising great things (e.g. "flash"), but many of the things I was doing in `setup.py` either weren't possible or not easily discoverable. That said, the project seems to have grown into much of its original promise, and credit to the contri

[2020-10-05 02:09] minchinweb commented on #750
Do you have the link to where the Netlify build would be?

[2020-10-06 22:13] evan-anderson-ts opened #763 "Add pipenv installation guide to docs, specifying to allow prereleases"
# Instructions for how to install pyjanitor via pipenv

Some folks might use pipenv for environment management. The recent update requires a prerelease dependency (black, as mentioned in [760](https://github.com/ericmjl/pyjanitor/issues/760)). I'd like to update the installation page of the documentation so that it A) includes pipenv installation and B) let's users know that they need to allow pre

[2020-10-07 14:32] ericmjl commented on #763
Hey @evan-anderson! Thanks for chiming in! Happy to accept a PR that makes this happen :smile:. Could I assign this to you?

[2020-10-08 12:12] evan-anderson-ts commented on #763
@ericmjl Sounds good! Happy to take care of it.

[2020-10-08 12:54] #711 closed

[2020-10-09 01:17] loganthomas commented on #754
Closed with #741

[2020-10-09 01:17] #754 closed, assigned to loganthomas

[2020-10-11 07:50] oriash93 commented on #381
I would like to work on this, if possible.

[2020-10-11 12:05] ericmjl commented on #381
@oriash93 please give it a shot!

[2020-10-11 12:07] #753 closed, assigned to nobody

[2020-10-16 12:25] oriash93 commented on #381
Sorry I won't be able to continue. Mark it back as available if you want.

[2020-10-18 23:56] ericmjl commented on #750
@MinchinWeb yes! It usually shows up amongst the build checks. Are you able to see them?

[2020-10-19 00:41] minchinweb commented on #750
I found them now! I guess you just have to submit a Pull Request first...

[2020-10-22 02:03] loganthomas opened #767 "[DOC] Fix links in AUTHORS.rst"
# Brief Description of Fix

Currently, the `AUTHORS.rst` file has a few broken links that are rendering incorrectly (`@UGuntupalli` `@sauln`)

I would like to propose a change, such that now the docs have the correct link for the above lines.

# Relevant Context

- [Link to exact file to be edited](https://github.com/ericmjl/pyjanitor/blob/dev/AUTHORS.rst)

[2020-10-26 12:01] #760 closed, assigned to nobody

[2020-10-29 13:49] #767 closed, assigned to loganthomas

[2020-11-06 07:01] robertmitchellv commented on #736
I think I'm pretty late to this, but I was also trying to come up with a flexible `case_when` clone that would work similarly to the way @samukweku was describing (inside of a `mutate()` statement).

This is sort of what I was working with (still not sure how to not have this work _in place_, which worries me, but I like the syntax better):

[code]

[code]

Ends up look this:

![Screen Shot 2020-1

[2020-11-06 09:55] samukweku commented on #736
@robertmitchellv you are on track with the idea. I was hoping somehow to pull it off without repeating `df` in the conditions. The speed benefits of numpy select plus being able to wrap the conditions in one go are some of the appeal of `case_when`. Let's see the responses from others.

[2020-11-06 20:14] robertmitchellv commented on #736
@jcvall @ericmjl I could be wrong but I think when an issue is closed there's no ping when new comments are made--if not, hopefully this ping isn't a bother! 🙇‍♂️

[2020-11-07 18:23] ericmjl commented on #736
@robertmitchellv not at all! @samukweku if you'd like to, please go ahead and re-open the issue. You've given a lot of thought to this part of the API, so I'm happy to defer to you on this one.

[2020-11-07 23:50] samukweku commented on #736
@robertmitchellv I will open it and then you can submit a PR

[2020-11-08 18:23] robertmitchellv commented on #736
Ok, happy to submit a PR, but is there anyway you can think of to not make this an in-place function? I think I'm having a hard time transitioning from R's NSE 🤣

[2020-11-08 22:34] ericmjl commented on #736
@robertmitchellv it's possible to do a `df.copy()` operation, maybe that will help avoid the in-place mutation?

[2020-11-09 04:35] samukweku opened #772 "Add Openpyxl to list of libraries in the environment_dev.yml"
xlrd is currently unmaintained, and causing some issues while reading an excel file in one of the tests (test_convert_excel_date.py). I propose adding `openpyxl` to the environment_dev, as it is a good alternative, can read xlsx files and is still maintained.

[2020-11-09 05:12] hectormz commented on #772
Reading the excel file in the #771 PR is handled by `pandas`, which in turn uses `xlrd`. I don't think adding `openpyxl` to our dependencies will fix the problem, and we should look more deeply into what is happening.

[2020-11-09 05:35] samukweku commented on #772
@hectormz In pandas, you can change the engine argument to use `openpyxl` instead of `xlrd`. The errors I noticed were related to xlrd. I may be wrong. I replied to your other comments.

[2020-11-09 08:42] #772 closed, assigned to samukweku

[2020-11-09 16:44] robertmitchellv commented on #736
@ericmjl I can try that--I just want to avoid the `numpy.select()` changing the data prior to assignment. Is there a `pyjanitor` design principle here or function I can look at that would give me a good idea of how to do this? Appreciate it!

[2020-11-09 19:51] samukweku commented on #736
@robertmitchellv maybe [select_columns](https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.select_columns.html#janitor.select_columns) or [coalesce](https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.coalesce.html#janitor.coalesce) ?

[2020-11-09 21:16] robertmitchellv commented on #736
@samukweku @ericmjl nevermind, I figured it out! `df.copy()` was the solution I wanted. I'll add the function metadata and then submit a PR.

[2020-11-23 02:35] #763 closed, assigned to evan-anderson-ts

[2020-12-16 07:19] samukweku opened #784 "Add slice feature to `select_columns`"
# Brief Description

I love the [select_columns]() method. It is powerful, especially the glob style name selection (beautiful!). I wonder if it is possible to add slice option, or if it is just unnecessary.

# Example API
Currently, you pass the selection to a list:

[code]
I think it would be nice if we could do this:

[code]
Probably similar to what you do with [np.r_](https://numpy.org/doc/sta

[2020-12-16 08:02] samukweku opened #785 "Add extra functionality to `rename_columns`"
# Brief Description

It would be nice if we could extend the  [rename_columns](https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.rename_columns.html#janitor.rename_columns) method to allow dynamic replacement of columns, beyond passing a dictionary. It will take the same functionality as pandas' [rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame

[2020-12-19 15:16] #677 closed

[2020-12-25 02:13] ericmjl commented on #784
Mmmm this is a neat idea! What might the implementation look like, @samukweku?

[2020-12-27 02:48] samukweku commented on #784
@ericmjl ; apologies; wanted to see how pandas implements the slice feature for ``loc``; waded through the indexing.py file to see if i could decipher it; no luck. Exciting that I still have lots to learn about deciphering code and how some things work in Pandas.

Below is something that could work; I guess the actual implementation will have some more checks and also ensuring order of selection i

[2021-01-05 22:12] ericmjl opened #788 "[ENH] Function that removes constant columns"
Example from @CihanSoylu:

[code]

[2021-01-10 20:53] samukweku opened #789 "Duplicate Columns in some cases with `select_columns`"
# Brief Description

`select_columns` sometimes returns duplicate columns, especially when using the `*` symbol. I believe only unique columns should be returned.

# System Information
- Linux OS (Ubuntu 20.04)
- pyjanitor 0.20.10
- python 3.9

# Minimally Reproducible Code

[code]

[2021-01-12 00:25] ericmjl commented on #789
This is a good catch, @samukweku! I think the simple fix here is to call on `df.drop_duplicate_columns()` inside `select_columns()`. Before we go to a PR for this one, is there a case where dropping duplicate columns might not be desirable?

[2021-01-12 01:00] samukweku commented on #789
@ericmjl `drop_duplicate_columns` fixes it. However, I feel that if we make the changes and include slicing, and possibly regex options, then it would be best to adapt it to the existing for loop within `select_columns`. Also feel it should be possible to accept a string if it is just one column that will be selected.  Also avoid copying the dataframe twice 😁

Another important part which I feel k

[2021-01-12 23:09] ericmjl commented on #789
That sounds amazing, @samukweku! I especially like the idea of targeting `select_columns()` as a function that lives closer to the primitive level for any thing that requires column selection. Let's go with it.

Level sounds like a good idea as well. Let's go with it!

Do you have a plan? Is there a way I can chip in, for example, if there's a piece that seems a bit substantial that you'd like a s

[2021-01-12 23:49] samukweku commented on #789
@ericmjl , I have the plan in my head  :grinning: I was spending too much time trying to find out how Pandas implemented the slicing functionality in ``loc``; however, I have found a way to resolve that. I will try and build out something and then share it with you.

[2021-01-27 07:51] anks7190 opened #793 "Huge Requirements.txt for pyjanitor"
Hi ,

I am using some basic functions from pyjanitor such as - clean_names() , collapse_levels() in one of my code which I want to productionise.
And there are limitations on the size of the production code base.
Currently ,if I just look at the requirements.txt for just "pyjanitor" , its huge .
I don't think I require all the dependencies in my code.
How can I remove the unnecessary ones ?
Or Wha

[2021-01-27 11:53] ericmjl commented on #793
Hi @anks7190, it's lovely to hear that you're using pyjanitor, and potentially in prod too!

Yes, there is a way to install pyjanitor without the deps. If you're willing to manage the dependencies manually, the way to do so with `pip` is as follows:

[code]

You might have to experiment a bit, as this isn't something we've encountered before. On the roadmap I do hope to split out the codebase to m

[2021-01-28 17:02] #784 closed, assigned to nobody

[2021-01-28 20:22] samukweku commented on #789
closing this as #790 fixes this.

[2021-01-28 20:22] #789 closed, assigned to nobody

[2021-01-28 20:24] samukweku opened #794 "Allow pivot_wider and pivot_longer use janitor.select_columns syntax"
Using `janitor.columns` syntax will allow for more flexible and dynamic column selection in pivot_wider and pivot_longer. #790

[2021-02-03 23:23] #794 closed, assigned to samukweku

[2021-02-25 16:06] adamzev opened #804 "multipledispatch added as dev dependency but needed in production"
# Brief Description

In this commit (https://github.com/ericmjl/pyjanitor/commit/331f4a858055079d1504c36c543e72c6c19bca6b) the library is now used in a function but it was just added to dev dependencies. I think this may have happened before. It fails for my app's CICD which imports PyJanitor. Does PyJanitor have a CICD process that doesn't import dev dependencies?

# Error Messages

[code]

[2021-02-25 16:42] ericmjl commented on #804
@adamzev thank you for the catch! matt rocklin's multipledispatch is now a full-fledged dependency because it enables us to write some of the code a bit more cleanly. It being absent is an oversight on my part; we were focused on other pieces of automation recently that I forgot to add that in. Appreciate the prompt response, give me a few hours max to get the package updated and kickstart the bot

[2021-02-25 17:02] #804 closed, assigned to nobody

[2021-03-02 06:02] samukweku opened #808 "[ENH] Filter rows across Multiple Columns"
# Brief Description

I would like to propose a `filter_rows` function (not sure what the name should be), where rows in a dataframe can be filtered across columns or at a specific column

# Example API

Please modify the example API below to illustrate your proposed API, and then delete this sentence.

[code]

I was working on a blog post, based on [Suzan Baert's](https://suzan.rbind.io/2018/02/dp

[2021-03-04 18:37] zbarry opened #810 "janitor.utils.check_column issue when passed single column"
If `check_column` is passed a string instead of an iterable list/tuple/etc of column names, as can happen with `label_encode`, it will iterate through the string's characters, checking whether each is present as a column:

https://github.com/ericmjl/pyjanitor/blob/87ee618d3764a8c0bf9cf5c277b926cbc0f3e14e/janitor/utils.py#L340-L371

There should be some form of type checking here to prevent this fr

[2021-03-05 00:13] #810 closed, assigned to nobody

[2021-03-08 21:58] samukweku opened #812 "Enhancements/Fixes/Suggestions for pivot_longer/pivot_wider"
-  [X] use the `pivot` function instead of `stack/unstack`, for `pivot_wider`, since the minimum version is pandas 1.1 (the `pivot` function in versions prior to pandas 1.1 did not support lists in the `index`/`columns` parameters)
- ~~not sure if it is necessary to have an `aggfunc` parameter in `pivot_wider`. Maybe deprecate?~~
- ~~use `stack` where possible for `pivot_longer` - it should offer

[2021-03-09 15:50] tomshaffner opened #813 "convert_excel_date throws error when input contains strings"
After importing an excel sheet into a dataframe, applying the convert_excel_date throws an error, `ValueError: unit must not be specified if the input contains a str`, if the columns are objects with strings. The error comes from the [pandas.to_timedelta](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_timedelta.html) function, which is rather confusing for the user at first.

[2021-03-09 19:07] samukweku commented on #813
@tomshaffner thanks for the feedback. Do you mind submitting a PR for this?

[2021-03-11 02:19] ericmjl commented on #813
Thanks for reporting this issue, @tomshaffner! I have to admit that I am not too familiar with the `convert_excel_date` function, as I rarely do much in the way of timeseries problems. That said, your issue description is quite clear. Would you be kind enough to help me with one little thing - could you edit your post with a minimal copy/paste-able CSV file that guarantees an error is thrown? That

[2021-03-22 13:00] econchick opened #815 "Request: highlight pyjanitor on Interrogate's documentation"
Hey there! - I really appreciate that pyjanitor uses [interrogate](https://github.com/econchick/interrogate)! It's super flattering!

I'm wondering, may I mention that pyjanitor uses interrogate on our [docs site](https://interrogate.readthedocs.io)? Something just as simple as a section of "Projects that use Interrogate" with the name and link under it. If you'd like, I can include the pyjanitor

[2021-03-22 23:55] ericmjl commented on #815
@econchick interrogate is awesome! It's caught me multiple times when I try to commit code that doesn't have any docstrings. I find myself thinking, "Might as well write something good here, since interrogate is making me write one." And then something decent gets committed. Wonderful work building out interrogate! Please do feel free to highlight it. :smile:

[2021-03-25 10:52] loganthomas opened #816 "[INF] Ensure tests pass on dev branch in auto release"
# Brief Description
- .github/workflows/auto-release.yml
- See https://github.com/marketplace/actions/wait-on-check
- Have every push to dev trigger a test suite run

[2021-03-25 10:59] loganthomas opened #817 "[DOC] Update broken links after PyJanitor Dev migration"
# Brief Description of Fix
- After switching ownership to the pyjanitor-dev organization, a number of links in the README and repo description have dead links
- ericmjl -> pyjanitor-devs
- Helpful resource potentially: https://github.com/JustinBeckwith/linkinator

[2021-03-25 11:13] loganthomas opened #818 "[INF] Fix GutHub release to point to actual latest"
# Brief Description
- The GitHub built in release feature currently points to an outdated release (over 2 years ago).
- A GitHub action stage could be added to .github/workflows/auto-release.yml
  - See https://github.com/actions/upload-release-asset

[2021-04-06 12:07] bcottman opened #825 "six-datatype-transformer-functions-for-data-pre-processing-for-machine-learning"
# Brief Description
I would like to propose...
contains also # Example API

https://towardsdatascience.com/six-datatype-transformer-functions-for-data-pre-processing-for-machine-learning-eb9abcce68cd

I will be running contrib gauntlet. I have about 10 more. I will look periodically to see if you merged. You send me feedback, if you want before that.

[2021-04-06 23:06] #812 closed, assigned to samukweku

[2021-04-06 23:14] ericmjl commented on #825
@bcottman thank you for chiming in!

I had a quick scan through your article. It seems like there might be existing APIs that support some of the things you're thinking of. For example, changing types is available under the `.change_type()` function.

[Reviewings PRs takes some time](https://jessitron.com/2021/03/27/those-pesky-pull-request-reviews/) and headspace, so the smaller the PR the easier

[2021-04-07 12:53] bcottman commented on #825
Yes. I will review the existing pyjanitor API (I did already, I must have missed it) and write PR for each function.

[2021-04-07 20:08] GuiMarthe opened #826 "Minimal Pyjanitor instalation"
Hey folks, I recently looked at the package dependency for pyjanitor and it seems too large for a production environment.
I saw in the `.requirements` directory that there are a few sets of dependencies for different use cases, but I don't see anywhere how to actually limit the scope at installation time.

Is the following possible?
`pip install pyjanitor[base]`

Just in case, this is the packages

[2021-04-07 21:47] samukweku commented on #826
possible dup of #793

[2021-04-08 08:32] samukweku opened #827 "[bug] pivot_longer fails when number of entries differ for '.value'"
# Brief Description

When pivoting to long form, with `.value`, it is expected that the sub structures will be dataframes. This is not the case all the time, and raises an error.

# System Information

- Operating system: Linux
- OS details (optional):  Linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

# Error Messages

[code]

[2021-04-08 13:46] bcottman commented on #825
Before I write N (where N > 20) PRs for some additions, I would like to get feedback on the changes I have detected in order to fit in your package.
1. Need to transform  from  ->  to
========================
                                 camel-> snake
docstring format  google -> original style (not sure what to call this style. original sphinx?)
package error       janitor_Error -> JanitorErro

[2021-04-08 18:38] ericmjl commented on #825
Thanks, @bcottman!

With respect to the style, yes, I think you've identified the most important ones. If there are other smaller ones that are either automatically detected by our continuous integration checks or are uncovered when we do code review, I hope you don't mind changing them too :smile:.

I looked again at your article on TDS, and I think there may be some good functions to prioritize.

[2021-04-08 18:46] ericmjl commented on #826
Hello @GuiMarthe! Thanks for chiming in. Yes, there are a lot of dependencies for pyjanitor. I think the dependency sprawl has been something I haven't managed well in the past, still doing a bit of learning here.

Looks like it might be good for us to split out at least the `pip`-installable package [using the optional dependencies convention that I have just learned from googling on SO](https://

[2021-04-08 20:54] bcottman commented on #825
face value proposal looks fine. run unto any problems, will PR on this thead.

[2021-04-10 21:36] ericmjl opened #829 "Need a new exchange rates API to call on"
The exchangeratesapi.io API does not work without an API key, and is causing our tests to fail. Issue first discovered on PR #828.

We have temporarily disabled the `janitor.finance` function `convert_currency` while we search for an alternative API that can be hit. Looking for a new API that:

1. allows pings without an API key,
2. does not restrict base currency.

If you know of a good API that

[2021-04-12 09:25] samukweku commented on #788
@ericmjl , @CihanSoylu, do you mind adding an example for this function

[2021-04-12 20:28] GuiMarthe commented on #826
hey @ericmjl, thank you for the prompt response! I think I can help you with this issue, even though I'm a beginner, I am aware of how friendly pyjanitor is :smile: .

Now, I'd still need to dig into the code, but from the  `pipdeptree` list I've posted above, I can see the following groups of dependencies:

- development: pytest, hypothesis, sphinx, and a few others
- base/minimal: pandas-flavor,

[2021-04-12 20:29] GuiMarthe commented on #826
Also, should we add messages and/or warnings whenever the user tries to use a method that depends on a non-installed dependency?

[2021-04-12 23:28] ericmjl commented on #826
@GuiMarthe yesss! That sounds like a great idea.

That makes sense too.

In terms of the different ways we can group things, would you be kind enough to do the following?

- `pyjanitor[all]`
- `pyjanitor[base]`- includes base dependencies only
- `pyjanitor[bio]` - includes base + bio packages
- `pyjanitor[chem]` - includes base + chemistry packages
- `pyjanitor[eng]` - includes base + engineering

[2021-04-14 09:16] #827 closed, assigned to samukweku

[2021-04-16 13:33] hectormz commented on #829
Ah, all good APIs come to an end!

[2021-04-16 13:35] hectormz commented on #829
I wish I knew how many users used this feature, and could encourage them to setup their own free API key somewhere.

[2021-04-16 13:40] hectormz commented on #826
Would `pyjanitor[base]` be the default and require no actual `[base]` specification?

[2021-05-09 11:41] samukweku opened #831 "[BUG] Coalesce returns a Series, instead of a dataframe"
# Brief Description

the [coalesce](https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.coalesce.html) function returns a Series, instead of a dataframe. Also, it may be more performant to use `bfill`, `ffill`, compared to the combination of `functools.reduce` and `combine_first`. Also, it would be nice to have a default value, in the event that there are still null values.

# Sys

[2021-05-09 13:44] ericmjl commented on #831
@samukweku oh my, that must be undetected behaviour change. Previously, I think coalesce would return a dataframe. Thanks for the catch, this is definitely a bug!

[2021-05-09 13:46] ericmjl commented on #826
Actually, that sounds like a good idea, @hectormz!

@GuiMarthe, can I check in, do you have bandwidth to handle this one? I ran into a bit of a busy patch myself, and have dropped the ball here, and probably will be like this until the end of the week.

[2021-05-11 11:31] samukweku commented on #831
@ericmjl , Looking at the source code, I think the issue is because  `delete_columns` defaults to `True`. So if set to False, code runs fine. So I don't think the bug label suffices anymore. Either ways it returns a dataframe, not the form I initially expected.

[2021-05-15 00:19] econchick commented on #815
Thank you! Finally got it [up there](https://interrogate.readthedocs.io/en/latest/#users-of-interrogate). Cheers! 🎉

[2021-05-15 00:19] #815 closed, assigned to nobody

[2021-05-20 14:06] #831 closed, assigned to nobody

[2021-05-21 20:13] ericmjl opened #834 "Deprecate label_encode?"
I recently stumbled upon pandas' function `factorize`. I think it does what we want with `label_encode`, except it is not a dataframe method.

I'd like to propose the following course of action:

1. First off, switch out the label_encode implementation to use pandas' factorize.
2. Add an alias function `factorize` that enables this to be a dataframe method.
3. Add a warning that we will be depreca

[2021-05-26 17:51] ramm001 opened #835 "Pandas and Compatibility"
# Brief Description

Hello Everyone
    I downloaded pyjanitor a few weeks ago, and started using it on Windows 10 with python 3.6 and pandas 1.1.3 (all the installations were performed via anaconda). No problem whatsoever while running my code under these conditions. For many reasons it was more suitable to run my code in a Linux server (Centos) with python3.6 and pandas 0.25.1 installed, which e

[2021-05-27 20:53] samukweku commented on #835
@ramm001 in pyjanitor v0.20.14 `group_agg` was updated to support null values during grouping. Could you kindly test with a lower version , possibly 0.20.13 to see if this persists?

[2021-05-28 16:18] tdhock opened #836 "KeyError from pivot_longer"
# Brief Description
When I ran pivot_longer without giving column_names, I got a KeyError, which was not helpful, nor documented on the pivot_longer man page, https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.pivot_longer.html#janitor.pivot_longer
I expected a more informative error message, or at least for this error to be documented.

# System Information

- Operating system:

[2021-05-28 18:05] ericmjl commented on #836
Hi @tdhock! Thank you for raising this bug!

I think it's reasonable to expect that if names_pattern is provided while no column names are provided, then we are searching amongst all of the columns. Perhaps the fix here could be a conditional inside the function that says, "if names_pattern is provided and column_names is not, then set column_names to be the set of all column names in the datafram

[2021-05-29 05:09] samukweku commented on #836
Thanks for the nerd sniping @ericmjl :smiley:

Hi @tdhock Thanks for the observation ... more feedback/stress tests are welcome - it will definitely help to improve the library.

Could you try the `dev` version (it has not been released yet) and see if this error persists?  When I run your code, I get a `Value Error`:

[code]

I suspect the error may be because of the `Species` column, which does

[2021-06-05 17:53] #836 closed, assigned to nobody

[2021-06-21 20:36] DOH-Manada commented on #595
Hi, I look to this repo for examples of how to use the pandas_flavor, and I've been reading your comments/posts about the inplace vs SQL query mentality. It's difficult to determine how/when to use inplace or create a copy and the behavior is inconsistent. Does pandas_flavor always require a copy/modifying the original dataframe? Is there a way to avoid this in order to save memory? I would simply

[2021-06-22 01:18] ericmjl commented on #595
@DOH-Manada thanks for pinging in! Indeed, we've gone back and forth on this matter for close to two years now.

There are some intricacies to worry about here. An explicit `.copy()` of a dataframe _may_ result in badly behaved code w.r.t. memory usage, especially when users have a large dataframe. I think @zbarry wanted `.copy()` off by default because in his use cases, enforcing copying on all p

[2021-06-22 12:31] dhern023 commented on #595
@ericmjl Thanks for the quick response. Yes, the third example had a typo (can't edit). However, in my second example, my intention is to overwrite the original dataframe, which I believe is similar to pyjanitor's implementation.

[code]

Ultimately I expected dataframe.perform_some_action() to modifies the original dataframe inplace, but if that's not best practice, I'll simply do dataframe = dat

[2021-06-23 21:38] samukweku commented on #737
picking up on this (taking a cue from @baritoneBeard commits that excludes conditional joins), I aim to implement this with four separate methods : ``lt_join``, ``le_join``, ``ge_join`` and ``gt_join``, which respectively stand for less than, less than or equal to, greater than or equal to, and greater than. Chose to split it out into four functions, instead of one (trying to avoid the ">", "<=",

[2021-06-24 09:48] ericmjl commented on #737
Thanks, @samukweku, for digging deep here!

[2021-07-01 00:54] #198 closed

[2021-07-01 00:54] #209 closed

[2021-07-01 00:54] #366 closed

[2021-07-01 00:54] #382 closed

[2021-07-01 00:54] #695 closed

[2021-07-01 00:54] #737 closed, assigned to samukweku

[2021-07-01 00:54] #752 closed, assigned to nobody

[2021-07-12 15:35] #813 closed, assigned to nobody

[2021-07-13 06:30] nvamsikrishna05 commented on #834
@ericmjl @samukweku Is this being worked on by anyone ? If not, I would like to take this up.  Thanks.

[2021-07-13 07:01] samukweku commented on #834
@nvamsikrishna05 pls go ahead.

[2021-07-13 09:33] nvamsikrishna05 commented on #834
@samukweku @ericmjl  Thanks

Just want to write down the thoughts here. Please correct me if I'm wrong.
(1)
The Current Solution -
[code]

Solution I'm thinking of with factorize would be -

[code]
These two would be replacing the _label_encode implementations.

The main benefit of doing this would be we would be wrapping over the pandas implementation and can remove the sklearn LabelEncoder. I se

[2021-07-13 11:28] ericmjl commented on #834
Hi @nvamsikrishna05! Thanks for thinking through this issue so thoroughly. I am going to answer your questions one by one.

Yes! That is correct; it's always nice to minimize the number of dependencies of a package, especially big ones.

The implementation you suggested looks about correct.

You are also correct here. What do you think of providing a `factorize_columns` function instead? I'm think

[2021-07-13 12:10] nvamsikrishna05 commented on #834
@ericmjl Thanks for the clarifications.  Yes, factorize_columns name sounds good. Also should the keyword arguments be added to the to-be deprecated label_encode function also ?

About retiring the label_encode function, doesn't "label_encode" name is more meaningful for people looking to do Label Encoding quickly ? Is the reasoning behind using factorize_columns so that people understand that thi

[2021-07-17 16:43] ericmjl commented on #834
@nvamsikrishna05 you raise a great question there! Thanks for your patience, btw, I was catching up with life after doing my SciPy tutorial on Tuesday. I also took the time to ponder over your question on-and-off.

Indeed, because `pyjanitor` is really about convenience functions, I think there are two ways we could proceed here. We could replace just the `label_encode` implementation, with the ef

[2021-07-17 17:43] #818 closed, assigned to nobody

[2021-07-18 00:46] #817 closed, assigned to nobody

[2021-07-18 01:36] loganthomas opened #844 "[INF] WARNING from pre-commit"
# Brief Description
When using `pre-commt`, the following warnings are reported:

[code]

# Proposed Solution
- I'll take a look at `nbstripoutput` and `darglint` and possibly fix the versions within `.pre-commit-config.yaml`

[2021-07-18 01:39] loganthomas opened #845 "[TST/INF] Weird isort output in `make check`"
# Brief Description
When running `make check`, a weird output is being returned:

[code]

[2021-07-18 03:23] #844 closed, assigned to loganthomas

[2021-07-18 05:05] nvamsikrishna05 commented on #834
@ericmjl It's fine, don't worry about the delay. Thanks for the clarifications. It sounds good. I'll proceed with the implementations. Thank you 🙂

[2021-07-18 22:44] fireddd commented on #84
Hi, I would like to see if I can contribute to this issue, can you give a better idea of what's expected here?

[2021-07-20 17:07] fireddd commented on #788
import pandas as pd
import janitor
data_dict = {
    "a": [1, 1, 1] * 3,
    "Bell__Chart": [1, 2, 3] * 3,
    "decorated-elephant": [1, 1, 1] * 3,
    "animals": ["rabbit", "leopard", "lion"] * 3,
    "cities": ["Cambridge", "Shanghai", "Basel"] * 3
}

example_dataframe = pd.DataFrame(data_dict)
#print(example_dataframe)
def drop_constant_columns(df):
    """
    Finds and drops the constant colu

[2021-07-20 20:58] ericmjl commented on #788
@fireddd you have the example done right :smile:

[2021-07-20 21:58] ericmjl commented on #84
@fireddd I think we've lost context on the original issue, so I'm going to close it. Thanks for picking up on the thread though!

[2021-07-20 21:58] #84 closed

[2021-07-21 03:44] nvamsikrishna05 commented on #834
Once the Final PR for factorize_columns is merged,Will close this Issue.

[2021-07-21 04:31] fireddd commented on #788
So what the next step here? Add this to functions.py and setup a test for it.

[2021-07-21 11:59] ericmjl commented on #788
That is right, looking forward to reviewing your PR!

[2021-07-23 23:05] fireddd commented on #514
Hi, Can you guide me on what needs to be done here?

[2021-07-25 11:30] #834 closed, assigned to nvamsikrishna05

[2021-07-25 21:40] #788 closed, assigned to nobody

[2021-07-25 23:55] fireddd opened #853 "Clean up tests for row_to_name function"
Going to suggest a test that, perhaps, more generally tests the exact _property_ we'd like to guarantee.

Because the intent of the function is to delete rows without resetting the index, could we do something akin to:

[code]

The idea here is that as far as possible, we test desired properties of the resultant dataframe, rather than only test exact values. What we gain here is generality; the te

[2021-07-26 01:06] ericmjl commented on #514
@fireddd this one is a bit of a bioinformatics-specific application. I've gone back and forth in my head as to the best place to handle this one. Now that I know in my day job that there'll be a new OSS package being released, I'd be a bit more inclined to hit pause on this issue.

[2021-07-27 13:40] dvetsch75 opened #858 "Docs Missing over the last week?"
I might be wrong, but I think this was fully documented last week. But today, when I navigate to the docs page, I see this:
![image](https://user-images.githubusercontent.com/70990721/127163336-be235ab4-a0b4-4744-a8be-ad2f0d1945b4.png)

Two questions on this:
 1. Am I going crazy?
 2. If I am not going crazy, is it possible to revert to the docs that I saw last week?

[2021-07-27 14:46] ericmjl commented on #858
You're not crazy, @dvetsch75!

I thought I was crazy when I saw the docs on readthedocs missing.

However, I checked in with the dev team later and they helped me remember that our official docs are at: https://pyjanitor-devs.github.io/pyjanitor/.

Last week, I think @loganthomas or @jk3587 updated the URL on the repo to reflect the change.

Hope this helps!

I think we might be taking down the re

[2021-07-27 14:48] dvetsch75 commented on #858
Thank you very much!

[2021-07-27 14:48] #858 closed, assigned to nobody

[2021-07-27 14:53] ericmjl commented on #845
Looks like `isort` should be configured by the appropriate config files.

[2021-07-31 05:27] nvamsikrishna05 commented on #785
@samukweku Is this being worked on ? If not, I will pick it up.

[2021-07-31 07:47] samukweku commented on #785
@nvamsikrishna05 pls go ahead

[2021-07-31 16:20] #285 closed

[2021-08-10 17:42] alan-j-lin opened #862 "[DOCS] General Functions Page Missing Documentation"
# Brief Description of Fix

Currently, the docs when you go to the any page under API Documentation displays only the headers for each section. The relevant information for each function has disappeared. Have tried both Chrome and Safari browsers and neither seems to work. It seems that when you go to the website it defaults to the _dev_ branch based on the lower right hand corner?

# Relevant Con

[2021-08-11 13:10] samukweku commented on #862
@alan-j-lin Thanks for the observation. @loganthomas any ideas?

[2021-08-11 13:16] loganthomas commented on #862
Thanks for the issue @alan-j-lin! Can you please confirm you are using https://pyjanitor-devs.github.io/pyjanitor for the docs?

We have recently switched to using GitHub pages instead of the old Read the Docs link.

See #858 for more information.

[2021-08-11 13:19] alan-j-lin commented on #862
Ah that was it! I was using the old read the docs link. I will add though when you look up pyjanitor on google it still points to the old link so you might want to have it forward to the new one.

[2021-08-11 13:25] loganthomas commented on #862
Great! Glad that was the root cause.

Regarding the Google search: that's a great observation. Let me take that back to the dev team. Closing this issue for now.

[2021-08-11 13:28] #862 closed, assigned to nobody

[2021-08-11 22:21] loganthomas opened #863 "Scrub readthedocs.io from repo"
# Brief Description of Fix
The dev team has elected to use GitHub pages for documentation instead of Read the Docs. This means documentation has moved from https://pyjanitor.readthedocs.io/ to https://pyjanitor-devs.github.io/pyjanitor/

A quick search of the repo for `readthedocs.io` reveals that there are some lingering RTD references (as shown below).

# Relevant Context
- [x] `/.readthedocs.ym

[2021-08-12 03:44] loganthomas commented on #845
@ericmjl See https://github.com/PyCQA/isort/blob/main/docs/upgrade_guides/5.0.0.md
- https://github.com/PyCQA/isort/blob/main/docs/upgrade_guides/5.0.0.md#--recursive-or--rc
- https://github.com/PyCQA/isort/blob/main/docs/upgrade_guides/5.0.0.md#--apply-or--y
- https://github.com/PyCQA/isort/blob/main/docs/upgrade_guides/5.0.0.md#-ac--wl--ws--tc--sp--sp--sl--sg--sd--rr--ot--nlb--nis--ls--le--lbt--

[2021-08-12 14:29] #863 closed, assigned to loganthomas

[2021-08-14 02:50] ericmjl opened #868 "[INF] Add GH actions workflow to automatically build dev docs"
Our docs are built off of the dev branch. The static site docs that are generated by sphinx should then be force pushed to the gh-pages branch.

I have a pattern for doing these in other projects that we might be able to follow:

- nxviz: https://github.com/ericmjl/nxviz/blob/master/.github/workflows/docs.yaml
- Network Analysis Made Simple: https://github.com/ericmjl/Network-Analysis-Made-Simple/

[2021-08-14 22:35] adalseno opened #869 "Documentation no longer available!"
# Brief Description

Hi, the docs are no longer available!
https://pyjanitor.readthedocs.io/

[2021-08-14 23:57] samukweku commented on #869
Hi @adalseno. Apologies for the inconvenience. kindly visit this page https://pyjanitor-devs.github.io/pyjanitor/. Pyjanitor is not using readthedocs any more but github pages.

[2021-08-15 02:27] #845 closed, assigned to loganthomas

[2021-08-15 03:13] samukweku opened #871 "[DOC] Add factorize_columns and drop_constant_columns to the API index"
- `factorize_columns` and `drop_constant_columns` are missing from the API index. This functions were created in #850 and #852 respectively.

[2021-08-15 03:21] samukweku opened #873 "Suggestion : Make io functions visible"
Pyjanitor has an `io.py`, which contains `read_csvs` method, which seems useful if one is reading multiple csv files. Checking in to see if there is any reason why this should be exposed to the public for use.

[2021-08-16 09:34] Zeroto521 opened #876 "[ENH] `expand_column` function should set `sep` default is `|`"
# Brief Description

Compare to `pandas.Series.str.get_dummies` and `janitor.expand_column` definition.

[code]

https://github.com/pandas-dev/pandas/blob/5f648bf1706dd75a9ca0d29f26eadfbb595fe52b/pandas/core/strings/accessor.py#L1971

[code]

`get_dummies`'s `sep` parameter default is `|`.
`expand_column`'s `sep` parameter requires the user to input.
And `expand_column` is a sugary syntax of `get_

[2021-08-16 10:57] samukweku commented on #876
Not a bad idea @Zeroto521. Let's wait for others to chime in. You could also create a PR for this

[2021-08-18 07:09] Zeroto521 opened #881 "Speed up pytest"
# Brief Description

When I do local tests, I find there only use single core to test.
That causes **so low**.
To speed up we could patch some commands such as `-n`.

# Example API

Please modify the example API below to illustrate your proposed API, and then delete this sentence.

From

https://github.com/pyjanitor-devs/pyjanitor/blob/53c86113b62d3245937c5596332f262172d916bc/Makefile#L21-L23

to

[2021-08-18 22:23] #871 closed, assigned to samukweku

[2021-08-18 22:25] #868 closed, assigned to nobody

[2021-08-19 11:58] samukweku opened #882 "[BUG] Warning message in `coalesce`"
# Brief Description

`bfill` and `ffill`  are used in `coalesce` and in the future, will be keyword-only;

# System Information

- Operating system: Linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

[2021-08-19 12:03] #876 closed, assigned to nobody

[2021-08-19 13:34] ericmjl commented on #881
I like the idea, thank you for raising it, @Zeroto521! Would you like to do a PR for this one? It would require pytest-xdist to be installed, do we have that package in the environment spec files?

[2021-08-19 13:38] loganthomas opened #883 "[ENH] New Machine Learning Features"
# Brief Description
I've been thinking of a few ML additions for pyjanitor. Below are 3 ideas that I think would be helpful to add to the API:

1. A method to drop feature based on a variance threshold (think sklearn [`VarianceThreshold`](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html))
2. A method to cap outliers that fall below or above a certa

[2021-08-19 13:47] loganthomas commented on #883
FYI, we have a `min_max_scale` already https://pyjanitor-devs.github.io/pyjanitor/reference/janitor.functions/janitor.min_max_scale.html#janitor-min-max-scale

[2021-08-19 17:44] ericmjl commented on #883
These are great functions to have as a convenience, @loganthomas! I'm in favour of having these in the library. The docstrings, however, should come with a strong warning: in proper machine learning practice, any transformations should still be part of an sklearn pipeline so that we don't have info leakage from the training set into the test set. (How that happens goes deep, we can definitely talk

[2021-08-20 12:14] #881 closed, assigned to nobody

[2021-08-22 06:41] samukweku opened #885 "[BUG] Weird output with pivot_longer"
# Brief Description

`pivot_longer` outputs wrong results when a sequence is used in `names_pattern`

# System Information

- Operating system:Linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

[2021-08-23 06:58] Zeroto521 opened #889 "Change local test way, directly import not install"
# Brief Description

When I did PR #884, an upstream PR (#861) was merged.
So I need to pull upstream to local. Then I did the local test, just typed `make test`.
An error came out, there showed missing `conditional_join`.
It was weird. After I checked the error stacks I got the problem.
Local tests used pypi the newest version (0.21.0 ) codes, not my local codes.

So the quick fix this is by typi

[2021-08-23 07:43] samukweku commented on #889
I look forward to the day you will work on #826 :grin:  You seem to have a handle on infrastructure; i'm learning from you, so fingers crossed

[2021-08-23 07:58] samukweku opened #890 "[ENH] Improve performance of conditional join for range"
# Brief Description

- Use external libraries to improve performance for interval joins
- [staircase](https://www.staircase.dev/en/latest/getting_started/index.html) and [ailist](https://www.biosciencestack.com/static/ailist/docs/tutorial.html) seem to be more performant than Pandas for interval search. [benchmarks](https://www.biosciencestack.com/static/ailist/docs/benchmarking.html)
- [ailist](h

[2021-08-23 09:19] Zeroto521 opened #891 "[DOC] `get_features_targets` should be removed from general_functions.rst"
# Brief Description of Fix

When I see docs I found [`get_features_targets` page](https://pyjanitor-devs.github.io/pyjanitor/reference/janitor.functions/janitor.get_features_targets.html) was black.

After #556 merged, there also should remove `get_features_targets` from general_functions.rst.
But #556 didn't remove it. So this cause that page became blank.

# Relevant Context

- [`get_features_ta

[2021-08-28 23:44] #785 closed, assigned to nvamsikrishna05

[2021-08-30 00:58] ericmjl commented on #889
Hi @Zeroto521, thanks for chiming in. I think this could be a good idea. Does doing what you've proposed guarantee that, even if `pyjanitor` is installed from PyPI or conda-forge inside an environment, when we run tests from inside the cloned repository we will never hit the source code installed from PyPI/conda-forge?

On thinking further about the setup, I'm wondering if there's perhaps an advan

[2021-08-30 01:04] ericmjl opened #894 "Moving to MkDocs from Sphinx"
## Introduction

I would like to propose that we move our docs building system to MkDocs.

Here is why.

While Sphinx is very powerful and contains lots of features, it is also very complex. In addition, the tooling surrounding Sphinx is such that we might forget an incantation somewhere and end up with a situation, not unlike our last docs push, where the examples disappeared.

By contrast, MkDoc

[2021-08-30 02:44] Zeroto521 commented on #889
It involves the import priority problem.
import priority: script local folder => build-in lib => 3rd lib

A simple demo could show that.

[code]

[code]

[code]

[code]

Back to pyjanitor' unit test.
We want to `tests` folder scripts import `janitor` folder scripts.
We need to add `__init__.py` into `tests` folder firstly, then pytest would treat them as a package.

[code]

[2021-08-30 10:19] ericmjl commented on #889
Got it. I learned something new today, thanks @Zeroto521. It definitely will make the initial setup magical, though the pattern is foreign to me as I've never done things this way before.

Let me ping on Twitter in my usual circles to see if this is a canonical pattern or not. Now that I know it's not technically impossible to leverage priority order to run tests, I'd like to see what other season

[2021-08-30 11:05] #882 closed, assigned to samukweku

[2021-08-30 12:52] hectormz commented on #889
I think the priority should be to run tests against the pyjanitor that is installed, and not what is just in the folder, since we want to test behavior when it is actually installed for a user.

I think I had gathered some inspiration from [this](https://hynek.me/articles/testing-packaging/) before but I may be thinking of something else.

So for development purposes, I think it's best to always i

[2021-08-30 13:26] hectormz commented on #889
As an aside, as mentioned in the post and in response to @ericmjl tweet about this, I have switched to the `src/` layout in any new packages I create myself

[2021-08-30 19:49] hectormz commented on #894
I usually support not fixing something that is not broken. But I also am not comfortable with Sphinx and I always find myself hoping that I'm following someone else's template correctly. I support switching to MkDocs if more maintainers will be more comfortable with it, and we can attract more contributors with the change. Given this proposal, I would opt for switching if it makes sense, but I did

[2021-08-31 19:07] mattinbits opened #895 "Broken scipy dependency on fresh install"
# Brief Description

When installing pyjanitor with pip and trying to import it, an error about missing scipy is encountered.

# System Information

- Operating system:
- OS details (optional): Ubuntu Linux 20.04 (WSL)
- Python version (required): 3.8.10

# Minimally Reproducible Code

`pip install pyjanitor`

followed by, in python:

`import janitor`

# Error Messages

[code]

[2021-09-01 09:31] samukweku commented on #895
Thanks @mattinbits, one workaround could be to pip install scipy then reinstall pyjanitor. Pinging @loganthomas @ericmjl @Zeroto521 : seeking your expertise on this

[2021-09-01 11:25] loganthomas commented on #895
I can confirm this behavior. I started with a fresh (empty) conda env and installed `pyjanitor`. The same `ModuleNotFoundError` for `scipy` occurs:

[code]

[code]

Will get with other devs and look into this...

[2021-09-01 11:29] loganthomas commented on #895
@ericmjl This issue **does not** occur when installing `pyjanitor` via `conda install pyjanitor -c conda-forge`

Wondering if there is something up with `scipy` as a dependency elsewhere. We don't explicitly list it as a requirement I believe in `pyjanitor`.

[2021-09-01 12:09] Zeroto521 commented on #895
Install via pip, the core problem is that `pyjanitor` misses `scipy` in here.

https://github.com/pyjanitor-devs/pyjanitor/blob/7360387dbee094a341483ee22dab2ab4394e702a/.requirements/base.in#L1-L7

Let us see the package dependencies links.

`pyjanitor` requires three packages:
- `natsort`: requires [nothing](https://github.com/SethMMorton/natsort/blob/master/setup.py)
- `pandas_flavor`: requires

[2021-09-01 12:21] ericmjl commented on #895
@samukweku @loganthomas @Zeroto521 thanks for helping out here. I think we should include scipy as an explicit dependency and then cut a patch release to resolve this issue asap. This is because we explicitly import scipy modules inside pyjanitor. I will handle this one.

[2021-09-01 12:28] ericmjl commented on #895
Alrighty, y'all, @samukweku & @loganthomas I'd like to at least make sure one of you two have approved this PR before we merge: https://github.com/pyjanitor-devs/pyjanitor/pull/896

[2021-09-01 14:14] #895 closed, assigned to nobody

[2021-09-01 14:23] ericmjl commented on #869
@adalseno I'm going to close this issue as I believe we have resolved it.

[2021-09-01 14:23] #869 closed, assigned to nobody

[2021-09-01 14:25] ericmjl commented on #889
@Zeroto521 I'm letting the responses collect [on Twitter](https://twitter.com/ericmjl/status/1432287114100625409). Thus far, the responses from those whom I've interacted with have been in favour of our current setup, i.e. doing an editable install, rather than including `__init__.py` in the tests directory. On balance I'm in favour of closing the issue and marking it as a `wontfix`, but wanted to

[2021-09-01 14:29] ericmjl commented on #895
@mattinbits the bots are building. I just cut a patch release. Thanks for notifying us of this issue!

[2021-09-01 16:18] mattinbits commented on #895
Thank you! Loving the quick turnaround 👍

[2021-09-01 18:23] ericmjl commented on #895
Our pleasure. This one turned out to be a simple fix. Thanks again for letting us know, @mattinbits :smile:

[2021-09-02 03:56] samukweku opened #898 "[BUG] Conditional Join Multiple Conditions Errors on pd.eval"
# Brief Description

For multiple joins, `conditional_join` fails if numexpr is installed (which is the opposite intention), as numexpr does not recognize pandas array

# System Information

- Operating system: Linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

# Error Messages

[code]

[2021-09-04 19:36] loganthomas opened #902 "[ENH] Add `softmax` to math submodule"
In reviewing the `math` module, I'd like to add `softmax` to the functions. This will complete the "activation" functions :) as we have sigmoids but no softmax.

[2021-09-05 00:14] #885 closed, assigned to samukweku

[2021-09-05 01:33] ericmjl opened #906 "Make docs consistent"
Our docstrings should have some standards. I would like to propose the following standards:

[code]

That should be all that's included.

With MkDocs, search will be really good. There can be a notebook series where we do "how to use function X". This is a very good Google Summer of Code project, btw.

[2021-09-05 01:38] loganthomas commented on #906
I agree 💯

A recent review of `timeseries.flag_jumps()` is too verbose and the detailed examples should be in a Jupyter Noteboook.

[code]

This should certainly be in an example file somewhere rather than a docstring IMO. I wrote this so I am completely at fault 😅

[2021-09-12 23:12] #898 closed, assigned to samukweku

[2021-09-15 22:12] samukweku opened #926 "[ENH] Use Pandas merge(hash join) for equality operator in conditional_join"
# Brief Description

Using Pandas Hash Join(`pd.merge`) for equality operator in `conditional_join` should improve performance, compared to binary search, especially for strings.

[2021-09-15 22:17] samukweku opened #927 "[ENH] improve encode_categoricals"
# Brief Description

- Simplify logic for `_encode_categoricals` in utils.py. A simple for-loop possibly
    - If user provides `categories` use as-is (order defaults to `appearance`)
    - `order` should be relevant only if `categories` is not provided.
- Get rid of `As_categorical` helper function (tuple of `categories, order` is sufficient)

[2021-09-15 22:20] samukweku opened #928 "[ENH] use keyword arguments for expand_grid"
# Brief Description

`**kwargs` offer a nice, clean syntax. `expand_grid` might benefit from it.

[2021-09-16 09:15] samukweku opened #929 "Implement tidyxl for Excel files"
# Brief Description

I would like to propose an implementation of [tidyxl](https://cran.r-project.org/web/packages/tidyxl/vignettes/tidyxl.html) within Pyjanitor for non tabular data in Excel files.

The idea is to read in the Excel file, if it cannot be handled easily with Pandas because of the non tabular nature of the data; [tidyxl](https://cran.r-project.org/web/packages/tidyxl/vignettes/tidyx

[2021-09-18 12:24] samukweku commented on #732
@szuckerman just checking on this issue... Reread it and it is fascinating... Not sure how far you've gone with it... And if I can contribute

[2021-09-28 12:01] #736 closed, assigned to robertmitchellv

[2021-09-30 12:31] farhanreynaldo commented on #756
Hi @ericmjl, may I open the PR for this issue? Would really love to contribute to this library.

[2021-09-30 13:51] ericmjl commented on #756
@farhanreynaldo yes, please go ahead!

[2021-10-10 02:56] #756 closed, assigned to farhanreynaldo

[2021-10-11 02:52] samukweku opened #945 "Read in Data From the command line into a Pandas DataFrame"
I would like to propose reading data from the command line into a Pandas DataFrame. This can come in handy when processing large files, where the pre-filtering step is done on the command line (`grep/sed/...`) before pulling into Pandas. This can be handy, efficient and avoid loading all the data into Pandas before processing. Inspiration for this is from R's data.table [fread](https://github.com/

[2021-10-11 02:54] #926 closed, assigned to samukweku

[2021-10-11 21:26] samukweku opened #946 "Weighted stats"
# Brief Description

I would like to propose a weighted stats method (weighted mean, sum, ...). Usually the most popular is weighted average (based on [Stack Overflow](https://stackoverflow.com/questions/26205922/calculate-weighted-average-using-a-pandas-dataframe))

# Example API

[code]

[2021-10-13 06:14] aditirao7 commented on #891
Hi, could I work on this fix?

[2021-10-13 07:22] Zeroto521 commented on #891
The building tool of documentation now is moving from Sphinx to MkDocs. #894

So I'm not sure what effect would bring to this issue.

[2021-10-13 08:56] aditirao7 commented on #891
Oh okay, I'll see if I can take up another issue then. Thanks :)

[2021-10-13 11:54] #927 closed, assigned to samukweku

[2021-10-17 03:10] samukweku opened #947 "complete fails for a dictionary with only one entry"
# Brief Description

`complete` fails if only a dictionary is provided, and the values is a pandas Index.

# System Information

- Operating system: linux
- OS details (optional):  fedora
- Python version (required): 3.9

# Minimally Reproducible Code

[code]
-->

# Error Messages

[code]

[2021-10-17 03:11] samukweku commented on #947
The error stems from line 733, where the frame creation holds onto the index ... passing `index=False` should resolve this.

[2021-10-18 22:43] samukweku opened #949 "Rearrange order of columns with `names_sort`"
# Brief Description

`names_sort` does not really sort anything. Either create a categorical, or use sort_index within the function to sort
# System Information
- Operating system: Linux
- Python version (required): 3.9.7

# Minimally Reproducible Code

[code]

[2021-10-23 12:41] #947 closed, assigned to samukweku

[2021-10-23 12:51] #949 closed, assigned to samukweku

[2021-10-23 23:41] ericmjl opened #952 "test_dict_extension_array fails on CI"
In working on the MkDocs build (#897), I found that the function `test_dict_extension_array` fails. I marked it as `xfail` for the time being to prevent it from being a blocker. Meanwhile, I am raising this issue to bring it to the attention of @samukweku. The error is reproducible because I have also added in the decorator (`@reproduce_failure("6.23.4", b"AAEAAAEAAAAB")`) on top of it.

[2021-10-24 14:29] #894 closed, assigned to nobody

[2021-10-26 03:44] Zeroto521 commented on #891
fixed.

![image](https://user-images.githubusercontent.com/25895405/138805329-52d085c6-1c5e-460c-8aaf-f4f476413c69.png)

[2021-10-26 03:44] #891 closed, assigned to nobody

[2021-10-31 09:49] #952 closed, assigned to samukweku

[2021-11-01 23:55] #902 closed, assigned to loganthomas

[2021-11-03 07:07] #890 closed, assigned to nobody

[2021-11-21 01:52] #744 closed, assigned to nobody

[2021-11-27 03:12] samukweku opened #959 "Extend select_columns to groupby objects"
# Brief Description

Allow column selection on pandas dataframe groupby objects with `select_columns`

# Example API
``mtcars.groupby('cyl').select_columns('*p')``

[2021-11-28 23:03] ericmjl commented on #959
Mmm! This would need an extension to the pandas `groupby` API.

In exploring through the idea, would this suggestion be equivalent to `mtcars.select_columns("*p").groupby("cyl")`?

Actually, on reading that line above, the answer is "no" - we'd miss out on the "cyl" column if we selected "*p" first.

[2021-12-08 05:48] samukweku commented on #873
@ericmjl has implemented this already.

[2021-12-08 05:48] #873 closed, assigned to nobody

[2021-12-11 10:22] samukweku commented on #946
statsmodels already implements this

[2021-12-11 10:22] #946 closed, assigned to nobody

[2021-12-11 10:27] samukweku commented on #959
implementing this would be slower than preselecting. the user can easily achieve this preselection:

[code]

I think it is safe to close this; it looks nice, but I dont think it offers any performance/shortcut improvement advantages.

What would be awesome is being able to do computations within a grouped object, without resorting to `transform` (or hiding the `transform` implementation). But that

[2021-12-11 10:27] #959 closed, assigned to nobody

[2021-12-11 10:27] #928 closed, assigned to nobody

[2021-12-11 10:28] #808 closed, assigned to nobody

[2021-12-11 10:29] samukweku commented on #686
changed my mind! `transform_columns` has its place; we probably have to agree on keeping just one?

[2021-12-18 06:50] thatlittleboy opened #963 "Example of groupby_agg shows wrong output"
# Brief Description of Fix

Currently, the docs for `groupby_agg` uses `new_column_name='count'` but the result shown in the docs has column name 'size'.

<img width="554" alt="image" src="https://user-images.githubusercontent.com/30731072/146632174-9b4a1022-d205-4ead-855e-76a3dccb7b7a.png">

The correct column name should be 'count'.

<img width="330" alt="image" src="https://user-images.githubus

[2021-12-19 23:31] Freakston opened #964 "[Security] Workflow codecov.yml is using vulnerable action s-weigand/setup-conda"
The workflow codecov.yml is referencing action s-weigand/setup-conda using references v1. However this reference is missing the commit [a30654e576ab9e21a25825bf7a5d5f2a9b95b202](https://github.com/s-weigand/setup-conda/commits/a30654e576ab9e21a25825bf7a5d5f2a9b95b202) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1)

[2021-12-19 23:31] igibek opened #965 "[Security] Workflow tests.yml is using vulnerable action s-weigand/setup-conda"
The workflow tests.yml is referencing action s-weigand/setup-conda using references v1. However this reference is missing the commit [a30654e576ab9e21a25825bf7a5d5f2a9b95b202](https://github.com/s-weigand/setup-conda/commits/a30654e576ab9e21a25825bf7a5d5f2a9b95b202) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-19 23:52] samukweku commented on #963
@thatlittleboy thanks for the observation! kindly submit a PR for this fix. thanks!

[2021-12-31 09:18] thatlittleboy opened #968 "Discussion: Usage examples in documentation / docstrings"
Hi all, just wanted to open a discussion on the state of documentation of this package.

With the most recently merged pull request (#957) and #906, I'm inferring that a decision has been made to remove all Minimal Working Examples (MWE) from the docstrings and move them instead into Jupyter notebooks -- with 1 notebook for each function (?).

**Qn**: If this is so, then can I understand what is t

[2021-12-31 11:00] thatlittleboy opened #969 "[DOC] bin_numeric parameters"
# Brief Description of Fix

Currently, the docs for `bin_numeric` describes the parameters to be more restrictive than they actually are. According to the pyjanitor docs, `num_bins` is expected to be an Optional[int]:

<img width="665" alt="image" src="https://user-images.githubusercontent.com/30731072/147819958-bf32b65e-a6c4-476b-a2a1-bf936b5fbf0f.png">

However,
pyjanitor's `num_bins` is passed

[2022-01-01 05:53] samukweku commented on #969
@thatlittleboy I think kwargs is way better/more flexible/less restrictive, and keeps in line with pyjanitor's ease of doing things. besides, we are moving the *worry* to pandas. I'd suggest you submit a PR for this, and add to the changelog as well, so users are aware of this. sniping @ericmjl @pyjanitor-devs/core-devs

Happy new year by the way !!!! :grin:

[2022-01-01 05:57] samukweku commented on #968
sniping @ericmjl. notebooks are useful for some scenarios, take for instance `pivot_longer`/`pivot_wider`. that `tl-dr` is true though, and i'd suspect that the api for each function should be a good enuf `tl-dr`. Let's get more input from the rest of the team. @pyjanitor-devs/core-devs

[2022-01-01 06:46] thatlittleboy commented on #969
Sure, will do. Apart from the kwargs suggestion, can I also take it that we're agreeable to deprecate `num_bins` for `bins`?

[2022-01-01 20:57] ericmjl commented on #968
@thatlittleboy thanks for chiming in! I actually agree with your sentiments, and I also think I've been not explicit enough with what I was hoping to accomplish with #957, leading to a bit of stagnation and confusion.

You're right in observing that the docstrings become way too verbose. Additionally, maintaining the functions became difficult as the docstrings started interfering with the readabi

[2022-01-02 03:18] thatlittleboy commented on #968
Sure @ericmjl , I think I should be able to help with the minimal examples / tl;dr part of the sprint.

So to be clear, the "example notebooks" that we are talking about here are the ones in [here](https://github.com/pyjanitor-devs/pyjanitor/tree/dev/examples/notebooks), yeah?
And it is 1 notebook per function? e.g. `bin_numeric.ipynb` would be one, `add_column.ipynb` would be one, and `add_column

[2022-01-02 03:40] ericmjl commented on #968
Yes, that is right!

If you could give me a day or two to template out the workflow, that'd be awesome. It'll give me a chance to work out potential kinks before we go all-in on this way of handling minimal working examples in docstrings.

[2022-01-02 06:48] ericmjl commented on #968
@thatlittleboy I did a few tests and ultimately found that putting minimal working examples in the docstrings is the best thing to do. We get free integration with doctests & pytest, for example! The examples also render well too.

<img width="1616" alt="image" src="https://user-images.githubusercontent.com/2631566/147868422-08d119ce-9b6a-4b09-badb-8962d5e344d9.png">

In my latest PR #971, I made

[2022-01-02 07:01] thatlittleboy commented on #968
Looks great @ericmjl , thank you. I think this is a good direction forward, especially for offering clear, short examples to new users of pyjanitor. 👍🏻

[2022-01-02 12:36] thatlittleboy opened #972 "[DOC] Adding minimal working examples to docstrings; a checklist"
## Background

This thread is borne out of the discussion from #968 , in an effort to make documentation more beginner-friendly & more understandable.
One of the subtasks mentioned in that thread was to go through the function docstrings and include a *minimal* working example to each of the public functions in pyjanitor.

Criteria reiterated here for the benefit of discussion:

Sample of what MWE

[2022-01-02 12:38] thatlittleboy commented on #972
- `functions/bin_numeric.py` is already in PR

I'm currently having a look at
- `functions/rename_columns.py`
- `functions/reorder_columns.py`
- `functions/to_datetime.py`
- `functions/also.py`
- `functions/then.py`
- `functions/dropnotnull.py`
- `functions/groupby_agg.py`
- `functions/flag_nulls.py`

Will probably look at some more as and when I have time over the next week or so

[2022-01-02 14:35] ericmjl commented on #965
Thank you, @igibek. I plan to move the CI off from s-weigand/setup-conda in favor of conda-incubator/setup-miniconda. I would, however, like to make sure that the lineup of PRs are merged in before we make the switch.

[2022-01-02 14:51] ericmjl commented on #945
Wow, that's _quite_ the API!

Let me think, underneath the hood, it looks like the command would end up using `subprocess.run()` or `subprocess.Popen`. It'd be like this block from [this blog](https://op8867555.github.io/posts/2017-10-13-use-your-unix-toolbox-with-pandas.html) that you linked, @samukweku:

[code]

[2022-01-02 14:54] ericmjl commented on #929
This looks like a neat idea, @samukweku!

[2022-01-02 16:49] #963 closed, assigned to nobody

[2022-01-02 18:57] ericmjl commented on #972
This is awesome, @thatlittleboy! Thank you for handling this here :smile:. I've invited you to the dev team to help move this along.

[2022-01-02 20:28] #969 closed, assigned to nobody

[2022-01-02 21:30] ericmjl opened #973 "Update CI system with miniforge"
I've recently figured out that there are a few enhancements to the CI that we can make.

The biggest and most prominent one is to switch over to use mambaforge by way of mini forge rather than miniconda. We can switch this out using https://github.com/marketplace/actions/setup-miniconda. Doing so should also help cut down on the amount of time spent on building the conda environment, since mamba,

[2022-01-03 08:36] ericmjl commented on #968
@thatlittleboy I'd like to invite you onto the dev team. Can you ping me on Shortwhale so I can send you a link to join the Discord server? http://www.shortwhale.com/ericmjl

[2022-01-03 12:44] thatlittleboy commented on #968
Yep, pinged!

[2022-01-03 14:26] #973 closed, assigned to ericmjl

[2022-01-03 20:53] Nalmeder commented on #945
In my senior year of undergrad I made an API to filter out large .csv files in C, which seems tangentially related to this. I could try to repurpose some of that old code and use Eric's suggestion to try and get the ball rolling on this if you'd like @samukweku (though if you'd rather tackle this one yourself, by all means save me the time)

[2022-01-03 23:45] samukweku commented on #945
@BaritoneBeard hi… pls give it a go. I’m assuming that the code reads from the shell? Or does it do sth different, as it looks like sth that focuses on csv files? Maybe a bit of a sample of what it does? Either ways I think it would be a great addition to the library. So, pls, IMO, kindly submit a PR for this.

[2022-01-04 00:08] Nalmeder commented on #945
@samukweku The code from my undergrad took a very large excel sheet (the U.S. Census), extracted all of the relevant columns and put those into an SQL database, which could then be queried in any way the user would like. So rather than hard coding a specific excel sheet and creating a SQL database, here I would take the file that was chosen in the cli (sys.argv[1] ) and query it according to argv[

[2022-01-04 00:24] samukweku commented on #945
Sweeet … a PR with usage examples 😁😁

[2022-01-08 14:25] ericmjl commented on #972
One trick I'm finding is that it's pretty easy to create a minimal working example from the test suite :joy_cat:.

[2022-01-08 15:50] ericmjl opened #980 "[INF] Update environment.yml to use a newer version of Python"
I've noticed that our Python version has been stuck at 3.7 for a while. I would like to propose updating the Python version to 3.9, which is just one version behind the latest official release of Python (3.10).

#978 bumps the version of Python to 3.8, I think I committed that by accident but tests pass anyways, so I will wait till that is merged before making a PR for this issue.

[2022-01-08 16:13] #980 closed, assigned to ericmjl

[2022-01-10 16:07] thatlittleboy commented on #972
Ongoing sprint, dibs on the following:
* `functions/change_type.py`
* `functions/coalesce.py`
* `functions/collapse_levels.py`
* `functions/filter.py`

[2022-01-11 03:06] ericmjl commented on #972
Same here, dibs on:

* `functions/take_first.py`
* `functions/sort_naturally.py`

[2022-01-11 05:16] thatlittleboy opened #984 "Some modules are missing from the top-level import"
Issue referenced during PR here: https://github.com/pyjanitor-devs/pyjanitor/pull/977#discussion_r781732964

For example, now running:

[code]

Similarly for other modules like biology or timeseries.

[2022-01-11 16:29] thatlittleboy opened #985 "blackArgs config bug in devcontainer"
# Brief Description

In my earlier PR modifying the devcontainer #979, I wrote the config as
[code]

However, just realised that this means VS code will try to run: `/opt/conda/bin/python -m black "--config pyproject.toml" --diff --quiet <file>`
and `black` will complain there is `No such option: --config pyproject.toml`.

It should be `["--config", "pyproject.toml"]` instead so that vs code will

[2022-01-12 04:11] #985 closed, assigned to nobody

[2022-01-12 04:14] ericmjl commented on #984
Apart from IO, I think the others were intentionally shielded from the top-level namespace to prevent their imports from running on first import of janitor. Sort of like a namespace shielding.

That said, I think it's a good idea for the IO module to be top-level, as it'll allow for `jn.read_csvs()` just like `pd.read_csv()` and other IO functions are top-level.

[2022-01-12 04:15] ericmjl commented on #972
Dibs on:

- functions/min_max_scale.py
- functions/move.py

Two per PR seems to be the load that I personally can handle :joy_cat:.

[2022-01-12 05:26] thatlittleboy commented on #984
@ericmjl I see! yes, namespace shielding is a good point. Then, I'll just add `io` to top-level imports.

[2022-01-12 10:12] #945 closed, assigned to nobody

[2022-01-12 10:47] #984 closed, assigned to nobody

[2022-01-12 13:12] thatlittleboy opened #988 "Bug with complement in `filter_on` with multiple criteria"
# Brief Description

`filter_on` function does not return the complement properly. (see MWE below) Came across this bug when I was writing the MWE docstring for it.

# Minimally Reproducible Code

[code]

Reason is simple, see the source code implementation:

[code]

criteria should be enclosed with parenthesis to ensure complement of the whole criteria is taken instead.

Perhaps a test should als

[2022-01-17 21:59] samukweku opened #992 "Read table(s) from Excel File"
[# Brief Description

I would like to propose an API to read [tables](https://support.microsoft.com/en-us/office/overview-of-excel-tables-7ab0bb7d-3a9e-4b56-a3c9-6c94334e492c#:~:text=To%20quickly%20create%20a%20table,row%2C%20and%20then%20click%20OK.) from an Excel (`.xlsx`) file.

Currently, reading this in Pandas, requires knowing the region where the table is, and in some cases, you might have

[2022-01-18 03:22] #988 closed, assigned to nobody

[2022-01-18 06:30] #992 closed, assigned to nobody

[2022-01-18 16:02] thatlittleboy opened #993 "[ENH] adorn functions"
# Brief Description

There are a few `adorn_*` functions from R's janitor that are not yet ported over to pyjanitor. Janitor docs [here](https://sfirke.github.io/janitor/articles/tabyls.html#the-adorn-functions).

I'm specifically looking at:
* `adorn_totals`: adds a "total" column to either the rows, the columns, or both
* `adorn_percentages`: converts the cell values into percentages, calculated

[2022-01-19 15:18] thatlittleboy commented on #972
Ongoing sprint:
* `functions/concatenate_columns.py`
* `functions/deconcatenate_column.py`
* `functions/select_columns.py`

[2022-01-21 19:10] alfredojoseneto opened #995 "[ENH] Add a make_clean_names function for cleaning dataframe values"
# Brief Description

Hi! I would like to propose the creation of a function like "**janitor::make_clean_names()**". This function exists on janitor in R.
It's an amazing function because we can normalize any text in a apply and lambda function.
Thanks in advance.

# Example

Below there is an example of the function application in a R environment.

[code]

[2022-01-21 19:57] samukweku commented on #995
[clean_names](https://pyjanitor-devs.github.io/pyjanitor/api/functions/#janitor.functions.clean_names.clean_names) exists already

[2022-01-21 20:01] alfredojoseneto commented on #995
I tried clean_names, but its apply only over column names. I'm looking for "make_clean_names()" because this function apply over any text in the rows.

[2022-01-22 10:32] ericmjl commented on #995
This is a neat suggestion, @alfredojoseneto! Thanks for suggesting it.

I think having the functionality ported over is a great idea, and I'm in favour of it.

At the same time, I'd like to consider the naming of the function itself a bit more carefully. Usually, I'd prefer that we just repeat the R function name in `pyjanitor`, but in this case I'm also seeing the potential for namespace confusio

[2022-01-22 10:35] ericmjl commented on #993
@thatlittleboy your thoughts on encapsulation to enforce order sound like the right thing to do.

I'd admit I'm not so well-versed in the `adorn_*` family of functions in `janitor`, so I'll hold off on commenting on their specific behaviour. That said, I am in favour of adding in `janitor` functionality into `pyjanitor`, and I'm also in favour of your way of thinking about how to organize the func

[2022-01-22 10:36] ericmjl commented on #972
Going to work on:

- `functions/drop_constant_columns.py`
- `functions/drop_duplicate_columns.py`

[2022-01-25 12:39] thatlittleboy commented on #972
Ongoing sprint:
- `functions/move.py`
- `functions/remove_columns.py`
- `functions/remove_empty.py`
- `functions/limit_column_characters.py`

[2022-01-26 03:03] Zeroto521 opened #998 "[BUG] Extend `fill_empty`'s `column_names` type range"
# Brief Description

https://github.com/pyjanitor-devs/pyjanitor/blob/3fab49e8c89f1a5e4ca7a6e4fdbbe8e2f7b89c66/janitor/functions/fill.py#L148-L152

Quickly fix this, could add `pd.Index`.

And a little bit more thinking, using `Iterable` is better?
Because `check_column`'s `column_names` also support `Iterable`.
And `pd.Index`'s instance is also `Iterable`.
So it would be `@dispatch(pd.DataFrame,

[2022-01-26 06:36] thatlittleboy commented on #993
Great, thanks for the affirmation @ericmjl . I'll have a think about the desired API and propose something in a PR when I'm ready. :)

[2022-01-26 13:47] thatlittleboy opened #999 "[ENH] A cleaner API for the "move" function"
# Brief Description

Arose from discussion in PR #997 , proposed by @ericmjl , [comment / review here](https://github.com/pyjanitor-devs/pyjanitor/pull/997/files#r791721066).

The proposal is for a more declarative approach for `move` function. At the moment, the API is as such:

[code]

# Proposed API

[code]

[2022-01-27 10:38] samukweku opened #1000 "comments in the examples"
# Brief Description

some of the examples have comments like `#doctest:...` I dont think this should show in the final output

![Screenshot from 2022-01-27 21-35-21](https://user-images.githubusercontent.com/25709809/151342599-8b273bdd-ecd7-4f9b-8ca8-d27529c21f0e.png)

@ericmjl @thatlittleboy

[2022-01-27 12:18] thatlittleboy commented on #1000
Agreed on the point that they're quite out of place in the docs.

So I see two issues/potential discussion points here:

1. The doctest (run by pytest in the automated tests) will fail the example in the image you posted, _without_ the `# doctest: +NORMALIZE_WHITESPACE` comment. So removing this "flag" in the docstring source is not really an option, unless we turn off doctests entirely, or there

[2022-02-02 10:54] samukweku opened #1003 "[BUG] filter_string fails if nulls are present"
# Brief Description

`filter_string` errors if nulls are present in the string column. A proposed solution is to allow kwargs, so that other options available in `str.contains` can be passed ( in this case it would be `na_values=False`)

# System Information

- Operating system: linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

# Error Messages

[code]

[2022-02-04 03:53] thatlittleboy commented on #1003
+1 agree on the proposed solution.
One possible downside of having kwargs is then the end-user having to jump from pyjanitor docs to pandas docs (meaning they need to consult 2 documentation pages) if they are not familiar with the original pandas function signature.

I would suggest in addition to add a link to the relevant pandas docs for `str.contains` to make this abit easier on the end user.

[2022-02-04 03:56] thatlittleboy commented on #998
@Zeroto521 Thanks for reporting! Would you like to submit a PR fix for this? 😄

[2022-02-04 04:28] thatlittleboy opened #1004 "[BUG] row_to_names' row_number parameter only accepts int but default argument is None"
# Brief Description

## [`row_to_names`](https://github.com/pyjanitor-devs/pyjanitor/blob/9d3653f959f11150bcc9aca87476efc72affc60a/janitor/functions/row_to_names.py#L9) function
The `row_number` parameter is currently given a non-useful default argument (`None`) while the function logic dictates that `row_number` should be given an int.
A more sensible default is probably `0`. (first row).

### Mi

[2022-02-04 05:06] thatlittleboy commented on #972
Ongoing sprint:
- `functions/round_to_fraction.py`
- `functions/row_to_names.py`
- `functions/shuffle.py`

[2022-02-04 06:44] thatlittleboy opened #1005 "[BUG] Unhelpful default arguments in `round_to_fraction`"
# Brief description

## [`round_to_fraction`](https://github.com/pyjanitor-devs/pyjanitor/blob/9d3653f959f11150bcc9aca87476efc72affc60a/janitor/functions/round_to_fraction.py#L11) function
- The `column_name` parameter is currently given a non-useful default argument (`None`) while the function logic dictates that it should be an existing column within the dataframe. I propose to: 1) make this par

[2022-02-04 22:13] samukweku commented on #1003
ahh true, if that's the case, we can just add all the parameters for `str.contains` to `filter_string`, since it is a single function

[2022-02-05 01:59] samukweku opened #1007 "Deprecate janitor.patterns"
janitor.patterns is not really useful (beauty of hindsight :grin: ) , as it is simply a wrapper around `re.compile`, which a user can import and wrap

[code]

[2022-02-05 03:17] thatlittleboy opened #1008 "[BUG] Unexpected mutation of original df by `sort_column_value_order`"
# Brief Description
The `sort_column_value_order` function adds a new column `cond_order` to the original dataframe (see [here](https://github.com/pyjanitor-devs/pyjanitor/blob/9d3653f959f11150bcc9aca87476efc72affc60a/janitor/functions/sort_column_value_order.py#L55)) for implementation purposes.

But this is mutating the original dataframe in a non-expected way -- the end user shouldn't be seeing

[2022-02-05 03:41] ericmjl commented on #1008
This is the kind of thing I know how to fix easily, first dibs!

[2022-02-05 03:44] ericmjl commented on #1007
Blessed is the developer who deletes code!

[2022-02-05 03:45] #1004 closed, assigned to thatlittleboy

[2022-02-05 23:10] samukweku opened #1011 "readcommandline error message does not show"
# Brief Description
`read_commandline`'s error message does not show the `stderr` message in some scenarios

# System Information

- Operating system: Linux
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

I suspect that remove the JanitorError wrapper, and just allowing the outcome.stderr message should work

[2022-02-05 23:39] #1011 closed, assigned to nobody

[2022-02-06 16:19] #1008 closed, assigned to ericmjl

[2022-02-09 06:59] Zeroto521 commented on #998
Please check the PR.

[2022-02-10 17:21] #998 closed, assigned to nobody

[2022-02-11 01:43] Zeroto521 opened #1015 "[BUG] `check_column` can't handle generator type `column_names`"
# Brief Description

The map-like generator type of `column_names` could only use once.
The `check_column` consumes `column_names` data.
So `column_names` would be empty for the next steps.

_Originally posted  in https://github.com/pyjanitor-devs/pyjanitor/pull/1014#discussion_r803239163_

# Minimally Reproducible Code

[code]

[2022-02-11 02:04] Zeroto521 opened #1016 "[BUG] Support `Hashable` type column"
# Brief Description

The type of DataFrame's columns is support `Hashable`.
But Janitor only handles `str` type columns.

# Related Source Codes List

- Fix bugs
    - [ ] [janitor.utils.check_column](https://github.com/pyjanitor-devs/pyjanitor/blob/0f98b8874a9bea1652b0f934fd086f64131a675b/janitor/utils.py#L298-L300)
    - [ ] [janitor.fill.fill_empty](https://github.com/pyjanitor-devs/pyjanitor/b

[2022-02-12 14:31] #1005 closed, assigned to thatlittleboy

[2022-02-16 04:58] samukweku opened #1019 "[ENH] Add `fill_value` and `explicit` parameters to `complete`"
# Brief Description

fill null values generated during `complete` and decide if existing nulls should be filled, or only nulls generated from the `complete` function. idea inspired by the updates to the [complete](https://tidyr.tidyverse.org/reference/complete.html) function in tidyr.

# Example API

[code]

It is easy to do a `fillna` after `complete`; however it looks cumbersome filling only the

[2022-02-17 23:29] samukweku opened #1020 "[ENH] `conditional_join` should have an option to get first or last row for matches"
# Brief Description

If there are multiple matches for a join (which is usually the case for inequality joins), the user might only be interested in just the first or last match.  inspired by [SO](https://stackoverflow.com/questions/67952424/how-to-join-pandas-dataframe-to-itself-by-condition/71166557#71166557); API idea inspired by Rdata.table's join syntax

# Example API

[code]

This is current

[2022-02-18 01:08] thatlittleboy commented on #1000
Okay, Turns out this removal of doctest flags is done automatically in Sphinx (they have a `trim_doctest_flags` option turned on by default).

I've raised a feature request to mkdocstrings here: https://github.com/mkdocstrings/mkdocstrings/issues/386

This would be the cleanest way to solve this issue, barring that we could write our own post-transformation script to parse the HTML output (as sugg

[2022-02-18 05:02] samukweku opened #1021 "[ENH] make `encode_categorical` `kwargs` option simpler"
# Brief Description

reduce the kwargs option to either `str` or `array-like`.

# Example API

[code]

[2022-02-19 19:45] samukweku opened #1023 "[BUG] Dtype changes to numpy dtype in `pivot_longer`"
# Brief Description

`pivot_longer` changes dtype  to numpy dtype

# System Information

- Operating system: linux
- Python version (required):3.9

# Minimally Reproducible Code

[code]

[2022-02-20 15:51] thatlittleboy commented on #972
Currently looking at:

- functions/impute.py
- functions/jitter.py
- functions/join_apply.py

Also in the midst of updating:
- functions/encode_categorical.py
- functions/label_encode.py
- functions/factorize_columns.py

[2022-02-23 04:15] ericmjl opened #1026 "Auto-wrapper for vaex?"
# Brief Description

I recently read the vaex docs and it looks quite promising for highly scalable dataframe computation. I'd like to kickstart a discussion on what it might take to support vaex with pyjanitor.

Wanted to also make explicit that we don't have to decide on yes/no for this idea!

The `vaex` docs are available [here](https://vaex.io/docs/tutorial.html?highlight=extending#Extending-V

[2022-02-23 13:06] thatlittleboy commented on #1026
I'm no expert on Vaex (had it in my sights for a while now but never had the time to explore it much);
On a general note, there are a couple of things I see pertinent to make pyjanitor work with vaex:

- We need a way to add accessors / methods on the Vaex DataFrame in the same way that `pandas_flavor` does for pandas DataFrame. So that the end-user can do `df.clean_names().remove_empty()` and cha

[2022-02-23 13:32] ericmjl commented on #1026
All-round great pointers, @thatlittleboy!

Yes, I agree a small prototype might be a good starting point. I might take my time on this one, as it is fairly low-priority in the grand scheme of things; our effort on #972 is currently more important.

On the specific questions you raised:

`vaex`'s extension API will register functions under the `df.func` namespace, rather than the `df` namespace. ("

[2022-02-23 13:42] thatlittleboy commented on #1026
From what I see, the `df.func.<somefunction>` using `@register_function` seems to only accept expressions / arrays, which seems overly restrictive for what we're trying to do in pyjanitor.
E.g. pyjanitor functions that work on a group of user-defined columns. Can Vaex's register_function decorator accept a function like `def func(*args)`?

Ah. maybe the dataframe accessors might work.. worth a sho

[2022-02-24 01:07] #1007 closed, assigned to nobody

[2022-02-25 13:50] samukweku commented on #1023
bug stems from line 628 in `janitor.functions.pivot.py` , which is a `pd.set_index` operation; it seems pandas internally converts `pd.NA ` to numpy's nan, essentially becoming a float64. safe to close this, as this emanates from Pandas and there isn't much we can do about this.

[2022-02-25 14:57] #1023 closed, assigned to nobody

[2022-02-26 07:38] thatlittleboy opened #1032 "[DOC/INF] Migrate mkdocs documentation style from sphinx to google"
# The current state of affairs

1. The migration of pyjanitor's documentation from `Sphinx` to `mkdocs` happened late last year (#894).
    And with `mkdocstrings`, we’re [currently using the “restructured-text” docstring-style](https://github.com/pyjanitor-devs/pyjanitor/blob/eabc98858b56474d919e8f089dddb57c4b725ec5/mkdocs.yml#L49) option (which is not actually reST but rather "sphinx"-style docs

[2022-02-27 00:06] samukweku commented on #1032
@thatlittleboy thanks for the detailed writeup. @ericmjl @pyjanitor-devs/core-devs i am in favour the google/numpy style - looks clearer and more appealing visually.

[2022-02-27 00:18] ericmjl commented on #1032
Well-argued, @thatlittleboy! My first instincts were to resist, because I have muscle memory on sphinx-style docstrings, but I’m now convinced!

[2022-02-27 00:28] loganthomas commented on #1032
I'm in favor of either Google or Numpy. I'm biased toward Numpy because I use it at work :). Either way I think it's a step in the right direction. Plus [darglint](https://github.com/terrencepreilly/darglint) supports all 3 so 👍

[2022-02-27 02:36] thatlittleboy commented on #1032
Thanks for the inputs so far and great point about darglint / compatibility with the other tools we're using! 👍🏼

---

I'll personally be more in favor of Google over Numpy, just purely from the observation that:
The Numpy style docstring collector is just *very slightly* lagging in development behind Google [in the new handler](https://mkdocstrings.github.io/griffe/docstrings/) -- though I'm conf

[2022-02-28 13:47] #1021 closed, assigned to nobody

[2022-03-01 11:04] #1019 closed, assigned to nobody

[2022-03-01 11:51] pawamoy commented on #1032
I'm planning on changing the language of `>>>` code blocks detected in examples to `pycon`, which is more correct. Then we can prevent selection of `>>>` and `...` like this: https://mkdocstrings.github.io/recipes/#prevent-selection-of-in-python-code-blocks. Maybe this rule should be included by default.

[2022-03-01 12:51] ericmjl commented on #1032
@pawamoy yes, that would be amazing to have as a default! I love the idea. The chevrons are great for doctesting, but are definitely a hassle when copying and pasting the code.

[2022-03-02 15:55] thatlittleboy commented on #1032
While we're on this topic,

@ericmjl It seems like the crux of Timothee's solution is that we also need to use `pygments` for `pymdownx.highlight` (we are using `use_pygments: false` at the moment), since the solution relies on modifying the CSS based on the gp (generic prompt) and go (generic output) classes; which are both added by `pygments`.
There is no equivalent when using `highlight.js`; It

[2022-03-02 17:05] ericmjl commented on #1032
Yep, definitely, @thatlittleboy! Function, then form :smile:.

[2022-03-03 22:08] samukweku opened #1034 "[ENH] Allow `pivot_longer` to support multiple `.value`"
# Brief Description

Allowing multiple `.value` could make some transformations simpler

# Example API

inspiration from [here](https://github.com/tidyverse/tidyr/issues/619#issuecomment-725530922)
[code]

[2022-03-13 14:51] lahdjirayhan commented on #829
Might want to look into one of these:
- https://theforexapi.com/documentation/
- https://www.exchangerate-api.com/docs/free

[2022-03-16 11:43] Zeroto521 opened #1044 "[ENH] let `fill_empty` function support to fill NaN value with mean, median or mode"
# Brief Description

As title.
For some data, such as GDP, filling its NaN value with 0 isn't a good idea.
Because most of the GDP values end in million.
We don't fill NaN value with `0` rather mean value.

# API

[code]

1. One of `value` and `method` shouldn't be `None`.
1. The `method` should be 'mean', 'median', or 'mode'.

# Example

[code]

[2022-03-17 05:44] samukweku commented on #1044
@Zeroto521 [impute](https://pyjanitor-devs.github.io/pyjanitor/api/functions/#janitor.functions.impute.impute) covers this usecase; at this point, I wonder if it is okay to deprecate one of these functions, so we have just one that covers na filling? @pyjanitor-devs/core-devs

[2022-03-17 23:07] samukweku commented on #587
@zbarry @ericmjl @pyjanitor-devs/core-devs how can we make this possible? is this even possible?

[2022-03-17 23:20] samukweku opened #1045 "Deprecate functions ?"
Central point to discuss functions to deprecate, if any?

- [x] `process_text` - `transform_columns` covers this very well
- [x]  `impute` vs `fill_empty` - `impute` has the advantage of extra statistics functions (mean, mode, ...)
- [x] `rename_columns` - use pandas `rename`
- [x] `rename_column` - use `pd.rename`
- [x] `remove_columns` - use `pd.drop` or `select`
- [x] `filter_on` - use `query`

[2022-03-18 00:03] #1034 closed, assigned to samukweku

[2022-03-18 12:02] Zeroto521 opened #1047 "[EHN] let `filter_string` suit parameters of `Series.str.contains`"
# Brief Description

- `Series.str.contains(pat, case=True, flags=0, na=None, regex=True)`
- `filter_string(df, column_name, search_string, complement=False)`

`filter_string` is a super sugary syntax for `contains`.
`contains` has five arguements, but `filter_string` only has one arguement `search_string`.

I thought we should complete parameters of `filter string`.

# Example API

A example `fil

[2022-03-18 12:11] Zeroto521 commented on #1045
`filter_on` is also duplicated to `query`.

[code]

[2022-03-18 12:15] Zeroto521 commented on #1045
- `remove_columns` is duplicated to `drop`.
- `rename_column` is duplicated `rename`.

[2022-03-18 12:45] samukweku commented on #1047
resolution of this should fix #1003

[2022-03-18 15:06] Zeroto521 commented on #1047
Can I fix this problem?

[2022-03-18 21:36] samukweku commented on #1047
@Zeroto521 yes pls

[2022-03-18 23:09] samukweku opened #1048 "`pivot_longer` support multiple melting with multiple `values_to`?"
# Brief Description

I would like to propose extending `pivot_longer` to support multiple melting with multiple `values_to`.

[Source Example](https://stackoverflow.com/q/51519101/7175713)

# Example API

[code]

[2022-03-19 09:42] thatlittleboy commented on #1044
@samukweku I'm okay with deprecating one of `impute` or `fill_empty`. Seems like `impute` not only covers the "mean/mode/.." use case, but also the imputing with constant value, which is `fill_empty`'s current functionality?

I'll be inclined to keep `impute` over `fill_empty` (at least within the DS/ML community, impute is a commonly-used term; not sure about the broader data world.)

[2022-03-19 11:58] samukweku commented on #1044
yea, impute is a wrapper around fillna, with the benefits of the statistics imputation.

[2022-03-21 10:27] samukweku opened #1051 "Convert column type before pivoting to long form?"
# Brief Description

I would like to propose converting types during the melt, not after. It *might* be faster.

Motivated by [SO](https://stackoverflow.com/q/64900604/7175713)

# Example API

[code]

[2022-03-28 11:46] #1003 closed, assigned to nobody

[2022-03-28 11:46] #1047 closed, assigned to nobody

[2022-03-29 20:53] robertmitchellv opened #1054 "Name fell off AUTHORS.md"
I think this might've just been an accident or side effect of moving to Sphinx

- Currently I'm not listed on `pyjanitor/AUTHORS.md`; [this was the contribution I made](https://github.com/pyjanitor-devs/pyjanitor/commits?author=robertmitchellv)

Maybe because my name was last on the `AUTHORS.rst` file it was dropped.

- Would it be ok to re-add it to `AUTHORS.md`? [Here's where it was dropped](htt

[2022-03-29 22:52] samukweku commented on #1054
@robertmitchellv kindly raise a PR to include your name in the authors.md file. I have no idea why it got chucked off.

[2022-03-29 22:55] robertmitchellv commented on #1054
Will do; thanks so much @samukweku 🙌🏻

[2022-03-30 04:59] richlysakowski opened #1055 "https://github.com/pyjanitor-devs/pyjanitor/blob/dev/api/functions"
# Brief Description of Fix

The hyperlink is broken to "General Functions" on the pyjanitor homepage
It gives a 404 error, even though the URL looks complete as "https://github.com/pyjanitor-devs/pyjanitor/blob/dev/api/functions"

Click on the link to find out where it takes you...

**Quick start**
[code]

[2022-03-30 14:25] samukweku commented on #1055
Thanks @richlysakowski ... If you have some time on you, the pyjanitor community would appreciate it if you could raise a PR to resolve this

[2022-03-31 00:36] #1054 closed, assigned to nobody

[2022-03-31 00:38] #929 closed, assigned to samukweku

[2022-04-03 03:51] #1048 closed, assigned to samukweku

[2022-04-04 02:15] #1055 closed, assigned to nobody

[2022-04-05 22:16] ericmjl commented on #1045
Good points, y'all.

I'm in favour of dropping `filter_on`.

`remove_columns` is explicitly syntactic sugar for `df.drop()`, and `rename_column(s)` is syntactic sugar for `rename`. I guess they can be, *drum roll*, dropped 😆 too.

Also in favour of the two that you mentioned, @samukweku. They are internal duplications of functionality. We should put in a long, long deprecation warning like we did

[2022-04-05 22:19] ericmjl opened #1059 "Enable lazy importing for external dependencies"
I'd like to propose that we use lazy imports for our external dependencies.

Currently, importing pyjanitor results in about ~1-2 seconds of delay. While insignificant for an interactive data exploration setting, it becomes a significant latency burden if there are projects that depend on `pyjanitor`.

There is a SPEC for lazy importing, which means this idea is getting community traction in the S

[2022-04-09 04:15] thatlittleboy commented on #1059
Really cool idea, TIL @ericmjl !
I'ld just like to play devil's advocate here for the sake of discussion. Hope you don't take this the wrong way!

Lazy loading of imports, to me, would seem to be most beneficial if we are importing many optional submodules when importing a top-level package.
Case in point is the example in the SPEC: `import scipy` would also import the `linalg` submodule and all o

[2022-04-15 14:13] thatlittleboy opened #1063 "transform_columns ignores `column_names` when `new_column_names` is specified"
# Brief Description

`transform_columns` ignores the cols specified in `column_names` if `new_column_names` is specified (wrongly). For example, See the MWE.

# Minimally Reproducible Code

[code]
Note that I specified that I wanted to transform "col1" and "col3" with log10, but "wrongly" specified the keys in the dictionary of `new_column_names` as "col1" and "col2".
Yet, the transformation is ap

[2022-04-15 15:20] thatlittleboy opened #1065 "Incorrectly modified output of `count_cumulative_unique` when `case_sensitive` is turned off"
# Brief Description

The `case_sensitive` parameter of `count_cumulative_unique` when set to False, would modify the column which is being counted, and this change is then (wrongly) propagated to the output.

The implementation is currently written like so:
[code]
Which modifies the column_name for the intermediate calculation of `count_cumulative_unique`, which is incorrect. See MWE.

# Minimally

[2022-04-17 12:29] #1063 closed, assigned to thatlittleboy

[2022-04-17 15:43] ericmjl commented on #1059
Great comments, @thatlittleboy! Thanks for thinking through the matter. I think you've got the right intuition w.r.t. what to lazy-import and in which files to do so. The only complication is the magical nature of `pyjanitor` where `pandas-flavor` automatically attaches functions as class methods -- that gets disabled when we lazy-import the submodules. As such, I had to do a workaround where we l

[2022-04-24 06:46] Zeroto521 opened #1067 "[EHN] `min_max_scale` transforms each column values not entire values"
# Brief Description

I thought this method should transform each column values sperately not all values when `column_name` was set to `None`.
From `DataFrame` view, each column represtent differnt data.

[code]

# Example

[code]

[2022-04-24 10:00] samukweku commented on #1067
Cc @ericmjl @thatlittleboy @loganthomas  who may have more knowledge about min max scale. The docstrings imply the entire dataframe, and not individual columns though

[2022-04-25 09:26] samukweku commented on #1067
One option could be to add a `subset` argument, to accept multiple columns

[2022-04-25 11:14] ericmjl commented on #1067
@Zeroto521 thanks for pinging in, and @samukweku thanks for tagging us!

Yes, it looks like the API of `min_max_scale` needs to be changed to match the semantics of other functions. I haven't yet thought carefully about how the API should look like, but am open to suggestions here. It sounds like we want `min_max_scale` to:

- do column-wise operations when `column_names` is specified,
- do column

[2022-04-27 03:52] Zeroto521 opened #1068 "Discussion: arguments `old_min` and `old_max` should be removed from `min_max_scale`"
[code]

In the end, it's hard to trace the `min_max_scale` [committing history](https://github.com/pyjanitor-devs/pyjanitor/commits/dev/janitor/functions/min_max_scale.py) to know the reason why added these options.

[2022-04-27 04:21] Zeroto521 commented on #1067
@ericmjl I'm doing this new feature. Add a option to scale the entire data or not.
But there a new probelm is coming. Details see #1068

Since the `entire_data` option has been added. `old_min` and `old_max` should be accepted as list-like types.
The codes of checking list-like type and value comparsion may be very huge.

[code]

[2022-05-02 04:39] #1065 closed, assigned to thatlittleboy

[2022-05-02 12:23] ericmjl commented on #1068
@Zeroto521 your third question revealed a lot for me and prompted the best amount of clarity here.

If anything, I believe we should follow sklearn's API and behaviour. I'm in favour of matching the sklearn API, actually, it's much cleaner than what we have. For clarity, sklearn uses:

`MinMaxScaler(feature_range=(min_val, max_val))`

(https://scikit-learn.org/stable/modules/generated/sklearn.prep

[2022-05-02 13:48] #1051 closed, assigned to nobody

[2022-05-02 14:42] apatao commented on #972
hi - this is amie from pycon 2022 sprints, i am claiming:
 functions/convert_date.py

[2022-05-02 14:44] gahjelle commented on #972
Hey, I'm Geir Arne @ the PyCon US 2022 sprints.

I'm claiming `functions/expand_column.py` to work on.

[2022-05-02 15:53] catherinedevlin commented on #972
It's Catherine Devlin at PyCon 2022!

I'll start on chemistry.py.

[2022-05-02 16:15] SamBauter commented on #972
Pycon 2022 - working on timeseries.py

[2022-05-02 16:28] gahjelle commented on #972
I'll also do `functions/find_replace.py`

[2022-05-02 16:28] ghost commented on #972
I'll do functions/fill.py

[2022-05-02 16:28] ethompsy commented on #972
Pycon 2022 - working on `functions/get_dupes.py`

[2022-05-02 17:38] ethompsy commented on #972
Pycon 2022 - working on `functions/groupby_topk.py`

[2022-05-02 18:01] gahjelle commented on #972
I'll do `math.py`

[2022-05-02 18:42] ghost commented on #972
Dibs on `functions/transform_columns.py`

[2022-05-02 19:21] kaishenwang opened #1080 "Index Error on Conditional Join"
[code]

I fix it with below, at line 823:
[code]

[2022-05-02 19:37] catherinedevlin commented on #972
For my next trick, I'd like to do biology.py

[2022-05-02 19:46] ghost commented on #972
It looks like `transform_columns.py` is already done :(

Dibs on `update_where.py`

[2022-05-02 20:13] dancassin commented on #972
Dibs on finance.py

[2022-05-02 20:27] gahjelle commented on #972
I'll do `ml.py` next

[2022-05-02 20:50] samukweku commented on #1080
@kaishenwang thanks for the report. Kindly share a minimal working example that triggers this error so we can decipher more. Your pandas version and other details (dtypes of the columns) would be helpful. Also, do you get the same error on the dev version? A minimal working example would be helpful. Thanks @kaishenwang

[2022-05-02 21:11] gahjelle commented on #972
I'll do `xarray/functions.py`

[2022-05-02 21:14] catherinedevlin commented on #972
In honor of my favorite Jovian moon, I'd like to do io.py next.  (It looks almost done already, but there are still a couple non-doctest)

[2022-05-02 22:51] dancassin commented on #4
Once the PR #6 in pyjanitor-examples is accepted, then I believe this issue can be closed as well.

[2022-05-02 23:24] kaishenwang commented on #1080
Hi, I am not using development version. Here is the example (I find it get error afterconverting to Int64 dtype, but whether the errror will occur depends on the data):
[code]

[2022-05-02 23:28] #4 closed

[2022-05-02 23:29] #972 closed, assigned to nobody

[2022-05-02 23:46] ericmjl commented on #4
Thank you, @dancassin! :tada:

[2022-05-02 23:51] samukweku commented on #1080
@kaishenwang thanks for the MWE. This has been fixed in dev, to accommodate pandas boolean arrays (numpy does not know what to do with extension arrays):
[code]

[2022-05-03 00:09] samukweku opened #1093 "groupby_topk performance"
it is possible to use `nlargest/nsmallest` instead of sort_values for `groupby_topk`, this should offer more performance by avoiding a full sort (which is what nlargest/nsmallest achieves)

[2022-05-03 00:47] kaishenwang commented on #1080
Hi,
Thx for the update. May I know when the next version with the fix will be
published?

Best,
Kaishen

On Mon, May 2, 2022 at 6:52 PM Samuel Oranyeli ***@***.***>
wrote:

--
Best,
Kaishen

[2022-05-03 01:05] samukweku commented on #1080
Sniping @ericmjl 😁 soon I believe. Maybe @ericmjl could even do d release at pycon!

[2022-05-03 03:23] ericmjl commented on #1080
Okie dokes, once I have a few more PRs in, I'll cut a release. We should still have a release party, though!

[2022-05-03 04:36] samukweku commented on #1080
@kaishenwang kindly reinstall pyjanitor (version should be 0.23.1) and let us know if the error persists

[2022-05-04 04:39] samukweku opened #1096 "Simpler Cython option with python type hints?"
Cython now offers an option where python typing can be inferred from for possible speed ups. This might come in handy for some functions (conditional_join maybe?) where some performance could be obtained by moving some of the python computation to C, while avoiding the complexities of C.

[2022-05-04 07:25] Zeroto521 commented on #1096
The first step may be to build a script _typing.py that could contain some common typing constants such as `column_name` and `column_name`.

[2022-05-04 14:27] kaishenwang commented on #1080
Sorry for the late reply. Just tried and didn't see the problem in 0.23.1 anymore. Thanks for the quick fix and release.

[2022-05-04 14:27] #1080 closed, assigned to nobody

[2022-05-04 21:39] ericmjl commented on #1080
Our pleasure, @kaishenwang! Thank you, @samukweku for guiding the conversation! 🎉

[2022-05-05 11:47] samukweku opened #1098 "duplicated columns generate more rows than required in `pivot_longer`"
# Brief Description

If the columns are duplicated, more rows are generated than necessary (duplicated) when melted.

# System Information

- Operating system: macOS
- Python version (required): 3.8

# Minimally Reproducible Code

copied from [SO](https://stackoverflow.com/q/72126060/7175713)
[code]

[2022-05-08 10:38] #1098 closed, assigned to samukweku

[2022-05-10 10:59] samukweku commented on #1096
Yeah, just putting it out there for a more generic conversation, especially compared to numba

[2022-05-11 23:06] samukweku opened #1102 "improvement suggestions for conditional_join"
- [x] allow selection/renaming of final columns within the function
- [x] implement a numba alternative, for hopefully faster processing
- [x] improve performance for left and right joins

[2022-05-13 06:42] samukweku opened #1105 "Suggestions for `select_columns`"
- [x] Allow selection on a level (for MultiIndex columns)
- [x] Return pd.Index if possible (`loc` can handle column selection as an Index)
- [x] Extend slicing to MultiIndex columns via tuples (currently handles only string/integers)
- [x] Allow selection to be generic to hashable, not just strings/tuples (columns can be numeric dtypes)
- [x] As much as possible, pass column presence/absence chec

[2022-05-20 22:50] samukweku opened #1108 "suggestion - Add `names_expand` to `pivot_wider`"
# Brief Description

I would like to propose adding a `names_expand` parameter to `pivot_wider` - this expands the columns to all possible combinations (useful for categorical columns).  ``df.pivot_wider(index, names_from, values_from, names_expand = True/False)``

# Example API

[code]

[2022-05-25 22:46] samukweku commented on #1096
Closing this ... Safer to contribute directly to pandas

[2022-05-29 00:24] samukweku opened #1109 "add `numba` option if cython optimisation fails"

[2022-05-29 00:28] #1109 closed, assigned to nobody

[2022-05-29 12:15] #1096 closed, assigned to nobody

[2022-05-30 06:49] Zeroto521 opened #1110 "Require pyspark minimal version is v3.2.0 to cut duplicates codes"
Since [pyspark v3.2.0](https://github.com/apache/spark/blob/5d45a415f3a29898d92380380cfd82bfc7f579ea/python/pyspark/pandas/extensions.py#L28-L64), it has contained `CachedAccessor`, `_register_accessor`, `_register_accessor`

janitor requires pyspark minimal version is v3.1.2 at present.
Compared to v3.1.2, v3.2.0 is a minor version.

https://github.com/pyjanitor-devs/pyjanitor/blob/4867b20273e99c

[2022-05-30 11:57] #1093 closed, assigned to nobody

[2022-06-02 01:10] #1068 closed, assigned to nobody

[2022-06-02 08:10] Zeroto521 opened #1113 "CI: Duplicate style checking"
I noted there are two of the same style checking CIs.

- One comes from Github Action [code-checks.yml](https://github.com/pyjanitor-devs/pyjanitor/blob/dev/.github/workflows/code-checks.yml) file
- Another comes from Github App [.pre-commit-config.yaml](https://github.com/pyjanitor-devs/pyjanitor/blob/dev/.pre-commit-config.yaml) file

And there has evidence to show that pre-commit.ci is better t

[2022-06-02 11:45] ericmjl commented on #1113
Thanks for handling this, @Zeroto521! I think it's okay for us to keep both in place, as there are subtle differences between the two. The most obvious is that pre-commit.ci will also format code for us, while the Action will only check code for us. By keeping the pre-commit Action, we have a backup in case pre-commit.ci goes down.

For that reason, I'll close this issue. However, if there is a re

[2022-06-02 11:45] #1113 closed, assigned to nobody

[2022-06-13 00:45] ericmjl commented on #1108
I'm in favour of this idea!

[2022-06-13 00:49] ericmjl commented on #1110
@Zeroto521 with PySpark 3.2.0 we'd be able to directly register our code on pyspark dataframes?

[2022-06-13 04:13] Zeroto521 commented on #1110
Yes, it could easily import 'register_dataframe_accessor' from pyspark since 3.2.0 version.

But pyjanitor still needs to keep 'register_dataframe_method'.

[2022-06-13 11:30] ericmjl commented on #1110
That's such a cool find. Thank you so much, @Zeroto521 :heart:

[2022-06-13 11:32] ericmjl commented on #1110
@Zeroto521 I can't remember, but have we added you to the core dev team, btw? Having seen your contributions and patience with the project, I think you'd be a valuable addition to the team.

[2022-06-13 11:46] Zeroto521 commented on #1110
For more step, even `register_dataframe_method` could be simplified via `register_method_factory` in https://github.com/Zsailer/pandas_flavor/issues/23

[2022-06-13 11:48] Zeroto521 commented on #1110
No. But I'm happy to become the core maintainer of pyjanitor project.

[2022-06-13 11:49] ericmjl commented on #1110
Cool stuff! I'm going to add you onto the dev team. Could you ping me at http://www.shortwhale.com/ericmjl? I'll also add you onto the Discord chat that we use. (It's very low volume, btw, and it's more for social chat than dev chat.)

[2022-06-13 12:29] Zeroto521 commented on #1110
Done.

The Discord service is blocked in China. So I'm not very frequently use it.
¯\_(ツ)_/¯

[2022-06-13 13:40] Zeroto521 opened #1115 "[EHN] let `column_name` or `column_names` support callback type"
# Brief Description

There always has an option called `column_name` or `column_names`.
It's used to select the columns of `df`.
The type could be a single value like `Hashable` and list values likes `Iterable[Hashable]`.
And this idea is to support callback type.

_Originally posted by @ericmjl in https://github.com/pyjanitor-devs/pyjanitor/pull/1112#discussion_r895257358_

# Example API

An impl

[2022-06-14 04:52] samukweku opened #1118 "`sort_by_appearance` in `pivot_longer`"
# Brief Description

`sort_by_appearance` in `pivot_longer` doesn't produce the right order in some scenarios

# System Information

- Operating system: macOS/
- Python version (required): 3.9

# Minimally Reproducible Code

[code]

[2022-06-14 05:11] samukweku opened #1119 "callable type hint for `names_transform` doesn't work"
# Brief Description

astype does not work with callable, the type hint should be for a pandas extension dtype, or a numpy dtype, or a python type

# System Information

- Operating system: macOS
- Python version (required): 3.9

# Minimally Reproducible Code

# Error Messages

[code]

[2022-06-14 05:22] samukweku commented on #1119
another option would be to not do any checks ... if it is not acceptable by astype, it will throw an error

[2022-06-14 08:10] #1118 closed, assigned to nobody

[2022-06-14 08:13] samukweku opened #1121 "`expand_grid` for extension types"
- Add a dispatch for pandas extension arrays

[2022-06-14 11:01] #1105 closed, assigned to nobody

[2022-06-14 20:39] #1067 closed, assigned to nobody

[2022-06-15 10:16] Zeroto521 commented on #972
`functions/min_max_scale.py` done via #1107 and #1112

[2022-06-16 01:13] #1020 closed, assigned to nobody

[2022-06-16 07:35] samukweku opened #1124 "replicate `select_columns` on the index"
select_columns can be adapted to index selection as well; not sure about the name though  ---> select_index/select_rows?

[code]

[2022-06-19 08:46] samukweku opened #1125 "performance for conditional_join on first or last match"
just leaving it here for something to look into, as the performance of conditional_join for first or last for `keep` parameter is terribly slow compared to `pd.merge_asof` for the same conditions ... as much 3x slower.

[2022-06-21 01:34] #1110 closed, assigned to nobody

[2022-06-21 01:39] Zeroto521 opened #1127 "Set a series of complete testing envs"
The fuzzy version of dependencies:
1. pyjanitor requires the minimal python version is 3.6, but the python version in testing env is [3.9](https://github.com/pyjanitor-devs/pyjanitor/blob/dev/environment-dev.yml)
2. pyanitor requires pandas 1.4.1 (in [.requirements/base.txt](https://github.com/pyjanitor-devs/pyjanitor/blob/63c075ec935493faf0ca8aa19e8bd1c601258e7c/.requirements/base.txt#L18)), but

[2022-06-22 13:01] gab23r opened #1128 "Add assertions while piping"
# Brief Description

A feature to be able to assert dataframe while piping

I would like to propose...

# Example API

[code]

This feature is avaible in the package https://github.com/ClementWalter/pandas-addons
But I think that it is really missing in pyjanitor

[2022-06-22 14:28] Zeroto521 commented on #965
This problem have been fixed via #974

[2022-06-22 14:28] #965 closed, assigned to nobody

[2022-06-22 14:29] Zeroto521 commented on #964
fixed via #974

[2022-06-22 14:29] #964 closed, assigned to nobody

[2022-06-22 14:36] Zeroto521 commented on #1127
Closes #676

[2022-06-22 14:57] Zeroto521 commented on #189
Done via #217

[2022-06-22 14:57] #189 closed

[2022-06-26 14:29] #1121 closed, assigned to samukweku

[2022-06-26 19:58] #1119 closed, assigned to samukweku

[2022-06-26 20:34] #1125 closed, assigned to nobody

[2022-06-29 04:53] samukweku commented on #1128
@gab23r kindly share an example, with a small dataframe, of what happens with `assert_`. The example should show what happens when it succeeds and when it does not

[2022-07-02 03:24] samukweku opened #1129 "enhancement to `case_when`"
Inspired by this [tweet](https://twitter.com/dvaughan32/status/1542975001422446592?s=20&t=RxsClXURaFZgvEjNEVDbdw), it would be nice if `case_when` supported assignment to multiple columns:

[code]

[2022-07-08 22:47] #1108 closed, assigned to samukweku

[2022-07-12 07:14] Zeroto521 commented on #1127
three steps to do this.

1. simplify dependencies
    1. simplify environment-dev.yml
    2. simplify requirements #826
2. remove pytest turtle mark
3. set a series of testing environments

[2022-07-12 07:18] Zeroto521 commented on #1127
simplify dependencies

- pandas directly require numpy, so pyjanitor could drop numpy as a dependency.
- split environment into different parts.
    - some dependencies are required (e.g. pandas)
    - some are optionally required
    - some are testing required
    - some are dev tools required.

[2022-07-13 19:10] samukweku opened #1132 "Allow dropna for pivot_longer"
This might be more performant than dropping after the transformation, and should be similar to what pandas stack provides

[2022-07-14 02:45] Zeroto521 commented on #1127
simplify `/.requirements/*` after simplifying environment-dev.yml

To my personal, we could just keep `/.requirements/*.in` and drop `/.requirements/*.txt`.
- no fixed version like `==` (attrs==21.4.0). A fixed version means we need frequently updated once newer dependencies come out.
- whatever setup.py or other files don't use `/.requirements/*.txt`.

[2022-07-14 02:55] Zeroto521 commented on #1127
set a series of multi-environment (`/ci/envs/*`)

there we only select required, optional, and testing dependencies

[2022-07-15 02:15] samukweku opened #1134 "`slice` fails for columns selection in `pivot_wider`"
# Brief Description

Using `slice` when selecting columns in `pivot_wider` fails.

# System Information

- Operating system: macOS/
- Python version (required):3.9

# Minimally Reproducible Code

[code]

# Error Messages

[code]

[2022-07-18 03:05] #1134 closed, assigned to samukweku

[2022-07-24 08:11] #1132 closed, assigned to nobody

[2022-08-06 03:57] ericmjl commented on #1128
@gab23r thanks for chiming in! I think what you're looking for is available as the `.then()` or `.also()`. What these functions do is let you inject any arbitrary function into your dataframe piping chain, of which assertions are also possible. `.then()` expects you to explicitly return the dataframe while `.also()` will just execute your custom function while returning the original dataframe pass

[2022-08-06 03:59] ericmjl commented on #1124
Some of the great work you've done, @samukweku, like incorporating `slice()`s, would be usable here too! Out of curiosity, what prompted the idea here?

[2022-08-06 05:22] samukweku commented on #1124
Thanks @ericmjl . I have come to love the flexibility/abstraction of select_columns hence the idea of extending it to rows.

[2022-08-06 05:24] #1129 closed, assigned to nobody

[2022-08-06 19:52] ericmjl commented on #1124
Got it!

`select_rows()` would be a great addition, definitely.

I can also see us building on top of `select_columns()` and `select_rows()` to provide a `select(rows=..., columns=...)` API that then dispatches down to `select_columns()` and `select_rows()`. It would be a nicely chained API that could be more flexible than the built-in `.loc[]` calls.

[2022-08-07 00:48] samukweku commented on #1124
Yea, that would be great. Not sure of the select word though, it seems pandas has plans for that too : https://github.com/pandas-dev/pandas/issues/40322

[2022-08-09 14:26] cosmicBboy commented on #1128
you could also pipe schemas :)

[code]

Using pandera would make sense if you:
1. have logical groups of validation checks that are numerous and potentially complex
2. want to reuse these checks across your codebase (including your test suite)

As someone put it, pandera is like fancy assertions for dataframes.

[2022-08-13 03:42] DavidHinchee opened #1146 "List of general functions and their documentation isn't showing up in the documentation"
"General Functions" link on this page doesn't open the list of general functions and their documentation:

This link: https://pyjanitor-devs.github.io/pyjanitor/api/functions/

and this link: https://pyjanitor-devs.github.io/pyjanitor/api/functions/#janitor.functions--general-functions

display same page.

All other "API Reference" subsection links--Biology, Chemistry, Engineering, etc.--display f

[2022-08-13 04:54] Zeroto521 commented on #1146
I can make sure `mkdocstrings` 0.19.0 #1138 cause this.
0.19.0 is breaking changing version.

The lower version use `mkdocstrings-python-legacy` as the documentation hander.

A quickly fix this we can [`mkdocstrings-python-legacy`](https://pypi.org/project/mkdocstrings-python-legacy/) as the default handler instead of [`mkdocstrings-python`](https://pypi.org/project/mkdocstrings-python/)

As the d

[2022-08-13 05:02] Zeroto521 commented on #1146
I know little about mkdocs, I use sphinx a lot.
I don't why functions documentation missing.

But I know how to fix this.
![image](https://user-images.githubusercontent.com/25895405/184469169-48e4801f-0113-42f0-9672-6a8290c65b93.png)
[code]

or

[code]

[2022-08-14 00:45] samukweku commented on #1146
thanks @DavidHinchee for the observation. @Zeroto521 @ericmjl should we revert temporarily to `mkdocs-python-legacy`?

[2022-08-14 01:39] Zeroto521 commented on #1146
Does Mkdocs have documentation version feature?
We always let us see latest version. But some new coming features are not in stable (released) package.
If Mkdocs owns this feature, we could easily fix it via pointing site to stable version documentation.
![image](https://user-images.githubusercontent.com/25895405/184518996-9132d8c8-6de7-43f2-be72-2564ecaee8d9.png)

[2022-08-14 03:19] samukweku commented on #1146
@Zeroto521 something like this: [link](https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/#versioning)

[2022-08-14 20:53] ericmjl commented on #1146
I am pushing up a temporary fix for the docs; we will pin `mkdocstrings` to 0.18.1. In a future PR, this can be fixed up.

[2022-08-15 01:51] #1146 closed, assigned to nobody

[2022-08-15 01:54] samukweku commented on #1146
@DavidHinchee kindly have a look now; the documentation should render completely

[2022-08-15 05:06] DavidHinchee commented on #1146
Confirmed that the decimation renders completely for me. Thanks and kudos to the development team. You’ve created a package that’s truly useful to me as a new pandas/python coder.

[2022-08-15 11:46] ericmjl commented on #1146
Thank you, @DavidHinchee, for letting us know! The positive feedback is encouraging!

[2022-08-20 02:18] Zeroto521 opened #1154 "[BUG] `pivot_longer` test cases failed on pandas latest (1.4.x) passed on 1.3.x"
I found why #1143 failed on `pivot_longer`, `encode_categorical`, and `_select_column` test cases
The core reason is **the version compatibility**.
Our current test environment only tests one main pandas version 1.3.x. But the latest pandas version is 1.4.x.
https://github.com/pyjanitor-devs/pyjanitor/blob/a027753a4105c4c7ff920ba31f5afd51206cfffb/environment-dev.yml#L36

There pivot_longer method

[2022-08-20 02:40] samukweku commented on #1154
@Zeroto521 do you mind sharing the link to the error messages, so I can test, and hopefully, resolve with the actual test data  that failed?

[2022-08-20 08:00] samukweku commented on #1154
@Zeroto521 Do you have any idea about the `test_documentation_build.py` failure?

[2022-08-20 08:23] Zeroto521 commented on #1154
Mkdocs and its related packages are not in environment.

[2022-08-20 18:42] #1154 closed, assigned to nobody

[2022-08-21 04:56] Zeroto521 opened #1156 "[TST/BUG] System compatibility, test cases failed on window and macos"
Closes #1143.

Well, there has another problem which is **system compatibility**.
Base on https://github.com/pyjanitor-devs/pyjanitor/actions/runs/2897129896

- Ubuntu all passed.
- Window all failed, need to ignore dtype
- MacOS all failed, data generation slowly

Window:

Problems are easily fixed on window. All failed on dtype.
[code]

MacOS:

[code]

[2022-08-21 08:43] samukweku commented on #1156
@Zeroto521 I observe that sometimes too when running on Mac on the docket installation, I suggest we turn off the health checks - https://github.com/HypothesisWorks/hypothesis/issues/2195#issuecomment-557451955

[2022-08-25 23:23] samukweku opened #1159 "improvement suggestions for `case_when`"
~~- [ ] standalone case_when function, that can be used within assign; this can be handy for multiple case_whens to different column names~~
- [x] More explicit default parameter, currently it is inferred from the variable arguments
- [ ] performance improvement possibly, instead of iterating over all the options, just create matching rows only when needed?

[2022-08-26 02:50] Zeroto521 commented on #1156
So we just drop hypothesis plugin totally? Or remove hypothesis decorators from these failed test cases?

[2022-08-26 03:03] samukweku commented on #1156
@Zeroto521 let's not drop Hypothesis plugin; it is too valuable. We can turn off the health check for Mac with `HealthCheck.too_slow` decorator, or add `@settings(deadline=None)` decorator ... this should allow the tests to run without any erroring out. For the above test that failed, I have added a decorator to it in this PR #1158 , which should fix the healthcheck error

[2022-09-07 11:40] gab23r commented on #1128
Thank you! I should definitely have a closer look to `pandera`

But for now, I would like to have a lightweight solution. However, how do you make the first solution working because assert is a statement so you can not do `lambda df: assert ...`. Do I miss something ?

Here is an working example of the desired feature.

[code]

[2022-09-07 12:14] samukweku commented on #1128
You can use pandas `pipe`:

[code]

You can equally use janitor's `also` function:

[code]

[2022-09-08 09:34] Fu-Jie opened #1164 "[BUG] `concatenate_columns` Ignoring null values is not available"
## Source Code
[code]
## Like this, np.nan becomes 'nan' in astype str
![image](https://user-images.githubusercontent.com/33599649/189085525-52da0ad2-6987-4a03-97fb-62c8b22d40b2.png)

## If  change it to this, there is no problem
![image](https://user-images.githubusercontent.com/33599649/189086940-ce14ecbe-e9ac-44a5-8106-5b5a60583c59.png)

[2022-09-08 11:17] samukweku commented on #1164
thanks @Fu-Jie , do you mind raising a PR for this? It might be better to add an `na` argument, to decide what happens if nulls are present

[2022-09-08 13:34] Fu-Jie commented on #1164
I haven't done PR before, but I can try it. This is my solution, what do you think?

[code]

![image](https://user-images.githubusercontent.com/33599649/189135499-f9fb3a6f-ebf1-4d0e-b42e-e5ca51956cff.png)

[2022-09-08 13:49] samukweku commented on #1164
give it a go @Fu-Jie ; the @pyjanitor-devs/core-devs is welcoming and will gladly guide you through the process. Have a look at the [guide](https://pyjanitor-devs.github.io/pyjanitor/devguide/) on how to submit a PR.

[2022-09-09 15:38] samukweku opened #1167 "Deprecate dropna from pivot_longer"
The current implementation is not optimal and is not faster than calling dropna after the reshaping.

I suggest dropping it for now, we can reintroduce it later if there is sufficient interest in it, with an implementation that is faster than dropna

[2022-09-10 00:01] #1167 closed, assigned to nobody

[2022-09-10 00:04] samukweku opened #1168 "[BUG]`sort_by_appearance` parameter fails when `dropna=True` in `pivot_longer`"
# Brief Description

`sort_by_appearance` fails when `dropna=True` in pivot_longer

# System Information

- Operating system: macOS
- Python version (required): 3.9

# Minimally Reproducible Code

[code]
-->

# Error Messages

[code]

[2022-09-11 00:21] samukweku commented on #1115
For this, we can pass callables to `select_columns`

[2022-09-12 00:17] samukweku commented on #1102
reopening this for the last issue with left/right joins ...

[2022-09-12 12:21] #1156 closed, assigned to nobody

[2022-09-19 15:23] #1168 closed, assigned to nobody

[2022-10-03 03:12] samukweku opened #1171 "Read files from archive - zip, tar, etc"
# Brief Description

I would like to propose `read_archive` to read from zip/tar/...files in a simple form. Also read multiple files or nested files.

# Example API

Please modify the example API below to illustrate your proposed API, and then delete this sentence.

[code]

[2022-10-06 06:15] asmirnov69 commented on #542
Hi everyone, is this issue still in demand - or it became less relevant for whatever reasons?
I am trying to understand a) does it make sense to play with modin b) does it make sense to target pyjanitor  in the process of playing with modin

[2022-10-11 15:21] #1159 closed, assigned to samukweku

[2022-10-15 09:35] Zeroto521 opened #1174 "[BUG] pandas 1.5.x `_MergeOperation` doesn't have `copy` keyword anymore"
Raised errors from [the latest testing env](https://github.com/pyjanitor-devs/pyjanitor/actions/runs/3255090961/jobs/5344044127#step:5:1909) which pandas version is 1.5.0.

The pandas version of [environment-dev.yml](https://github.com/pyjanitor-devs/pyjanitor/blob/dev/environment-dev.yml#L36) is 1.3.5, so it would raise any errors.

[code]

closed to #1143

[2022-10-16 23:42] asmirnov69 opened #1176 "visualization of pyjanitor chained method calls"
# Brief Description

I'd like to propose some new features to pyjanitor with focus to visualization and data organization. I've made proof-of-concept repo to explain what exactly is the proposal contains: https://github.com/asmirnov69/pyjviz-poc

To be really brief - this example of [pyjanitor example](https://github.com/asmirnov69/pyjviz-poc/blob/main/scripts/dirty-clean.py) with corresponding [d

[2022-10-16 23:46] asmirnov69 commented on #1176
I was unable to find the way to attach labels. My intent was to label this issue as 'disscussion-needed'

[2022-10-17 05:02] asmirnov69 commented on #1059
Looks like it was never merged to dev? Any reasons not to do that now?

[2022-10-17 06:00] ericmjl commented on #1059
@asmirnov69 it was mostly my fault for letting the PR go stale, therefore we didn't merge. Is this something you'd like to pick up?

[2022-10-17 06:20] asmirnov69 commented on #1059
@ericmjl sure, if you still think it is important to have feature.
it should also help me with deeper understanding how to contribute to pyjanitor.
My plan:
- fork
- create new branch feature/conditional-imports-revive out of feature/conditional-imports for better tracking of changes
- merge dev to feature/conditional-imports-revive
- test using available pyjanitor tests and more
- open PR at this

[2022-10-17 17:39] mzabrams opened #1177 "Out-of-date on conda-forge"
# Brief Description

PyJanitor appears to be out of date on conda-forge -- the most recent version there is 0.22.0.

[2022-10-17 18:18] mzabrams commented on #1177
I put in a PR on the feedstock repository to resolve this -- can close this issue once the PR is merged over there.

[2022-10-17 18:32] mzabrams commented on #1177
Closed with PR on feedstock

[2022-10-17 18:32] #1177 closed, assigned to nobody

[2022-10-18 00:20] samukweku opened #1178 "extend `transform_columns` to support groupby operations"
# Brief Description

extending `transform_columns` to groupby operations could make some wrangling steps a bit cleaner/easier? [StackOverflow](https://stackoverflow.com/questions/63200530/python-pandas-equivalent-to-dplyr-1-0-0-summarizeacross)

# Example API

[code]

[2022-10-18 13:43] asmirnov69 opened #1179 "broken link to contributing guidelines"
# Brief Description of Fix

from this page https://github.com/pyjanitor-devs/pyjanitor/pulls link to contributing guidelines https://github.com/pyjanitor-devs/pyjanitor/blob/352977c663fb070733df4914ecfe4afaff9e8a6d/CONTRIBUTING.md leads to some page stub

[2022-10-18 20:09] samukweku commented on #1179
Hi @asmirnov69 thanks for raising the issue. The link you shared is the pull request page, and I couldn't find the link you were referring to. Do you mind sharing the actual broken link

[2022-10-18 21:15] asmirnov69 commented on #1179
this is the link which doesn't look right: https://github.com/pyjanitor-devs/pyjanitor/blob/352977c663fb070733df4914ecfe4afaff9e8a6d/CONTRIBUTING.md

it sits on [pull request page](https://github.com/pyjanitor-devs/pyjanitor/pulls) as '<u>contributing guidelines</u>' in banner '<b>First time contributing to pyjanitor-devs/pyjanitor?</b>'