[2019-07-13 15:48] qtson commented on #326
I would like to work on this issue

[2019-07-13 15:49] loganthomas opened #401 "[DOC] Typo with back-ticks in documentation found"
# Brief Description of Fix
Found a "back-tick" error on a page within the pyjanitor docs. I assume this should appear as `pyjanitor` and `pandas` rather than the below image shows.

<img width="675" alt="Screen Shot 2019-07-13 at 10 43 34" src="https://user-images.githubusercontent.com/24984410/61173610-37e6f280-a55b-11e9-94a7-76a0b789269e.png">

Currently, the docs don't render backticks as code

[2019-07-13 15:50] loganthomas commented on #401
I will be fixing this issue and looking for others as well.

[2019-07-13 15:50] uribe-convers opened #402 "[DOC] fixes issues with ipykernel when runnig Jupyter notebook"
# Brief Description of Fix

When building the documentation locally with `make html`, some people might get an error saying the `janitor` module is not installed  even though the package was installed correctly and is in their environment. The exact error is: `ModuleNotFoundError: No module named 'janitor'`

Currently, the docs don't have information on how to install an `ipykernel` specific for t

[2019-07-13 16:05] benjaminjack commented on #400
It's also not clear when and why R code snippets are being introduced throughout the example, so I'm going to add some additional context and explanation for those areas as well. It may be best to split out the R code portions to a separate "R tidyverse to pyjanitor" page. The R code explanations will be irrelevant to a python/pandas users that have never used R before.

[2019-07-13 16:06] chungkim271 commented on #336
I'd like to work on this

[2019-07-13 16:14] suchetaBan opened #403 "[DOC] Add a link to the Contributing.html page in the Readme.rst"
Currently, it is not very easy  for a contributor looking for setup instructions to find the contributing.html via the readme .

I would like to propose adding a link to the Contributing.html file in the readme.rst under "Contributing"

I would like to work on this fix.

(https://github.com/ericmjl/pyjanitor/README.rst)

[2019-07-13 16:16] portc13 commented on #381
I'd like to work on this issue.

[2019-07-13 16:18] shandou opened #404 "[DOC] Make semantic line break edits to documentation rst files"
# Brief Description of Fix

Currently, the docs' raw rst files do not always follow the principles of [__Semantic Line Break__](https://sembr.org/) for various markup format. This potentially weakens the readability of the rsf files both for current and future contributors.

I would like to propose a change, such that now the docs follow the Semantic Line Break principles.

# Relevant Context

- [

[2019-07-13 16:20] shandou commented on #404
I'd be happy to work on this during the Scipy2019 Saturday sprints :)

[2019-07-13 16:22] sallyhong commented on #396
Great idea!
I agree with the better approach (script to run each notebook before uploading to docs)!
Would you like to be assigned to this? :D

[2019-07-13 16:24] samwalkow opened #405 "[DOC] Add hyperlink for pipe method"
# Brief Description of Fix

Currently, the docs reference a pandas method called pipe() and provide a code example using the method in the "why pyjanitor" section that shows the three ways you can use the pyjanitor API. However, there is no additional information what this method does or where it comes from. It is not clear that this method is a pandas method, and not a pyjanitor.

I would like to

[2019-07-13 16:26] dwgoltra opened #406 "Reword run-on sentence and fix inconsistent pronoun use"
# Brief Description of Fix

In the 4th paragraph of the "Why Janitor?", there is an inconsistent "I" pronoun being used. Everywhere else in the documentation, we use "we". Additionally, this paragraph is a wordy, run on sentence this is a little difficult to read.

I propose changing this "I" to "We" and rewriting the paragraph to improve its readability.

- [Link to documentation page](http://pyj

[2019-07-13 16:26] sallyhong commented on #398
Let me know if you'd like to work on this!

[2019-07-13 16:27] sallyhong commented on #401
You are correct. Thank you!

[2019-07-13 16:28] benjaminjack commented on #400
I'm working on this, not sure how to claim it with a tag or label.

[2019-07-13 16:29] sallyhong commented on #403
Totally agree that the setup instructions could use more help :D
Could you explain in more detail what the link would contain?

[2019-07-13 16:31] suchetaBan commented on #403
i would just add a hyperlink to -
https://pyjanitor.readthedocs.io/contributing.html#

[2019-07-13 16:36] emnemnemnem opened #408 "add_column fix"
Currently, the add_column function contains the parameter **fill_remaining**. I believe this parameter could be combined with the **value** parameter, such that when a list or tuple is inputted into **value**, it should automatically repeat to fill up the remainder of the column rather than having to specify that in another parameter (**fill_remaining**). (This is also due to

# Relevant Context

[2019-07-13 16:37] danyullim commented on #408
lemme see

[2019-07-13 16:37] sallyhong commented on #404
Assigned! :D

[2019-07-13 16:39] ericmjl opened #409 "[INF] Azure pipelines builds fail when non-ericmjl user PRs in"
# Brief Description

If a user who is not part of the pyjanitor project on Azure (distinction from GitHub) makes a PR in, we will have an issue where the PyPI credentials are not found, and hence the build will fail even with everything else passing.

# Course of Action

I will temporarily remove the auto-deploy section of the Azure pipelines build.

[2019-07-13 16:40] jk3587 commented on #368
@sallyhong I would like to add a `drop_first` trigger to `expand_column`

[2019-07-13 16:41] sallyhong commented on #406
Would you like to work on this?

[2019-07-13 16:41] asearfos commented on #398
Yes, almost done!

----
Abigail Searfoss

From: Sally Hong
Sent: Saturday, July 13, 2019 11:26 AM
To: ericmjl/pyjanitor
Cc: Abigail Searfoss; Author
Subject: Re: [ericmjl/pyjanitor] update contributors page making linksconsistent (#398)

Let me know if you'd like to work on this!
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the

[2019-07-13 16:41] loganthomas commented on #401
@kulini Contributed a commit as well with the dirty data set explanation :)

[2019-07-13 16:45] sallyhong commented on #408
@emnemnemnem , Curious what the last sentence is supposed to say :D

![image](https://user-images.githubusercontent.com/8099467/61174283-06c2ee00-a56c-11e9-9696-5e687ec271ea.png)

[2019-07-13 16:45] benjaminjack opened #412 "[DOC] Create R tidyverse to pyjanitor guide"
# Brief Description of Fix

Currently, the docs contain TidyTuesday examples that show some R tidyverse functions and compare them to pyjanitor functions. This information might be very useful for R users coming to python/pyjanitor.

I would like to propose a change, such that now the docs have a separate R tidyverse to pyjanitor guide, similar to the [pandas doc](https://pandas.pydata.org/pandas-

[2019-07-13 16:49] sallyhong commented on #412
Great idea!
Let me know if you want to work on this! I think we can start with a table of contents!

[2019-07-13 16:51] benjaminjack commented on #412
I'd love to work on it! Any suggestions on where I should put the new page in the docs? A separate .rst file, or under Examples in a notebook?

[2019-07-13 16:51] RebeccaWPerry commented on #397
By adding a check for columns that have the -9999 data in them, I discovered that the year column also has -9999's, so I added that to the find_replace's.

[2019-07-13 16:52] sallyhong commented on #403
Ok! Sounds good! marking this as "being worked on"

[2019-07-13 16:52] #409 closed

[2019-07-13 16:55] #395 closed

[2019-07-13 16:57] portc13 opened #414 "[DOC] Add more description of why the teacher_pupil data needs to be cleaned."
# Brief Description

I'd like to add more description in the beginning of the notebook on why the indicator column needs to be cleaned, and motivate the creation of the functions.

(optional but encouraged) This notebook would likely cover the following pyjanitor functions:

# Dataset

https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-05-07/EDULIT_DS_0605201910174

[2019-07-13 16:58] portc13 commented on #414
I'd like to work on this issue.

[2019-07-13 17:00] nickdelgrosso opened #415 "[DOC] pep8 style fix for code examples"
# Brief Description of Fix

Right now, some of the code examples don't fit the python style guide.  I'd like to change them to match, ideally automatically with flake8 but for now just manually.

# Relevant Context
At [the board game example]( http://localhost:63342/pyjanitor/docs/_build/html/notebooks/board_games.html#Check-to-see-what-percentage-of-the-values-in-the-%E2%80%9Ccompilation%E2%80%9D

[2019-07-13 17:03] sallyhong commented on #412
Personally, I would like a separate page, but @ericmjl can (and should) make the executive call on how to organize them.

[2019-07-13 17:07] sallyhong commented on #415
Let me know if you'd like to work on this! :D

[2019-07-13 17:14] emnemnemnem commented on #412
This is a great idea! I would also be willing to help!

[2019-07-13 17:15] sallyhong opened #418 "[DOC] Standardize capitalization in the Table of Contents in readthedocs.io"
Currently, the Table of Contents follows an inconsistent standard of capitalization.
I would like to fix this.

![image](https://user-images.githubusercontent.com/8099467/61174581-468bd480-a570-11e9-8a82-d2658f51ab84.png)

[2019-07-13 17:24] DSNortsev commented on #389
I would like to work on this enhancement.

[2019-07-13 17:29] #402 closed

[2019-07-13 17:38] HectorM14 commented on #393
It's great to see the new Issues and PRs!

[2019-07-13 17:40] cjmayers opened #422 "Add link to TidyTuesday examples point to Tidy Data paper"
I would like to add text and a link to the end of the first paragraph on the first [TidyTuesday example](https://pyjanitor.readthedocs.io/notebooks/tidytuesday_20190423.html) that would point to Hadley Wickham's Tidy Data paper.

Before:
We will use pyjanitor to showcase how to conveniently chain methods together to perform data cleaning in one shot. The below example shows a one-shot script follo

[2019-07-13 17:42] #398 closed

[2019-07-13 17:45] benjaminjack commented on #422
We have a pull request open that modifies the TidyTuesday examples. You may want to wait until those are merged before making any changes.

[2019-07-13 18:19] dwgoltra commented on #406
Hi there,

Currently,  shandou and I are working on it in this PR #424.

Sent from my iPhone

[2019-07-13 18:29] DSNortsev opened #426 "[DOC] Columns are misaligned in the table on "API Documentation" page"
Currently, columns in the table are misaligned on "API Documentation" page

<img width="737" alt="2019-07-13_1322" src="https://user-images.githubusercontent.com/16304028/61175288-78b72980-a5a4-11e9-814d-38ee95b7a8a2.png">

[2019-07-13 18:29] DSNortsev commented on #426
I would like to work on that issue

[2019-07-13 19:25] #400 closed

[2019-07-13 19:28] benjaminjack commented on #422
The other pull request was merged, so feel free to pull and work on this now.

[2019-07-13 19:39] #401 closed

[2019-07-13 19:42] #404 closed

[2019-07-13 19:46] benjaminjack commented on #412
If @sallyhong wants to assign this to me, I'll start working on it.

@emnemnemnem if you're still here at the sprints this afternoon, feel free to come find me and we can work on this together.

[2019-07-13 20:20] nickdelgrosso commented on #415
Yes!

Added #429

[2019-07-13 20:26] asearfos commented on #387
I would like to work on this.

[2019-07-13 20:27] #397 closed

[2019-07-13 20:28] gjlynx opened #432 "Copyright notice is hardcoded to 2018"
# Brief Description of Fix

Currently, the docs...

I would like to propose a change, such that now the docs...

# Relevant Context

- [Link to documentation page](http://pyjanitor.readthedocs.io)
- [Link to exact file to be edited](https://github.com/ericmjl/pyjanitor/AUTHORS.rst)

[2019-07-13 20:30] #326 closed

[2019-07-13 20:32] #239 closed

[2019-07-13 20:37] samwalkow opened #433 "[DOC] Add markdown template for AUTHORS doc"
# Brief Description of Fix

Currently, the docs contain no instructions on how to format author information (when contributors add themselves) and is leading to confusion and incorrect formatting.

I would like to propose a change, such that now the docs have a "template" for contributors to follow when adding themselves and will hopefully remove mistakes in the authors file.

# Relevant Context

[2019-07-13 20:40] benjaminjack opened #434 "[ENH] pivot_wider() and pivot_longer()"
# Brief Description

Pandas has several functions for pivoting. The `melt` function takes a 'wide' dataframe and makes it 'long', and `pivot_table` takes a 'long' dataframe and makes it 'wide'. Similarly, `stack` and `unstack` perform pivot operations using multilevel indices. Tom Augspurger explains all of the pandas pivoting functions in his [Modern Pandas guide](https://tomaugspurger.github.io/

[2019-07-13 20:49] jk3587 commented on #426
#428 resolves this issue

[2019-07-13 20:58] #426 closed

[2019-07-13 21:17] dwgoltra opened #435 "[DOC] Clarify original-dataframe mutation behavior in pyjanitor function docstrings"
# Brief Description of Fix
Currently, some pyjanitor functions mutate the original dataframe and others return a copy. Solutions are heavily discussed in #79 but no conclusion has been reached. At the moment, it is unclear, without experimentation from the user, which behavior applies in each function.

In the interim, I propose to explicitly clarify this behavior in each function's docstring so t

[2019-07-13 21:26] #422 closed

[2019-07-13 21:28] #414 closed

[2019-07-13 21:29] #405 closed

[2019-07-13 21:32] #432 closed

[2019-07-13 22:28] puruckertom opened #438 "[DOC] French train data notebook"
# Brief Description

I'd like to write a notebook that leverage French train data to illustrate some basic pyjanitor functions and the difference between adding new column statistics in the call chain verses one at a time.

(optional but encouraged) This notebook would likely cover the following pyjanitor functions:

- clean_names
- remove_empty
- rename_column
- drop_columns
- join_apply, add_col

[2019-07-13 22:29] puruckertom commented on #438
I would like to work on this issue.

[2019-07-13 22:47] zbarry opened #439 "[DOC] Functions missing from the docs"
@dwgoltra pointed out that some functions (`get_dupes` at the least) are not present in the API documentation.

Files such as:

https://github.com/ericmjl/pyjanitor/blob/dev/docs/general_functions.rst

explicitly encode what functions will be included in the online docs.

[2019-07-13 22:49] gaworecki5 opened #440 "[DOC] Broken link on encode_categorical function"
# Brief Description of Fix

Before -  the link below is broken
<http://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html> # noqa: E501 dtype.

After - correct working link to the pandas documentation

[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)

Link to documentation page"
- [link to page to be edited](https://pyjanitor.readthedoc

[2019-07-13 22:49] dwgoltra commented on #439
I also notice `get_features_targets()` is missing.

[2019-07-13 22:55] nickdelgrosso commented on #255
I would like to propose adding both multi-column, single-mapping support and multi-column, multi-mapping support to the existing find_replace() functionality.  To support both cases, I propose splitting find_replace() into an additional function, find_replace_all():

# Example API
[code]

## Example Usages:

[code]
[code]
An interesting benefit is that find_replace() can also handle multi-column,

[2019-07-13 22:58] chungkim271 commented on #336
This is caused by symbolic links created by sphinx pointing to the wrong locations for the images: https://github.com/spatialaudio/nbsphinx/issues/49. The images are located in: ~/docs/_build/doctrees/nbsphinx/ but the links are pointing to ~/notebooks/_build/doctrees/nbsphinx/

[2019-07-13 23:06] sallyhong commented on #440
Great catch!

[2019-07-13 23:07] #418 closed

[2019-07-13 23:07] zbarry commented on #255
@ericmjl

[2019-07-13 23:08] sallyhong commented on #336
Assigned! :D

[2019-07-13 23:16] zbarry commented on #347
conda activate pyjanitor-dev
python -m ipykernel install --user --name pyjanitor-dev --display-name "PyJanitor development"

[2019-07-13 23:59] ericmjl commented on #347
It’s now part of the docs, if I remember correctly.

[2019-07-14 00:22] loganthomas opened #441 "[DOC] API Documentation for Biology functions is not standardized"
# Brief Description of Fix

Currently, the docs do not have a standard docstring format for functions.
### Example of inconsistent docstring

<img width="690" alt="incorrect_func_doc" src="https://user-images.githubusercontent.com/24984410/61177779-6936e100-a5a2-11e9-8332-0c02bad7b5bf.png">

### Example of a correct/desired docstring
<img width="716" alt="correct_func_doc" src="https://user-images

[2019-07-14 00:22] loganthomas commented on #441
I would like to work on this issue :)

[2019-07-14 01:19] benjaminjack commented on #434
I’m also happy to work on this issue!

[2019-07-14 03:33] szuckerman commented on #434
I think this is a great idea! `value_name` and `value_vars` sometimes gets confusing and I think this is more clear. However the best part is that in Pandas these are external functions from the `DataFrame`; they're module-level (`pd.melt`, `pd.pivot_table`). This would be great to add to the method-chaining syntax.

Also, to see the difference, below is the same code above implemented in standard

[2019-07-14 04:30] szuckerman commented on #408
Whoops! I made that one. Here's my initial proposal to automatically `fill_remaining` (and eventually deprecate the parameter). It's been a while since I've worked on `pyjanitor` stuff so my git got out-of-whack, just wanted to post this here in the meantime:

[code]

[2019-07-14 14:34] jk3587 commented on #368
After some research, there has been some work on [link](https://github.com/pandas-dev/pandas/issues/19618)

`Series.str.get_dummies()` has the `sep` parameter but no other parameters whereas `pandas.get_dummies()` has `drop_first` and a variety of other parameters but not `sep`.

There is a PR on pandas-dev in progress that would defer `Series.str.get_dummies()` to `pandas.get_dummies()`.

Overall

[2019-07-14 14:54] #435 closed

[2019-07-14 15:01] aopisco opened #446 "[DOC] Adding context about method chaining"
# Brief Description of Fix

Currently, the docs don't explain what method chaining is. A beginner would benefit from reading about it.

I would like to propose a change, such that now the docs include a link to a medium post explaining the topic.

# Relevant Context

- [Link to documentation page](http://pyjanitor.readthedocs.io)
- [Link to exact file to be edited](https://github.com/ericmjl/pyjan

[2019-07-14 15:01] ericmjl commented on #446
This is being worked on by @aopisco.

[2019-07-14 15:10] jk3587 commented on #406
#424 resolves this issue.

[2019-07-14 15:10] #406 closed

[2019-07-14 15:17] #446 closed

[2019-07-14 15:21] zbarry commented on #347
Intention was to put an autoconfig piece in the makefile

[2019-07-14 15:48] shandou opened #448 "[DOC] Add Example Notebook TidyTuesday 2019-07-09"
# Brief Description

I'd like to write a notebook that provides an example that follows the R workflow shown for  [TidyTuesday 2019-07-02](https://github.com/rfordatascience/tidytuesday/tree/master/data/2019/2019-07-02) data.

# Dataset
The raw data is parsed from html of [Wikipedia Page](https://www.wikiwand.com/en/List_of_highest-grossing_media_franchises).

[2019-07-14 15:53] zbarry commented on #347
I will be working on this and other changes to documentation on contributing to the project that will probably involve splitting up `CONTRIBUTING.rst` into separate files. It's pretty monolithic right now, and there are two separate modules really: contribution guidelines and setting up an development environment. This will help make it clearer how to get started developing and then how to contrib

[2019-07-14 15:53] shandou commented on #448
And I am going to take a stab at it :)

[2019-07-14 16:01] ericmjl opened #450 "[INF] Need to sync up requirements-dev.txt and environment.yml"
There are some packages in `requirements-dev.txt` that are not present inside `environment.yml`.

Need to manually check to synchronize the two of them.

Version numbers in `requirements-dev.txt` should not be put back into `environment.yml`.

I will work on this.

[2019-07-14 16:03] samwalkow opened #451 "[DOC] Add documentation on adding to rst files"
# Brief Description of Fix

Currently, the docs provide only a few lines on instructions for building and changing the docs locally. It's not clear how to find what you build locally in the directory, how to makes changes in the rst files, or how to rebuild and check on your changes.

I would like to propose a change, such that now the docs have more detail and hyperlinks on how the docs are built

[2019-07-14 16:09] #433 closed

[2019-07-14 16:29] #450 closed

[2019-07-14 16:33] ericmjl commented on #434
I'm in agreement with @szuckerman here. This looks good, @benjaminjack! Don't forget to add tests and docstring :smile:.

[2019-07-14 16:41] ericmjl commented on #412
@benjaminjack, I don't have strong ideas on where it should go at the moment. Let's see what you've got, and if we need to move, we can make the move, perhaps?

[2019-07-14 16:42] nickdelgrosso opened #455 "[BUG] find_replace() doesn't replace null values"
# Brief Description

When replacing null values in a dataframe, `find_replace()` doesn't perform the replacement.

# System Information

- Operating system: Linux
- OS details (optional):  Ubuntu
- Python version (required): 3.7

# Minimally Reproducible Code

[code]

# Error Messages

None

[2019-07-14 16:42] ericmjl commented on #336
Thanks for tackling this, @chungkim271! :smile:

[2019-07-14 16:43] ericmjl commented on #455
Thanks for raising this, @nickdelgrosso!

Yes, in fact, null values should be out of scope of find_replace, because `fillna()` can handle this. (That said, pandas-native `fillna()` doesn't provide a mechanism to fill NA values on selected columns - we can talk about this at another time.)

[2019-07-14 16:50] #451 closed

[2019-07-14 17:07] #440 closed

[2019-07-14 17:27] aopisco commented on #381
I would like to work on this

[2019-07-14 17:36] #455 closed

[2019-07-14 19:28] loganthomas opened #462 "[DOC] API Documentation for Chemistry functions is not standardized"
# Brief Description of Fix

Currently, the docs do not have a standard docstring format for functions. Some docstrings contain only `Parameters`. Some have `Parameters` and `Method chaining usage`.  Some have a combination of `Parameters`, ` Returns`, `Functional usage example`, and `Method chaining example` but not each one of these pieces.

I would like to propose a change, such that now the doc

[2019-07-14 19:28] loganthomas commented on #462
I would like to work on this issue :) Yah docstrings!

[2019-07-14 19:30] #439 closed

[2019-07-14 19:52] cjmayers opened #464 "[BUG] Problem building docs on Window using "make html""
# Brief Description

Following the instructions on the [contributions](https://pyjanitor.readthedocs.io/contributing.html) page fails when trying to `make html` a symbolic link privilege not held error

# System Information

- Operating system: Windows
- OS details (optional):  10 Enterprise
- Python version (required): Python: 3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

#

[2019-07-14 20:01] #441 closed

[2019-07-14 20:04] cjmayers commented on #464
I have found that executing this command in an Administrator Powershell instance works and creates the not only ..\pyjanitor-dev\docs\_build directory with all the correct files but it also creates a shortcut to notebooks in the ..\docs directory.

Now if the `make html` is run through either normal instance or an Administrator instance of Powershell the following error occurs:

[code]

[2019-07-14 20:13] #389 closed

[2019-07-14 20:18] cjmayers commented on #464
If the notebook shortcut that was created in Administrator Powershell instance is removed (..\pyjanitor-dev\docs\notebooks) then we are go back to square one which requires an Admin to execute `make html`

After looking at the properties of the notebooks shortcut the properties for Target: and Start in: are blank making it a broken shortcut

![01_shortcut_sm](https://user-images.githubusercontent.

[2019-07-14 20:27] cjmayers commented on #464
A work around seems to be creating a junction where the synatx is `mklink /J "path to junction link" "path to target folder"`

The actual command needed for this bug is `mklink /J notebooks ..\examples\notebooks` which is executed from a normal shell in the ..\pyjanitor-dev\docs directory

Once this junction is created then `make html` works from a normal shell

[2019-07-14 20:35] loganthomas commented on #462
@ericmjl

Currently working on the docstrings for functions within the chemistry.py file. I'm wondering what your preferred docstring example format would be. See below for an example:

## Current Docs
<img width="614" alt="Screen Shot 2019-07-14 at 15 29 41" src="https://user-images.githubusercontent.com/24984410/61188959-39dcae80-a64c-11e9-987b-6967b8c0f003.png">

## Suggestion
<img width="634"

[2019-07-14 20:41] cjmayers opened #465 "[DOC] Add workaround for bug #464 building docs using "make html" - windows only"
# Brief Description of Fix

Currently, the docs does not cover a workaround for bug #464 and this prevents windows users from building the html documents.

I would like to propose a change, such that the docs would include the current workaround discussed in bug #464 where a junction is created.

# Relevant Context

- [Link to documentation page](https://pyjanitor.readthedocs.io/contributing.html)

[2019-07-14 20:53] benjaminjack commented on #434
Thanks for all the feedback so far! I took a first pass at implementation, docs, and tests for `pivot_longer` here: https://github.com/benjaminjack/pyjanitor/commit/e3df817903c20dd21634461c8a92aec137963ed0

A few questions:
1. How should we handle indexes? Right now I'm just resetting the index before `pd.melt`. This may cause problems with multilevel indexes though.
2. Any guidance on using Hypot

[2019-07-14 21:05] #387 closed

[2019-07-14 22:25] cjmayers opened #467 "Update dev env (environment-dev.yml) to be more windows friendly"
I propose updating the environment-dev.yml file with `make` as a dependency so that windows users the module for contributing to this repo. In addition at @ericmjl request move conda-forge channel to the top of the list

[2019-07-14 22:34] ericmjl opened #469 "gitignore should have docs/notebooks"
The `docs/notebooks` symlink should not be in version control, because it will break Windows users’ building of the docs.

I will add it to the gitignore to prevent it from showing up on beginner sprinters’ git statuses.

[2019-07-14 22:41] #464 closed

[2019-07-14 22:56] #469 closed

[2019-07-14 23:06] sallyhong commented on #386
I would like to explore and work on this

[2019-07-14 23:15] sallyhong commented on #386
After checking, this is working as intended.
The function only drops the specified `nth_index`. It only drops one column at a time per call.

[code]

If we would like to modify the function so that it drops multiple at once, we can follow the `pd.drop_duplicates()` and follow after the `keep` parameter.

https://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.DataFrame.drop_duplicates.

[2019-07-14 23:23] ericmjl commented on #467
Closed by #471

[2019-07-14 23:23] #467 closed

[2019-07-14 23:28] ericmjl commented on #462
Thanks for the ideas, @loganthomas! I think the suggestion is great, let’s go with it!

[2019-07-14 23:30] ericmjl commented on #465
Closed by #466.

[2019-07-14 23:30] #465 closed

[2019-07-14 23:35] ericmjl commented on #255
I’m in favour of the propose API, @nickdelgrosso!

[2019-07-15 00:01] ericmjl commented on #386
Thanks for digging in, @sallyhong!

This would definitely be a good idea. Perhaps we can change `nth_index` to `keep`, and then accept one of the following:

- an integer (following the behaviour of `nth`)
- a string (`first` or `last`)
- None

Is it a common situation to see column values that are exactly duplicate? If so, then yes, this would be useful to have. What would an API look like for th

[2019-07-15 02:45] #462 closed

[2019-07-15 15:28] sallyhong commented on #386
A sample scenario I could think of using this function would be if .... the data has
`Person ID,  Time, Value, Time, Value, Time, Value`... etc.
and I would would want the most recent `Time, Value` (or the first pair)

What behavior would you want the function to return if `None` ?

[2019-07-15 19:24] ericmjl commented on #386
Right! That's a good example, @sallyhong.

This was a passing thought that if `None`, we would simply drop all duplicate columns. In your opinion, would this be too "dangerous" of an option to have? I would probably still default to keeping the first.

[2019-07-15 20:12] ericmjl opened #473 "[DOC] Updates needed for contributors page"
Issues:

1. Missing @sallyhong
1. @asearfos' contribution is not rendering on readthedocs.

![image](https://user-images.githubusercontent.com/2631566/61245806-fc8f2400-a712-11e9-8690-050fbfdff0aa.png)

[2019-07-15 20:39] szuckerman commented on #386
Just a thought... And I know I'm coming in a bit late to this, but is the code the expected result we want for `drop_duplicate_columns`?

I know that the purpose is to find another column with the same name and drop the second instance. However, that column, while using the same name, might have different data altogether (as with [the example here](https://github.com/ericmjl/pyjanitor/blob/dev/jan

[2019-07-15 20:42] zbarry commented on #386
Hmm, I was using it as a way to do what you were saying in the `However` paragraph. I can't remember what I was doing, but I think it involved a situation where there was no avoiding 2+ columns generated with different column names but identical data. My desired functionality was simply only keeping one of those columns to remove redundancies.

[2019-07-15 20:59] zbarry opened #475 "[ENH] Keeping a history of every operation applied to a DataFrame"
A whacky idea dreamed up during the sprint.

This would essentially record for you your data processing pipeline (on the DataFrame bit at least). Metadata could go in a `.pj` accessor in the dataframe / series.

Fun challenges include:

* Detecting use of all Pandas functions, not just PyJanitor ones
* Minimizing modification of Pandas objects as much as possible
* Avoiding brittleness to pandas c

[2019-07-15 21:57] jcmkk3 commented on #475
This is not exactly the same thing, but since you’re already thinking about a scope outside of just pyjanitor added methods, it would be really cool to see something like [tidylog](https://github.com/elbersb/tidylog/blob/master/README.md) for Pandas.

[2019-07-15 23:56] #473 closed

[2019-07-15 23:59] ericmjl commented on #386
@szuckerman I really like this particular idea! It reads like plain English, and makes unambiguous by what criteria we are dropping duplicate columns.

@sallyhong and @zbarry, what do you two think about this?

[2019-07-16 00:04] ericmjl commented on #475
@jcmkk3 tidylog is a very good idea! A hacky first-pass would be have every `pyjanitor` function print out what exactly it’s doing. This, of course, ignores all `pandas` functions. The more sophisticated version would use the logging facilities in Python. `pyjanitor` functions would need to be changed to explicitly report what exactly it’s doing in plain English; with an additional standard kwarg,

[2019-07-16 01:59] ericmjl opened #476 "[DOC] International Teacher Data notebook should not have 1st-level markdown beyond title"
# Brief Description of Fix

Currently, the example on [Processing International Teacher data](https://pyjanitor.readthedocs.io/notebooks/teacher_pupil.html) has two top-level markdown titles: One for `Processing International Teacher Data`, and the other for `Data Dictionary`.

I would like to propose a change, such that `Data Dictionary` gets demoted to 2nd level. This would prevent it from showi

[2019-07-16 03:16] jiafengkevinchen opened #477 "[DOC] `groupby_agg` naming and documentation"
`groupby_agg` is possible to implement with method-chaining in native pandas, contrary to what the documentation seems to imply; native pandas would use `groupby(...).transform`, e.g.
[code]
Of course, this is a mouthful to type, so it still makes sense to have a function that takes care of this operation, but `groupby_agg` seems like the wrong name for the function, and something like `groupby_tr

[2019-07-16 03:37] szuckerman commented on #475
Apparently you can put a trace function in python that will log every function that's called. I saw [this answer](https://stackoverflow.com/a/8315566) on stackoverflow which gave some decent code to show which functions are being called.

However, one of the main problems is how many intermediate functions are getting called. I modified the code from the stackoverflow answer to write all the resul

[2019-07-16 04:38] shandou opened #478 "[ENH] deconcatenate_column to preserve the original column location"
# Brief Description

I would like to propose an enhancement to `deconcatenate_column` for preserving the original column position.

The current implementation will append the deconcatenated columns to the right of the original dataframe. In this way, the relative positions of the columns are not preserved.

I'd like to have a boolean kwarg that allows users to preserve the original column order.

[2019-07-16 04:40] shandou commented on #478
Also, the examples in documentation uses plural, even though the function itself uses singular form (`deconcatenate_column`):
[code]

[2019-07-16 04:41] shandou commented on #478
I can work on the enhancement and documents correction once I am done with the example notebook.

[2019-07-16 04:46] ericmjl commented on #477
@jiafengkevinchen thanks for raising this! Your points are well-taken. Would you like to work on a PR to improve the docs? Specifically, the scope of the PR would be to replace the current “pandas example” with what you provided, alongside a sentence that describes that one might find it tedious to type.

On the implementation, I’m not too concerned, unless there are clear performance (memory/time

[2019-07-16 04:49] ericmjl commented on #478
Thanks @shandou for picking out the doc inconsistency, and for proposing the new kwarg! Yes, definitely this would be a good PR to make. I will mark this as taken.

As a heads-up, more verbose docstrings on what `preserve_position` does, including a mini-example of some kind, would be very helpful. I would not skimp on text here; oftentimes there’s more lines of docstrings than implementation :smi

[2019-07-16 06:19] ericmjl opened #479 "[INF] Discussion: Is there a place for sphinx-autorun?"
@shandou let me know about this on LinkedIn. I thought it looked neat, but at the moment, don’t need to go to bed soon. I’m leaving this issue here, looking to spark discussion.

[2019-07-16 14:05] hectormz commented on #475
Interesting idea!

 Would the goal be to first log operations for a dataframe, and be able reload those operations, or generate a `.py` with the same workflow? Or as @ericmjl says, a report in plain English. And should we be able to account for the possibility of multiple dataframes being processed, instead of recording all `pyjanitor` and `pandas` functions?

An alternative to some type of loggin

[2019-07-16 14:09] hectormz commented on #388
Do you want the indices of the contiguous blocks returned, or a dataframe filtered to only include those rows? The user could also specify the minimum number of contiguous blocks (eg >=2, >=5 etc)

[2019-07-16 14:17] szuckerman commented on #475
@hectormz I would vote for @ericmjl's suggestion about having the report in English. Reloading the operations would be nice, but users already have the code in a notebook or .py file; I'm not sure as to how helpful a log in that case would be.

I would vote for the following: Have a log like a web-style log. It's basically a DataFrame with columns like:

`datetime`, `function_call`, `meaning`, `cu

[2019-07-16 21:10] #438 closed

[2019-07-17 02:10] hectormz commented on #475
Now I understand, got it. Beyond the implementation of the history logging, one of the big questions to me will be where to store the history (and for how long), if a config file is not set.

In my view, the big picture items are:

1. Actual implementation of `pandas`/`pyjanitor` logging
2. Creating dictionary of methods and plain English equivalents (manually or automatically)
    - Maybe creatin

[2019-07-17 17:09] hectormz commented on #396
Is this something that should be added to the make file, and should be run every time, or only when someone knowingly updates a notebook?

Maybe there is something that can be added to the PR pipeline that ensures cells are sequentially numbered, and requests that you run the script if they're not.

[2019-07-18 00:21] jiafengkevinchen commented on #477
There is a performance benefit actually (due to @frtennis1)
![image](https://user-images.githubusercontent.com/24930289/61420402-407b5800-a8d0-11e9-8bba-fc7c34bcb0d0.png)

[2019-07-18 15:27] ericmjl commented on #477
Superb! Looking forward to reviewing your PR after work today.

[2019-07-18 19:10] rahosbach commented on #384
It looks like the World Bank's API could be used. The API is URL-based and doesn't require any API keys.  If you had the country and reference and current years, you could grab the values out of the XML at a URL like the following:
https://api.worldbank.org/v2/country/USA/indicator/FP.CPI.TOTL.ZG?date=2000:2001

Note that "USA" can be replaced with any desired country, "FP.CPI.TOTL.ZG" is the Worl

[2019-07-18 20:12] hectormz commented on #384
Great find! And it appears to have a Creative Commons Attribution 4.0 (CC-BY 4.0) license, so everyone should be fine to use it.

Looking forward to what you come up with!

[2019-07-19 11:23] #448 closed

[2019-07-19 11:30] ericmjl opened #483 "[DOC] Authors page should reflect more than git commit contributions"
# Brief Description of Fix

Currently, the docs only link to code contributions that involve a `git commit`. This does not reflect the contributions made by others to the project, such as talks, helping with sprints, social media, and more.

I would like to propose a change, such that now the docs includes at least code sprint contributions. For example, @jk3587 and @sallyhong helped with issues a

[2019-07-19 15:02] jekwatt commented on #483
If the link to `File to be edited` does not work, try this:
https://github.com/ericmjl/pyjanitor/blob/dev/AUTHORS.rst

[2019-07-19 15:16] hectormz commented on #483
How can they be properly recognized on `Authors.rst`?

Including when and how they contributed and guided others?

A tree graph of guidance?

[2019-07-19 17:24] ericmjl commented on #483
I think bullet points indicating non-coding contributions would be a way out.

[2019-07-20 20:09] rahosbach opened #486 "[ENH] Unit Conversion"
# Brief Description

I would like to propose a set of `engineering` methods that would convert units (e.g., Fahrenheit to Celsius, or Pascals to mmHg, etc.) as well as prefixes (e.g., milligrams to kilograms, kWh to MWh, etc.).

This could go down a big rabbit hole.  But maybe we could rely on [Pint](https://pint.readthedocs.io/en/0.9/), or a similar package.

# Example API

[code]

[2019-07-20 20:22] jcmkk3 commented on #486
I don’t know how they compare, but it might be worth evaluating [unyt](https://unyt.readthedocs.io/en/stable/) as well.

[2019-07-20 21:07] ericmjl commented on #486
This is a great idea! I will suggest the following API change, though, to match it more closely to the `transform_column` API:

[code]

Suggesting this change only because it semantically is of the same idea as `transform_column`, so it's nice to keep these semantically-similar functions together.

[2019-07-20 21:11] ericmjl opened #487 "[DOC] transform_column dest_column_name kwarg description needs to be clearer on defaults"
# Brief Description of Fix

The current wording on `dest_column_name` is:

`dest_column_name – The column name to store the transformation result in. By default, replaces contents of original column.`

I would like to propose to change it to:

`dest_column_name – The column name to store the transformation result in. Defaults to None, which will result in the original column name being overwritten

[2019-07-21 01:01] #478 closed

[2019-07-21 01:21] ericmjl opened #488 "[DOC] Docstring style should be made clear in `contributing` page"
# Brief Description of Fix

Currently, the docs do not clearly describe the coding standards that the project probably should adhere to.

I believe this should be added to the `Contributing` page.

For reference, it should look something like this:

<hr>

We recommend that you write docstrings before you write a test for the function, and that you write the test before writing the function impleme

[2019-07-21 01:33] ericmjl opened #489 "[DOC] We need release notes!"
This one is definitely on me. Starting with version 0.18.1, we should start collecting release notes in CHANGELOG.rst.

[2019-07-21 01:39] ericmjl commented on #477
Closed by #480.

[2019-07-21 01:39] #477 closed

[2019-07-21 01:39] #393 closed

[2019-07-21 01:44] ericmjl commented on #366
Looking back on this issue, yes, definitely a good idea to host this on GitHub. I like this idea. I suggest we use @chrisfs’ original use case as a testing ground for how to host data files.

[2019-07-21 01:54] ericmjl opened #492 "[TST] test_deconcatenate_column tests should be consolidated together"
This is in reference to the last PR by @shandou (#484). I let the two separate tests go to not hold up the PR, but we should put the two separate tests together.

Relevant context:

- Contents of [this file](https://github.com/ericmjl/pyjanitor/blob/dev/tests/functions/test_deconcatenate_column_preserve_position.py) should be moved into [`test_deconcatenate_column.py`](https://github.com/ericmjl/p

[2019-07-21 01:57] hectormz opened #493 "[DOC] Clarify Python version requirements"
# Brief Description of Fix

I was looking through documentation (for users and contributors), and it was unclear to me which python versions we actually support. It seems that we support python 3.6 + 3.7. This arose as I was updating the `pyproject.toml` file to avoid the warning:
[code]

Our current locations of explicit python versions are in:
- `pyproject.toml`
    - `py36 = true`
- `environmen

[2019-07-21 01:59] hectormz opened #495 "[DOC] PyPI page has no project description"
# Brief Description of Fix

The PyPI page for `pyjanitor` has no project description. I'm not sure if it previously did, and was lost in a recent version update. I'm not sure how to fix it, but I assume it's something that @ericmjl would be able to change.

# Relevant Context
- [Link to PyPI page](https://pypi.org/project/pyjanitor/)

[2019-07-21 02:02] shandou commented on #488
@ericmjl I can work on this issue.

[2019-07-21 02:03] ericmjl commented on #493
Thanks for the catch, @hectormz!

I think we only test on the latest version of Python, which means that is the only “officially” supported version. (I disabled 3.6, to allow more CI pipelines to run simultaneously.)

That said, we do use language features that only show up in Python 3.6 onwards, I think.

Let’s definitely move forward with what you suggested.

[2019-07-21 02:03] ericmjl commented on #488
Ok! Thanks @shandou, I will leave it in your hands then :smile:.

[2019-07-21 02:04] shandou commented on #492
Sorry, my bad! As the culprit, I'll take this issue @ericmjl and have it fixed :P

[2019-07-21 02:08] ericmjl commented on #495
Turns out, this is something that can be done via PR!

https://packaging.python.org/guides/making-a-pypi-friendly-readme/

In other words, I’m not necessarily the bottleneck here 😉.

Jokes aside, I’d be happy to let this one be handled by another person if they’d like to do it, but no pressure. For someone who is looking for information, I _think_ the GitHub repository is higher-ranked on Google t

[2019-07-21 02:09] ericmjl commented on #492
@shandou don’t worry about it - I have already put in the PR for this!

[2019-07-21 02:26] shandou opened #496 "[ENH] Allow substring and regex matching in find_replace"
# Brief Description

Currently `find_replace` only allows exact matching. I have run into use cases for fuzzy/substring match and replace both in my work and in the process of making a pyjanitor example. Was able to implement it by combining pyjanitor function `update_where` and pandas-flavor, but we potentially could make this as a pyjanitor feature--either as part of `find_replace` (for example,

[2019-07-21 05:42] hectormz commented on #495
Awesome! It's a nice chance to understand some more of the packaging process too.

[2019-07-21 05:43] hectormz commented on #493
Great, I'll make some changes to establish in documentation and code that this supports Python 3.6+ and submit a PR

[2019-07-21 12:23] #493 closed

[2019-07-21 12:39] ericmjl commented on #496
This is a great idea, @shandou! I think the API could be simplified by using strings. An example might be:

[code]

If we default to ‘exact’, this preserves the current behaviour, and we can add in a ‘regex’ string as an option as well.

[2019-07-21 16:36] hectormz commented on #488
This is adjacent to #357, can they be combined?

[2019-07-21 17:27] shandou commented on #488
@hectormz I like that issue as well and I had the exact same questions on Friday when trying to extend a function feature (for example, it was not very clear to me at first about where the test data was loaded). If you and @ericmjl are both comfortable with me taking a stab at it, please combine the two issues.
Can't guarantee to get the skeleton examples right at first try, but I am sure you guys

[2019-07-21 17:30] shandou commented on #496
Don't want to overpromise, but I can take this issue as well and get onto it once I am done with the `contribution.rst` improvements--only if no one else wants to claim it of course 😄

[2019-07-21 17:57] ericmjl commented on #357
Closing this issue in favor of #488.

[2019-07-21 17:57] #357 closed

[2019-07-21 18:00] ericmjl commented on #496
Alright! I will keep it open and available for others until you officially claim it for yourself. :smile:

[2019-07-21 19:50] ericmjl opened #498 "[ENH] Add ability to convert CamelCase to snake_case by default in clean_names"
# Brief Description

`clean_names()` right now does not convert names from camel case to snake case. I think it should, and in the spirit of being opinionated, it should be enabled by default.

# Example API

The current function signature is:

[code]

I would propose changing case_type to default to `snake`, rather than `lower`.

[code]

# Notes

Some Googling around reveals the following impleme

[2019-07-21 19:50] #489 closed

[2019-07-21 19:54] #384 closed

[2019-07-22 21:35] anzelpwj opened #501 "[ENH] Add ability to flag null values in columns"
# Brief Description

Hello everyone, I'd like to suggest a new method (I'll tentatively call it `flag_nulls`) that adds a new column to the dataframe to indicate if there are null values in the row.

If you are preparing a dataframe for machine learning or something, it's important to fill in the null values with something. However, the fact that the data is null could, in fact, be its own feature

[2019-07-22 22:01] jk3587 commented on #501
Seems like a useful feature to implement, especially if it could be vectorized.

When I do something like this, I do a slow `apply` method.
[code]

[2019-07-23 00:42] ericmjl commented on #501
Thanks @anzelpwj! I have marked this as being worked on, looking forward to seeing your PR!

[2019-07-25 03:04] mralbu opened #502 "[ENH] Add optional removal of accents on functions.clean_names, enabled by default."
# Brief Description

I'd like to suggest an option to remove accents from column names on the clean_names function.
It could be implemented using the normalize function of the standard library unicodedata:

[What is the best way to remove accents in a Python unicode string?](https://stackoverflow.com/questions/517923/what-is-the-best-way-to-remove-accents-in-a-python-unicode-string)

I have create

[2019-07-25 11:09] ericmjl commented on #502
Thanks for pinging in, @mralbu!

Yes, I think this would be a great addition to the library. Would you like to submit in a PR?

[2019-07-26 00:04] mralbu commented on #502
Thank your for the great library! I use rstats janitor, and I did miss some of its functionality in python. (particularly cleaning column names and removing accents, which the R package does by default)
I'd be happy to submit a pull request, thanks!

[2019-07-26 17:19] rahosbach opened #503 "Add Finance Notebook to Provide Examples of convert_currency() and inflate_currency()"
# Brief Description

I'd like to write a notebook that provides a very brief example of how to use the finance submodule's convert_currency() and inflate_currency() methods.  The notebook would read in a single data frame (or create a simple example data frame in place), and then call on the two aforementioned methods to provide examples of their use.

This notebook would likely cover the followin

[2019-07-26 17:20] rahosbach commented on #503
I'd be happy to work on this example notebook.

[2019-07-26 21:47] rahosbach commented on #486
After looking at pint and unyt, unyt appears to potentially be a better choice.  It definitely has more recent development, but its use will require sympy (as well as unyt itself, of course).

I would like to work on incorporating this convert_units() method.

[2019-07-26 22:09] ericmjl commented on #486
Awesome stuff, thanks @rahosbach! Looking forward to your PRs :smile:. I'll mark this as "being hacked on".

[2019-07-27 02:45] zjpoh opened #504 "[ENH] Pyjanitor for PySpark"
# Brief Description

I would like to know if there are any interest to create pyjanitor for pyspark? I'm using pyspark a lot and I would really like use custom method chaining to clean up my ETL code.

I'm not sure if it is doable or how easy it is but I would be open to explore.

[2019-07-27 03:33] ericmjl commented on #504
Thanks for pinging in, @zjpoh!

I'm more of a Dask user, and even then I don't use the Dask DataFrame API much, as my datasets are generally small (compared to the scale of what generally parallelization engines are good for). So I don't have much experience with PySpark, and hence I'd have to defer to someone else on how to extend pyspark DataFrames with custom method chainable functions.

If you

[2019-07-27 03:57] zjpoh commented on #504
Sure. I'll explore how `pandas_flavor` and pyspark DataFrame method work.

[2019-07-27 14:25] NapsterInBlue commented on #325
The code itself has been cleaned up since this issue was opened. Windows Chrome screenshot:

![image](https://user-images.githubusercontent.com/3505365/61995620-c5950880-b058-11e9-820e-958136a47f94.png)

Do we still wanna tinker w/ the CSS? Or are we good to close the issue?

[2019-07-27 22:03] shandou commented on #488
@ericmjl I am adding instructions about unit tests but not very certain about the use of custom marks in this particular example:

[code]
Just to double-check with you:
My understanding is that having `@pytest.mark.function` decorator allows us to cherry-pick a subset of tests we want to run.

For example:
[code]

But it is not clear to me as to ___what we are doing with the additional mark @pytes

[2019-07-27 22:45] shandou commented on #488
Also, I can see `mypy` as one of the dependencies, but I don't see explicit use of it in the repo. Curious about whether type checker is used during CI? And how? Thanks!

[2019-07-28 00:58] ericmjl commented on #325
I think let's close the issue! Thanks for resurfacing, I haven't had the chance to look through the issues for a while.

[2019-07-28 00:58] #325 closed

[2019-07-28 01:01] ericmjl commented on #488
@shandou you caught a bug of mine!

I used to use it to isolate just the test that I'm currently hacking on. It must have slipped into the library.

The correct way to isolate _just the test that we are writing_, borrowing the example above, is to do:

[code]

This will run only the tests that contain the substring `test_shuffle`. Usually that is good enough to avoid running the full test suite.

[2019-07-28 01:13] NapsterInBlue commented on #325
Sounds good!

Was inspired by the "contribute to stuff" keynote at PyOhio and wanted to troll through my favorite open source pandas extention for open commits.

Hope things are great!

[2019-07-28 01:50] shandou commented on #496
@ericmjl Okay I officially claim this issue 😃

[2019-07-28 03:34] anzelpwj commented on #501
Okay, I tested several different approaches.  I created some dataframes of random values, and set 5% of entries to be null. First testing was on a dataframe of 10 columns and 10k rows.

Using the apply function with
[code]
and
[code]
Were about equivalent, and very slow.

Two much faster approaches are as follows:
[code]
Using `%timeit` on my laptop reveals the following:
num_rows | num_cols | tim

[2019-07-28 03:55] anzelpwj commented on #501
Hmmm, I just thought to try `np.any(pd.isnull(df[list_of_cols]), axis=1)` instead of the pandas any, and this seems to be somewhat faster than the pandas approach, but still fails compared to the numpy logical_or for long, thin tables. Worth keeping in mind though...

[2019-07-28 03:57] anzelpwj commented on #504
I'd be interested in helping out with his @zjpoh - we use Spark DataFrames all the time at work.

[2019-07-28 14:13] #488 closed

[2019-07-28 14:16] #502 closed

[2019-07-28 23:21] zjpoh commented on #504
It works by copying code from pandas and pandas_flavor and make a single adjustment (import `pyspark.sql.DataFrame` instead of `pd.DataFrame`).

Here is the code to create accessor (we should be able to further simply this).
[code]
Then running the following test code
[code]
gives
[code]

[2019-07-29 02:19] #498 closed

[2019-07-29 13:00] ericmjl opened #511 "[DOC] Docstrings should contain minimal working examples"
# Brief Description of Fix

Having gone back-and-forth on this, I now think my original opinion in #329 should be made more nuanced.

Docstrings should contain minimal examples on how the function is used. They should also be tested using doctest, which I am happy to set up.

This improves the readability of the docs, and helps newcomer developers bring high-quality contributions by enforcing clar

[2019-07-29 14:18] anzelpwj commented on #511
So, not being a Sphinx/rST expert, how should I render the printed output of Pandas tables in my docstring?

[2019-07-29 17:13] anzelpwj opened #512 "[DOC] Update documentation to include which types of errors can be thrown"
# Brief Description of Fix

Right now, our documentation lists inputs and return values, but it does not include information about what types of errors functions normally raise. This is helpful information if you're working with try/except blocks, so that you know what errors to expect. And just as a matter of completeness, it's good to know all the outputs of a function, including likely errors.

[2019-07-29 18:16] hectormz commented on #495
What do we want to include in the PyPI description? I tested, and we could simply link the entirety of the current `README.rst` if we wanted. Or we could use a shorter description, specifically, the start of the `README.rst` (with formatting):

I am leaning more towards the truncated version.

The test is temporarily at <https://test.pypi.org/project/pyjanitor/>

[2019-07-29 18:56] hectormz commented on #483
Is this now closed by #491 ?

[2019-07-29 19:28] ericmjl commented on #483
Yes, indeed, thanks for pointing this out, @hectormz!

[2019-07-29 19:28] #483 closed

[2019-07-29 19:29] ericmjl commented on #495
I have no strong opinions - let's go with what you suggested, @hectormz!

[2019-07-29 19:42] ericmjl commented on #511
As long as the docstrings are truly minimal examples, then they will be copy/paste-able into a Python interpreter session. We can use that output in the docstring, I think.

[2019-07-29 21:46] #486 closed

[2019-07-30 00:36] ericmjl opened #514 "[ENH] Include a featurization function for protein sequences"
# Brief Description

I would like to propose a function that featurizes protein sequences according to the following baseline featurizations:

- MW
- pKa
- T-features
- One-hot encoding

This proposed function would accept a column of strings, find the appropriate strings to featurize, and then return a featurization matrix (akin to how morgans are computed).

# Example API

[code]

[2019-07-30 17:31] ericmjl opened #515 "[ENH] Count the cumulative number of unique elements in a column"
# Brief Description

I would like to propose a function that counts the cumulative number of unique items in a column.

# Example implementation

[code]

I'm happy for anybody else to run with the implementation above and improve upon it.

[2019-07-30 22:25] #495 closed

[2019-07-31 19:33] ericmjl opened #516 "Welcome to Shan"
Welcome on board to the team, @shandou!

cc: @zbarry @hectormz @jk3587 @szuckerman @sallyhong

I invited @shandou on-board for the following qualitative reasons:
- her most recent PRs were of high technical quality and very meticulously done.
- her use of pyjanitor looks complementary to the rest of us (as far as I can tell).
- she has volunteered on contributions.

Also wanted to more formally th

[2019-07-31 19:33] #516 closed

[2019-07-31 20:08] hectormz commented on #516
Welcome @shandou! I'm looking forward to seeing more of your superb contributions! 🎉🎊

[2019-07-31 20:32] zbarry commented on #516
:(

[2019-07-31 20:39] shandou commented on #516
Thank you all!! 😃

[2019-07-31 22:49] hectormz commented on #354
@zbarry Should **all** assertions raise `JanitorError` instead?

[2019-07-31 22:53] ericmjl commented on #354
So far, `JanitorError` has been used as a catch-all. We can definitely start there, but maybe some judicious use of `ValueError` could be helpful.

[2019-07-31 23:05] hectormz commented on #354
@ericmjl sure. So should all assert statements in the codebase raise exceptions instead? Or are there only certain asserts that should raise?

Makes sense to use `ValueError` at times. `JanitorError` makes it abundantly clear where the error is originating, but `ValueError` is more helpful.

[2019-08-01 01:41] ericmjl commented on #354
Yes, I think the assertions should be changed to errors being raised.

[2019-08-01 01:58] hectormz commented on #354
Got it, I can take this issue on! I'll report back if I find some pattern of use that might warrant specific exceptions etc

[2019-08-01 02:25] ericmjl commented on #354
Alrighty! Thanks @hectormz! :smile:

[2019-08-01 02:43] zbarry commented on #354
@hectormz - I’ve been replacing assertions with standard Python errors, yeah. I haven’t used JanitorError myself afaikr

[2019-08-01 03:39] zjpoh commented on #504
@ericmjl Any thoughts on the best place to add this? I'm more inclined to add this as a separate module (`janitor.pyspark`) as it's not using pandas.

[2019-08-01 10:13] ericmjl commented on #504
@zjpoh definitely this would need some thought.

As the package is currently architected, we have everything depending on pandas as a backend by default.

If we were to structure this in a more logical fashion, there would be the functions, which wouldn’t be decorated, and then there would be individual backends in which the functions are decorated/wrapped and attached to individual dataframe impl

[2019-08-04 00:09] #503 closed

[2019-08-04 19:48] anzelpwj opened #518 "[INF] Add pip-wheel-metadata to .gitignore"
# Brief Description

Not quite a bug, but when I've tried running the code, I've had `pip-wheel-metadata` showing up the git status. Can we add this to our `.gitignore` file?

[2019-08-04 20:29] anzelpwj opened #519 "[DOC] Update README with new test file structure"
# Brief Description of Fix

Lines 256-261 for the current README ("Add a test case") is out of date. We should update it to reflect the fact that there are now many folders and one test file per function.

- [Link to exact file to be edited](https://github.com/ericmjl/pyjanitor/blob/dev/README.rst)

[2019-08-04 20:31] anzelpwj commented on #504
I wonder about the backend approach, since I'll sometimes create Pandas DFs from Spark ones (and what if I want to call both Pandas janitor functions alongside Spark ones?). I'd personally vote for @zjpoh 's approach.

[2019-08-04 20:37] anzelpwj opened #520 "[INF] Implement utils pytest mark"
# Brief Description

When updating the tests for #510, I noticed that `test_check_columns` had a `pytest.mark.utils` decorator but, when running the code, `utils` was not a a valid mark. I updated the `pytest.ini` file to have it, but AFAICT `test_check_columns` is the only package that uses it. We should expand this mark to all utilities tests, and make sure that there's no missing documentation,

[2019-08-04 22:49] #501 closed

[2019-08-04 22:50] ericmjl commented on #518
On it! I'll take care of this guy.

[2019-08-04 23:24] ericmjl commented on #504
Let's work backwards from the front-facing API, keeping in mind that in adding support for pyspark:

1. nothing should change for `pandas` users, who are currently the primary audience for `pyjanitor`, and
2. the maintenance burden for the maintainers should be kept to a minimum.

Here are my reasons for proposing a `janitor.backends` namespace, with a few examples that also contain some updates t

[2019-08-04 23:26] #518 closed

[2019-08-04 23:26] #519 closed

[2019-08-04 23:52] zjpoh commented on #504
I agree that keeping pyspark as backend (`janitor.backends.pyspark`) makes more sense than having the backend functions (`register_dataframe_method` etc) at the same level as `functions`, `biology`, etc.

I'm more than happy to be one of the maintainers of the pyspark version. I'm starting to think that having pyspark as a separate module (something like `janitor.pandas` and `janitor.pyspark`) and

[2019-08-04 23:58] anzelpwj commented on #504
Well, there are Spark dataframes in R via sparklyr.

If we do use backends, how do we put them in the codebase? Should each function have a big if statement to demonstrate which code is run if in Spark? I know for some functions the spark API differs from Pandas. Similarly, would this require people to install Spark on their system to run tests (even when they are not testing Spark code)?

[2019-08-05 00:19] anzelpwj commented on #504
Also, are we thinking of using a context manager ( `with janitor.backend(...)` ) to determine which version gets called if it's not the primary backends?

[2019-08-05 00:20] zjpoh commented on #504
According to my understanding, `pyjanitor` adds additional method such as `clean_names` to the pandas DataFrame class. So the pyspark backend would simply adds `clean_names` to pyspark DataFrame class. We might need to have two different clean_names, one with `register_dataframe_method` decorator (for pandas) and the other with `register_pyspark_dataframe_method` decorator.

In terms of testing, w

[2019-08-05 00:45] ericmjl commented on #504
Thanks both of you, @anzelpwj and @zjpoh, for chiming in!

That could be a good idea! I haven't done much with context managers myself, so I'd be curious to see how this gets implemented.

I took a second look, and indeed, it looks like the pyspark API is quite different from the `pandas` API. Looks like my preference for a single implementation is going to be a tough proposition.

This actually c

[2019-08-05 00:52] zjpoh commented on #504
I really like the idea of starting simple to flesh out the implementation details. I will spend some evenings next week and hopefully that will be enough to put in a PR.

[2019-08-05 11:49] ericmjl commented on #504
Thanks @zjpoh! Looking forward to reviewing your PR :smile:

[2019-08-05 11:55] anzelpwj commented on #504
I can definitely help with maintenance and general architecting.

[2019-08-05 16:51] jk3587 commented on #476
I'll fix this.

[2019-08-05 17:40] #476 closed

[2019-08-06 17:35] ericmjl opened #524 "[BUG/ENH] deconcatenate_columns should inform users how many columns need to be provided"
Currently, an `AssertionError` is raised if the number of columns provided to `new_column_names` is not correct, and the error message is not very informative, stating only, "number of new column names not correct."

An improved error message would indicate how many columns should be provided.

An even better API change might be adding a `autonumber_basename` kwarg, which automatically numbers the

[2019-08-08 05:48] zjpoh commented on #504
I'm a little overwhelmed with work and won't have time to do this until next week. Just FYI.

[2019-08-08 21:18] ericmjl commented on #504
No worries, I totally understand. Same situation here :smile:.

If you'd like to further narrow the scope of the PR, that's totally cool - in fact, it might be preferable, because it makes the review process much easier too!

[2019-08-09 03:23] #524 closed

[2019-08-09 03:24] ericmjl commented on #524
Closed by #525

[2019-08-10 14:22] ericmjl opened #526 "Going to release 0.18.1"
I think we're good to go, and given that development has slowed down a bit (zero open PRs!), I will go ahead and cut a new release.

[2019-08-10 14:22] ericmjl commented on #526
cc: @zbarry @shandou @szuckerman @jk3587 @sallyhong @hectormz

[2019-08-10 14:51] #526 closed

[2019-08-10 14:58] jk3587 commented on #515
Would this be the same as pandas built-in `nunique` [link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.nunique.html)?

[code]

[2019-08-10 15:00] ericmjl commented on #515
@jk3587 not exactly the same, I think.

nunique returns a single number, whereas I was interested in looking for a function that, as it goes down the series, keeps track of the total number of unique elements already seen.

[2019-08-12 02:41] anzelpwj commented on #504
What's the initial plan, @zjpoh ? Do we want to create a submodule and just get one function up and running?

[2019-08-12 03:06] anzelpwj opened #529 "Update_where example refers to columns not in example df"
# Brief Description of Fix

`update_where` has a nice example in its documentation, but refers to `Column A`, `B`, and `C`, which are not in the example dataframe. Let's update the documentation so that the code will work, and where we can show example output of running the code.

# Relevant Context

- [Link to documentation page](https://pyjanitor.readthedocs.io/reference/janitor.functions/janito

[2019-08-12 03:19] anzelpwj opened #530 "Update the bad_values notebook to show use of update_where for fixing ranges"
# Brief Description

One issue I've run into trouble with when working with data is that I need to define a range of bad values - for example, sale price should always be > 0. It looks like the `update_where` function would be a good candidate

[code]

but it took me a bit of time to find this function for this use-case. I'd like to add a note to the `bad_values` notebook to show the usage of this

[2019-08-12 16:55] ericmjl commented on #529
Assigned to you, @anzelpwj! :smile:

[2019-08-12 17:03] ericmjl commented on #530
Thanks for raising this, @anzelpwj! Yes, I'd love to see the contribution and review it. Looking forward to reviewing!

[2019-08-13 13:50] Ram-N opened #532 "Clarifications to 'Get Started!' section of documentation, based on errors encountered"
## Clarifications to the `Get Started!` section of contributing.html

All: It took me a surprisingly long time to get the `pyjanitor` development environment set up on Windows 10. I have a couple of questions and an offer to add some clarifications

## Relevant Context

- [Contributing.html](https://pyjanitor.readthedocs.io/contributing.html)
- What follows refers to the [Get Started!](https://pyj

[2019-08-13 17:21] ericmjl commented on #532
@Ram-N thank you for pinging in! :smile: Your feedback is valuable; the Windows-specific sections have been the result of many other contributors who use Windows (I do not, personally) wrestling, and I'd love to have your contribution added.

The best places might be as an [RST admonition](http://docutils.sourceforge.net/docs/ref/rst/directives.html#specific-admonitions) right in the context of wh

[2019-08-13 17:22] #520 closed

[2019-08-13 17:39] Ram-N commented on #532
Yes, please assign it to me. (I've never worked on an RST admonition before, but I'm happy to try it. Will issue a PR if I get it done. Thanks

[2019-08-13 18:00] rahosbach commented on #515
@jk3587 and @ericmjl:
I got some inspiration using the selected answer from [this SO question](https://stackoverflow.com/questions/31685378/cumulative-number-of-unique-elements-for-pandas-dataframe). But, in this case, we don't actually need to use `groupby()`, which is nice (although, that could be a nice feature to add if the user wants to get a cumulative count of unique values by a `group` col

[2019-08-13 23:51] Ram-N commented on #515
@rahosbach The idea of dropping duplicates and then `ffill()` is clever! I wonder about the execution time for large df's though.

[2019-08-14 03:49] rahosbach commented on #515
@Ram-N Can you think of anything faster?

I just ran a test on my laptop, and the above method completes in less than 75 ms if we are performing the method on a column of 1 million random integers between 0 and 99.  I still get less than 100 ms if we are performing the method on 1 million random lowercase ASCII letters (a single letter per row).  That seems fast enough to me.

Maybe we can impleme

[2019-08-14 14:44] ericmjl commented on #515
@rahosbach neat stuff! Does this work with a column of strings as the thing we want to do a cumulative_unique count on?

[2019-08-14 15:08] rahosbach commented on #515
@ericmjl Yes, it should work for strings as well.  It's worth noting that the strings will be compared on a case-sensitive basis (i.e., 'a' != 'A').

Users could specify a boolean `case_sensitive` value for columns that are not numeric.  If `case_sensitive` is FALSE, then the column would just need to be transformed with `to_lower()` prior to running the cumulative_unique count method.

[2019-08-14 16:21] szuckerman commented on #515
So, you might be able to increase the speed the following way:

This part in the code:

[code]

Do we really need to make a `list` of all the values that then get copied? Let's say there's only two unique values in a `DataFrame` with 1MM rows; it appears unnecessary to build a `list` of 1MM elements.

I would think we could do something like this for efficiency:

[code]

The main difference is tha

[2019-08-14 17:41] rahosbach commented on #515
@szuckerman That's an interesting method, for sure.  I turned your code into a stand-alone method and tried to do some profiling on it.

I haven't dug into your code enough to know exactly why this is happening, but sometimes when I run the method (not all the time) the length of `list(flat_list())` is not the expected number of rows of `df`.  Therefore, a `ValueError` is thrown:

[code]

[2019-08-14 17:48] szuckerman commented on #515
@rahosbach I'd have to see the `DataFrame` you're running it on, but what first comes to mind is if there's an issue with the first two values or last two values being distinct.

I had to put in some dummy code:
[code]
because the length of the first element would be set at 0, we want it at least at 1.

[2019-08-14 18:00] rahosbach commented on #515
@szuckerman With or without the dummy code, the error persists.  I generated a single-column `DataFrame` of 100 randomly-generated integers.  The first two and last two values are all distinct.

[code]

[2019-08-14 20:42] szuckerman commented on #515
Hmm, might be an Anaconda thing. The following works for me on Python 3.4:

[code]

[2019-08-14 20:55] rahosbach commented on #515
Yeah, this is really interesting.  I am using iPython console and Jupyter Lab to run my tests, so it could be an Anaconda thing (I'm running Python 3.6.5).  What's weird is that I can get your latest method to work along with the dataframe you supplied.  However, I can't run your latest method with my randomly-generated data frame of 100 values.

In terms of timing, your method with your dataframe

[2019-08-14 21:11] szuckerman commented on #515
Oh, I think I found the bug in mine.... it "stops" once it's hit the last unique value...

When looking at 1,000,000 values unique from 1-50, the unique ones end after 188 and I return a list of 188. We want a list of 1,000,000.

[2019-08-14 22:04] #529 closed

[2019-08-15 05:55] jk3587 commented on #532
@Ram-N Good to see another developer on windows!

Regarding installing make:
`conda install -c conda-forge -n base make`
This should install make to your base environment script folder and should allow you to run make any time you have the base environment activated.

Regarding `make install`:
Reading the Makefile, it shows:
[code]
`ACTIVATE=source activate ENV_NAME` doesn't really work on vanilla

[2019-08-15 14:04] Ram-N commented on #532
@jk3587 Thank you for jumping in. Much appreciated.

You said:

For whatever reason, when I ran `make install` right after running the conda install command above, I got the `make not found` error. Since I am planning to change the documentation, I want to be doubly sure.

Question: Will running
`conda install -c conda-forge -n base make` install `make` to `~/Anaconda3/Library/bin`
or will it go t

[2019-08-15 15:17] jk3587 commented on #532
@Ram-N My apologies, it is installed in the `Library/bin` folder.
Also, does the default anaconda installation append the anaconda folder to the windows path? If not, that could also be an issue.
I recall there's a shortcut that is created during anaconda installation called "Anaconda Prompt" which opens up a command prompt with base environment already activated.
A way of testing this out would b

[2019-08-16 02:41] Ram-N commented on #532
Thanks, @jk3587 I will try adding an "RST admonition" or two, as @ericmjl suggested.

1. Yes, from the Anaconda Prompt, make works.
2. However, when I installed Anaconda, I did not check the box for altering the PATH variable.
(see this image)
![image](https://user-images.githubusercontent.com/737241/63139793-8b5ebd00-bfad-11e9-80ad-f6814870eddf.png)
3. At the time, I didn't know that conda was in

[2019-08-16 16:08] rahosbach commented on #515
@szuckerman Did you have a chance to update your method yet?

I added a very simple if construct at the end that simply appends a list of the last number as many times as necessary to reach the required array length:

[code]
It works, but I'm sure you have a better (more efficient) thought in mind about how to achieve this.
 Anyways, with that addition I find that (on my laptop) your method runs f

[2019-08-16 16:16] szuckerman commented on #515
I need to clean up the code a bit; but the initial tests show that your code is much faster; I believe the bottleneck comes from that last part of appending two huge `list`s together. I'm going to try to make it as a generator which might help with some time/space complexity.

[2019-08-16 17:43] ericmjl commented on #515
Wow, you guys, I'm enjoying the conversation here! :tada: I'm glad this idea kicked off some thoughts. Let me know if there's any way I can facilitate this into a PR!

[2019-08-16 19:19] szuckerman commented on #515
So, we're going with the original one from @rahosbach. Apparently his runs in O(1) time whereas mine is O(n). `nrows` is the number of rows in the randomly generated `DataFrame`.

The code is below if you'd like to try this yourself:

![2019-08-16_15-17-46](https://user-images.githubusercontent.com/12432214/63192377-01f4cc80-c039-11e9-84b0-b38aaa7fa53b.png)

[code]

[2019-08-17 04:08] Ram-N opened #535 "[DOC] Move Setting up environment in PyCharm to its own page"
# Context: Move a section to its own page

While tinkering with the Docs, I noticed that `Contributing.html` is quite long now. So much so that it might be a bit daunting for future contributors.

Towards the tail end of that same page, I see that there is a Section (with nice Images) of how to go about setting up the `environment` for PyCharm users.

I would like to propose that we consider movin

[2019-08-17 13:59] #530 closed

[2019-08-17 14:12] #532 closed

[2019-08-17 14:21] anzelpwj commented on #511
I can start hacking on this, but I will need your help with the doctests, @ericmjl

[2019-08-18 00:43] ericmjl commented on #511
@anzelpwj no problem! Can you do a thing - can you get a PR with some starter commits going, and then allow maintainers to commit to your PR directly? In that way, we can sync up on the PR.

[2019-08-18 17:15] ericmjl opened #536 "Welcome Paul Anzel to the team!"
I have decided to invite @anzelpwj as a collaborator on the project. He’s been active on identifying a smattering of issues that I haven’t had the bandwidth to tackle (and equally importantly, raising them on the issue tracker), and has been a great resource for other contributors.

Welcome on board, @anzelpwj!

[2019-08-18 17:20] ericmjl opened #537 "Issue Tracker README"
Welcome to the `pyjanitor` issue tracker! Here’s a few things to help you get oriented on the issue tracker. At first, it may seem overwhelming with the number of issues, but hopefully, reading this issue will help you get oriented around the rest of the issue tracker.

# tl;dr

1. Keep it professional and friendly.
2. If you’d like to take on an issue, add a comment along the lines of, “I would l

[2019-08-19 00:22] anzelpwj commented on #536
Hooray, thanks for the welcome!

[2019-08-19 22:31] ericmjl opened #539 "[DOC] Add info: how to sync forks"
# Brief Description of Fix

Currently, the docs do not provide instructions on how to sync up pyjanitor forks. This should be added as it is difficult for newcomers to know how to keep things updated.

# Relevant Context

- [This page should be edited](https://pyjanitor.readthedocs.io/contributing.html)

[2019-08-20 00:55] #496 closed

[2019-08-20 00:55] #536 closed

[2019-08-20 01:05] ericmjl commented on #434
Whoa, @benjaminjack, it looks like I let this ball drop. Many apologies! I didn't mean to, I think I opened up the issue, read it, but didn't have enough time to think carefully about your questions, and then left to do something else.

Let me try addressing the questions, having read your branch's latest commit.

In this case, I am quite sure that resetting the index is the correct thing to do. I

[2019-08-20 01:08] ericmjl commented on #415
Hi @nickdelgrosso! Don't want to put pressure on you, but I just wanted to check-in to see if you're still working on this issue or not. If not, no worries! I'll release the issue back into the "available for hacking" pool.

Hope you've been having a good time post-sprints!

[2019-08-20 01:09] ericmjl commented on #403
@suchetaBan, wanted to check in with you on this. Would you like to submit a PR with your contribution to the README? If so, do let us know via this issue tracker! If not, no worries - I'll just release the issue back into the pool of issues that are "available for hacking".

[2019-08-20 01:10] ericmjl commented on #381
@aopisco hello from post-scipy! Hope you've been having a great time. I wanted to check-in with you to see if you'd like to submit a PR for this issue? If not, no worries! Just let us know - I'll release the issue back into the "available for hacking" pool. :smile:

[2019-08-20 05:21] zjpoh commented on #504
@anzelpwj Sorry for the late response. I was on break for a little bit. 😉
I'm working on a submodule with the backend and the `clean_names` function. I will have the PR up probably by EOD tomorrow. I also wanted to test on a cluster to make sure that all the executors are aware of the additional method.

[2019-08-20 12:32] ericmjl opened #540 "[ENH] Add a reset_index boolean kwarg to shuffle()"
# Brief Description

I would like to propose to add a `reset_index` boolean kwarg to the `.shuffle()` function.

Doing so would help save a line of code. After shuffling a dataframe, the index remains the same. Sometimes, users may want to preserve the index, but my current opinionated opinion is that preservation of the index might not be the 90% use case. Instead, we want to shuffle the rows wit

[2019-08-20 15:31] ericmjl opened #541 "[BUG] Error message on "new column names" is incorrect in deconcatenate_columns"
# Brief Description

If I pass in the wrong number of column names in deconcatenate_columns, the error message simply reflects back the number of columns that I provided, rather than the number of columns I need to provide.

Specifically, these two lines need to be changed:

[code]

to:

[code]

(Extra space needed at the end of the first line as well.)

[2019-08-20 21:11] anzelpwj opened #542 "[INF] Investigate potential integration with modin project"
# Brief Description

I would like to investigate whether janitor would work well with [modin](https://github.com/modin-project/modin) as a backend.

Modin is a (currently Linux/OSX only) replacement for Pandas that purports to be much faster. It has most, but not all, of the pandas API, but for what it has it should be a one-for-one replacement.

This would be just some investigative work to see i

[2019-08-21 02:22] shandou commented on #539
Took this one for the selfish reason of getting a better understanding of this 😅

[2019-08-21 10:08] ericmjl commented on #539
Thanks @shandou! I'm sure it'll be helpful for others too :).

[2019-08-21 15:37] suchetaBan commented on #403
Hi Eric,
Apologize for the delay but i have had not time to look into that Issue
after returning from SciPy. Please go ahead and release the issue back into
the available for hack pool.

Thanks.
Sucheta

On Mon, Aug 19, 2019 at 6:09 PM Eric Ma <notifications@github.com> wrote:

[2019-08-21 17:48] ericmjl commented on #403
Thanks @suchetaBan!

[2019-08-21 22:34] nickdelgrosso commented on #415
Hi, sorry but I'm not in it anymore.

Best wishes,

Nick

On Tue, Aug 20, 2019, 3:08 AM Eric Ma <notifications@github.com> wrote:

[2019-08-23 21:57] ericmjl opened #544 "Welcome Zijie to the team!"
On the basis of his contribution to extend pyjanitor to be compatible with pyspark, I have added @zjpoh to the team. Welcome on board!

Zijie and @anzelpwj have the most experience amongst us with pyspark, and I'm looking forward to seeing their contributions!

cc: @zbarry @szuckerman @hectormz @shandou @sallyhong @anzelpwj @jk3587

[2019-08-23 21:58] hectormz commented on #544
Welcome!

[2019-08-25 04:45] aopisco commented on #381
@ericmjl please release the issue back! thanks!

[2019-08-25 11:31] ericmjl opened #545 "Package to look at"
https://github.com/jmcarpenter2/swifter

Leaving this note here for future reference only.

[2019-08-25 16:31] zjpoh commented on #544
Thanks! Looking forward to working with you guys~

[2019-08-29 04:45] #504 closed

[2019-08-29 10:07] ericmjl opened #547 "[INF] New Release"
@zjpoh, wanted to check with you, to what extent would you like to build out the spark submodule before you'd be comfortable with a release being put out?

[2019-08-29 14:13] anzelpwj commented on #504
Sorry I haven't been able to be involved at all so far, kid's been sick a lot lately (just with "starting daycare means getting exposed to all the diseases"). Once things calm down, I can try to contribute more.

[2019-08-30 04:49] zjpoh commented on #547
I would prefer to go through the functions in `janitor.functions` then list all the functions that makes sense to add to the pyspark submodule. Then we can decide on which one should be on the next release.

@ericmjl What do you think about this?

@anzelpwj please let me know on what you think about this also. Thanks~

[2019-08-30 04:50] zjpoh commented on #504
No worries~~

[2019-08-30 15:58] TomAugspurger opened #548 "[DOC] Update pandas example in the README?"
# Brief Description of Fix

Right now, the pandas example in the README shows what I (IMHO) would say is "bad" pandas code. I would rather write it as something like

[code]

Thoughts on updating that example? I would certainly keep the current one, since it makes it clear that pandas *allows* the "bad" style, while pyjanitor doesn't. But I think it'd be nice to include the "good" style as well :)

[2019-08-30 15:59] ericmjl commented on #548
Yes! Let's do that, @TomAugspurger! Let me mark this as a docfix and one that a newcomer can attempt.

[2019-08-30 16:43] ericmjl commented on #547
This makes sense to me! Let's go with the plan. :smile:

[2019-08-31 02:39] rahosbach commented on #515
@szuckerman @ericmjl
Apologies for my delayed response here; I was out on vacation.  However, it sounds like we'll push forward with creating a PR using the `drop_duplicates()` and `cumsum()` approach I had specified before (at least as a first pass at adding this functionality).

@ericmjl: I was thinking of naming the method `count_cumulative_unique()`.  Does that work? And where would you like t

[2019-08-31 04:32] ericmjl commented on #515
@rahosbach no worries! I hope you had a great vacation :smile:

For the function name, might there be a two-word name that you can think of? (I was thinking `cumulative_unique` might be explicit enough, but if you think we should prefix the `count_`, then I'm good with that too!)

As for where it should go, I think this would be best added in the `functions.py` module.

Don't forget docs and tests

[2019-08-31 05:55] rahosbach commented on #515
@ericmjl That sounds good.  However, I thought that part of the `pyjanitor` philosophy was to have verb-based method names to call on data frames (hence why I started my suggested method name with `count`)...Am I wrong about this?

[2019-08-31 13:32] ericmjl commented on #515
@rahosbach you're not wrong at all! Indeed, there's a bit of tension between "short function names" and "verb-based" sometimes, and in my mind I'm still not 100% clear on whether it's better to be consistent with shortness or consistent with verb-ness. Actually, now that you've reminded me about the original design goals outlined in the README and in my talk, let's go with your suggestion. `count_

[2019-09-01 18:16] jiafengkevinchen opened #549 "[ENH] Decorator utility for handling NAs and errors (for transform_column)"
# Brief Description

If say `df["x"]` is a string column with NAs, then the routine `df["x"].apply(lambda x : x+"1")` doesn't work due to the NAs. It would be useful to have a decorator such that
[code]
would work

# Example API

[code]

# Example implementation

[code]

[2019-09-01 19:40] ericmjl commented on #549
@jiafengkevinchen thanks for pinging in! I think the example implementation looks great. Are you up for a PR?

[2019-09-01 19:49] jiafengkevinchen commented on #549
Sure. I'm not sure what namespace to put these in though
Is `from janitor.func_utils import skipna, skiperror` reasonable?

[2019-09-01 20:31] ericmjl commented on #549
@jiafengkevinchen we have a `janitor.utils`, and I think that is a reasonable first place to put it.

I will assign it to you; looking forward to reviewing the PR! (Don’t forget tests, and to also add your contribution to the CHANGELOG :smile:)

[2019-09-02 04:09] hectormz opened #551 "[INF] Support Pyspark but not require it?"
I'm trying to catch up on the `pyspark` conversation. But I was wondering if we were supporting `pyspark`, but not requiring it @ericmjl , @zjpoh ?

I updated my local `pyjanitor` and had to download `pyspark` as the requirements changed, and it was about `215MB`. I think that's fine if it's required for development, but might not expected for users that only anticipate using `pandas`. I believe `

[2019-09-02 05:44] zjpoh commented on #551
I think that makes a lot of sense. I'll look into how `rdkit` is set as optional and apply that to `pyspark`. I'm open to making that optional for development version too.

[2019-09-02 08:04] eyaltrabelsi commented on #403
@ericmjl can I work on it?

[2019-09-02 10:58] #354 closed

[2019-09-02 16:39] hectormz commented on #115
Are the concerns raised here still oustanding @ericmjl, @szuckerman? I suppose this is related in a way to #551.

I'm going through the oldest issues to see what can be done.

[2019-09-02 20:54] eyaltrabelsi commented on #540
@ericmjl
I would love to work on this

[2019-09-02 20:57] hectormz commented on #551
Sounds good, feel free to discuss any thoughts, or we'll check it out in the PR

[2019-09-03 02:18] hectormz commented on #318
@ericmjl Are there other potential functions in `functions.py` that would also be good candidate for `ml.py`, or should we just start with `get_features_targets` ?

[2019-09-03 10:22] ericmjl commented on #318
@hectormz thanks for keeping this one alive!

From memory, I think only `get_features_targets` is relevant to an `ml.py` submodule, though there might be a case for `min_max_scale` and `label_encode`, as those replicate sklearn-like functionality.

What are your thoughts here?

[2019-09-03 10:25] ericmjl commented on #115
I think we might need to update this issue - perhaps it should be renamed, "Mark tests with skipif for optional dependencies".

Doing so would be pretty rad - we could skip all of the biology/chemistry/spark functions if they can't be imported successfully.

One thing I would prefer to remain as is, though, is `environment.yml` - using it keeps the Azure pipelines builds cleaner by abstracting out

[2019-09-03 16:18] #403 closed

[2019-09-03 16:18] #549 closed

[2019-09-03 16:29] zjpoh commented on #115
I agree. Having them as optional for users but required in CI is important.

[2019-09-03 19:50] hectormz commented on #318
I like the idea about targeting functions that don't:

I think that there are likely functions (as you mentioned) that have some ML functionality, but they still make sense to me in the normal `pyjanitor` workflow. So I would focus on functions that are **exclusively** ML functions.

I'm looking through the functions (main functions only, not the existing modules), but it may be only `get_features

[2019-09-03 21:14] hectormz opened #555 "[DOC] #noqa comment appears in docs"
# Brief Description of Fix

A `#noqa:E501` comment in the docstring from `encode_categorical()` appears in [the docs](https://pyjanitor.readthedocs.io/reference/general_functions.html#preprocessing). The `#noqa:E501` comment exists due to a long url in the docstring which angers `pycodestyle`.

I'm currently not familiar enough with `reStructuredText` or `Sphinx` to know how to solve this issue.

[2019-09-04 02:18] ericmjl commented on #555
This is a great catch, @hectormz! I'm not too worried about these; the `# noqa` comments are in the docstrings, and as such they get linted. A way around them is to modify the code blocks, but that shouldn't be a big problem.

For now, I'll tag this as "needs further discussion", as I don't have strong opinions on whether they should appear in the docs or not - but I'd like this to continue to be

[2019-09-04 02:20] #492 closed

[2019-09-04 02:20] ericmjl commented on #492
Closed by #492.

[2019-09-04 04:35] hectormz commented on #555
Sure, not mission critical. Just happened to notice it, and knew it wasn't our intent to have `#noqa` leak into docs.

On a related note, it looks like the url in [remove_empty doc](https://pyjanitor.readthedocs.io/reference/janitor.functions/janitor.remove_empty.html?highlight=stackoverflow#janitor-remove-empty) is formed correctly, while [convert_matlab_date](https://pyjanitor.readthedocs.io/ref

[2019-09-04 04:47] zjpoh commented on #547
Here are the functions that I think is reasonable to add. Items with ?? are items that I don't exactly understand what it is doing by reading just the doc.

## Modify columns

- [ ] `expand_column`
- [ ] `deconcatenate_column`
- [ ] `limit_column_characters`: ??
- [ ] `row_to_names`: ??
- [x] `clean_names`
- [ ] `join_apply`: ??

## Modify values
- [ ] `find_replace`
- [ ] `round_to_fraction`
- [

[2019-09-04 12:23] #548 closed

[2019-09-04 22:40] hectormz commented on #551
@zjpoh , on your next `pyspark` related PR, do you want to add `spark_functions ` to `pytest.ini` following the pattern of other modules?

Running `pytest` gives this warning:

[code]

[2019-09-06 01:50] #318 closed

[2019-09-06 16:24] #551 closed

[2019-09-06 19:15] ericmjl opened #558 "[ENH] Enable chiral morgans by default"
# Brief Description

I would like to propose changing `janitor.chemistry.morgan_fingerprints` to pass `useChirality=True` to both `GetMorganFingerprintAsBitVect` and `GetHashedMorganFingerprint `. This should be exposed directly as default to `True` in the Python API.

[2019-09-06 20:33] hectormz opened #559 "[INF] Allow `import_message()` to be Python distribution flexible"
# Brief Description

Currently, if a user attempts to user a feature of an optional external package (`rdkit`, `biopython`, `unyt`, `pyspark`) which is not installed, the user receives an error that directs them on how to install it. The error message is displayed by `import_message()` which passes instructions on how to install it. Ex:
[code]
With the exception of `rdkit`, I think all of these pa

[2019-09-06 21:45] hectormz commented on #559
This answer on [StackOverflow](https://stackoverflow.com/questions/21282363/any-way-to-tell-if-users-python-environment-is-anaconda/21282816#21282816) should work to determine if the user has an Anaconda distribution.

[2019-09-06 22:58] #558 closed

[2019-09-06 23:12] ericmjl commented on #559
This is great, @hectormz! Are you interested in taking this on? If not, please go ahead and tag it as available for hacking on!

[2019-09-06 23:16] ericmjl commented on #547
@zjpoh on request from a colleague, I'm going to release 0.18.2 soon (nothing seems to be backwards-incompatible, so it's just a patch release).

I'm going to rename this issue to track the `pyspark` module progress. Having thought a bit more, I think it's okay to keep gradually releasing the `pyspark` additions and then at some release point, just make a "big splash" announcement on Twitter and t

[2019-09-06 23:16] #544 closed

[2019-09-06 23:24] hectormz commented on #559
If anyone else is interested, they can claim it. Otherwise I can check back in claim it!

[2019-09-07 17:57] gddcunh opened #561 "[ENH] Coalesce function that doesn't delete columns"
# Brief Description

It seems the coalesce function must always replace all input columns with one output column. While this makes sense from the meaning of "coalesce" I can think of cases when this is not the desired outcome.

For example, I have a column D that is a good default value for a few other columns and I might want to coalesce([A,D],A), coalesce([B, D], B) etc. This would break current

[2019-09-07 22:12] hectormz commented on #559
I have this 😃, PR coming soon

[2019-09-08 08:25] ericmjl commented on #561
@gddcunh I like the idea! Would you like to go ahead and make the PR? Don't forget to add a test for this new case and to update the docstring :smile:.

[2019-09-08 13:08] gddcunh commented on #561
@ericmjl sure I will give it a shot

[2019-09-08 17:43] #559 closed

[2019-09-10 09:33] #515 closed

[2019-09-10 17:38] rahosbach opened #564 "[INF] Don't require column name arguments to be strings"
It occurs to me that there are methods within `pyjanitor` that require column name method arguments to be strings (specified in the docs and/or validated in the actual code).  Examples are `engineering.convert_units()` and the two methods in the finance submodule (both of which I've worked on...guilty as charged :))

Pandas does not require column names to be strings, and this could pose a big lim

[2019-09-10 18:14] szuckerman commented on #564
When you say that "column names don't need to be strings" for Pandas, do you mean that people need to directly use the object? i.e. instead of a passing a `"users"` string column people would pass `dat.users`?

I think the main difference between `pyjanitor` and `pandas` in this regard is that `pandas` is actually performing mutations on the passed-in `Series`. `pyjanitor` just needs to know the n

[2019-09-10 18:20] rahosbach commented on #564
@szuckerman Not quite.  What I'm saying is that users need to pass in column names to use (many of) the `pyjanitor` methods.  In some cases, this passed-in column name is required to be a string.  But, maybe the column name is actually an integer (for instance, a year).  In this case, if we try to require all passed-in column names to be strings, then a user wouldn't be able to work with such a `p

[2019-09-10 18:44] szuckerman commented on #564
Ok, I get it now.

Maybe a `convert_column_names_to_strings` method instead? Or even a `fix_number_column_names` function (to append something like `year_` to the numbers).

The problem with having integer column names is that you can't do `df.1999` it has to be `df[1999]`. `fix_number_column_names` could instead convert the column to be: `df.year_1999`.

By the way, I feel this issue happens all

[2019-09-10 22:43] rahosbach commented on #564
@szuckerman I agree whole-heartedly with your sentiment that not being able to use dot notation with non-string column names is annoying.  However, I feel like because non-string column names are supported by `pandas`, `pyjanitor` should support that capability (as much as possible).

Alternatively, your `fix_number_column_names` idea is promising if it's decided to move away from supporting non-s

[2019-09-12 07:27] ericmjl commented on #564
@rahosbach I think early on, I made a decision to force column names to be strings for convenience. If I'm not mistaken, `clean_names()` should automagically convert all column names to string type (I might be wrong, though, the codebase has grown!, and an assumption I made with the early API design is that `.clean_names()` would probably be the first function called on in the DataFrame.

I agree

[2019-09-12 07:35] #540 closed

[2019-09-13 08:03] ericmjl opened #566 "Release 0.18.2"
Team, I'm going to make a release for 0.18.2. PR will be coming to update the changelog.

[2019-09-15 01:41] hectormz commented on #274
I'll take this. I started to replace some. I've found at least one where there doesn't seem to be a non-apply pandas method. I'll report what I can't replace and see if anyone has a suggestion

[2019-09-15 07:26] eyaltrabelsi opened #570 "[ENH] Series toset() functionality"
# Brief Description

I would like to propose toset() functionality similar to [tolist()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.tolist.html).
Basically it will be a function call to tolist and then conversion to set.
Note: if the collection has no hashable member it will raise an exception.

# Example API

Please modify the example API below to illustrate your pro

[2019-09-15 07:56] ericmjl commented on #570
@eyaltrabelsi great idea! In fact, I think you can pass in the `.values` array directly to the set constructor and return it.

Let me check - this would be a `pd.Series` method, is that right?

[2019-09-15 08:00] #566 closed

[2019-09-15 08:45] eyaltrabelsi commented on #570
@eyaltrabelsi i prefer to use the tolist and then use set due to the fact that it holds casting mechanism as well, you can see [here](https://github.com/pandas-dev/pandas/blob/v0.25.1/pandas/core/base.py#L1160-L1181)

[2019-09-15 09:03] ericmjl commented on #570
Awesomeness! Let me know if you'd like to take on this issue, and then I'll assign it. You've been busy contributing, don't want to keep the burden too high on you - we can build this slowly, which is how good software is made :smile:.

[2019-09-15 09:11] eyaltrabelsi commented on #570
@ericmjl I would love to finish the previous one before :), if this wont be assigned i will take it afterwards

[2019-09-16 14:35] jiafengkevinchen opened #572 "groupby_agg doesn't handle multiple columns well"
It occurred to me that the current implementation of `groupby_agg` only handles the case where the DataFrame has n+1 columns, where n is the number of levels of groupings.

[code]

I can make a quick PR to fix it, though it might change the API a bit since the user should specify which column(s) to aggregate.

[2019-09-20 11:53] #299 closed

[2019-09-20 11:54] #561 closed

[2019-09-20 13:11] eyaltrabelsi commented on #570
@ericmjl i would like to work on this :)

[2019-09-20 21:35] rahosbach commented on #564
@ericmjl Sounds good.  Here is a preliminary list of submodule methods I see that either require string column names in the code itself or in the documentation for the method:

- `biology.join_fasta()` (docs only, code should work with non-strings I think)
- `chemistry.smiles2mol()` (docs only, code should work)
- `chemistry.morgan_fingerprint()` (docs only, code should work)
- `chemistry.molecula

[2019-09-22 15:17] eyaltrabelsi commented on #360
@szuckerman @ericmjl I would like o work on this.

[2019-09-24 13:28] #570 closed

[2019-09-27 18:59] #572 closed

[2019-10-06 22:41] dendrondal commented on #564
So I wanted to take a crack at this, and noticed that ```clean_names()``` doesn't appear to do a string conversion automagically. The first function called is ```_change_case()```, which has a string type hint and calls .upper and .lower on the column names.

I think it would be easy enough to do an inplace modification of the original column names in ```clean_names()```, but I was wondering if an

[2019-10-07 04:57] zjpoh commented on #564
I just want to point out that this might cause some problems to the `janitor.spark` module and reduce code reusability. However, currently there are only two functions in that module. So, fixing it should be rather easy.

[2019-10-07 11:43] ericmjl commented on #564
cc: @tomaugspurger - would you be kind enough to help us here please? :smile:

[2019-10-07 11:52] TomAugspurger commented on #564
I don't recall if it's written down anywhere, but generally we require that each column name be hashable. Unfortunately, it's not validated when the DataFrame is created, but most methods in pandas require it. Wish I had a better answer here :)

[2019-10-07 12:17] dendrondal commented on #564
That gives me what I need! I can just replace ```str``` with ```typing.hashable``` in the functions mentioned.

@zjpoh Thanks for the input, I'll be mindful of what these functions call when altering the functions module. I very much agree with your concern about reusability, since we need to make the concession of making the code more weakly typed in order to use dot notation. The only alternativ

[2019-10-07 12:27] ericmjl commented on #564
While I'm personally in favour of `clean_names()` being called by default, I can also see a few cases where this isn't productive, some of which I've encountered in my own work too. An example is in chemistry, when column names have things like `[nM]` in there, and I take advantage of the string matching to automatically determine whether or not I should log10-transform the column in my code. (con

[2019-10-07 21:37] zbarry opened #580 "[ENH] Modify dataframe list with union of their categoricals"
The problem: vertical `pd.concat([df1, df2, ...])` converts categoricals to strings if the categories do not perfectly overlap between all dataframes.

The solution: use pandas' `union_categoricals` to modify the original dataframes to add all categories to all dataframes prior to the concatenation.

How to use `union_categoricals`:

From https://stackoverflow.com/questions/45639350/retaining-cate

[2019-10-08 04:38] zjpoh commented on #564
Yeap. I totally agree with @ericmjl. Pyspark module shouldn't be an impediment to adding / improving pyjanitor functionality.

[2019-10-08 20:27] DollofCuty commented on #541
I would like to work on this issue.

[2019-10-09 02:54] jiafengkevinchen opened #582 "[ENH] Safe arithmetic transforms"
What kind of bugs me is that there is no pd.Series.log(), pd.Series.exp(), etc. function that chains the command. To make matters worse, if your Series has zeros, np.log on the Series would return -inf for the zero entries, which screws up any downstream computation --- raising a warning while returning np.nan would be a saner alternative.

Proposal: add simple chain-able operations to pd.Series l

[2019-10-09 13:44] zbarry opened #583 "[ENH] Empirical CDF calculation"
Because @ericmjl & I keep copypasta'ing it across all my notebooks

[code]

[2019-10-09 13:47] zbarry commented on #582
@ericmjl - is there any reason we wouldn't want to add a `math.py` (or whatever) to put stuff like these things in?

[2019-10-09 19:08] ericmjl commented on #582
@zbarry no reason to not build this, whatsoever!

@jiafengkevinchen would you like to get started on this?

[2019-10-10 00:21] #541 closed

[2019-10-10 12:40] eyaltrabelsi opened #584 "Disabling pandas-log should suppress all logs"
# Brief Description

Currently, in some specific use-cases, the first pandas action after diable is still logging statistics, this only occurs on some methods and if the dataframe is not a new reference.

# Minimally Reproducible Code
    with enable():
        df = pd.read_csv("../examples/pokemon.csv")
        (
            df.query("legendary==0")
            .query("type_1=='fire' or type_2=='

[2019-10-10 12:41] #584 closed

[2019-10-11 22:49] zbarry opened #586 "[ENH] Implement framework for adding xarray methods"
See PR #585 and general discussion #394

I've currently implemented two methods, one that wraps a numpy array with the metadata from an xarray dataarray [`dataarray.clone_using(numpy_array)`] (kind of like the xarray equivalent of `np.zeros_like`), and one that converts an axis which contains datetime coordinates to human-readable floats of the desired unit (`convert_datetime_to_number`).

It uses

[2019-10-11 23:16] ericmjl commented on #586
Woohoo! Thanks @zbarry! I’m going to put a call on Twitter to see if others are interested in helping :smile:

[2019-10-12 15:25] zbarry opened #587 "[ENH] Method for adding functionality to GroupBy"
It would be nice to be able to add functionality to the Pandas `GroupBy` objects: `GroupBy`, `DataFrameGroupBy`, `SeriesGroupBy`. There's no convenient accessor interface to do this, but maybe there's a way to reliably monkeypatch them. This would allow us to create nifty aggregation / apply functions and avoid the `.groupby(...).apply()` route for tasks we may encounter routinely. It could also p

[2019-10-12 15:27] zbarry opened #588 "[ENH] Speed up pyjanitor operations with swifter integration?"
Found this interesting package: https://github.com/jmcarpenter2/swifter.

In the name of squeezing out a bit more speed when pyjanitor uses `apply()`-oriented operations, maybe this could be a way to implement this under-the-hood.

[2019-10-12 15:30] zbarry commented on #542
Worthwhile to point this to: #394

Also: https://modin.readthedocs.io/en/latest/architecture.html

This may or may not introduce a complication:

[2019-10-12 15:34] zbarry commented on #588
#545 🤔 🤔

[2019-10-12 15:34] #588 closed

[2019-10-12 15:42] zbarry opened #589 "[DOC] Fix type annotation issues in documentation"
Two things that can be improved:

1) Type annotations in the docs hurt readability

This is an example:

![image](https://user-images.githubusercontent.com/4762711/66703876-25f52700-ece5-11e9-8199-9f4d67767ad6.png)

I think we could alleviate this quite a bit by bolding the actual parameters names or something akin to that.

2) Abbreviated descriptions on the functions list page do weird things wi

[2019-10-12 15:45] zbarry commented on #535
@Ram-N - sorry that this wasn't responded to. I agree that the contributing guide is a monster, and could definitely be made a bit more modular. I think this definitely applies to more than just the PyCharm portion, too! Going to assign you.

[2019-10-12 16:01] Ram-N commented on #535
Thanks, Zachary. Will get to it soon.

[2019-10-12 16:07] zbarry commented on #388
That's an interesting one. Right now I'm using a `.groupby().apply()` to a custom function that finds the contiguous region indices and calculates statistics from them. Not sure what the best general-purpose formulation would be.

I currently use `scipy.ndimage` functions to do this: `label`, `find_objects` as in:

[code]

[2019-10-12 18:07] hectormz commented on #388
I see. So in your case, you are calculating statistics for each contiguous block? For your use case, would you be fine specifying:

* a column
* threshold value
* threshold rule (greater than, less than or equal to etc)
* list of functions to apply

and get a dataframe (or other format?) back:

| Start Index | Stop Index | Length | mean | std | mode  | custom_func  |
|---|---|---|---|---|---|---|

[2019-10-12 18:52] hectormz commented on #274
At this point I have converted most `apply()`s I've found. One thorn has been `cleaning_style='accounting'` in `currency_column_to_numeric()` I've tried a couple methods that remove the use of `apply()`, which are either slower entirely, or not  consistently faster.

This is essentially what exists now:

[code]

The best solution I've come up with is:

[code]

I compared these two approaches with

[2019-10-12 18:55] hectormz commented on #274
Here are the worse methods I've tried:

[code]

[2019-10-12 19:10] hectormz commented on #589
Is this purely in the realm of how docs get autogenerated, i.e. source code/docstrings don't need to be touched?

[2019-10-12 21:19] ericmjl commented on #589
I think so. Wonder if there’s a sphinx config for this?

[2019-10-12 21:21] ericmjl commented on #589
Oh wait, I think I found where this is controlled.

https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html

[2019-10-13 04:15] jiafengkevinchen commented on #583
Does this handle NaNs correctly? I think the denominator should be notnull.sum() right?

[2019-10-13 16:51] ericmjl commented on #583
@jiafengkevinchen yes, the function can be improved to handle nulls. There shouldn't be a sum, though; an ECDF displays cumulative fraction of points that are at or below a given value. Either there should be a check for no nulls in `data`, or we drop nulls automagically. I'm leaning to dropping nulls automagically, for this means setting a sane default on the data.

[2019-10-13 17:27] jiafengkevinchen commented on #583
Incidentally, I think there's an ECDF function in statsmodels, but it also doesn't handle nulls correctly. Since ECDFs are easy to compute, we should just code it up like the suggested implementations

[2019-10-14 02:04] bdice opened #591 "Functional Syntax examples are missing an argument for a few functions"
# Brief Description of Fix

Currently, the docs have improper syntax for the `rename_column` function and a few others, like `rename_columns`. They are missing the `df` argument in the functional syntax.

I would like to propose a change, such that now the docs have the correct syntax (functional API includes `df`, method chaining API does not). I will read through the other examples in `functions

[2019-10-14 02:50] bdice commented on #555
I had this problem in a package I maintain, and we solved it by moving `#noqa` to the line where the triple quote ends, like this:

[code]

Example from my package's code: https://github.com/glotzerlab/freud/blob/0dae9cee1423ae9a0ed8923547e44c41b93b5672/freud/order.pyx#L188-L194

[2019-10-14 15:56] #591 closed

[2019-10-14 17:11] hectormz commented on #555
Thanks for the suggestion @bdice it worked nicely! @ericmjl , do you agree this is a good way forward, to apply #noqa E501 to docstrings? The only drawback is that all new content in the docstring gets a pass, but only hyperlinks should be allowed to be "too long".

[2019-10-14 20:32] ericmjl commented on #555
@hectormz let's use the trick that @bdice suggested.

In the future,
I am going to push for us to use [semantic line breaks](https://sembr.org)
rather than 79-character line breaks.
We get more lines of docs,
but they are easier to diff and read.
:smile:

[2019-10-14 21:33] bdice commented on #555
@ericmjl I see what you did there. 😆 Glad to see that worked for you. Good luck!

[2019-10-18 11:42] #555 closed

[2019-10-18 19:14] zbarry commented on #587
@Zsailer - what do you think about such a capability in PF?

[2019-10-18 20:58] zbarry opened #595 "[ENH] Smarter use of dataframe copying"
Right now, we're copying entire dataframes to avoid mutating the original in a pyjanitor function. This of course can come with big computational costs depending on the size of the dataframe involved. We've talked about how to mitigate this problem a bit, and for now, we've been going with the "copy everything" option. The possibly unanswered question here, though, is what are we actually trying t

[2019-10-19 20:15] #580 closed

[2019-10-20 20:05] zbarry commented on #394
This is how hvplot modifies Dask dataframes:

https://github.com/pyviz/hvplot/blob/master/hvplot/dask.py

Looks like it’s as simple as a monkey patch to add the `.hvplot` attribute, as far as I can tell.

[2019-10-22 01:41] hectormz opened #597 "[DOC] Fix contribution hyperlinks on contributors page"
# Brief Description of Fix

The hyperlinks of some contributors have diverged from the template. I've fixed the links and will open a PR unless more should be done at this time.

- [AUTHORS](https://github.com/ericmjl/pyjanitor/AUTHORS.rst)

[2019-10-24 02:33] #597 closed

[2019-10-24 13:34] mtfairbanks opened #599 "pyjanitor version of .assign() or mutate()"
# Brief Description

Currently there are a few different pyjanitor functions to deal with adding/modifying columns.

- add_column() allows you to add a column, but doesn't accept lambda functions like join_apply()
- transform_column() allows you to transform an existing column, but also doesn't accept lambda functions.
- join_apply() accepts lambda functions, but doesn't allow you to transform an

[2019-10-24 15:07] ericmjl commented on #599
@mtfairbanks thanks for raising these good points! This issue definitely is the first overview of the multitude of ways to add columns to a dataframe. Let me address your points one by one, while also taking the chance to identify the potential improvement opportunities to either the docs or the implementation.

- `add_column`'s intent is to add a pre-computed value to a new column in the datafram

[2019-10-24 20:20] mtfairbanks commented on #599
@ericmjl I haven't done a PR request before, but I'm definitely open to it if you have some ideas on content!

FYI - I know the pandas API enough to get the job done, but I don't think I would be able to help on the code side unfortunately. I've used R/tidyverse extensively the past few years, but I've only used Python on the odd project.

`mutate()` has a lot in common with `.assign()`, but the m

[2019-10-25 11:21] ericmjl commented on #599
@mtfairbanks  thanks  for the detail up  there! Let me see, I think I have some ideas.

No  worries, we can start  with modifying the docs. It's  lightweight,  doesn't affect the API, and you can't break the code :smile:.

In terms of PR content, here's one that I have in mind - to modify the `join_apply` docstring such it explains how the function is supposed to read. Something like modifying the

[2019-10-29 16:47] ericmjl opened #601 "[INF] Add pre-commit hooks to repository"
Pre-commit hooks are a great way to push code style checks to the development machine, so that they automatically happen and thus we don't have to wait for the CI system to finish to  discover that it failed only on code style.

I will add in instructions to get started with `pre-commit`,  so that a bunch of checks are automatically done pre-commit.

[2019-10-29 17:19] hectormz commented on #601
I *was just* thinking about proposing optional `pre-commit` hooks yesterday! awesome

[2019-10-29 23:21] #601 closed

[2019-10-30 00:02] hectormz opened #603 "[DOC] Fix formatting of code block in `CONTRIBUTING.rst`"
# Brief Description of Fix

New code block in `CONTRIBUTING.rst` on installing pre-commit isn't formatted correctly.

I will submit a PR momentarily

# Relevant Context

- [Link to documentation page](http://pyjanitor.readthedocs.io)
- [Link to exact file to be edited](https://github.com/ericmjl/pyjanitor/CONTRIBUTING.rst)

[2019-10-30 13:36] #603 closed

[2019-10-31 02:16] ericmjl opened #605 "[INF] Time to cut a new release"
Friends, it's time to release 0.18.3 now :smile:. We have accumulated enough changes that I think it warrants an update.

[2019-11-02 15:09] #589 closed

[2019-11-03 00:27] hectormz commented on #396
I wrote a little script that scans through the notebooks and raises exceptions if any of the code cells haven't been executed (likely empty cell at end of notebook) or if the cells have not been executed sequentially:

[code]

Perhaps this could be included in `MAKE` etc, and if it fails, the notebook is run with `papermill` etc. Or simply fails and directs the user to run `papermill`

[2019-11-10 18:00] #605 closed

[2019-11-10 18:00] ericmjl commented on #605
It's out in the wild! Anybody want to do a Twitter post? :smile: :tada:

[2019-11-10 20:50] hectormz commented on #605
I don't have the same following as @ericmjl , but I can tweet about the new release! Which features do we want to highlight?

[2019-11-10 20:53] hectormz commented on #605
Can we put in a quick commit to update the CHANGELOG from On Deck to 0.18.3?

[2019-11-10 21:16] ericmjl commented on #605
Please go for it!

[2019-11-11 00:34] hectormz commented on #539
@shandou I came across this post which should be pretty helpful from Atlassian:

[Git Forks and Upstreams: How-to and a cool tip](https://www.atlassian.com/git/tutorials/git-forks-and-upstreams)

I think it might also be helpful to have some details (or link to a resource) on dealing with conflicts when rebasing. That can certainly lead to a newcomer bailing.

[2019-11-16 05:51] shantanuo opened #612 "[ENH] Proposal: Enforce automagic column name conversion to string type in `clean_names`"
UPDATE FROM MAINTAINERS: ANYBODY WHO IS INTERESTED IN THIS ISSUE, PLEASE SEE [THIS COMMENT](https://github.com/ericmjl/pyjanitor/issues/612#issuecomment-557250963) FOR PROPOSED CODE.

------

# Brief Description

`clean_names` method does not work when an integer is used as column name

# Minimally Reproducible Code

[code]

# Error Messages

[code]

If I change the column name integer 0 to string

[2019-11-17 02:42] #586 closed

[2019-11-20 17:33] rahosbach commented on #612
This is similar to #564 , which seems to have gone a bit stale at this point.

[2019-11-21 09:13] shantanuo commented on #612
Yes. This is exact duplicate of the bug #564
But I did not understand what "stale" mean. Is it that difficult to convert the integers to strings in python?
_____

I do not agree with this approach. There are a lot of things pandas is not doing correctly. For e.g. issue #70 deals with invalid parameters in methods like read_excel. Pandas simply ignores the extra parameters without throwing an excep

[2019-11-21 16:44] rahosbach commented on #612
@shantanuo I'm copying in your email reply here so that it's on the thread for others to review (in italics):

_Yes. This is exact duplicate of the bug #564
But I did not understand what "stale" mean. Is it that difficult to convert the integers to strings in python?<br>
"I feel like because non-string column names are supported by pandas, pyjanitor should support that capability."<br>
I do not ag

[2019-11-21 19:27] dendrondal commented on #612
#610 should have fixed this issue. I'll see later this evening if I can find out what's causing this issue. Either way, this should definitely be merged with #564 .

@shandou , I agree with your sentiment on Pandas' approach to typing. I think it should enforce strictly string-based column names, automatically doing the conversion when the dataframe is instantiated. However, I believe the sentimen

[2019-11-21 20:06] ericmjl commented on #612
@dendrondal and @rahosbach, thank you for chiming in in my absence. Apologies, work has taken over many hours of my day.

First off, to address the main issue: yes, we recently merged #610, though the implementation has not changed, hence the error message still shows up. To solve this, I am comfortable with accepting a PR that enforces string conversion inside of `clean_names` for every column na

[2019-11-21 20:08] ericmjl commented on #564
@dendrondal has done a tremendous job with his PR, so I'm going to close this issue for now. We can reopen later if need be.

[2019-12-02 21:51] evan-anderson commented on #487
It looks like this issue is still open - I'd be happy to take care of it!

[2019-12-03 12:49] ericmjl commented on #487
@evan-anderson I'm happy to assign it to you! :smile: Hope you've been having fun!

[2019-12-04 02:48] #487 closed

[2019-12-17 13:12] ericmjl commented on #475
Friends, I think @eyaltrabelsi, a contributor to pyjanitor, has done some wonderful work with [pandas-log](https://github.com/eyaltrabelsi/pandas-log) related to this issue! The programming  model is very good: context manager so that we can selectively do logging at the appropriate places.

[2019-12-17 13:16] ericmjl commented on #475
I am going to close this issue for now, but please feel free to re-open later!

[2019-12-17 13:18] #475 closed

[2019-12-21 00:04] ericmjl commented on #582
@jiafengkevinchen I’m looking back on the PR associated with this issue, and I’m very impressed by the PR. Given the PR, I think we can close it, as all of the math functions specified have been implemented. Going to close; let’s raise another issue for new math functions as needed :smile:.

[2019-12-21 00:04] #582 closed

[2019-12-21 00:06] #564 closed

[2019-12-21 00:07] ericmjl opened #615 "[DOC] API Policy"
I would like to put the following API policy in place in the docs:

[2019-12-21 00:09] ericmjl commented on #434
@benjaminjack given the inactivity here, I will release this issue back into the pool of “available for hacking” issues. Hope you’re ok with that! If you’d like to take it on later, please feel free to ping back here! :smile:

[2019-12-21 00:15] ericmjl commented on #274
Oh my, I definitely left this one hanging! @hectormz really sorry about this, I was only _just_ reviewing old issues and PRs before I _really_ go on vacation.

I’d be inclined to go with the method that gives best speed performance first, memory performance next. It looks like, according to your measurement, leaving `apply` alone in this case is the best design choice available to us for now, shor

[2019-12-21 00:18] ericmjl commented on #542
Hey @anzelpwj! Greetings from chilly Cambridge :smile:. Wanted to know where you’re at with this issue? I’m just reviewing old issues from the issue tracker at the moment.

[2019-12-21 02:27] anzelpwj commented on #542
Apologies @ericmjl - kid started daycare late August and we've been dealing with the daycare plague and other sundries for the past several months. I'd like to get started again contributing to PyJanitor (was inspired by going to PyDataLA and doing a tiny sprint there), but would definitely understand if someone else is raring to take this ticket. Should hopefully have some time clear up after nex

[2019-12-21 03:30] hectormz commented on #274
@ericmjl no worries! I'll see if any new `apply` instances have been added in the meantime. Otherwise I'll make a PR with what I have

[2019-12-21 21:12] #274 closed

[2019-12-22 02:06] jcvall opened #617 "[ENH] add an expand_grid function"
Recently watched a video by David Robinson on tidytuesday where he used the crossing function (a wrapper of the base r function expand_grid) from tidyr R library to do a Monte Carlo simulation.  I think this would a great addition to pyjanitor.  Don’t have the bandwidth at the moment to add it, but could in the near future.  I did come across a stackoverflow solution to this

https://stackoverflow

[2019-12-25 22:28] ericmjl commented on #612
To all on this thread, I have just submitted PR #618 which I think will close this issue. Review requested.

[2019-12-25 22:43] ericmjl commented on #583
Looping back on this issue. I've been thinking about semantically useful behaviour for this function.

I think it should be part of the `math.py` module, and be made a pandas Series function, much like the other functions in `math.py`. This is because it operates on taking in a single column of data.

In that way, we can write code that looks like the following:

[code]

I expect that that this ki

[2019-12-25 23:05] ericmjl commented on #434
@benjaminjack I took a second look at the code that you had written. It's got very good documentation, and I would be loathe to claim that work as my own. Would you be interested in re-opening the PR?

[2019-12-25 23:07] ericmjl commented on #382
@zbarry could you provide a sketch of the kind of API that you'd like seen?

[2019-12-25 23:08] ericmjl commented on #355
Looking at the latest version of the codebase, I think this one has been resolved. Closing for now; please feel free to re-open if needed.

[2019-12-25 23:09] #355 closed

[2019-12-25 23:35] ericmjl commented on #255
5 months later (with many apologies to all who have been watching this issue), I think @nickdelgrosso's proposed API is better than the current API. Reasons are mainly for readability: "`find` and `replace` in `columnA` this `mapping`, in `columnB` this `other_mapping`, etc."

[2020-01-01 13:18] #535 closed

[2020-01-01 13:18] ericmjl commented on #535
Closing this issue because #594 is merged. Thanks @Ram-N for the contribution!

[2020-01-01 15:43] #583 closed

[2020-01-02 03:16] #612 closed

[2020-01-05 03:16] anzelpwj commented on #542
Okay, so I've done a review of modin documentation, with a particular eye to which methods they state don't have full support [link](https://modin.readthedocs.io/en/latest/UsingPandasonRay/dataframe_supported.html). None of our code uses methods that are complete unsupported, which is good. This leaves two other categories:
- Code that "defaults to Pandas" (modin dataframe is converted to pandas d

[2020-01-05 03:25] anzelpwj commented on #542
Okay, sent them a message to their listserv, will see what I hear back.

[2020-01-06 03:26] anzelpwj commented on #542
Got a response!

Not sure if it's going to be easier to try and create a pandas/pandas-flavor like fix for Modin or create something on our end now.

[2020-01-06 18:20] ericmjl opened #622 "[ENH] Proposing a "jitter" function"
# Brief Description

Had to use this at work recently, where I had to jitter the data that we had to slightly anonymize it.

All that we did here was to add Gaussian noise scaled by a fraction of the magnitude of each  value.

# Example API

This could operate at two levels: at the pandas Series and DataFrame levels. I implemented the "Series" version at work, but not the "DataFrame" one.

As a Se

[2020-01-06 18:24] anzelpwj commented on #622
I think it'd be great! Jitter is a very helpful tool for plotting.

I would suggest being able to set the random seed, if only for testing purposes.

[2020-01-08 02:24] #255 closed

[2020-01-10 23:58] rahosbach commented on #622
It's been a while since I've contributed a PR :)  If no one else wants it, I'd be happy to put something together (hopefully in the next week or so).

This should be added to the functions module, I presume?

[2020-01-11 00:12] ericmjl commented on #622
Woohoo, that’d be great, @rahosbach!

Yes, functions sounds like the right place to put it. I can’t think of another place where this might fit.

[2020-01-11 04:07] anzelpwj commented on #622
One other thought - if you have any data with 0 value, it won't get jittered, and if your data spans a order on magnitude or more, you'll see noticably differing levels of jitter. Maybe include the option for a constant about of jitter as well?

[2020-01-11 13:41] jcvall-olympus commented on #617
With much trial and error I came up with this:
`
@pf.register_dataframe_method
def expand_grid(df: pd.DataFrame(), data_dict: dict, key: str):
    """Create a dataframe from every combination of given values."""

    if key == 'None':
        rows = itertools.product(*data_dict.values())
        new_df = pd.DataFrame.from_records(rows, columns=data_dict.keys())
        return new_df

    else:

[2020-01-11 14:09] jcvall commented on #617
I will provide two examples later this afternoon. This requires intertools import.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-11 15:50] jcvall-olympus commented on #617
First example:  creating a grid from a blank dataframe

![image](https://user-images.githubusercontent.com/48399986/72206781-e236c880-345f-11ea-810e-76dbb710d53e.png)

[2020-01-11 15:53] jcvall-olympus commented on #617
Second example: creating with dataframe columns

![image](https://user-images.githubusercontent.com/48399986/72206856-84ef4700-3460-11ea-905b-5505221d2b11.png)

[2020-01-11 15:56] jcvall-olympus commented on #617
Third example: with df column as index and additional custom columns

![image](https://user-images.githubusercontent.com/48399986/72206880-e9aaa180-3460-11ea-9d2e-851af4772806.png)

[2020-01-11 15:59] jcvall-olympus commented on #617
I would like later add a jupyter notebook example of tidytuesday analysis using monte carlo simulation using the expand_grid function.

[2020-01-11 17:45] jcvall-olympus opened #623 "Add add_count and add_total functions"
I know there is functionality with groupby_agg here, so I have been going back and forth on this one.  But like the tidyverse there are helper functions the are more direct like tally or add_count, where you could use summarize() and count() or n() together to get the same output.

I am not deeply invested in this suggestion, so if you think that groupby_agg can work here alone, I am fine with tha

[2020-01-12 14:53] ericmjl commented on #623
@jcvall-olympus this is a great suggestion! Aliases that make things easier are always good. :smile:.

Would you like to work on this? If so, I’ll assign this one to you! In terms of what to put inside the PR, I’d suggest doing one function at a time, e.g. let’s add in a `tally` or `add_count` function first.

[2020-01-13 21:27] rahosbach commented on #622
That's an interesting point, @anzelpwj.

I've never had to implement a jitter function before, but one option might be to add an optional argument called `zero_scale` (or similar) where the user could input a floating point value that would correspond to `scale` parameter in `np.random.normal()' when the `s` value is 0.  That way, noise could still be randomly generated for those values.

Thoughts

[2020-01-13 22:12] anzelpwj commented on #622
Maybe you have two parameters, `scale` and `scale_const`, and your jitter magnitude is `scale*x + scale_const`

[2020-01-13 23:13] rahosbach commented on #622
But `scale` is used to set the standard deviation of the Gaussian distribution we're sampling the noise from (at least in @ericmjl's example).  So are you saying that the Gaussian standard deviation should be set to `scale*x + scale_const`?  In that case, `scale_const` acts in the same way as my proposed `zero_scale`.

To simplify things, what if we changed our approach to have the mean of the Gau

[2020-01-14 01:39] ericmjl commented on #622
@anzelpwj @rahosbach I _think_ I'm correct on the following point, but would love to be corrected if I'm wrong: `constant + N(0, scale) == N(constant, scale)` - it's where the reparameterization trick in stats comes from, I think.

Pragmatically, your implementation is probably less confusing than mine, @rahosbach, so let's go with your implementation.

@anzelpwj if we have data that span multiple

[2020-01-14 02:25] anzelpwj commented on #622
Scaling the jitter by x value should basically jitter the log transform. But there's still the problem of pesky 0 values (or even negative values? Why shouldn't they get some of the fun?).

I see the code working like this

[code]

[2020-01-14 16:22] rahosbach commented on #622
I guess I'm still wondering why `scale` needs to be tied to the actual series value, `s`?  In that case, you would see more jitter for larger values, and vice-versa, which doesn't sound necessary.

This is why I proposed letting the user set a constant `scale_magnitude` value that would be used, by itself, to define the standard deviation of the distribution we sample from.  In effect, this sets a

[2020-01-14 17:49] anzelpwj commented on #622
Mostly that's what I saw in Eric's original implementation `scale = s * scale_magnitude` -- if we want to just do a constant scale that could work as well, though maybe if we want to have constant jitter for a log-plot, then scaling based on series value would be a good idea.

[2020-01-14 18:16] rahosbach commented on #622
Good point.  But, if the idea is to jitter for a log-plot, then couldn't the series values we use be log-transformed first?  Then, we would be adding jitter to (previously) log-transformed values and still adding a defined amount of random jitter.

Essentially, we would leave any log-transformation (as well as whatever `scale_magnitude` is appropriate) up to the user to handle prior to running thi

[2020-01-14 18:41] ericmjl commented on #622
@rahosbach in the spirit of explicit is better than implicit, I think you've nailed what the function ought to be like. Let's go ahead with what you have, what say you?

[2020-01-14 18:48] rahosbach commented on #622
@ericmjl I'm happy to move ahead with the PR now.  @anzelpwj I'll be sure to add you as a reviewer on it so that you can see what I've done and provide any more suggestions.

[2020-01-16 21:04] #622 closed

[2020-01-17 16:29] jcvall commented on #623
I plan on upload my functions.  I hope to do them in a few weeks.  Sorry for the delay.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-20 00:14] samukweku commented on #187
Hi Team, great work with the pyjanitor package. I noticed that some functions do not have examples attached to them. Examples would make the functions, in my opinion, much clearer. I would love to take this up, if no one is currently working on it, as it is my first time making a contribution to open source.

[2020-01-20 04:36] ericmjl commented on #187
@samukweku we would love to see a contribution from you! Examples are usually the hardest for maintainers to write, so I’d love to see what you’ve got!

Going forward, let’s build it up one by one. We can use this issue to track progress. Which do you think would be the easiest for you to get started? Let’s take it from there!

[2020-01-20 10:20] samukweku commented on #187
Cool. I will start off with groupby_agg and create an example. By the way, for the groupby_agg function, one of the parameters listed is axis, which when used returns this error: 'TypeError: groupby_agg() got an unexpected keyword argument 'axis'. Wondering if that argument should be there in the first place.

[2020-01-21 08:22] samukweku commented on #187
Hi  @ericmjl and the rest of the team. I need your advice on an error I am getting:

Any idea what make: *** [Makefile:23: test] Killed means?
make: *** [Makefile:20: html] Error 137 ?
 How do I fix the errors?

(pyjanitor-dev) sam@pop-os:~/github_cloned_projects/pyjanitor$ make check
Running test suite...
pytest --cov-report html
##vso[task.logissue type=warning;]The 'junit_family' default value

[2020-01-21 16:00] ericmjl commented on #187
Hi @samukweku, thanks for being so thorough with the checks!

This seems to be a sphinx error, but there's a lack of  detail in the trace that Sphinx has provided. From a bit of quick googling, it looks a bit like a memory issue to me, but my prior assumption on devs' computers is that usually there's more than enough locally (8GB RAM seems to be standard nowadays), so I'm not sure what might be c

[2020-01-26 01:30] samukweku commented on #187
made some commits to the pull request @ericmjl. hopefully i'm getting the hang of it.

[2020-01-26 01:47] ericmjl commented on #187
@samukweku I know you will! :smile:

I think they still have yet to be pushed up. No worries - let's take the discussion to the PR thread on this.

[2020-01-28 17:17] ericmjl opened #627 "Add "natural" sorting to pyjanitor"
# Brief Description

I would like to propose adding natural sorting to pyjanitor, as implemented in [natsort](https://github.com/SethMMorton/natsort).

To be clear, this would not be a reimplementation, but rather a wrapping of the functions available there.

# Example API

[code]

# Skeleton Implementation

Still thinking about this, but it probably will need to involve indexing in the process.

[2020-02-02 18:49] #627 closed

[2020-02-04 09:47] samukweku opened #629 "API Documentation not functioning properly"
The API documentation page is not working properly, there are no links to individual function pages, and there are no descriptions for the functions either. I checked via PC and phone, same thing.

[2020-02-04 15:35] ericmjl commented on #629
@samukweku this is a good catch, thanks for flagging this! I will look into it today.

[2020-02-05 03:01] ericmjl commented on #629
First off, here's a screenshot of the current docs, to verify the problem that @samukweku reported.

![Screenshot from 2020-02-04 21-59-37](https://user-images.githubusercontent.com/2631566/73807251-c3470000-4799-11ea-910b-00fa533577df.png)

Hmmm, I'm struggling to find the root cause of the problem. To begin, I tried building the docs locally, and everything builds correctly. Screenshot:

![Scree

[2020-02-06 02:45] ericmjl commented on #629
I have moved the docs onto [GitHub pages instead](https://ericmjl.github.io/pyjanitor). Readthedocs was good for getting started, but I suspect we might have done something too custom for the readthedocs build environment. Meanwhile, the docs build perfectly on GitHub pages.

[2020-02-06 03:06] ericmjl commented on #629
@samukweku, I'm going to close this issue for now. Hope this helps.

[2020-02-06 03:06] #629 closed

[2020-02-10 22:52] samihamdan commented on #599
# Why?
So I hope I don't take the 'available for hacking' label too seriously, but I have some ideas/a prototype.
My idea of the mutate method deviates a bit from the previously mentioned syntax, so I will try to explain why I think that this version would be great.

As mentioned before `.assign()` can basically do everything wished by the original post.
The only problem would be the necessity to

[2020-02-11 09:40] sergiuser1 opened #632 "Version on GitHub different from version on PyPI"
# Brief Description of Fix

Currently, the version in the repo is "0.19.0", whereas it's "0.20.0" on PyPI.

I would like to propose a change, such that the version is updated here.

# Relevant Context

- [Link to PyPI](https://pypi.org/project/pyjanitor/)

[2020-02-11 13:46] #632 closed

[2020-02-11 15:18] markfairbanks commented on #599
@samihamdan The original request came since as a R user/developer, I didn't understand why `.assign()` didn't use a string to name a new column.

For example, this is how I thought `.assign()` should work:

[code]
As opposed to the actual syntax of:

[code]
It seemed "unpythonic" to use an unquoted name. As I've been using python more, I now realize this is a result of using `**kwargs`, much like

[2020-02-13 15:05] adamzev opened #634 "Natsort import error"
# Brief Description

The module `natsort` isn't found because it was added (in #627) to dev requirements but needs to be in the main requirements file. It is imported with all functions from the init script.

Rather than requiring it, perhaps it could also be brought in with a `try`, `except` per #97

# Error Messages

[code]

[2020-02-13 17:27] ericmjl commented on #634
Wonderful, thanks for the catch, @adamzev! I am going to cut a patch release to get this out.

[2020-02-13 20:27] ericmjl commented on #634
@adamzev, I just cut a patch release to PyPI. Please let me know if it still causes problems. I made `natsort` an explicit dependency, since `sort_naturally` is part of the `functions` module.

[2020-02-22 16:01] zbarry opened #636 "[ENH] Expose sparse library functions"
XArray supports the [Sparse](https://github.com/pydata/sparse) package but doesn't expose the functions to convert to/from sparse objects. These functions could be nicely packaged in pyjanitor to do so:

[code]

[2020-02-25 14:07] zbarry opened #637 "[ENH] Make unionize_dataframe_categories more flexible"
Currently, dfs have to be passed as in `unionize_dataframe_categories(*dfs)` or `unionize_dataframe_categories(df1, df2, df3)`. If `dfs` happens to be a list / tuple, detect this and use it instead of erroring.

[2020-02-27 20:30] hectormz opened #638 "[INF] Consider `pandas-vet` suggestions"
# Brief Description

I've been looking into the `pandas` linter [`pandas-vet`](https://github.com/deppen8/pandas-vet) which is a plugin for `flake8`. I ran it on the `pyjanitor` codebase to see if it had any suggestions. Here are the results:

[code]

I haven't looked through all the warning to see if they are valid. Many seem to be about clearing up ambiguity. I'm not sure if this is worth adding

[2020-02-28 13:01] ericmjl commented on #638
@hectormz thanks for doing this! Definitely appreciate bringing in good pandas code suggestions.

Would you be open to doing a PR to add it to the testing pipeline? That way we can enforce consistency in pandas code. I don't mind deferring to pandas-vet, since I know I have a lot of crazy variance in my pandas code.

[2020-02-28 15:55] hectormz commented on #638
@ericmjl sure thing! I'll add it and go through the current warnings.

[2020-02-29 06:25] hectormz opened #639 "[ENH] Complete `functions.reset_index_inplace()` deprecation"
# Brief Description

`functions.reset_index_inplace()` was marked for deprecation in `0.18` release. It was marked in #282 on May 7, 2019. Should it be removed now?

[2020-02-29 08:37] hectormz opened #640 "[BUG] Fix duplicate `test_remove_columns_strange_cols()`"
# Brief Description

- There are two `test_remove_columns_strange_cols()`. The second one should be testing (and named?) for multilevel dataframes.

- Currently the second defined test runs, but when renamed, the first test fails. Perhaps @dave-frazzetto  or someone else could look into why the first test fails.

[2020-02-29 08:45] hectormz opened #642 "Unused `df` in `test_inflate_currency.py` tests"
# Brief Description

The `df`s created in `test_expected_result()` and `test_expected_result_with_full_country_name()` in `test_inflate_currency.py` are created but not used in the tests.

Is this the intended use, or do they need to be corrected? I believe they were both added in #485 . Perhaps @rahosbach would be able to take a look at them.

Thanks!

[2020-02-29 19:33] ericmjl commented on #640
@hectormz if necessary, please feel free to disable the test by marking it as `pytest.mark.skip`, and then note in the reason field why (and saying "Not sure why it's failing" is totally ok). We can then repurpose this issue as a code sprint issue.

[2020-02-29 19:35] ericmjl commented on #639
Yes, I think it's a good time to remove it. Thanks for the catch, @hectormz! To keep things streamlined for you, I don't mind if you sneak in this fix into #641.

[2020-02-29 20:30] hectormz commented on #639
Sure, I'll do that

[2020-02-29 20:33] hectormz commented on #640
@ericmjl will do. Should I leave this issue open until the sprint, or just remember to revisit any skipped tests at that time?

[2020-02-29 20:57] hectormz commented on #642
I think I have addressed in #641. Will push new commits soon and can close this when passed

[2020-02-29 21:03] rahosbach commented on #642
Thanks for catching that, Hector.  You are correct; I think the final call where column `a` is summed needs to refer to `df`, not `dataframe`.  However, I looked at #641 and didn't see any such changes to these methods in your commits.  Are you sure you made those corrections (or similar)???

[2020-02-29 21:16] hectormz commented on #642
Hi @rahosbach I recently made that change, but haven't pushed it yet. Will do so in a few minutes! I guess the test passed anyway because `dataframe` updated in place?

[2020-02-29 21:21] rahosbach commented on #642
Perfect @hectormz .  And yes, that's what's happening—the method mutates the original dataframe.  So, it may make sense in the test to just re-assign `df` to `dataframe`, which is more aligned with the method's intention.

[2020-03-01 16:28] #638 closed

[2020-03-01 18:08] hectormz commented on #639
This is closed via #641

[2020-03-01 18:08] #639 closed

[2020-03-01 18:10] hectormz commented on #642
This is closed via #641

[2020-03-01 18:10] #642 closed

[2020-03-01 21:33] hectormz opened #643 "[INF] Add tags to versions"
# Brief Description
Two of our versions are tagged in git (0.1.1 & 0.18.1). I'd like to retroactively (and moving forward when bumping versions) to add version tags. On my own personal repositories, I can add tags retroactively and push them. To do the same here I am not sure if there is an option on Github, or if I would still do so locally and push tags.

The goal here would be to make it easier

[2020-03-02 01:46] ericmjl commented on #643
@hectormz, this is a very good idea. I haven't been very diligent with tagging on `git`, but I think it's a good practice.

Would you, by any chance, be able to write down your process for doing the tagging? I've been meaning to write a "release checklist" that I can have everybody follow in case I can't be around to tag a new release in time. I'll probably then incorporate your process into the r

[2020-03-02 20:19] hectormz commented on #643
@ericmjl that would be a good idea! Maybe in a `Maintaining.rst` or `Maintenance.rst` etc. In this case, I actually manually went through the commits in my git gui ([Fork](https://git-fork.com/), which is great btw!). Afterwards I just pushed the tags:
[code]
I _think_ the same could be done for the main `dev` branch, only pushing the tags. I don't believe you can simply make tags on Github, but y

[2020-03-04 13:27] zbarry commented on #643
Great idea 👍

[2020-03-04 17:39] hectormz commented on #643
I was able to push my tags to `dev`. Going forward I think we can use `bumpversion`/`bump2version` and when (if ever), we want to write in proper Github Releases.

[2020-03-04 19:26] ericmjl commented on #643
@hectormz I learned something new today! I keep forgetting to push with tags (I just do `git push`, and my bash alias `gps` points to just plain vanilla `git push` as well.)

[2020-03-08 12:56] ericmjl opened #644 "Create release docs"
This issue is to remind myself to create docs for doing releases.

🤙🤙 @ericmjl
I think in the checklist after `bumpversion` we can add:

[code]

which according to this [SO answer](https://stackoverflow.com/a/26438076/2337392) is the "sane" way to push tags as it
[code]

I don't completely understand the differences between annotated and unannotated flags, but I tested our `bumpversion` tags, and

[2020-03-12 18:35] ericmjl opened #645 "[BUG] transform column mutates dataframe"
I think it does so, and it shouldn't. Just leaving this here for my future reference.

The simple fix would be to add a `df.copy()` right before doing anything to the dataframe.

[2020-03-12 22:34] ericmjl opened #646 "[ENH] to_fasta as part of janitor.biology"
`janitor.biology` could do with a `to_fasta` function, I think. The intent here would be to conveniently export a dataframe of sequences as a FASTA file, using one column as the fasta header.

strawman implementation below:

[code]

[2020-03-17 23:36] hectormz commented on #643
I suppose this is currently resolved for versions to date, and will be permanently resolved via #644 in a way

[2020-03-21 01:01] smu095 opened #647 "[ENH] Warn the user of non-existent column names passed to .select_columns()"
It would be nice if the user was given a warning when non-existent column names are passed to `.select_columns()`. For example, it would be helpful if the following chunk

[code]

also produced a warning (without raising an exception), à la

[code]

Occasionally I find myself selecting columns, only to realise later on that I have misspelled the column name and it hasn't been selected at all. I wo

[2020-03-21 21:28] ericmjl commented on #647
Hello @smu095! Thanks for pinging in here :smile:.

Turns out I've also been hit by the same problem before, but hadn't had the time to put in a PR. I like what you're suggesting here - wondering what you think about loudly raising an error instead? The relevant error raising error might look something like this:

[code]

Please let me know what you think! I'd also love to let you have the credit

[2020-03-21 21:51] ericmjl commented on #643
Alrighty, I'm going to close this issue for now.

[2020-03-21 21:51] #643 closed

[2020-03-21 23:47] smu095 commented on #647
Thanks for the reply @ericmjl! I like your proposal, and have submitted a PR (#648) for review.

[2020-03-21 23:53] hectormz commented on #115
@ericmjl  I'm revisiting this one again.
So currently in some of the optional tests we have this pattern:
[code]

There are some other options I learned recently. We can instead skip the whole test file if an import is unsuccessful:
[code]

I think it is very useful to:
- run certain suites (`biology`, `chemistry`, etc...) you are working on
- run all tests locally without errors for missing packa

[2020-03-22 14:26] ericmjl commented on #115
@hectormz, this looks like a very good idea. I can definitely see how it’s useful for those who don’t want to install the entire suite of optional dependencies.

If you could help me a bit here, I am not quite following the 3rd point:

If I understand correctly, on the CI system, if a package doesn’t get installed somehow, we want the tests to fail, rather than skip them. Is that part of the point

[2020-03-22 17:15] hectormz commented on #115
@ericmjl Exactly! This is very related to a PR I'm working on for `arviz` https://github.com/arviz-devs/arviz/pull/1113

We're still figuring out the best way, either monkeypatching or writing our own `importorskip`, but having some method that involves creating an environment variable in CI. Let me.know your thoughts or we can see how that PR is resolved and do something similar here. 😉

[2020-03-22 19:04] hectormz commented on #306
I might take this up and workon piecewise

[2020-03-23 13:08] #647 closed

[2020-03-23 22:34] ericmjl commented on #647
New release has been cut, @smu095! :tada: Thank you for contributing to the project, and I hope you enjoy the fruit of everyone's labour, yours included!

[2020-03-23 22:38] smu095 commented on #647
Thanks! And thanks again for all the feedback!

[2020-03-31 02:12] hectormz commented on #225
@ericmjl looks like this was created when there was no changelog. Is this issue still present? Or instead of each PR coming with a line added to the changelog, do you want to add several lines whenever a version is bumped/release made?

[2020-03-31 11:21] ericmjl commented on #225
@hectormz been thinking about this on-and-off over the past year now (!!!). I think the current system we have, where we have contributors add changelog lines is a "mama bear goldilocks good enough" way of working. I'm going to go ahead and close this - the ultimate for me would be auto-release on every PR merge, but that's very complicated :).

[2020-03-31 11:21] #225 closed

[2020-03-31 14:39] hectormz commented on #225
I think adding per PR may be difficult, but there may be some existing Github Action out there that could be used or modified.

Here are some I've found that might have hints for what we'd want to do:

- [generate-changelog-action](https://github.com/marketplace/actions/generate-changelog-action)
- [auto-changelog-action](https://github.com/CharMixer/auto-changelog-action)
- [release-notes-generat

[2020-05-05 00:24] hectormz commented on #306
@ericmjl I've been using [`interrogate`](https://interrogate.readthedocs.io/en/latest/) lately to find tests (or any functions) without docstrings. Just putting it on your radar if you're not familiar as an unofficial/official tool to check for docstrings. Especially once we get to 100% docstring coverage.

[2020-05-05 12:54] ericmjl commented on #306
That's a wonderful find, @HectorM14! One more thing to automate out :smile:. If I don't get to it before you (I'll probably do it later this afternoon, so I don't get sucked out of work), feel free to PR in, otherwise hang tight and I'll make the PR later in the evening!

[2020-05-05 16:04] hectormz commented on #306
I'm glad you like it. I found it via this aptly named blog post: ["Why You Should Document Your Tests"](https://hynek.me/articles/document-your-tests/). The post provides a pattern to run `interrogate` specifically on tests:

[code]

I'm not sure how you'd like to implement this. Perhaps in `pre-commit`/`make`/`CI`?

For now it might be worth separating tests and non-tests. With the flags I'm curr

[2020-05-06 13:34] ericmjl commented on #306
@HectorM14 let's place it as part of the code style checking functions in the Makefile, so that this gets executed in CI. Pre-commit also sounds reasonable as well. I ended up not getting to it haha, so please feel free to start the PR. I should really dedicate my Fridays to doing OSS work.

[2020-05-07 22:54] hectormz commented on #306
@ericmjl Sure, I can do that! I did notice that the output is not formatted correctly for Windows. I'm working on a pull request for that. And once that's settled, I'll introduce a PR here!

[2020-05-15 13:19] ericmjl opened #656 "Docs upgrade"
If you're thinking about potential changes to the docs, one thing I've been thinking about is providing an alternate/additional view for users to discover functions. I think a user looking at our API pages can see all the functions `janitor` has, and what they do, but we could also have a version where someone is browsing the page, or coming from a search engine with the question,

*"How do I remo

[2020-05-15 19:44] #415 closed

[2020-05-15 21:31] VPerrollaz commented on #645
Hello,
looking at the code of the function `transform_column`, both [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html) and [assign](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.assign.html) create new objects.
However the following code

[code]
does produce the following printing

[code]

So at this point I wonder if this is

[2020-05-18 10:49] ericmjl commented on #645
@VPerrollaz thanks for pinging in! I just did a test using the code you've provided, and got the following: https://gist.github.com/ericmjl/83ffa4fe21d0c9220da6159b39d629f3.

My hunch here is that you might be using an old installation of pyjanitor. As far as I can see, with the latest version of pyjanitor, no in-place modification of columns happens.

[2020-05-18 12:24] VPerrollaz commented on #645
After a new clean install of the repostory and a conda environment I completely agree.

[2020-05-18 12:42] ericmjl commented on #645
With the latest patch release, I think this issue can be closed. But please feel free to ping again if this issue persists.

[2020-05-18 12:42] #645 closed

[2020-05-18 13:06] VPerrollaz commented on #645
Should be put a test somewhere for some garantee?

[2020-05-18 13:27] ericmjl commented on #645
That's a great idea! Do you have a bit of bandwidth to handle this? If so, let me know. In the mean time, I'm going to create a new issue for this matter.

[2020-05-18 13:29] ericmjl opened #657 "Test that transform_column does not mutate original"
Linked from issue #645.

Possible test outline (just pseudo code, don't treat it as real code):

[code]

[2020-05-18 13:30] ericmjl commented on #657
@VPerrollaz I put a test sketch up there - it might need a bit of working. (And it needs a docstring!) Let me know if you'd like to take it on.

[2020-05-18 15:04] bp-kelley opened #658 "descriptastorus support"
Hi Eric!  It's been a while.  I've stolen your pyjanitor ides for the descriptastorus for chemistry related descriptors:

https://github.com/bp-kelley/descriptastorus

[code]

I use a string based naming convention for the generators since they are all a bit different.

The integration was straightforward.   Let me know if you want me to integrate this with pyjanitor, otherwise, thanks for the ide

[2020-05-18 19:49] VPerrollaz commented on #657
I will give it a go, though I will need a bit of time to get familiar with the style of the code.

[2020-05-18 21:13] ericmjl commented on #657
No pressure, I'm always happy to see new contributors come on board!

[2020-05-19 12:01] #657 closed

[2020-05-19 12:12] ericmjl commented on #658
Brian!!! Nice to hear from you again. Let me guess, is Joanne responsible for introducing the method chain to you?

Anyways, I jest! What is the API that you're thinking of for a pyjanitor integration? Would it look like the following?

[code]

[2020-05-21 05:28] samukweku commented on #623
stil working on this? if u are not, I would love to give it a go

[2020-05-21 05:29] samukweku commented on #617
checking here as well. are u still working on this @jcvall-olympus

[2020-05-21 11:26] jcvall commented on #623
Go ahead Sam.  Thanks for taking this one on.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-21 11:44] jcvall commented on #617
If you want to open this one up or take it on go ahead.  I would love to see it in pyjanitor.  This one I do want to contribute an example using a tidytuesday example on simulation.  If it doesn’t get attention in the next month or so I will try to take it on.  I have some weakness around testing in python. I need to get more up to speed.  A weakness of mine I need to work on.

<sub>Sent with <a h

[2020-05-21 12:39] ericmjl commented on #617
@jcvall you've been doing great with your contributions to the library, and @samukweku I'm super happy that you've just jumped in and done stuff with us!

@samukweku please do go ahead and take it on if you'd like to!

[2020-05-21 12:45] ericmjl commented on #640
@hectormz whoopsies, I totally left this thread hanging!

Yes, let's leave this issue open for the time being. Seeing as there's no sprint, we can just leave it hanging for the moment. (I don't mind having long-standing issues on the repo at this moment in time, though that might change.)

[2020-05-21 21:13] VPerrollaz opened #660 "State of the autocompletion of pyjanitor methods using jedi."
# Brief Description

I found the completions proposal of pyjanitor methods in the jupyter notebooks a bit difficult to use and wanted to check if it was my install or a general phenomenon.
Roughly put I only get the completion proposal of pyjanitor methods if it is a fist step of method chaining. And in a chain I don't get any completion after a pyjanitor method.

# Minimally Reproducible Code

Se

[2020-05-22 00:27] hectormz commented on #640
No worries, I forgot about it too!

[2020-05-22 12:07] ericmjl commented on #660
Wow, that is a big bug catch, @VPerrollaz! I have to admit to not knowing much about tab completions here. You seem to have a better grasp surrounding the tooling for testing here. Would you be kind enough to give a short explainer on how tab completion happens with Python?

At the moment, the only thing I can think of that might interfere with tab completion is the use of pandas-flavor to monkey-

[2020-05-22 13:13] VPerrollaz commented on #660
- There is definitely something going on with pandas flavor, there is an issue on the repository about this, but basically since they didn't look at method chaining they were happy about the first completion proposed by jedi in ipython repl/jupyter notebook.
- Furthermore the  pandas-flavor repository doesn't feel very alive at the moment. Maybe because as they explain in the README.md there is no

[2020-05-22 13:59] VPerrollaz commented on #660
Looking again at the jedi documentation and more precisely at the section **limitations**
https://jedi.readthedocs.io/en/latest/docs/features.html#recipes
it is clear that by design jedi doesn't look for setattr, which is precisely at the core of how pandas_flavor works so I think that sadly the autocompletion problem is not considered a bug.

[2020-05-22 14:02] ericmjl commented on #660
That's a wonderful catch!

Would you be open to a documentation PR that helps newcomers recognize this issue? We can go over the exact phrasing in the PR discussion.

[2020-05-22 15:15] VPerrollaz commented on #660
In principle no problem, but what kind of information do you want to provide?

[2020-05-22 16:00] ericmjl commented on #660
Many thanks @VPerrollaz! I think the best info to provide someone is something along the lines of "here's what to expect with respect to tab completion" in your IDE.

Example starter that you can use to get going:

[code]

I suspect that should be enough to help newcomers recognize that the inconsistent tab completion behaviour is a bit complicated to work through, and relies on other ecosystem to

[2020-05-22 19:11] VPerrollaz commented on #660
- Ok just one additional question. Where do you want me to put the info in the doc hierarchy?
- As for the namespace there might be a way to import in a different way if one want to use jn as in you example, in this way you would not break backward compatibility.
- I plan to take a look at the jedi/parso codebase to see if there is a way around the problem but given its size it might take some tim

[2020-05-23 02:18] hectormz commented on #640
@ericmjl I looked at it a bit. So this was introduced in #217 . At that point, both tests were added, and the second test overwrote the first, so there was no issue.

The test in question fails, because we're trying to drop a list containing a string and another list:
[code]
The expected behavior is to have all of these columns dropped.

But `pandas` `drop()` seems to only be able to drop a string

[2020-05-23 21:38] ericmjl commented on #660
My apologies! I should have been a bit clearer on where. I looked through the docs pages, and I think the current logical place is right on the main page. However, if you have a better idea, I'm all ears! Please let me know what you think.

[2020-05-27 20:27] VPerrollaz commented on #660
Before committing anything about autocompletion, which at this point would be mainly about what doesn't work, I have been looking for alternative use of janitor functions which would allow for jedi completions.
I have come up with the following which is pretty ugly because of the lambda expressions but it is a start and the autocompletion is very neat.
https://gist.github.com/VPerrollaz/6b3c0684cb

[2020-05-27 20:58] ericmjl commented on #660
Hey @VPerrollaz! I looked at your gist, and it doesn't look ugly at all :smile:. That said, if I am reading [the pandas `pipe` API](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pipe.html) correctly, all args and kwargs are collected automatically, so you shouldn't need to do lambdas, I think. I'm sure if you do a tab after `jn.clean_` you'll get the right thing.

[2020-05-28 07:39] VPerrollaz commented on #660
I can indeed pass the arguments to pipe rather than use lambda but in this way I don't get the autcompletion which was the point. Which was why I was trying to figure out if there is an "automatic" way to produce a higher order function from the janitor functions while keeping the signature alive for autocompletion. Ideally rather than
[code]
we would do
[code]
where `ho` would be a submodule wher

[2020-05-28 15:18] VPerrollaz commented on #660
Proof of concept here
https://gist.github.com/VPerrollaz/68d3bcaade2ce77b545d94b51ee1f6ba
but once again it feels very hacky. The good (?) news being that jedi seems to check the `__signature__` attribute in interpreter mode if it exists.

[2020-05-28 17:13] VPerrollaz opened #661 "`df` annotation lacking in `find_replace` function of `functions.py` submodule"
# Brief Description

`df` annotation lacking in `find_replace` function of `functions.py` submodule.
It seems to be the only function for which there is no type annotation for the dataframe. Clearly not critical.

[2020-05-28 17:34] VPerrollaz commented on #660
Here is a more complete attempt with all relevant functions of `janitors.functions.py` dynamically "higheroderized".
https://gist.github.com/VPerrollaz/30d3bce1f7fc678ffd00a19d8231e3fa

[2020-05-29 17:40] zbarry opened #663 "[ENH] support .query()-style strings in df.update_where()"
Given the `update_where` example:

[code]

It would be nice to be able to use `.query`'s style instead to avoid having to use `df.pipe()` if `df` has been modified somewhere along your method chain block:

[code]

[2020-05-30 12:40] samukweku commented on #617
made some progress on this and will send in a pull request. Not sure how to go about creating the pandas_flavor, since expand_grid should cover name value pairs, even if a dataframe is not involved. Or should I just focus solely on creating an expand_grid, similar to what R/tidyverse has, but just for dataframes?

[2020-06-04 18:01] Zsailer commented on #660
Just a small clarification—the `setattr` limitation is an issue with [pandas directly](https://github.com/pandas-dev/pandas/blob/740f94f76b8b12cbe70f93cbc7758287a566f337/pandas/core/accessor.py#L278), not pandas-flavor. Pandas-flavor is simply an alias to Pandas' native extension API. For earlier versions of pandas (<0.23), pandas-flavor backports the extension API, and yes, uses `setattr`.

It mi

[2020-06-04 18:06] Zsailer commented on #646
Here's a [similar method in phylopandas](https://github.com/Zsailer/phylopandas/blob/dd2ad86dcea4d7250e8decfef7e7bcd6538ceb35/phylopandas/seqio/write.py#L34-L93), for reference.

The only difference I note—`alphabet` might be helpful for validating sequence type (i.e. protein/dna/rna)?

[2020-06-05 13:59] #617 closed

[2020-06-06 09:44] VPerrollaz commented on #660
You're right of course.
The reason I mentioned it in pyjanitor repo is actually because it is where I encountered it.
An additional reason is that while I understand why there is no autocompletion using jedi in an IDE ( the Script object in Jedi does not look at setattr indeed) I am not clear on why we don't get method chaining autocompletion in ipython/jupyter (which uses the Interpreter object i

[2020-06-06 13:55] ericmjl commented on #661
@VPerrollaz @VPerrollaz thank you for raising! If you're open to do the PR, I'd be happy to accept it. :smile: Let me know if you need help of any kind getting started.

[2020-06-07 05:31] hectormz commented on #661
@VPerrollaz if you want to make a day of it, maybe there are some other missing annotations you could throw into the PR 😁. @ericmjl do I recall you mentioned you were looking into trying out `mypy` with `pyjanitor`? Could that help us check coverage? I've never actually used it myself.

[2020-06-07 06:09] hectormz commented on #115
@ericmjl With https://github.com/arviz-devs/arviz/pull/1113 having been merged, do you want to try a similar approach to what was eventually executed in that PR?

[2020-06-07 15:58] ericmjl commented on #115
Yes! Let's do that. This would be good for the pyspark and domain-specific modules, right?

I looked briefly at the code, and I think this is the block that would help, am I right about it?

[code]

[2020-06-07 20:21] hectormz commented on #115
Right. That decorator will skip the function if the module is not installed (but not running on CI)

There's also
[code]
Which would skip the whole file of tests (Useful for tests that are grouped in same file like pyspark IIRC)

This relies on a custom `importorskip` that checks for an environment variable we'd set in the Azure CI:

[code]

[2020-06-07 20:32] hectormz commented on #115
This second option makes sense if it is very clear that the test .py file is dedicated to `pyspark` for example.

[2020-06-09 15:05] ericmjl opened #672 "Developer Team"
Hello team,

I'd like to start putting together a dev team for pyjanitor.

Before anybody freaks out though, rest assured, I'm not leaving the project! I just think I need a bit of help with some tasks. At the same time, I want to make some aspects of the project robust by sharing access to things (e.g. the CI system, the PyPI releases, etc.)

The `pyjanitor` project has always been a beginner-fri

[2020-06-09 21:55] samukweku commented on #672
Sign me up for the infrastructure maintenance bit - CI and Docker. Always wanted to learn and delve into that.

I think your points are well laid out. I’m not sure if you picked out a role for someone to help with keeping pace with the R landscape - (I’m guessing Tidyverse?)

[2020-06-10 00:19] hectormz commented on #672
This sounds like a good plan forward! I'm committed to `pyjanitor`. With that said, I'm not sure which specific tasks I'm most drawn to. I enjoy code/doc review, but if there's a certain area you need me/think I can contribute the most, that works for me too. I'm not sure if you intend to have some roles that are exclusively defined, or if there are roles that might contribute to a few needs.

[2020-06-10 00:49] szuckerman commented on #672
_Coming back from beyond the grave_ I've been busy with a number of other items for a while, but I'd really like to come back and have an active part in one of these roles. Personally, I like the code review, but I also wouldn't mind taking a stab at the social media aspect.

[2020-06-10 01:07] ericmjl commented on #644
@hectormz I just realized I sort of kind of addressed this issue in the Wiki: https://github.com/ericmjl/pyjanitor/wiki/How-to-cut-a-new-release

This is a new addition, I only recently got to this.

Still going to leave this one open because I think the release protocol should be documented in the docs once it gets finalized - including links to how to get the necessary credentials.

[2020-06-10 03:31] anzelpwj commented on #672
I'll definitely try to help a little bit with some Spark development, but apologies for not being active for a while. Parenting is exhausting, doubly so during a pandemic, and at the end of the day my brain is generally melting out of my ears.

[2020-06-11 03:04] samukweku commented on #623
Pandas 1.1.0 has some updates that I think will be useful for ``` groupby_agg ```  and by extension ```count``` - a parameter for including or excluding null values in groupby has been added. Just waiting for the release and I will push off on some functions for this issue

[2020-06-11 03:05] samukweku commented on #663
I would love to work on this

[2020-06-12 23:22] zbarry commented on #672
Happy to help with infrastructure maintenance along with @samukweku. Would you like to walk us through your setup sometime?

[2020-06-13 14:44] samukweku commented on #663
Hi @zbarry , if it's ok with you, I would love to work on this.

[2020-06-13 14:46] zbarry commented on #663
That’d be great. Thanks!

[2020-06-13 14:48] samukweku commented on #663
@zbarry Cool. I'll start off on it. Is it required that you assign it to me?

[2020-06-13 14:50] zbarry commented on #663
Good point; I went ahead and assigned it.

[2020-06-14 11:42] ericmjl commented on #672
Thank you, @samukweku and @zbarry! Yes, we should walk through it. @samukweku is in Sydney, while @zbarry is in the same time zone as I am. I have done calls to Sydney recently; from those experiences, it looks like a call that begins after 7 pm Eastern Time/9 am Australian Eastern Standard Time works best. @samukweku does that work for you?

You are right, I haven't, and should. Let me add that u

[2020-06-14 12:58] samukweku commented on #672
Can we please push it to 7.30 pm? I drop the kids off at child care around 9am Sydney time.

[2020-06-16 03:34] hectormz opened #674 "[TST] Use pandas.testing for compatibility"
# Brief Description

`test_expand_grid.py` imports from `pandas._testing`, which is a more recent module in `pandas`, and doesn't exist in previous versions of `pandas`. Instead, other tests have imported from `pandas.testing` which still exists in newer versions of `pandas`. This is only an issue if we're keeping `pyjanitor`'s `pandas` compatibility at > 0.24, which means that we should also test

[2020-06-16 03:53] hectormz opened #675 "[TST] test_computation_output_1 (expand_grid test) fails with dtype difference"
# Brief Description

Running the test suite on my computer fails with the `test_computation_output_1` test in `test_expand_grid.py`:
[code]
https://github.com/ericmjl/pyjanitor/blob/62ee72fc5ed2fe6d80acc6663d222458252c03de/tests/functions/test_expand_grid.py#L225

For some reason, the manner in which these dataframes are constructed/processed results in different `dtype`s. The strange thing is tha

[2020-06-16 04:05] hectormz opened #676 "[INF] Test with multiple versions of important packages"
# Brief Description

I think it would be a good idea to test on multiple versions of important packages that `pyjanitor`/its users rely on. This came to light via #674. For some packages in `requirements.txt`, we only provide minimum package versions:
[code]

I think it would be wise when running tests on Azure to run both the minimum package version, and the most recent, and assume that has enoug

[2020-06-16 21:25] ericmjl opened #677 ""as_categorical""
Another idea!

[code]

It replaces repeatedly doing this piece:

[code]

Leaving this here for now.

[2020-06-16 23:45] szuckerman commented on #677
Looks good; just two ideas to add which immediately come to mind:

1.) what happens if the “categories” iterator doesn’t match the values in the column? Warning? Error?

2.) maybe also have a default of categories=set(df[column]) so that users don’t need to input manually, but in that case ordered would need to be False.

[2020-06-17 08:29] samukweku opened #678 "Some functions not showing on the API documentation page"
Noticed that some functions are missing from the API documentation page. ```unionize_dataframe_categories``` and ```move``` functions are not listed on the API docs page. Not sure which other ones are missing. Not sure how this can be fixed; if anyone can point me on how to fix it (if I can), that would be great.

[2020-06-17 11:38] ericmjl commented on #678
@samukweku thanks for the catch!

I think what needs to happen is that the functions get added to [docs/reference/general_functions.rst](https://github.com/ericmjl/pyjanitor/blob/dev/docs/reference/general_functions.rst), under the appropriate category. From there, they will get listed as a table, and a link will show up to get them added to the docs page!

[2020-06-17 12:40] samukweku commented on #678
@ericmjl , cool. Is this an automated process ?

[2020-06-17 14:10] ericmjl commented on #678
@samukweku yep, indeed! Once you add it to that page, Sphinx, which builds the docs, will automatically parse that page, find the relevant functions in the codebase, generate the child docs pages, and link them up. It's superb!

[2020-06-17 14:47] szuckerman commented on #391
Found this after going through some old issues ;)

I actually do this often and the most clean solution I’ve found is to have an iterator of DataFrames and use itertools.reduce to reduce using either the pandas join or merge functionality.

[2020-06-18 01:11] ericmjl commented on #676
@hectormz thanks for raising this! It's an important point.

Perhaps there should be a dependency guarantee guideline (hesitant to make it "policy" before knowing how this will play out). Something like "last two minor versions only"? Or follow [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html)? What are your thoughts here?

[2020-06-18 01:14] ericmjl commented on #391
@szuckerman do you think you could paste here a strawman sketch of how you've done it? Perhaps it could become _just the solution_!

[2020-06-18 02:17] hectormz commented on #676
I don't have the answer, but it's something to think about and discuss. We could survey The devs on this. The devs are not average users, but it would be nice to understand how people use `pyjaniyor`. Are users of this package usually in the bleeding edge of versions, or are there reasons they use older packages?

I've actually been thinking of NEP29 lately because it is dropping Python3.6 support

[2020-06-18 11:30] samukweku commented on #678
Alright, kindly assign this to me.

[2020-06-18 11:39] ericmjl commented on #678
Done @samukweku! :smile: Thanks for taking this on! (And be sure to stay safe and sane down under!)

[2020-06-18 11:40] ericmjl commented on #674
@hectormz thanks for the catch! All tests pass with `pandas = 1.x` nowadays, is that right? If so, I think we can safely pandas to 1.0 minimum.

[2020-06-18 11:42] samukweku commented on #678
Sure will. Just as a side note, I have signed up for ```codecov``` and ```travis```; I could not get ```pyjanitor``` on``` codecov``` ( or I probably am not doing something right). I'll read up more on these tools and wait for you to put us (I and @zbarry ) on the tools with respect to ```pyjanitor```. Cheers, and stay safe as well!

[2020-06-18 17:53] hectormz commented on #674
Yup, all tests pass, I assume `pandas.testing` will eventually be removed in favor of `pandas._testing`. So we could go ahead and make `pandas>=1.0.0` the minimum. How are package requirements handled for `conda`? I see `environment-dev.yml`, but I assume that is for those developing, but not sure how it works for those installing from `conda-forge`

[2020-06-18 19:27] hectormz commented on #674
Actually, looking closer at this, I think if possible, we should use the public testing module from `pandas` instead. But looking through our usage of `pandas.testing`, I see that most of the time we do this:
[code]
and a few times we have this pattern:
[code]

Do you strongly favor one pattern over the other?

We only seem to use `assert_frame_equal` and `assert_series_equal` from `pandas.testing

[2020-06-18 22:24] zbarry commented on #391
The `reduce` route would be a variant on `.merge().merge()`, I think. The problem that I didn’t explain very well in hindsight is that this is very inefficient for large lists of dataframes - you create a lot of unnecessary intermediates this way:

[code]

Imagine A,B,C,D were all large dataframes, and you can see why this would be a slow approach as many temporary dataframes are allocated and the

[2020-06-18 23:33] ericmjl commented on #391
True that. MultiIndex joins are possible too, right? I ask because merge allows merging on common columns, whereas I think join assumes that the index must be identical.

Maybe the idea needs to be fleshed out a bit more. I have done this before where:

- `df1` and `df2` need to be merged based on columns `A, C, D`, giving `df12`,
- and then `df12` needs to be merged with `df3` on the basis of col

[2020-06-20 12:42] #663 closed

[2020-06-24 04:06] hectormz commented on #674
After some thought, I think I like

[code]

I think `assert_frame_equal`/`assert_series_equal` are clear enough, and save some repeated characters.

Let me know if you have any conflicting thoughts, or stop me in the PR 😉

[2020-06-24 10:55] ericmjl commented on #674
@hectormz Go ahead with it! Also see if you might be able to find a good place on the docs for this pointer. 😸

[2020-06-25 11:13] samukweku opened #683 "Ad-hoc script to search for functions not yet added to the General Functions API Page"
This is a reference to #682 - a script I used to search for functions not yet added to the API page.

[code]

[2020-06-26 11:40] samukweku commented on #675
@hectormz, is this still failing on your end ?

[2020-06-26 14:51] hectormz commented on #675
@samukweku I believe I still am. You're using Anaconda + Docker right? I think I was going to setup the pyjanitor env in Anaconda and see if that is different.

[2020-06-27 12:47] #678 closed

[2020-06-27 22:20] samukweku commented on #284
So, is it agreed then that there should only be the plural of each function?  Keen to get the final stance on this and see if I can take it on

[2020-06-27 22:31] ericmjl commented on #284
@samukweku it's an important API decision. What's your thought?

[2020-06-27 22:36] samukweku commented on #360
@ericmjl ,  Kindly assign to me if this is still available. @eyaltrabelsi asked first though, so please let’s check that he/she is still interested in it. Thanks

[2020-06-27 22:40] samukweku commented on #284
I agree with the plural form of the functions. Less number of functions to keep track of, and the plural form still remains intuitive to the end user. Plural wins!

[2020-06-27 23:31] ericmjl commented on #360
Oh my, it looks like I totally let this one drop. @eyaltrabelsi, I'm so sorry.

@samukweku, given the time interval, I think you can go ahead without any issues. Please do so :smile:.

[2020-06-27 23:42] ericmjl commented on #284
Sounds good. This is a breaking change for the API, btw, so be sure to follow "deprecation practices". If I remember correctly, @hectormz put in a decorator for deprecating stuff. You might want to see if (a) it can be reused, or (b) a similar thing can be built for this situation (i.e. "deprecation of singular"). I'll probably need a warning to remind myself for a few versions, as I've gotten use

[2020-06-28 01:06] #683 closed

[2020-06-28 13:01] VPerrollaz opened #686 "singular/plural function names and intermediate copies"
# Brief Description

Not clear if it is really a bug but still a bit weird.
- in functions.py we have `add_column` and `add_columns`. The first one provides a new dataframe, but the second one delegates to the first for each particular column, so produces many intermediates (and I believe unwanted) copies.
- in functions.py we also have `transform_column` and `transform_columns` which I believe ha

[2020-06-28 13:04] ericmjl commented on #686
@VPerrollaz thank you for the catch! As it so happens, @samukweku pinged up on a separate issue that also mentioned this (#284).

I think the API can be evolved/unified a bit, as follows:

[code]

Same goes for `add_columns`:

[code]

(For add_columns, though, we'd simply be wrapping `df.assign`, which already does a tremendous job with what we need.)

[2020-06-28 13:20] VPerrollaz commented on #332
- I also saw in a few places (11 times in functions.py to be pedantic) arguments annotated with `str` but initialized to `None`, which from the signature point of view makes it unclear if they are optional. (though to be honest the full docstring makes it clear in most cases)
- I would add also that good signatures might also prove useful for autocompletion purposes.

[2020-06-28 14:33] VPerrollaz commented on #686
A few remarks here.
- First of all I'm sorry I just checked the issue titles so I missed the previous mentions.
- It was a bit unclear but I tried to avoid commenting on the API since I see reasonable arguments for very different choices at this point. On one side breaking changes are not really good and for one column case the plural form is a bit heavy, on the other the namespace of pandas is al

[2020-06-28 17:09] ericmjl commented on #332
Thanks @VPerrollaz for going through the codebase!

Yes, they should be annotated as `Optional[str]`, not just `str`. Would you be open to a PR that addresses this?

[2020-06-28 17:16] ericmjl commented on #686
@VPerrollaz no worries at all! :smile: Issues evolve, so it's tough to keep track of them via titles only. In any case, they're now linked.

Thanks for re-clarifying! I definitely missed this point. The function call structure can definitely be improved, though I also think that we might be able to circumvent the problem by evolving the API a bit and deprecating the old behaviour.

Was wondering,

[2020-06-28 17:18] VPerrollaz commented on #332
I can go for a PR, but are we sure we should not do something more systematic regarding type annotations?

[2020-06-28 17:24] VPerrollaz commented on #332
What I mean is that `mypy` signals a lot of stuff (though a believe a lot of it is juste noise). See below for the result of `functions.py` analysis.

[code]

[2020-06-28 17:30] ericmjl commented on #332
w.r.t. type annotations, I haven't been insistent as one might desire, because I was in the process of learning about it too. Gradually typing the codebase as we go along is I think generally accepted as "ok practice", so I'm happy to for this process to go slowly, unless there's someone who is willing to do it over a few PRs (not unlike what I did, a repetitive task for the matplotlib library in

[2020-06-28 20:25] VPerrollaz commented on #686
- I feel that for `add_columns` what you propose is very good and pretty close to what we already have, the only "problem" I have is the fact that the `**kwargs` is pretty unhelpful with autocompletion (I feel a bit like a monomaniac writing that :-) )
- I have more mixed feeling for `transform_columns`, while the singular is non ambiguous, the plural one feels more difficult to me (in general not

[2020-06-28 20:29] VPerrollaz commented on #332
Ok I can start with the `Optional[str]` then.
But the question will end up knowing when to say good enough, since I believe mypy generates a lot of noise (for instance all the `Skipping analyzing`).

[2020-06-28 21:35] VPerrollaz commented on #332
Ok while preparing the PR I stumbled across a few situations where the pattern `: str = None` is misleading because the argument is actually not optional. Here is the list of such functions
- `functions.expand_grid`, `df_key` not modified since it is not optional : the code raises an exception if `None`!
- `engineering.convert_units`.
- `finance._convert_currency`.
- `finance.convert_currency`.
-

[2020-06-28 21:44] ericmjl commented on #332
@VPerrollaz that's a good catch! I can't seem to think of a good reason why we would make it `None` and then check to see if it is None, when in fact it should be a mandatory argument. (Unless it was set to None to make the reading semantics of the function a bit better, but even then...)

Yes please. That would bring some consistency to the codebase. (I think I've been doing most of the review on

[2020-06-28 22:13] ericmjl commented on #686
I see! Observing the general case API that you've written above, I see where we differ now. You would put `new_column` as the kwarg, while I would put `existing_column` in as the kwarg. Indeed, things get fancy/complicated if we try to "matrixify" the entire piece.

I think the 80% use case is "we just have a few columns we need to transform".

Alrighty, some random thoughts penned down. Let's let

[2020-06-28 22:43] VPerrollaz commented on #332
First of all I'm definitely interested in joining, but given how little experience I have with such project I'm not sure how much help I would be so let me know what you think.

Back to the signatures, as I see it there is a need for at least three PR.
- One for adding Optional where it should be.
- One for correcting a few other signature inconsistencies I have seen. (For instance in some places

[2020-06-29 00:27] #661 closed

[2020-06-29 15:29] VPerrollaz commented on #660
@Zsailer
Looking at the following
https://gist.github.com/VPerrollaz/543fc5bd6408b4e30c3165e4d98591a0
it seems that a quick workaround  for the problem might be the following change in the module `register.py`of `pandas_flavor`. Note that it is rather ugly since we are basically tricking `jedi` by falsifying the signature in forwarding the  `__annotations__` of the method into the `__annotations__

[2020-06-29 15:44] VPerrollaz commented on #660
Actually rather than just forwarding `__annotations__` we might have to create and then forward the whole `__signature__`but the principle remains the same.

[2020-06-29 17:07] VPerrollaz commented on #332
For the second type of PR I have a slight problem which is that the module `typing`is rapidly evolving (for the better) with the python version, so I'm not entirely sure what to go for.
For instance in the `function.clean_names` the argument `strip_underscores` was first typed `str`, is now `Optional[str]` but looking at the documentation the best type would actually be
`Literal[None, 'left', 'l',

[2020-06-29 20:58] VPerrollaz commented on #332
Also looking the the `str`, `Hashable` and other further types used for column_names, I wonder if it would not be interesting to introduce a custom [TypeVar](https://docs.python.org/3/library/typing.html#typing.TypeVar) with a well chosen name.

[2020-06-29 22:45] ericmjl commented on #332
Yes, that sounds like a sane thing to do. :smile:

Could be good! If you can come up with a simple new typing type, then that'd be good. But I'd also be cognizant of keeping the codebase simple to contribute to! (Keeps the project friendly for newcomers.)

[2020-06-30 22:09] VPerrollaz commented on #660
Sadly `jedi` seems to sometimes look at this stuff and sometimes not, and so far I am not clear when...

[2020-06-30 23:27] hectormz commented on #675
Still tracking it down and seeing what can be done. In part it arises with Windows using `int32` by default, and other systems use int64.

So on Windows,
[code]
this dictionary, and the processed dataframe are `int32`, while
[code]
is `int64`.

So not sure if the _fix_ is to adjust the test, or the actual function.

The strange thing is that although a Windows CI machine is used, it must be still

[2020-06-30 23:37] samukweku commented on #675
Thanks for this @hectormz

If the function is to be adjusted, do we have to adjust for integer sizes (I have no idea about that)?

[2020-07-01 00:12] hectormz commented on #675
@samukweku Well, I suppose the function is behaving correctly. It is getting an `int32` and returning the same type.

Perhaps the easiest/best thing to do is actually add `check_dtype` arg:

[code]
That clears up the issue. We could add a comment in there about difference in default `int` for Windows etc.

I was just surprised that this is the first time this has come up. The test to get an idea o

[2020-07-01 00:20] samukweku commented on #675
@hectormz this is interesting for me - I will run it on a windows/linux machine and see if i get the same results. Curious to learn from you how you go about your tests, as this relates to infrastructure, which I would love to have an understanding of.

[2020-07-01 03:49] ericmjl commented on #660
Oh my, looks like `jedi` is super complicated, haha. Thank you for taking the time to look at this, @VPerrollaz. I am confident that the hard work will eventually pay off.

[2020-07-01 03:51] ericmjl commented on #675
I don't want to hijack the thread, but @zbarry and @samukweku, could you two send me your Azure, Travis CI and PyPI usernames via email? My current email address is <github-username>[at]hey.com. I need to add your usernames to those systems onto the relevant projects (somehow).

Now returning the thread back to regular programming...

[2020-07-01 04:01] hectormz commented on #675
@ericmjl  Jumping on the hey wagon, eh?

@samukweku I'm happy to answer whatever I can. In this case, once I had the failing test, I began to wonder what was going on, and stumbled on a StackOverflow post discussing the differences in default int types in numpy.

From your PR you seem to have testing down. Do you have additional questions about tests or running tests? Anything we should be putting

[2020-07-01 04:25] samukweku commented on #675
Quite clear @hectormz . Thanks for the explanation.

[2020-07-01 05:28] hectormz commented on #675
@samukweku great! Would you be interested in trying out and making a PR with the proposed changes? Otherwise I can do it as well

[2020-07-01 05:47] samukweku commented on #675
Sure, I will put in a PR

[2020-07-01 12:15] VPerrollaz commented on #187
I am not entirely sure if it is related but I saw  a few functions
- `functions.filter_date`
- `functions.add_column`
- `functions.currency_column_to_numeric`
who have not (or very minimal) example in the docstring, but just below the docstring have comments starting with
`# TODO: convert this to a notebook.`
In which case should we indeed turn this in notebooks, or convert to docstring examples o

[2020-07-01 20:56] VPerrollaz opened #693 "Confusing behavior of `deconcatenate` method with both `new_column_names` and `autoname` argument?"
# Brief Description

I first realized this because `mypy` is complaining of the type of `new_column_name` :
[code]
This should have been resolved by the following signature modification `new_column_names: Optional[Sequence[str]]` however `mypy` still complains
[code]
So it is basically the `Optional` that is giving trouble to `mypy`, because we don't ostensibly check of
[code]
I think this is beca

[2020-07-02 00:04] VPerrollaz commented on #332
I have a branch (mypy-configuration) in my fork where I created
- a mypy.ini configuration file
- a make target (typecheck) for automatic typechecking
- multiple commits to resolve all the "errors" signaled by mypy.
I have to say except for all the `Skipping analyzing 'xxxxx': found module but no type hints or library stubs` (which I "solved" through the config file) all the other stuff were rathe

[2020-07-02 19:51] ericmjl commented on #332
@VPerrollaz this all sounds great. Thank you for taking the initiative! I definitely wouldn't have been able to handle it on my own.

Would you be open to putting in a PR? If you do so, I'll PR into your branch additional changes to make to the CI pipelines to make sure they run.

[2020-07-02 20:13] ericmjl commented on #693
Type checkers are pretty rad, forcing us to clarify the behaviour of functions! I like where this issue is going: semantics and language matter more than we might think!

So in terms of how to go forward, let me see.

I think the simplest and also most principled way forward is what you've suggested: raise an exception.

@zbarry and @hectormz, I think both of you have had the most experience with

[2020-07-02 22:37] VPerrollaz commented on #332
Of course but to be clear I put a lot of "extra stuff" in it (for resolving the typing errors) so we will most likely have to cherry pick what we feel comfortable using.
And the configuration of mypy can clearly be further refined.

[2020-07-03 02:27] hectormz commented on #693
@ericmjl @VPerrollaz Checking it out now and will see if I have anything worthwhile contribute!

[2020-07-03 11:12] VPerrollaz commented on #693
Just to let you know I "implemented" solution 2 (keeping the behavior and adding an internal typed argument) in the branch `mypy_configuration` of my fork.
But that is only for "demonstration" purposes and not because I think it is the best idea.

[2020-07-04 17:37] #675 closed

[2020-07-04 18:18] hectormz commented on #675
Closed by #692

[2020-07-04 19:54] hectormz opened #695 "[DOC] Follow PEP 257 Docstring conventions"
# Brief Description of Fix

I propose that we follow the docstring conventions laid out in [PEP 257](https://www.python.org/dev/peps/pep-0257/).

Namely:

[code]
and:

[code]

We're using Sphinx, so the docstring will have a different body, but we can still follow the formatting.

Following `pydocstyle`, the first line of the docstring should end in a period and be in imperative mood:
[code]

Addi

[2020-07-04 19:55] hectormz commented on #695
We have some variety in docstrings in `pyjanitor`, perhaps in part because this aspect isn't spelled out, or people have their own personal preferences or habits, so I welcome any discussion on this.

[2020-07-04 20:06] ericmjl commented on #332
@VPerrollaz just wanted to tighten up loose ends here, and I'd love to have your input here: What's do you think should happen next to close out this issue? I've a preference that we move things forward with a PR, and hash out the details on there, as reviewing an entire branch is not as easy as seeing the diff.

[2020-07-04 20:08] #674 closed

[2020-07-04 20:32] ericmjl commented on #695
@hectormz this would be great. I vote in favour; how about others on the dev team?

[2020-07-05 00:00] VPerrollaz commented on #695
I personally would welcome  a guideline on documentation, my only question is the status of examples inside the docstring?
And maybe also the potential relationship between the test cases, the examples inside the docstring and the notebook examples.

[2020-07-05 00:08] VPerrollaz commented on #332
Just to be clear do you want a PR in the dev branch or another specific one?
In the second case I'm all for it, in the first I'm not so sure for the following reasons :
- I had to do "real" code change (as opposed to just signature manipulation) to solve some typing errors. They are not ground breaking but I have tried to isolate those in specific commit so that they can be further checked.
- the

[2020-07-05 17:04] ericmjl commented on #332
@VPerrollaz got it, I see the concerns you have there.

Regardless, I think a PR to `dev` would be great! Here’s how I think we can make it work.

1. We can start with a PR that does not involve code. i.e. first write out the intent for using mypy in a docs page. (Feel free to pick an appropriate place, I don’t have a good idea on this right now.) This one should be closed as fast as soon as it’s

[2020-07-05 17:31] hectormz commented on #332
I may have missed a bit while skimming through, but is the goal to only use this in CI, or to also add to the `make` file and/or `pre-commit`?

[2020-07-05 20:24] ericmjl commented on #695
@VPerrollaz could you clarify what you mean please? Just want to make sure your thoughts are spelled out clearly for others. Do you mean that they should be harmonized, i.e. the examples in the docstring should also be test cases?

[2020-07-05 20:25] ericmjl commented on #332
@hectormz I think the very first goal would be to get mypy checks executed on CI.

[2020-07-05 23:03] VPerrollaz commented on #695
My point was that in many cases the tests actually make good examples so should we encourage some kind of harmonization?
I think it is not possible to be too systematic because in some test case the setup of the dataframe is too complicated to be included.

[2020-07-05 23:15] VPerrollaz commented on #332
@ericmjl
I think this plan looks very promising, in particular it should minimize the possibility of bad surprises.
As for the reasons for using mypy, so far what I see
- some obvious bug catches between function calls (though that is related also to our policy vis-à-vis the use of Any)
- some dubious logic are caught my tracing the variables inside a function
- some kind of documentation/autocomp

[2020-07-06 00:42] hectormz commented on #695
@VPerrollaz I see what you mean. Depending on the function/test, the test can make a good example. In our documentation, we could encourage that type of duplication for ease/if the author thinks it makes sense.